<li><%= command_link 'Check Status', @presenter.device, command: :status %></li>
<li><%= command_link 'Check Signal Strength', @presenter.device, command: :signal %></li>
<li><%= command_link 'Perform Speed Test', @presenter.device, command: :speed %></li>

<li class="divider"></li>

<li><%= command_link 'ARPing Attached Device', @presenter.device, command: :ping %></li>
<li><%= command_link 'Send Wake-on-LAN to Attached Device', @presenter.device, command: :wake %></li>

<li class="divider"></li>

<li><%= command_link 'Check Configuration', @presenter.device, command: :config %></li>
<li><%= command_link 'Reboot', @presenter.device, command: :restart %></li>

<% unless @presenter.device.power_outlets.count.zero? %>
  <li class="divider"></li>

  <% @presenter.device.power_outlets.each do |outlet| %>
    <li class="dropdown-submenu">
      <a tabindex="-1" href="#">Remote Power Outlet #<%= outlet.port %></a>
      <ul class="dropdown-menu">
        <li><%= command_link 'Power On', @presenter.device, command: "remote-power #{outlet.port} 1" %></li>
        <li><%= command_link 'Power Off', @presenter.device, command: "remote-power #{outlet.port} 0" %></li>
        <li><%= command_link 'Power Cycle', @presenter.device, command: "remote-power #{outlet.port} repower" %></li>
      </ul>
    </li>
  <% end %>
<% end %>
