
<%= table_data_row key: 'Cellular IP Address', value: host_link(@presenter.device) %>
<%= table_data_row key: 'Firmware Version', value: @presenter.device.firmware %>
<%= table_data_row key: "Client #{t(:mac_address)}", value: @presenter.device.client_mac %>
<%= table_data_row key: 'Client IP Address', value: @presenter.device.client_ip %>
<%= table_data_row key: 'Ethernet Status', value: @presenter.device.eth_state %>
<%= table_data_row key: 'USB Conditioner', value: @presenter.device.usb_hub %>
<%= table_data_row key: 'USB List', value: @presenter.device.usb_list %>
<%= table_data_row key: 'Management Tunnel Status', value: @presenter.device.tunnel_status %>

<% @presenter.device.power_outlets.each do |outlet| %>
  <%= table_data_row key: "Power Outlet ##{outlet.port}",
                   value: outlet.the_state_text %>
<% end %>
