<% if @presenter.device.can_receive_sms_commands? and !@presenter.device.sent_sms_recently? %>
  <div class="modal inmodal" id="sms_config_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <%= form_for :remote_data, url: remote_device_path(@presenter.device), html: { class: "form", id: "sms_form", method: :get } do |f| %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Send Configuration to Device</h3>
          </div>
          <div class="modal-body">
            <p>Please enter the Configuration String you wish to set and press send. The string format is as follows:</p>
            <p>Ex: xma=xxxx,xmp=xxxx...</p>
            <p>Can not use commas in configuration, only put spaces in the variables.  No spaces between any of the configuration variable declarations</p>

            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <%= f.label :command_data, "Configuration String", class: 'control-label'%>
              <div>
                <%= f.text_field :command_data, class: 'form-control' %>
              </div>
            </div>

            <%= f.hidden_field :command, value: "sms_config", id: 'remote-sms-config-command' %>
          </div>
          <div class="modal-footer">
            <%= f.submit "Send Configuration", :class => "btn btn-primary send_command", :id => "sms_config" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
