<script>
  // Update select2 data
  // https://github.com/select2/select2/issues/2830
  function updateRoles(select, data) {
    // Save current config & options
    var options = select.data('select2').options.options;

    // Selete all items of the native select element
    select.html('');

    // Build new items
    var items = [];
    for (var i = 0; i < data.length ; i++) {
      items.push({
        "id":   data[i].id,
        "text": data[i].name
      });

      select.append("<option value=\"" + data[i].id + "\">" + data[i].name + "</option>");
    }

    // Add new items
    options.data = items;
    select.select2(options);
  }

  $('#user_organization_id').on('change', function() {
    var form = $(this).parents('form');
    var organization_id = $(this).find('option:selected').val();
    var roleSelect = $("#user_role_id");

    // Clear selected role
    roleSelect.select2('val', '');

    $.ajax({
      url: '/api/v2/roles.json',
      data: { organization_id: organization_id },
      type: 'GET',
      dataType: 'json',
      beforeSend: function() {
        form.trigger('ajax:beforeSend');
        roleSelect.prop('disabled', true);
      },
      success: function(data) {
        updateRoles(roleSelect, data);
      },
      complete: function() {
        roleSelect.prop('disabled', false);
        form.trigger('ajax:complete');
      }
    });
  });

  $(document).ready(function() {
    $("form.ajax-form").validate();
  });

</script>

<div class="modal inmodal fade" id="new-user-modal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <%= form_for(@user, url: api_v2_users_path(format: :js), remote: true, html: { class: 'form-horizontal ajax-form', id: 'create-user' }) do |f| %>

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">New User</h4>
        </div>

        <div class="modal-body">

          <div class="form-group"><label class="col-sm-3 control-label">Email *</label>
            <div class="col-sm-9">
              <%= f.email_field :email, class: 'form-control', placeholder: 'user@organization.com' %>
            </div>
          </div>

          <div class="form-group"><label class="col-sm-3 control-label">Organization</label>
            <div class="col-sm-9">
              <%= f.select :organization_id,
                options_from_collection_for_select(@organizations, :id, :name, @organization.try(:id)),
                {}, class: 'form-control m-b select2' %>
            </div>
          </div>

          <div class="form-group"><label class="col-sm-3 control-label">Role</label>
            <div class="col-sm-9">
              <%= f.select :role_id,
                options_from_collection_for_select(@roles, :id, :name),
                {}, class: 'form-control m-b select2' %>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="form-modal-spinner">
            <%= render 'shared/spinners/fading_circle' %>
          </div>
          <%= submit_tag "Cancel", class: 'btn btn-white', 'data-dismiss' => 'modal' %>
          <%= submit_tag "Create User", class: 'btn btn-primary' %>
        </div>

      <% end %>

    </div>
  </div>
</div>