<div class="modal inmodal fade" id="device-firmwares-index-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Device Firmwares</h4>
      </div>

      <div class="modal-body">
        <%= render partial: 'shared/components/table', locals: { headers: @presenter.headers, rows: @presenter.rows } %>
      </div>

      <div class="modal-footer">
        <%= submit_tag "Close", class: 'btn btn-white', 'data-dismiss' => 'modal' %>
      </div>
    </div>
  </div>
</div>
