<div class="modal inmodal fade" id="new-profile-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag(api_v2_account_notification_profiles_path(@user, @profile, format: :js),
            remote: true, method: :post, class: 'form-horizontal ajax-form', id: 'new-profile') do %>

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">New Notification Profile</h4>
        </div>

        <div class="modal-body" style="max-height: 500px; overflow: scroll;">

          <div class="form-group"><label class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
              <%= text_field_tag 'notification_profile[name]', nil, class: 'form-control' %>
            </div>
          </div>

          <div class="hr-line-dashed"></div>

          <div class="form-group"><label class="col-sm-3 control-label">Frequency</label>
            <div class="col-sm-9">
              <%= select_tag "notification_profile[frequency]", options_for_select(@frequencies), class: 'form-control m-b select2' %>
            </div>
          </div>

          <div class="hr-line-dashed"></div>

          <% @device_categories.each_with_index do |category, i| %>
            <% if notification_options = category.class_name.constantize.notification_options %>
              <div class="notifications-section">
                <div class="notifications-section-title">
                  <h4>
                    <i class="fa fa-<%= i.zero? ? 'minus' : 'plus' %>-square-o"></i>
                    <%= "#{category.name} Notifications" %>
                  </h4>
                </div>

                <div class="notifications-section-content collapse <%= 'in' if i.zero? %>">

                  <div class="buttons">
                    <a class="check-all" data-target-class="i-checks">Check All</a> / <a class="uncheck-all" data-target-class="i-checks">Uncheck All</a>
                  </div>

                  <% notification_options.each do |option| %>
                    <div class="notifications-section-row">
                      <div class="i-checks">
                        <%= label_tag "notification_profile[uuids][#{option.id}]" do %>
                          <%= check_box_tag "notification_profile[subscribed_events_attributes][][uuid_id]", option.id, false, class: 'i-checkbox' %>
                          <%= option.name %>
                        <% end %>
                      </div>
                    </div>

                  <% end %>

                </div>
              </div>
            <% end %>
          <% end %>

        </div>

        <div class="modal-footer">
          <div class="form-modal-spinner">
            <%= render 'shared/spinners/fading_circle' %>
          </div>
          <%= submit_tag "Close", class: 'btn btn-white', 'data-dismiss' => 'modal' %>
          <%= submit_tag "Create Profile", class: 'btn btn-primary' %>
        </div>

      <% end %>
    </div>

  </div>
</div>