// Clear existing alerts
$('#notification-profiles').find('.alert').remove();
$('#new-profile').find('.alert').remove();

<% if @profile.blank? %>

  <%= render partial: 'blank', locals: { element: '#notification-profiles > .panel-body' } %>

<% elsif @profile.errors.any? %>

  <%= render partial: 'errors', locals: { element: '#new-profile > .modal-body' } %>

<% else %>

  // Hide the modal
  $('#new-profile-modal').modal('hide');

  $('#notification-profiles-table').DataTable().ajax.reload(function() {

    var alert = "<%= j alert_success message: t('notification_profiles.created', name: @profile.name) %>";
    $('#notification-profiles > .panel-body').prepend(alert);
    setAlertExpiration($('#notification-profiles > .panel-body > .alert'));
    flashElement($('#profile_row_<%= @profile.id %>'));
  });

<% end %>