// Remove any existing alerts
$('#notification-profiles').find('.alert').remove();

<% if @profile.blank? %>

  <%= render partial: 'blank', locals: { element: '#notification-profiles > .panel-body' } %>

<% elsif @profile.errors.any? %>

  <%= render partial: 'errors', locals: { element: '#notification-profiles > .panel-body' } %>

<% else %>

  $('#notification-profiles-table').DataTable().ajax.reload(function() {

    var alert = "<%= j alert_success message: t('notification_profiles.destroyed', name: @profile.name) %>";
    $('#notification-profiles > .panel-body').prepend(alert);

     // declared in js/aview/bootstrap-alerts.js
    setAlertExpiration($('#notification-profiles > .panel-body > .alert'));
  });

<% end %>