
<% if @profile.blank? %>

  <%= render partial: 'blank', locals: { element: '#notification-profiles > .panel-body' } %>

<% else %>

  var modal = "<%= j render(partial: 'modals/edit') %>";

  $('#modals-container').html(modal)
  $('#edit-profile-modal .select2').select2({ theme: 'bootstrap' })
  $('#edit-profile-modal').modal({backdrop: 'static'});

<% end %>