var modal = "<%= j render(partial: 'modals/new') %>";

$('#modals-container').html(modal)
$('#new-profile-modal .select2').select2({ theme: 'bootstrap' })
$('#new-profile-modal').modal({backdrop: 'static'});
