// Show the subscriptions tab
$('.nav-tabs a[href="#notification-subscriptions"]').tab('show');

// Clear alerts
$('#notification-subscriptions').find('.alert').remove();

var message = "<%= j alert_info message: "#{t('notification_subscriptions.for_profile', name: @profile.try(:name))} #{link_to('Click here to reset', reset_subscriptions_path(format: :js), remote: true)}.".html_safe %>";
var organizationSubscriptions = "<%= organization_subscriptions_path(format: :json, profile_id: @profile.try(:id)).html_safe %>";
var deviceSubscriptions = "<%= device_subscriptions_path(format: :json, profile_id: @profile.try(:id)).html_safe %>";
var organizationDataTable = $('#organization-subscriptions-table').DataTable();
var deviceDataTable = $('#device-subscriptions-table').DataTable();

// Update the publisher data tables
organizationDataTable.ajax.url(organizationSubscriptions).load(function() {
  deviceDataTable.ajax.url(deviceSubscriptions).load(function () {
    // Let user know that their viewing subscriptions for a specific profile
    $('#notification-subscriptions > .panel-body').prepend(message);
  });
});
