$('.nav-tabs a[href="#notification-profiles"]').tab('show');

// Clear existing alerts
$('#edit-profile').find('.alert').remove();
$('#notification-profiles').find('.alert').remove();

<% if @profile.blank? %>

  <%= render partial: 'blank', locals: { element: '#notification-profile > .panel-body' } %>

<% elsif @profile.errors.any? %>

  <%= render partial: 'errors', locals: { element: '#edit-profile > .modal-body' } %>

<% else %>

  $('#edit-profile-modal').modal('hide');

  $('#notification-profiles-table').DataTable().ajax.reload(function() {

    var alert = "<%= j alert_success message: t('notification_profiles.updated', name: @profile.name) %>";
    $('#notification-profiles > .panel-body').prepend(alert);
    setAlertExpiration($('#notification-profiles > .panel-body > .alert'));
    flashElement($('#profile_row_<%= @profile.id %>'));
  });

  // Update profile names in the subscription index
  $('.subscription-profile-<%= @profile.id %>').text("<%= @profile.name.html_safe %>")

<% end %>