<template>
	<li class="sub-commands dropdown-submenu pull-left" v-on:mouseenter="calcOffest">
    <a tabindex="-1" href="#">{{grouplabel}}</a>
    <ul class="dropdown-menu" v-bind:style="menuStyling">
     	<device-command v-for="command in commands" 
             v-bind:usevue="command.use_vue" 
             v-bind:id="id" v-bind:command="command.command" 
             v-bind:commands="command.commands"
             v-bind:divider="command.divider"
             v-bind:sendjson="command.send_json"
             v-bind:label="command.label" v-bind:modal="command.modal"></device-command>
    </ul>
  </li>
</template>

<script>
export default {
	name: 'command-menu',
	components: {
		'device-command': () => import('./device-command.vue')
	},
  props: ["commands", "id", "grouplabel"],
  data: function() {
    return {
      menuStyling: {}
    };
  },
  methods: {
    calcOffest: function(e){
      if(Object.keys(this.menuStyling).length < 1){
        var parentMenuWidth = $("#device-commands-menu").next().width();
        var myWidth = $(this.$el).find("ul").width();
        var newPercentOffest = -((myWidth / parentMenuWidth) * 100);
        this.menuStyling = {
          left: newPercentOffest + "%"
        }
      }
    }
  }
}
</script>