<template>
  <div class="btn-group">
    <button data-toggle="dropdown" class="btn btn-link dropdown-toggle" id="device-commands-menu" aria-expanded="false">
    Commands <span class="caret"></span>
    </button>
    <command-dropdown v-bind:id="id"></command-dropdown>
  </div>
</template>

<script>
import CmdDropdown from './command-dropdown.vue';

export default {
  name: 'command-menu-buttons',
  props: ['id'],
  components: {
    'command-dropdown': CmdDropdown
  }
}
</script>