<template>
  <ul class="dropdown-menu">
    <template v-if="commandsLoaded" v-for="command in commands">
      <command-menu v-if="checkHasCommandArray(command)"
           v-bind:id="id" v-bind:grouplabel="command.label"
           v-bind:commands="command.commands"></command-menu>
      <device-command v-else
           v-bind:sendjson="command.send_json"
           v-bind:id="id" v-bind:command="command.command"
           v-bind:divider="command.divider"
           v-bind:label="command.label" v-bind:modal="command.modal"></device-command>
    </template>
    <li v-else>Loading command options...</li>
  </ul>
</template>

<script>
import CommandSubmenu from './command-menu.vue';
import CommandItem from './device-command.vue';

export default {
  name: 'command-dropdown',
  components: {
    'device-command': CommandItem,
    'command-menu': CommandSubmenu
  },
  props: ["id"],
  created: function(){
    this.fetchCommandOptions();
  },
  data: function(){
    return {
      "commands": undefined
    }
  },
  computed: {
    commandsLoaded: function(){
      return this.commands !== undefined
    }
  },
  methods: {
    fetchCommandOptions: function(){
      var self = this,
        fetchUrl = "/devices/" + this.id + "/commands_list";
      AV.UTIL.AJAX.get(fetchUrl, function(res){
        self.processResponse(res);
      });
    },
    checkHasCommandArray: function(item){
      return item.commands !== undefined;
    },
    processResponse: function(res){
      this.commands = res;
    }
  }
}
</script>