<template>
  <keep-alive>
    <command-menu v-if="hasCommandArray"
             v-bind:id="id" v-bind:grouplabel="label"
             v-bind:commands="commands"></command-menu>
    <li v-else-if="sendjson">
       <a v-on:click="toggleModal" class="send_command uc_linux" v-bind:data-command="command" data-toggle="modal" data-backdrop="static" data-keyboard="false" v-bind:href="url">{{label}}</a>
    </li>
    <li v-else v-bind:class="{'divider': divider}">
      <template v-if="shouldRender">
        <a v-if="modal" class="send_command" v-on:click="toggleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" v-bind:href="url">{{label}}</a>
        <a v-else class="send_command" v-bind:href="url">{{label}}</a>
      </template>
    </li>
  </keep-alive>
</template>

<script>
export default {
  /*
  keep-alive is a pseudo component that exposes certain events. Useful here because it allows us to circumvent component
  root element rules to get the recursive nesting that we want here.
  */
  name: 'device-command',
  components: {
    'command-menu': () => import('./command-menu.vue')
  },
  props: ["id", "usevue", "command", "label", "modal", "divider", "commands", "sendjson"],
  methods: {
    "toggleModal": function(event){
      if(this.usevue){
        event.preventDefault();
        $("body").append('<div id="command-modal-container"></div>');
        var cmd = this.command.split("-command")[0];
        //mounting this instead of putting inside of the commands menu prevents having to manage the show logic from within the menu.
        //In an application with a router and container, we'd just open it with a data toggle.
        mountCommandModal(this.id, cmd, this.label, "#command-modal-container");
      }else if(this.sendjson){
        $('#device_user').val('');
        $('#device_password').val('');
        $('#remote-data-command').val(this.command);
      }
    }
  },
  computed: {
    shouldRender: function(){
      return !(this.divider);
    },
    hasCommandArray: function(){
      return this.commands !== undefined;
    },
    url: function(){
      if(this.sendjson){
        return "#sendCommandModal"
      }else{
        return this.modal ? "#" + this.command : encodeURI("/devices/" + this.id + "/remote?remote_data[command]=" + this.command);
      }
    }
  }
}
</script>
