<%= link_to "#copyConfigurationModal",
            class: "btn btn-xs btn-success",
            title: "Copy Configuration",
            role: "button",
            data: {toggle: 'modal'} do %>
  <i class="fa fa-clone"></i> Copy
<% end %>

<div class="modal inmodal fade in" id="copyConfigurationModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="event-information-content">
      <div class="modal-header">
        <button type="button" class="close copyConfigurationClose" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="copyConfigurationModal">Copy Configuration</h3>
      </div>
      <div class="modal-body">
        <%= form_for @configuration, url: {action: :copy}, method: :post, html: {class: 'form-horizontal'} do |f| %>
          <div class="form-group">
            <label class="col-md-3 control-label" for="name">New Name</label>
            <div class='col-md-7'>
              <%= text_field_tag :name, '', placeholder: 'Enter name for new configuration', class: 'form-control' %>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn copyConfigurationClose" data-dismiss="modal" aria-hidden="true">Close</button>
            <%= f.submit 'Copy', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
