<% if @configuration.persisted? %>
    <%= link_to legacy_configuration_path(@configuration),
                method: :delete,
                data: {
                    confirm: "Are you sure you want to delete this configuration?\n"\
                    "There are #{@configuration.devices.count} devices associated with this configuration.\n"\
                    "This action can not be undone."
                },
                class: "btn btn-xs btn-danger" do %>
        <i class="fa fa-times"></i> Delete
    <% end %>
<% end %>