<%= link_to new_legacy_configuration_path,
                class: "btn btn-primary btn-xs",
                title: "Add Cellular Configuration" do %>
  <i class="fa fa-plus-circle"></i> New
<% end %>
