<% placement = (placement.nil? ? "right" : placement) %>
<% html = (html.nil? ? false : html) %>

<a href="#" class="input-group-addon" rel="popover" data-content="<%= field[:content] %>"
   data-original-title="<%= field[:title] %>" data-placement="<%= placement %>"
   data-html="<%= (html ? "true" : "false") %>" data-container="body" >
  <span class="badge">?</span>
</a>
