<div class= 'table vs-target-wrapper' >
  <table class='dataTable display compact table table-striped table-bordered table-hover vs-table' id='device-table'>
    <thead>
    <tr>
      <th class="sortable" name="status">Status</th>
      <th class="sortable" name="id"><%= t(:mac) %></th>
      <th class="sortable" name="host"><%= t(:primary_ip) %></th>
      <th class="sortable" name="model">Model</th>
      <th class="sortable" name="organization">Organization</th>
      <th class="sortable" name="site">Site</th>
      <th class="sortable" name="carrier">Carrier</th>
      <th class="sortable" name="dbm">dBm</th>
      <th class="sortable" name="signal">Signal</th>
      <th class="sortable" name="network">Network</th>
      <th class="sortable" name="phone_number">Phone Number</th>
      <th class="sortable" name="firmware">Firmware</th>
      <th class="sortable" name="country">Country</th>
      <th class="sortable" name="last_heartbeat">Last Heartbeat</th>
    </tr>
    </thead>
    <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><i class="<%= device.status_indicator %>" data-toggle='tooltip' data-placement='right' data-title="<%= device.status_title %>"></i><span class='sr-only'><%= device.status_title %></span></td>
        <td><%= link_to device.mac, device_path(device) %></td>
        <td><%= host_link(device) %></td>
        <td><%= device.series.name %></td>
        <td><%= link_to device.organization.name, organization_path(device.organization) %></td>
        <td><%= link_to device.site_name, site_path(device.site) %></td>
        <% if device.modem %>
          <td><%= device.modem.carrier %></td>
          <td><%= device.modem.signal %></td>
          <td><%= device.modem.signal_pct %></td>
          <td><%= device.modem.cnti_details %></td>
          <td><%= device.modem.number %></td>
        <% else %>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        <% end %>
        <td><%= device.firmware %></td>
        <td><%= device.location.try(:country).try(:code)%></td>
        <td><%= timestamp_in_users_timezone(device.last_heartbeat_at) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
