var alert = "<%= j alert_success message: t('configurations.destroyed', name: @configuration.name) %>";

$('#configurations-table').DataTable().ajax.reload(function() {
  $('div.wrapper-content').prepend(alert);
  setAlertExpiration($('div.wrapper-content > .alert'));
});