<%= render 'shared/page_header', locals: { title: "Edit Cellular Configuration: #{ @configuration.name }" } %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5><%= t("Settings") %></h5>
          <% if can_modify_configurations? %>
            <div class="pull-right">
              <%= render 'new_config_button' %>
              <%= render 'delete_config_button' %>
            </div>
          <% end %>
        </div>
        <div class="ibox-content">
          <%= form_for @configuration, :as => :configuration, :url => legacy_configuration_path, :method => :patch do |f| %>
            <% content_for :configuration_form_actions do %>
              <div class="form-actions">
                <input class="btn btn-primary" name="commit" type="submit" value="Update" />
                <%= link_to "Cancel", legacy_configuration_path(@configuration), :class => "btn btn-white" %>
              </div>
            <% end %>
            <%= render :partial => "legacy_configurations/cellular/form", :locals => { :f => f } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
