<% content_for :header_javascript_block  do %>
  <script type="text/javascript">
    function initDataTable(columns, table) {
      table.DataTable({
        ajax: {
          'data': function ( data ) { formatData(columns, data, table); },
          'url': window.location.href
        },
        colReorder: true,
        columns: getColumnSettings(columns),
        dom: "<'row'<'col-sm-12'l>>" +
            "<'row'<'col-sm-4'i><'col-sm-8'p>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-4'i><'col-sm-8 lower'<'circle-border-spinner'>p>>",
        lengthMenu: [[ 25, 50, 100, 500 ], [ 25, 50, 100, 500 ]],
        order: getSorting(columns, table),
        pageLength: 100,
        scrollX: true,
        scrollY: false,
        serverSide: true
      });
    }
  </script>
<% end %>

<%= render 'shared/page_header_vs', locals: { title: @presenter.title } %>
<div class="wrapper wrapper-content animated fadeInRight">
  <%= render 'index_table' %>
</div>