<%= render 'shared/page_header', locals: { title: "New #{DeviceCategory::LEGACY_CELLULAR_CATEGORY} Configuration" } %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5><%= t("Settings") %></h5>
        </div>
        <div class="ibox-content">
          <%= form_for @configuration, :as => :configuration, :url => legacy_configurations_path, :method => :post do |f| %>
            <% content_for :configuration_form_actions do %>
              <div class="form-actions">
                <input class="btn btn-primary" name="commit" type="submit" value="Create" />
                <%= link_to "Cancel", legacy_configurations_path, :class => "btn btn-white" %>
              </div>
            <% end %>
            <%= render :partial => "legacy_configurations/cellular/form", :locals => { :f => f } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
