$('#parent_configuration_control_group').replaceWith('<%= j render "legacy_configurations/cellular/organization_configurations_select" %>');
$('#parent_configuration_id').select2();
//located in aview/configurations.js
fixSelect2Styling();
