<% content_for :header_javascript_block do %>
  <script>
    $(document).ready(function(){
      $("#configuration_form input").prop("disabled", true);
      $("#configuration_form select[class^='select2']").prop("disabled", true);
      $("[data-toggle = tooltip]").tooltip({trigger: 'hover'});
    });

    function initDataTable(columns, table) {
      table.DataTable({
        colReorder: true,
        columns: getColumnSettings(columns),
        dom: "<'row'<'col-sm-12'l>>" +
            "<'row'<'col-sm-4'i><'col-sm-8'p>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-4'i><'col-sm-8 lower'<'circle-border-spinner'>p>>",
        lengthMenu: [[ 25, 50, 100, 500 ], [ 25, 50, 100, 500 ]],
        pageLength: 100,
        scrollX: true,
        scrollY: false
      });
    }
  </script>
<% end %>

<%= render 'shared/page_header', locals: { title: "#{DeviceCategory::LEGACY_CELLULAR_CATEGORY} Configuration: #{@configuration.name}" } %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5><%= t("Settings") %></h5>
          <% if can_modify_configurations? %>
            <div class="pull-right">
              <%= render 'new_config_button' %>
              <%= render 'edit_config_button' %>
              <%= render 'copy_config_button' %>
              <%= render 'delete_config_button' %>
            </div>
          <% end %>
        </div>
        <div class="ibox-content">
          <%= form_for @configuration, :as => :configuration, :url => cellular_legacy_configurations_path, :method => :post do |f| %>
            <%= render :partial => "legacy_configurations/cellular/form", :locals => { :f => f } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5><%= t("Linked Devices") %></h5>
        </div>
        <div class="ibox-content">
          <%= render 'show_table' %>
        </div>
      </div>
    </div>
  </div>
</div>
