$('#customer_service').find('.alert').remove();
$('#new-customer-service').find('.alert').remove();

<% if @customer_service.blank? %>
  <%= render partial: 'blank', locals: { element: '#customer-services > .panel-body' } %>
<% elsif @customer_service.errors.any? %>
  <%= render partial: 'errors', locals: { element: '#new-customer-service > .modal-body' } %>
<% else %>
  $('#new-customer-service-modal').modal('hide');
  $('#customer-services-table').DataTable().ajax.reload(function() {
    var alert = "<%= j alert_success message: t('customer_services.created') %>";
    $('#customer-services > .panel-body').prepend(alert);
    // declared in js/aview/bootstrap-alerts.js
    setAlertExpiration($('#customer-services > .panel-body > .alert'));
  });
<% end %>