$('#customer_services').find('.alert').remove();

<% if @customer_service.blank? %>
  <%= render partial: 'blank', locals: { element: '#service-names > .panel-body' } %>
<% elsif @customer_service.errors.any? %>
  <%= render partial: 'errors', locals: { element: '#service-names > .modal-body' } %>
<% else %>
  $('#customer-services-table').DataTable().ajax.reload(function() {
    var alert = "<%= j alert_success message: t('customer_services.destroyed') %>";
    $('#service-names > .panel-body').prepend(alert);
    // declared in js/aview/bootstrap-alerts.js
    setAlertExpiration($('#service-names > .panel-body > .alert'));
  });
<% end %>
