
<% if @customer_service.blank? %>
  <%= render partial: 'blank', locals: { element: '#service-names > .panel-body' } %>
<% else %>
  var modal = "<%= j render(partial: 'modals/edit') %>";

  $('#modals-container').html(modal)
  $('#edit-customer-service-modal').modal({backdrop: 'static'});
<% end %>
