$('#customer_service').find('.alert').remove();
$('#edit-customer-service').find('.alert').remove();

<% if @customer_service.blank? %>
  <%= render partial: 'blank', locals: { element: '#customer_service > .panel-body' } %>
<% elsif @customer_service.errors.any? %>
  <%= render partial: 'errors', locals: { element: '#edit-customer-service > .modal-body' } %>
<% else %>
  $('#edit-customer-service-modal').modal('hide');
  $('#customer-services-table').DataTable().ajax.reload(function() {
    var alert = "<%= j alert_success message: t('customer_services.updated') %>";
    $('#customer_services > .panel-body').prepend(alert);
     // declared in js/aview/bootstrap-alerts.js
    setAlertExpiration($('#customer_services > .panel-body > .alert'));
  });
<% end %>