<template>
  <div>
    <form-text-field label="Target" field="target" placeholder="IP Address" v-bind:value="target" v-on:valuechange="onFieldChange">
    </form-text-field>
    <form-text-field label="Interface" field="src_int" placeholder="Default" v-bind:value="src_int" v-on:valuechange="onFieldChange">
    </form-text-field>
    <form-toggle-field label="IPv6" field="ipv6" v-bind:value="ipv6" v-on:valuechange="onFieldChange"></form-toggle-field>
  </div>
</template>

<script>
import BaseCommand from './base-cmd.vue';
import FormTextField from '../form-fields/form-text-field.vue';
import FormToggleField from '../form-fields/form-toggle-field.vue';

export default {
  name: 'arpping-cmd',
  components: {
    'form-text-field': FormTextField,
    'form-toggle-field': FormToggleField
  },
  extends: BaseCommand,
  data:  function() {
    return {
      "target": "",
      "src_int": "Default",
      "ipv6": false
    };
  },
}
</script>