<template>
  <div>
    <form-text-field label="IPv4 Source Address" field="v4_src" placeholder="IP Address"
                      v-bind:value="v4_src" v-on:valuechange="onFieldChange"></form-text-field>
    <form-text-field label="IPv6 Source Address" field="v6_src" placeholder="IP Address"
                      v-bind:value="v6_src" v-on:valuechange="onFieldChange"></form-text-field>
    <form-text-field label="Source Address" field="src_addr" placeholder="IP Address"
                       v-bind:value="src_addr" v-on:valuechange="onFieldChange"></form-text-field>
    <form-text-field label="Source Interface" field="src_int" placeholder="Interface"
                      v-bind:value="src_int" v-on:valuechange="onFieldChange"></form-text-field>
    <form-text-field label="Destination Address" field="dst_addr" placeholder="IP Address"
                       v-bind:value="dst_addr" v-on:valuechange="onFieldChange"></form-text-field>
    <form-select-field label="Access" v-bind:options="accessOptions" field="access" placeholder="Access"
                      v-bind:value="access" v-on:valuechange="onFieldChange"></form-select-field>
    <form-toggle-field label="Maintenance Tunnel" field="maintenance_tunnel" v-bind:value="maintenance_tunnel"
                      v-on:valuechange="onFieldChange"></form-toggle-field>
    <form-toggle-field label="Drop Interface" field="drop_interface" v-bind:value="drop_interface" 
                      v-on:valuechange="onFieldChange"></form-toggle-field>
  </div>
</template>

<script>
import BaseCommand from './base-cmd.vue';
import FormSelectField from '../form-fields/form-select-field.vue'
import FormTextField from '../form-fields/form-text-field.vue';
import FormToggleField from '../form-fields/form-toggle-field.vue';

export default {
  name: 'cx-access-cmd',
  extends: BaseCommand,
  components: {
    'form-text-field': FormTextField,
    'form-toggle-field': FormToggleField,
    'form-select-field': FormSelectField
  },
  computed: {
    accessOptions: function(){
      return ["up", "down"];
    }
  },
  data:  function() {
    return  Object.assign({}, DEVICE_COMMANDS_CONSTS.cx_access.defaults);
  }
}
</script>