<template>
  <form>
    <manual-tunnel-cmd v-if="isManualTunnel" v-on:validate="onValidate" v-on:paramschange="onChange"></manual-tunnel-cmd>
    <arpping-cmd v-if="isArppingOrRelated" v-on:validate="onValidate" v-on:paramschange="onChange"></arpping-cmd>
    <ping-cmd v-if="isPing" v-on:validate="onValidate" v-on:paramschange="onChange"></ping-cmd>
    <wan-toggle-cmd v-if="isWanToggle" v-on:validate="onValidate" v-on:paramschange="onChange"></wan-toggle-cmd>
    <cx-access-cmd v-if="isCxAccess" v-on:validate="onValidate" v-on:paramschange="onChange"></cx-access-cmd>
  </form>
</template>

<script>
import ArpingCmd from './arping-cmd.vue';
import PingCmd from './ping-cmd.vue';
import CxCmd from './cx-access-cmd.vue';
import ManualTCmd from './manual-tunnel-cmd.vue';
import WanCmd from './wan-toggle-cmd.vue';

export default {
  name: "device-command-form",
  components: {
    "arpping-cmd": ArpingCmd,
    "manual-tunnel-cmd": ManualTCmd,
    "ping-cmd": PingCmd,
    "wan-toggle-cmd": WanCmd,
    "cx-access-cmd": CxCmd
  },
  props: ["command"],
  data:  function() {
    return {};
  },
  computed: {
    //this can be expanded later.
    isManualTunnel: function(){
      return ["tunnel_up", "tunnel_down", "tunnel_bounce", "tunnel_status"].indexOf(this.command) > -1;
    },
    isArppingOrRelated: function(){
      return ["arpping", "traceroute", "tracepath"].indexOf(this.command) > -1;
    },
    isPing: function(){
      return this.command === "ping";
    },
    isWanToggle: function(){
      return this.command === "wan_toggle"
    },
    isCxAccess: function(){
      return this.command === "cx_access"
    }
  },
  methods: {
    onChange: function(params){
      this.$emit("paramschange", params)
    },
    onValidate: function(params){
      this.$emit("validate", params);
    }
  }
}
</script>