<template>
  <div>
    <base-form-field>
      <template slot="label">Select By</template>
      <template slot="control">
        <div class="radio radio-inline radio-no-top-margin">
          <label>
            <input value="index" type="radio" v-model="selected">
            IPSEC
          </label>
        </div>
        <div class="radio radio-inline radio-no-top-margin">
          <label>
            <input value="name" type="radio" v-model="selected">
            Name
          </label>
        </div>
      </template>
    </base-form-field>
    <base-form-field>
      <template slot="label">Interface</template>
      <template slot="control">
          <span class="input-group-addon">IPSEC</span>
          <select class="form-control" v-model="index" v-bind:disabled="nameSelected">
            <option value="" disabled>Select a tunnel index</option>
            <option v-for="option in options" v-bind:value="option">{{option}}</option>
          </select>
      </template>
    </base-form-field>
    <base-form-field>
      <template slot="label">Name</template>
      <input slot="control" placeholder="Enter tunnel name" class="form-control" type="text"
             v-model="name" v-bind:disabled="indexSelected">
    </base-form-field >
  </div>
</template>

<script>
import FieldWrapper from '../form-fields/field-wrapper.vue';

export default {
  name: 'manual-tunnel-cmd',
  components: {
    'base-form-field': FieldWrapper
  },
  data:  function() {
    return {
      "index": "",
      "name": "",
      "selected": "index"
    };
  },
  watch: {
    "selected": "onChange",
    "name": "onChange",
    "index": "onChange"
  },
  computed: {
    nameSelected: function(){
      return this.isNameSelected();
    },
    indexSelected: function(){
      return this.isIndexSelected();
    },
    options: function(){
      return Array.apply(null, Array(6)).map(function (_, i) {return i;});
    }
  },
  created: function(){
    this.validate();
  },
  methods: {
    isNameSelected: function(){
      return this.selected === "name";
    },
    isIndexSelected: function(){
      return this.selected === "index";
    },
    validate: function(){
      var results = {
        valid: false,
        message: ""
      };      
      if((this.isNameSelected() && this.name.length > 0) || (this.isIndexSelected() && !(isNaN (parseInt(this.index))))){
        results.valid = true;
      }else{
        results.message = "Please select an interface number or enter an interface name."
      }
      this.$emit("validate", results);
    },
    onChange: function(){
      var params = {};
      params[this.selected] = this.$data[this.selected];
      this.$emit("paramschange", params);
      this.validate();
    }
  }
}
</script>