<template>
	<div>
    <form-text-field label="Target" field="target" placeholder="IP Address" v-bind:value="target" v-on:valuechange="onFieldChange">
    </form-text-field>
    <form-text-field label="Interface" field="src_int" placeholder="Default" v-bind:value="src_int" v-on:valuechange="onFieldChange">
    </form-text-field> 
    <form-text-field label="Count" field="count" placeholder="Count" v-bind:value="count" v-on:valuechange="onFieldChange">
    </form-text-field>
    <form-text-field label="Size" field="size" placeholder="Size" v-bind:value="size" v-on:valuechange="onFieldChange">
    </form-text-field>
    <form-toggle-field label="IPv6" field="ipv6" v-bind:value="ipv6" v-on:valuechange="onFieldChange">
    </form-toggle-field>
  </div>
</template>

<script>
import BaseCommand from './base-cmd.vue';
import FormTextField from '../form-fields/form-text-field.vue';
import FormToggleField from '../form-fields/form-toggle-field.vue';

export default {
  name: 'ping-cmd',
  extends: BaseCommand,
  components: {
  	'form-text-field': FormTextField,
  	'form-toggle-field': FormToggleField
  },
  data:  function() {
    return {
      "target": "",
      "src_int": "Default",
      "count": 5,
      "size": 100,
      "ipv6": false
    };
  }
}
</script>