<template>
  <div>
    <div class="col-xs-12">
      <h3 class="text-danger">
        WARNING: This may interrupt network connectivity on the device
      </h3>
    </div>
    <div class="col-xs-12">
      <p>
        Once sent, the interface will be set to the specified state for the given time in minutes. When the timer expires, the interface will be toggled to the opposite state. If the device is rebooted, the WAN interfaces will be enabled.
      </p>
    </div>
    <form-select-field label="Interface" v-bind:options="interfaceOptions" field="interface" placeholder="Interface"
                      v-bind:value="interface" v-on:valuechange="onFieldChange"></form-select-field>
    <form-select-field label="State" v-bind:options="stateOptions" field="state" placeholder="State"
                      v-bind:value="state" v-on:valuechange="onFieldChange"></form-select-field>
    <form-text-field label="Time" field="time" placeholder="Time" v-bind:value="time" 
                      v-on:valuechange="onFieldChange"></form-text-field>
  </div>
</template>

<script>
import BaseCommand from './base-cmd.vue';
import SelectField from '../form-fields/form-select-field.vue';
import TextField from '../form-fields/form-text-field.vue';

export default {
  name: 'wan-toggle-cmd',
  extends: BaseCommand,
  components: {
    'form-select-field': SelectField,
    'form-text-field': TextField
  },
  computed: {
    interfaceOptions: function() {
      return ["primary", "secondary"];
    },
    stateOptions: function() {
      return DEVICE_COMMANDS_CONSTS.wan_toggle.states;
    }
  },
  data:  function() {
    return {
      "interface": "primary",
      "state": DEVICE_COMMANDS_CONSTS.wan_toggle.states[0],
      "time": 0
    };
  },
}
</script>