$('.sk-spinner').hide();

var content = '#configuration .panel-body .ibox-content';
$(content + ' .alert').remove();

<% if @result.errors.empty? %>

  var alert = "<%= j alert_success message: 'Successfully saved configuration' %>";
  $(content).prepend(alert);
  setAlertExpiration($('#configuration .alert'));

<% else %>

  var alert = ""

  <% @configuration.errors.full_messages.each do |error| %>
    alert += "<%= j alert_error message: error.html_safe %>";
  <% end %>

  $(content).prepend(alert);

<% end %>

window.scrollTo(0, 0);
