<!-- Dashboard -->
<li class="<%= active? 'dashboards' %>">
  <%= link_to root_path do %>
    <i class="fa fa-th-large" data-toggle="tooltip" title="Dashboard"></i> <span class="nav-label"><%= t 'layouts.navigation.dashboard' %></span>
  <% end %>
</li>

<!-- Maps -->
<% if current_user.maps_enabled? %>
  <li class="<%= active? 'maps' %>">
    <%= link_to "/maps" do %>
      <i class="fa fa-map" data-toggle="tooltip" title="Maps"></i> <span class="nav-label"><%= t 'layouts.navigation.maps' %></span>
    <% end %>
  </li>
<% end %>

<!-- Devices -->
<li class="<%= (['devices','imports','charts'].include? params[:controller]) ? 'active' : '' %>">
  <a href="#">
    <i class="fa fa-hdd-o" data-toggle="tooltip" title="Devices"></i>
    <span class='nav-label'><%= t 'layouts.navigation.devices' %></span>
    <span class='label label-primary pull-right'><%= current_user.devices.count %></span>
  </a>

  <ul class="nav nav-second-level collapse">
    <% if current_user.device_categories.count > 1 %>
      <li class="<%= active_path('devices/index') %>">
        <%= link_to devices_path do %>
          All
          <span class="label label-default pull-right">
            <%= current_user.devices.count %>
          </span>
        <% end %>
      </li>
    <% end %>

    <% current_user.device_categories.sort_by { |a| a[:name] }.each do |category| %>
      <% category_path = "devices/#{category.name.downcase.gsub(/-|\s/, '_')}" %>
      <li class="<%= active_path(category_path) %>">
        <%= link_to '/' + category_path do %>
          <%= category.name %>
          <span class="label label-default pull-right">
            <%= current_user.devices.with_categories(category.id).count %>
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>
</li>

<!-- Tunnel Servers -->
<% if Settings.tunnel_servers.enabled? %>
  <% if Settings.vvig.enabled %>
    <li class="<%= active? ['tunnel_servers', 'vvig_pnc'] %>">
      <a href="#">
        <i class="fa fa-link" data-toggle="tooltip" title="Tunnel Servers"></i>
        <span><%= t 'layouts.navigation.tunnel_servers' %></span>
        <span class="fa arrow"></span>
      </a>
      <ul class='nav nav-second-level'>
        <li lass="<%= active? 'tunnel_servers' %>">
        <%= link_to tunnel_servers_path do %>
          VIG List
        <% end %>
        </li>
        
          <li class="<%= active? 'vvig_pnc' %>">
            <%= link_to vvig_pnc_path do %>
              VIG Utilization Report
            <% end %>
          </li>
      </ul>
    </li>
  <% else %>
    <li class="<%= active? 'tunnel_servers' %>">
      <%= link_to tunnel_servers_path do %>
        <i class="fa fa-link" data-toggle="tooltip" title="Tunnel Servers"></i> <span class="nav-label"><%= t 'layouts.navigation.tunnel_servers' %></span>
      <% end %>
    </li>
  <% end %>
<% end %>

<!-- Device Configurations -->
<% if current_user.device_categories.include?(DeviceCategory::LEGACY_CELLULAR_CATEGORY) ||
      current_user.has_ability?('Modify Device Configurations') %>
  <li class="<%= ['configurations', 'device_configurations'].include?(params[:controller]) ? 'active' : '' %>">
    <a href="#">
      <i class="fa fa-wrench" data-toggle="tooltip" title="Configurations"></i>
      <span class="nav-label"><%= t 'layouts.navigation.configurations' %></span>
      <span class="fa arrow"></span>
    </a>
    <%= device_configuration_list %>
  </li>
<% end %>

<% if current_user.has_ability?(Ability::MODIFY_GROUPS) %>
<li class="<%= active? 'groups' %>">
  <%= link_to groups_path do %>
    <i class="fa fa-cog" data-toggle="tooltip" title="Groups"></i> <span class="nav-label">Groups</span>
  <% end %>
</li>
<% end %>

<!-- Reports -->
<li class="<%= (['reports'].include? params[:controller]) ? 'active' : '' %>">
  <a href="#">
    <i class="fa fa-file-text" data-toggle="tooltip" title="Reports"></i>
    <span><%= t 'layouts.navigation.reports' %></span>
    <span class="fa arrow"></span>
  </a>
  <ul class='nav nav-second-level'>
    <li class="<%= active? 'availability' %>">
      <%= link_to availability_reports_path do %>
        Availability
      <% end %>
    </li>
    <li class="<%= active? 'cellular_network_type' %>">
      <%= link_to cellular_network_type_reports_path do %>
        Cellular Network Type
      <% end %>
    </li>
    <li class="<%= active? 'cellular_utilization' %>">
      <%= link_to cellular_utilization_reports_path do %>
        Cellular Utilization
      <% end %>
    </li>
    <li class="<%= active? 'cellular_signal_strength' %>">
      <%= link_to cellular_signal_strength_reports_path do %>
        Cellular Signal Strength
      <% end %>
    </li>
    <% if current_user.device_categories.map(&:name).include?(DeviceCategory::GATEWAY_CATEGORY) %>
      <li class="<%= active? 'vig' %>">
        <%= link_to vig_reports_path do %>
          VIG Report
        <% end %>
      </li>
    <% end %>
    <li class="<%= active? ['index','history'] %>">
      <%= link_to reports_path do %>
        History
      <% end %>
    </li>
  </ul>
</li>

<!-- Notifications -->
<li class="<%= active? 'notifications' %>">
  <%= link_to notifications_path do %>
    <i class="fa fa-flag" data-toggle="tooltip" title="Notifications"></i> <span><%= t 'layouts.navigation.notifications' %></span>
  <% end %>
</li>

<!-- Organizations -->
<li class="<%= (params[:controller] == 'organizations' and params[:action] != 'settings' and (!['wifi_configurations','cellular_configurations'].include? params[:action])) ? 'active' : '' %>">
  <%= link_to organizations_path do %>
    <i class="fa fa-sitemap" data-toggle="tooltip" title="Organizations"></i>
    <span><%= t 'layouts.navigation.organizations' %></span>
  <% end %>
</li>

<!-- Sites -->
<li class="<%= active? 'sites' %>">
  <%= link_to sites_path do %>
    <i class="fa fa-globe" data-toggle="tooltip" title="Sites"></i>
    <span><%= t 'layouts.navigation.sites' %></span>
  <% end %>
</li>

<!-- Users -->
<% if Pundit.policy(current_user, Organization).modify_users? %>
  <li class="<%= params[:controller] == 'users' ? 'active' : '' %>">
    <%= link_to users_path do %>
      <i class="fa fa-users" data-toggle="tooltip" title="Users"></i> <span><%= t 'layouts.navigation.users' %></span>
    <% end %>
  </li>
<% end %>
