<li class="nav-header">
  <div class="dropdown profile-element">
    <span>
      <%= link_to image_tag(logo), root_path, id: "logo" %>
    </span>
    <span class="clear" id="live-clock-wrapper" style="display: <%=current_user.clock_enabled ? 'block': 'none' %>">
      <span class="block m-t-xs">
        <%= javascript_pack_tag "live-clock" %>
        <strong class="font-bold"><%= content_tag :div, nil, id: 'live-clock', data: { timezone: current_user.javascript_timezone } %></strong>
      </span>
    </span>
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
      <span class="clear">
          <div class="block m-t-xs user-name-display">
              <strong title="<%= current_user.name %>" class="font-bold"><%= current_user.name %></strong>
          </span> <span class="text-muted text-xs block">Settings<b class="caret"></b></div>
      </span>
    </a>
    <ul class="dropdown-menu m-t-xs user-menu">
      <!-- Account -->
      <% if Settings.support_email.enabled %>
        <li>
          <%= 
            mail_to(
              Settings.support_email.address,
              '<i class="fa fa-wrench"></i> <span>Support</span>'.html_safe 
            )
          %>
        </li>
      <% end %>
      <!-- Admin -->
      <li>
        <%= link_to account_index_path, :id => "account" do  %>
          <i class="fa fa-user"></i><span class="text">Account</span>
        <% end %>
      </li>
      <% if can_view_admin_panel? %>
        <li>
          <%= link_to admin_path, :id => "admin" do  %>
            <i class="fa fa-cog"></i><span>Admin</span>
          <% end %>
        </li>
      <% end %>
      <li class="divider">
      <%= logout_link %>
    </ul>
  </div>
  <div class="logo-element">
      <i class='fa fa-wifi'></i>
  </div>
</li>
