<div class="modal inmodal fade" id="edit-subscription-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <%= form_tag(api_v2_account_notification_subscription_path(@user, @subscription, format: :js), remote: true, method: :patch, class: 'form-horizontal ajax-form', id: 'edit-subscription') do %>

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Edit Subscription</h4>
        </div>

        <div class="modal-body">
          <div class="form-group"><label class="col-sm-3 control-label">Profile</label>
            <div class="col-sm-9">
              <%= select_tag :profile_id,
                options_from_collection_for_select(
                  @user.notification_profiles, :id, :name, @subscription.profile_id
                ),
                class: 'form-control m-b select2' %>
            </div>
          </div>

          <div class="form-group"><label class="col-sm-3 control-label">Publisher Type</label>
            <div class="col-sm-9">
              <p class="form-control-static"><%= @subscription.publisher_type %></p>
            </div>
          </div>

          <div class="form-group"><label class="col-sm-3 control-label">Publisher ID</label>
            <div class="col-sm-9">
              <p class="form-control-static"><%= @subscription.publisher_name %></p>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="form-modal-spinner">
            <%= render 'shared/spinners/fading_circle' %>
          </div>
          <%= submit_tag "Close", class: 'btn btn-white', 'data-dismiss' => 'modal' %>
          <%= submit_tag "Update Subscription", class: 'btn btn-primary' %>
        </div>

      <% end %>

    </div>
  </div>
</div>
