<div class="modal inmodal fade" id="new-subscription-modal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <%= form_tag(api_v2_account_notification_subscriptions_path(@user, format: :js), remote: true, class: 'form-horizontal ajax-form', id: 'create-subscription') do %>

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">New Subscription</h4>
        </div>

        <div class="modal-body">
          <div class="form-group"><label class="col-sm-3 control-label">Profile</label>
            <div class="col-sm-9">
              <%= select_tag :profile_id, options_for_select(@user.notification_profiles.select(:id, :name).collect {|p| [p.name, p.id] } ), class: 'form-control m-b select2' %>
            </div>
          </div>

          <div class="form-group"><label class="col-sm-3 control-label">Publisher Type</label>
            <div class="col-sm-9">
              <div class="i-checks">
                <label>
                  <input type="radio" class="publisher-type" checked="" value="<%= NotificationSubscription::Types::ORGANIZATION %>" name="publisher_type">
                  <i></i> Organization
                </label>
              </div>
              <div class="i-checks">
                <label>
                  <input type="radio" class="publisher-type" value="<%= NotificationSubscription::Types::DEVICE %>" name="publisher_type">
                  <i></i> Device
                </label>
              </div>
            </div>
          </div>

          <div class="form-group"><label class="col-sm-3 control-label">Publisher ID</label>
            <div class="col-sm-9">
              <select class="form-control select2 publisher-search" name="publisher_id">
                <option value="" selected="selected">Search for publisher ...</option>
              </select>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="form-modal-spinner">
            <%= render 'shared/spinners/fading_circle' %>
          </div>
          <%= submit_tag "Close", class: 'btn btn-white', 'data-dismiss' => 'modal' %>
          <%= submit_tag "Create Subscription", class: 'btn btn-primary' %>
        </div>

      <% end %>

    </div>
  </div>
</div>
