<div class="modal-body">
  <div class="form-group">
    <label class="col-sm-5 control-label">Name</label>
    <div class="col-sm-7">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <%= f.hidden_field :cycle_type, value: :monthly %>

  <div class="form-group">
    <label class="col-sm-5 control-label">Monthly Start Day</label>
    <div class="col-sm-7">
      <%= f.text_field :cycle_start_day, class: 'form-control', id: 'cycle-start-day' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-5 control-label">Data Limit (MB)</label>
    <div class="col-sm-7">
      <%= f.text_field :data_limit, value: number_with_precision(@data_plan.data_limit_as_mb, precision: 2), class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-5 control-label">Individual Data Limit (MB)</label>
    <div class="col-sm-7">
      <%= f.text_field :individual_data_limit, value: number_with_precision(@data_plan.individual_data_limit_as_mb, precision: 2), class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-5 control-label">Overage Notification</label>
    <div class="i-checks">
      <div class="col-sm-7">
        <%= f.check_box :notify_enabled, class: 'i-checkbox form-control' %>
        <span>
          <a href="#" class="m-l-xs" data-toggle="tooltip" data-placement="right" data-container="body"
             title="<%= t('data_plans.notify_enabled_tooltip', organization: @organization.name) %>">
            <span class="badge">?</span>
          </a>
        </span>
      </div>
    </div>
  </div>
</div>