<% content_for :header_javascript_block  do %>
  <script>
    var tableId = '#data-plans-table';
    $(document).on('tabShown', '#data-plans', function() {
      // Ensure we only load the data table once
      if ( ! $.fn.DataTable.isDataTable(tableId) ) {
        $(tableId).DataTable( {
          "processing": true,
          "serverSide": true,
          "ajax": $(tableId).data('source'),
          "pagingType": "full_numbers",
          "bFilter": false,
          "bSort": false,
          "bPaginate": false,
          "bRetrieve": true,
          "scrollX": true,
          "columns": [
            { className: "text-center" },
            { className: "text-center" },
            { className: "text-center" },
            { className: "text-center" },
            { className: "text-center" },
            { className: "text-center" },
            { className: "text-center" },
            { className: "text-center" },
            { className: "text-center" },
            { className: "text-center" }
          ]
        });
      }
    });
    var dataTableExportModal = new DataTableExportModal(
      {
        afterExportActionClicked: function() {},
        afterModalOpen: function() {},
        exportClass: $(tableId),
        exportFormat: '.csv',
        exportPath: $(tableId).data('source'),
        simpleDownload: true
      }
    );
  </script>
<% end %>

<table id="data-plans-table" class="table table-hover no-wrap" data-source="<%= source.try(:html_safe) %>">
  <thead>
  <th class="col-sm-2">Name</th>
  <th class="col-sm-2">Number of Devices</th>
  <th class="text-center col-sm-6">Data Limit</th>
  <th class="text-center col-sm-6">Data Used</th>
  <th class="text-center col-sm-6">Individual Data Limit</th>
  <th class="col-sm-1">Start Day</th>
  <th class="col-sm-1">Overage Notification</th>
  <th class="col-sm-1">Created</th>
  <th class="col-sm-1">Edit</th>
  <th class="col-sm-1">Delete</th>
  </thead>
  <tbody>
  </tbody>
</table>

<%= render partial: 'shared/export_modal', locals: {hide_limit: true} %>
