$('#data-plans').find('.alert').remove();
var newDataPlanModal = $('#new-data-plan-modal');
newDataPlanModal.find('.alert').remove();

<% if @data_plan.blank? %>
  newDataPlanModal.modal('hide');
  <%= render partial: 'blank', locals: { element: '#data-plans > .panel-body' } %>
<% elsif @data_plan.errors.any? %>
  <%= render partial: 'errors', locals: { element: '#new-data-plan > .modal-body' } %>
<% else %>
  newDataPlanModal.modal('hide');
  var alert = "<%= j alert_success message: (t('data_plans.created', name: @data_plan.name)) %>";
  refreshDataPlans(alert);
<% end %>