$('#data-plans').find('.alert').remove();
<% if @data_plan.blank? %>
  <%= render partial: 'blank', locals: { element: '#data-plans > .panel-body' } %>
<% elsif @data_plan.errors.any? %>
  <%= render partial: 'errors', locals: { element: '#data-plans > .panel-body' } %>
<% else %>
  var alert = "<%= j alert_success message: (t('data_plans.destroyed', name: @data_plan.name)) %>";
  refreshDataPlans(alert);
<% end %>