<% if @data_plan.blank? %>
  <%= render partial: 'blank', locals: { element: '#data-plans > .panel-body' } %>
<% else %>
  var modal = "<%= j render(partial: 'modals/edit') %>";
  $('#modals-container').html(modal);
  $('#cycle-start-day').ionRangeSlider( { min: 1, max: 31 } );
  $('#edit-data-plan-modal').modal({backdrop: 'static'});
<% end %>
