var tableContainer = $('#table-container');
tableContainer.find('.alert').remove();

<% if @result.errors.try(:any?) %>
  var alert= "<%= j alert_error message: "#{@result.message} <a href='#' id='show-errors'>Click here to see the errors</a>".html_safe %>";
<% elsif @result.failure? %>
  var alert= "<%= j alert_error message: @result.message %>";
<% elsif !@result.data_plan.present? %>
  var alert = "<%= j alert_success message: (t('data_plans.device_remove', count: @result.device_count)) %>";
<% else %>
  var alert = "<%= j alert_success message: (t('data_plans.device_add',
                                                name: @result.data_plan.name,
                                                count: @result.device_count)) %>";
<% end %>

tableContainer.prepend(alert);
$('#move-to-data-plan-modal').modal('hide');
refreshDevicesDataTable();

$('#show-errors').click(function() {
  var modal = "<%= j render(partial: 'modals/device_assign_errors', locals: { errors: @result.errors } ) %>";
  $('#modals-container').html(modal);
  $('#device-assign-errors-modal').modal({backdrop: 'static'});
  return false;
});

function refreshDevicesDataTable() {
  var dataPlansTable = $('#device-table').DataTable();
  dataPlansTable.ajax.reload(function() {
    $('#data-table-select-all').prop("indeterminate", false);
  });
}