var modal = "<%= j render(partial: 'modals/disclaimer') %>";

$('#modals-container').html(modal);
$('#data-plan-disclaimer-modal').modal({backdrop: 'static'});

$('#data-plan-disclaimer-agree').click(function() {
  $('#data-plan-disclaimer-modal').on('hidden.bs.modal', function () {
    modal = "<%= j render(partial: 'shared/modals/new_data_plan') %>";
    $('#modals-container').html(modal);
    $('#cycle-start-day').ionRangeSlider( { min: 1, max: 31 } );
    $('#new-data-plan-modal').modal({backdrop: 'static'});
  });
  $('#data-plan-disclaimer-modal').modal('hide');
});
