$('#data-plans').find('.alert').remove();
var editDataPlanModal = $('#edit-data-plan-modal');
editDataPlanModal.find('.alert').remove();

<% if @data_plan.blank? %>
  editDataPlanModal.modal('hide');
  <%= render partial: 'blank', locals: { element: '#data-plans > .panel-body' } %>
<% elsif @data_plan.errors.any? %>
  <%= render partial: 'errors', locals: { element: '#edit-data-plan > .modal-body' } %>
<% else %>
  editDataPlanModal.modal('hide');
  var alert = "<%= j alert_success message: (t('data_plans.updated', name: @data_plan.name)) %>";
  refreshDataPlans(alert);
<% end %>