<% content_for :header_javascript_block  do %>
  <script>

    $(document).on('tabShown', '#syslog-servers', function() {

      // Ensure we only load the data table once
      if ( ! $.fn.DataTable.isDataTable('#syslog-servers-table') ) {
        $('#syslog-servers-table').DataTable( {
          "processing": true,
          "serverSide": true,
          "ajax": $('#syslog-servers-table').data('source'),
          "pagingType": "full_numbers",
          "bFilter": false,
          "bSort": false,
          "bPaginate": false,
          "bRetrieve": true,
          "columns": [
            { data: "name", className: "text-center" },
            { data: "uri", className: "text-center" },
            { data: "status", className: "text-center" },
            { data: "test", className: "text-center" },
            { data: "edit", className: "text-center" },
            { data: "delete", className: "text-center" },
          ]
        });
      }

    });

  </script>
<% end %>

<div id="syslog-servers" class="tab-pane">
  <div class="panel-body">
    <div class="panel-form">
      <div class="ibox">
        <div class="ibox-content">
          <div class="panel-header">
            <div class="pull-right">
              <%= link_to(new_admin_syslog_server_path(format: :js), class: 'btn btn-primary create-record single-button-remote', remote: true) do %>
                <i class="fa fa-plus-circle"></i>&nbsp;Create
              <% end %>
            </div>
          </div>

          <table id="syslog-servers-table" class="table table-hover" data-source="<%= admin_syslog_servers_path(format: :json) %>">
            <thead>
            <tr>
              <th class="text-center">Name</th>
              <th class="text-center">URI</th>
              <th class="text-center">Status</th>
              <th class="text-center">Connectivity</th>
              <th class="text-center">Edit</th>
              <th class="text-center">Delete</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
