
Alert for <%= @data_plan.organization.name %> data plan: <%= @data_plan.name %>

==============================

  Organization: <%= @data_plan.organization.name %>
  Data Plan: <%= @data_plan.name %>
  Data Limit: <%= Filesize.as_si(@data_plan.data_limit).pretty %>
  Current Data Usage: <%= Filesize.as_si(@current_usage).pretty %>

==============================

View your data plan: <%= organization_data_plan_url(@data_plan.organization.id, @data_plan) %>
