<div id="search">
  <%= form_for :search, :url => search_index_path, :method => :get do |f| %>
    <%= f.text_field :query, :placeholder => "Search here...", :autocomplete => :off %><button type="submit" class="tip-bottom" title="" data-original-title="Available Search Fields: <%= t(:mac_address) %>, <%= t(:primary_ip) %>, Site ID, City, State, Zip, and Country" id="search_submit_button"><i class="icon-search"></i></button>
  <% end %>
</div>
