<%- if controller_name != 'sessions' %>
  <%= link_to 'Sign in', new_session_path(resource_name), class: 'btn btn-white full-width small', id: 'sign-in' %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
    <%= link_to 'Forgot your password?', new_password_path(resource_name), class: 'btn btn-white full-width small', id: 'forgot-password' %><br />
<% end -%>
