<h3>Forgot your password?</h3>

<%= simple_form_for(
      resource,
      as: resource_name,
      url: password_path(resource_name)) do |f|
%>
  <%= f.input :email, autofocus: true, error: false, label: false, placeholder: 'Email' %>
  <%= f.button :submit, 'Send Reset Instructions', class: 'btn-primary full-width m-b' %>
<% end %>
