<%= render 'shared/page_header', locals: { title: 'Tunnel Server Utilization' } %>
<%= javascript_pack_tag 'vvig' %> 

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <input type="hidden" name="can_modify_organization" id="can_modify_organization" value="true">
    <div class="col-lg-12">
      <div class="ibox" id="table-container">
        <div class="ibox-title">
           <h5><span class="translation_missing" title="translation missing: en.devices.table.devices">VIG/PNC Utilization</span></h5>
            <div class="ibox-tools">
            <a data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#vvig-pnc-helper">
              <i class="fa fa-question-circle"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div id="pnc-container"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render layout: 'layouts/helper_modal', locals: { modal_id: 'vvig-pnc-helper', modal_title: 'VIG/PNC Utilization Help' } do %>
  <div class="modal-body">
    <p>The <strong>VIG/PNC Utilization Chart</strong> shows your account utilization per VLAN on each associated VIG.</p>
    <p>Each chart represents the utilization statistics for a given VLAN on a single VIG.</p>
    <dl>
      <dt>Chart Descriptions</dt>
      <dd>
        <dl>
          <dd>
            <strong>Capacity</strong>:
            The amount of committed bandwidth (Combined Egress and Ingress) for a given VLAN on a VIG. Exceeding this can result in packet loss on this VLAN.
          </dd>

          <dd>
            <strong>Max Egress</strong>:
            The maximum recorded egress (Transmitted) between the current measurement time to the next point's time on this VLAN/VIG combination. This is considered to be a high water mark.
          </dd>

          <dd>
            <strong>Max Ingress</strong>:
            The maximum recorded ingress (Received) between the current measurement time to the next point's time on this VLAN/VIG combination. This is considered to be a high water mark.
          </dd>

          <dd>
            <strong>Average Egress</strong>:
            The average recorded egress (Transmitted) from the current measurement time to the next point's time on this VLAN/VIG combination.
          </dd>

          <dd>
            <strong>Average Ingress</strong>:
            The average recorded ingress (Received) from the current measurement time to the next point's time on this VLAN/VIG combination.
          </dd>
        </dl>
      </dd>
    </dl>
  </div>
<% end %>
<script>
  renderVvigPnc("#pnc-container", <%= organization_options %>);
</script>