<% device.modems.by_active.each do |modem| %>
  <div role="tabpanel" class="tab-pane <%= 'active' if modem.active? %>" id="device-modem-<%= modem.id %>">
    <p>&nbsp;</p>
    <h5>Modem: <%= modem.name %></h5>

    <table class="table table-bordered table-striped">
      <%= table_data_row key: 'Status', value: "#{modem.status} - Updated #{time_ago_in_words(modem.updated_at)} ago" %>
      <%= table_data_row key: 'Carrier', value: modem.carrier %>
      <%= table_data_row key: 'SKU', value: modem.sku %>
      <%= table_data_row key: 'Signal Strength', value: modem.signal_str %>
      <%= table_data_row key: 'Signal Bars', value: modem.signal_bars %>
      <%= table_data_row key: 'Speed Test', value: render(partial: 'devices/modals/speed_test_history', locals: { speed_tests: modem.speed_tests }) %>
      <%= table_data_row key: 'Phone Number', value: modem.number %>
      <%= table_data_row key: 'RSSI', value: modem.rssi %>
      <%= table_data_row key: 'RSRP', value: modem.rsrp %>
      <%= table_data_row key: 'RSRQ', value: modem.rsrq %>
      <%= table_data_row key: 'SiNR', value: modem.sinr %>
      <%= table_data_row key: 'SNR', value: modem.snr %>
      <%= table_data_row key: 'IMEI', value: modem.imei %>
      <%= table_data_row key: 'ESN', value: modem.esn %>
      <%= table_data_row key: 'ICCID', value: modem.iccid %>
      <%= table_data_row key: 'IMSI', value: modem.imsi %>
      <%= table_data_row key: 'Revision', value: modem.revision %>
      <%= table_data_row key: 'APN', value: modem.apn %>
      <%= table_data_row key: 'ECIO', value: modem.ecio %>
      <%= table_data_row key: 'CNTI', value: modem.cnti %>
      <%= table_data_row key: 'Band', value: modem.band %>
      <%= table_data_row key: 'CID', value: modem.cid %>
      <%= table_data_row key: 'LAC', value: modem.lac %>
      <%= table_data_row key: 'MCC', value: modem.mcc %>
      <%= table_data_row key: 'MNC', value: modem.mnc %>
      <%= table_data_row key: 'PLMN', value: modem.plmn %>
      <%= table_data_row key: 'SIM slot', value: modem.sim_slot %>
      <%= table_data_row key: 'USB Speed', value: modem.usb_speed %>
    </table>
  </div>
<% end %>
