<% device.modems.by_active.each do |modem| %>
  <li class="col-md-4">
    <div class="pull-right">
      <%= link_to('<i class="fa fa-trash"> </i>'.html_safe,
            device_modem_path(device, modem, format: :js),
            class: 'btn btn-danger btn-xs tab-remote-button single-button-remote',
            id: "delete_modem_#{modem.id}",
            remote: true,
            method: :delete,
            data: { confirm: t('modems.delete') }) %>
    </div>
    <div>
      <a data-toggle="tab" href="#device-modem-<%= modem.id %>" aria-expanded="<%= modem.active? ? 'true' : 'false' %>">
      <h3><%= "#{modem.title}: #{modem.carrier}" %></h3>
      <h4><%= "#{modem.iccid}" %></h4>
      <div class="ibox-content no-padding">
        <div>
          <span>Signal</span>
          <small class="pull-right"><%= modem.signal_str %></small>
        </div>
        <div class="progress progress-small">
          <div style="width: <%= modem.signal_pct %>;" class="<%= progress_bar_for_status(modem.active?) %>"></div>
        </div>
        <label>Band: </label><%= modem.band %>
        <div class="pull-right"><label>RSSI: </label><%= modem.rssi %></div>
        </br>
        <label>CNTI: </label><%= modem.cnti %>
        <div class="pull-right"><label>RSRP: </label><%= modem.rsrp %></div>
      </div>
      </a>
    </div>
  </li>
<% end %>
