.accfg-panel .form-control {
    // block messes up layout of indices for arrays
    display: inline;
}
.accfg-panel .field .value textarea.value-input {
    height: 2.5em;
    vertical-align: top;
}
.accfg-panel .field.string .value input.value-input {
    box-sizing: border-box;
    height: 30px;
    width: 100%;
}
.accfg-panel .field.number .value input.value-input,
.accfg-panel .field.integer .value input.value-input {
    width: 8em;
}
.accfg-panel .field.object .value,
.accfg-panel .field.array .value {
    color: #666;
}
.accfg-panel .field-single .field-name {
    float: left;
    width: 180px;
    padding-top: 5px;
    padding-left: 16px;
    padding-right: 5px;
}
.accfg-panel .collapser .field-name {
    display: inline;
    margin: 0;
}
.accfg-panel .field-single .field-dropdown {
    float: left;
}
.accfg-panel .collapser .field-dropdown {
    padding-top: 0px;
    padding-bottom: 0px;
}
.accfg-panel .field:after {
    /* clearfix */
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.accfg-panel .field .value {
    display: block;
    overflow: hidden;
    margin-right: 30px;
}
.accfg-panel {
    border: 1px solid #cdcdcd;
}
.accfg-panel .collapser {
    display: block;
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 5px 8px;
    padding: 4px 16px;
    margin-top: -1px;
    border-top: 1px solid #cdcdcd;
    margin-bottom: -1px;
    border-bottom: 1px solid #cdcdcd;
    cursor: pointer;
}
.accfg-panel .collapser:before {
    content: "\f147";
    font-family: FontAwesome;
    margin-right: 5px;
}
.accfg-panel .collapser.collapsed:before {
    content: "\f196";
    font-family: FontAwesome;
}
.accfg-panel ul.fieldvalue-object,
.accfg-panel ul.fieldvalue-hidden,
.accfg-panel ol.fieldvalue-list {
    margin: 0;
    padding: 0;
}
.accfg-panel ul.fieldvalue-object,
.accfg-panel ul.fieldvalue-hidden {
    list-style: none;
}
.accfg-panel li.field {
    background-color: #f9f9f9;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eee;
    padding-top: 3px;
    padding-bottom: 3px;
}
.accfg-panel li.field.first {
    border-top: none;
}
.accfg-panel li.field.last {
    border-bottom: none;
}
.accfg-panel li.field.collapsible {
    border-top: none;
}
.accfg-panel .collapsible-panel {
    border-top: 1px solid #cdcdcd;
    padding-bottom: 5px;
}
.accfg-panel textarea {
    box-sizing: border-box;
    width: 100%;
}

.accfg-panel ul.fieldvalue-object,
.accfg-panel ol.fieldvalue-list,
.accfg-panel div.edit-bar {
    margin-left: 39px;
    border-left: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.accfg-panel div.edit-bar {
    margin: 0 0 0 39px;
    padding: 2px 7px;
    color: #999;
}
.accfg-panel li.field.object,
.accfg-panel li.field.array {
    background: none;
    padding-top: 0;
    padding-bottom: 0;
}


.accfg-panel label.field-show {
    margin: 0;
}
.accfg-panel label.field-show input {
    margin: 0;
    vertical-align: middle;
}
.accfg-panel label.field-show span {
    padding-left: 4px;
    vertical-align: middle;
}

.accfg-panel .field.error > .collapser {
    background-color: #ffe6df;
}
.accfg-panel .value-input.error {
    color: #b94a48;
    border-color: #e9322d;
    box-shadow: 0 0 6px #f8b9b7;
}
.accfg-panel .btn.dropdown-toggle {
    border: none;
    box-shadow: none;
    background: none;
    padding: 4px 6px;
}
