.wan-utilization .chart {
  height: 200px;
  width: 50%;
  float: left;
}

.wan-utilization .chart-no-data {
  width: 100%;
  border: 1px solid #EBEBEB;
  margin: 0 0 15px;
}

.wan-utilization-charts .title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;

  a {
    color: #c4c4c4;
  }
}
