.status-up {
  color: $status-green;
}

.status-notice {
  color: $status-yellow;
}

.status-down {
  color: $status-red;
}

.status-backup {
  color: $status-blue;
}

.status-tunnel {
  color: $status-purple;
}

.status-inactive {
  color: $status-gray;
}

.status-undeployed {
  color: $status-black;
}

.status-vrrp-master {
  color: $status-pink;
}

.fa-circle-green {
  color: $status-green;
}

.fa-circle-red {
  color: $status-red;
}

.fa-circle-blue {
  color: $status-blue;
}

.fa-circle-orange {
  color: $status-orange;
}
