.highlight-alert {
  background-color: $table-highlight-red !important;
}

.highlight-notice {
  background-color: $table-highlight-yellow !important;
}

#select-all-column {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

// Data Table Overrides
.dataTables_wrapper {
  .dt-buttons{
    margin: 2px 0;
    padding-top: .25em;
  }

  a.dt-button{
    border: 1px solid #e7eaec;
    background: #fff;
    color: #676a6c;
    box-shadow: none;
    padding: 6px 8px;
  }

  a.dt-button:hover {
    border: 1px solid #d2d2d2;
    background: #fff;
    box-shadow: none;
  }

  .dataTable {
    margin-left: 0px;

    thead > tr > th { border-bottom: 1px solid rgb(231, 231, 231); }
    tfoot > tr > th { border-top: 1px solid rgb(231, 231, 231); }
  }

  .dataTables_info {
    width: 100%;
  }

  .dataTables_length {
    float: right;
    margin: 2px 0;
    padding-top: .25em;

    label {
      float: right
    }
  }

  .dataTables_paginate {
    .pagination > li.paginate_button {
      display: inline-block;
      border: 0 !important;
      border-radius: 0;
      margin: 0;
      min-width: 0;
      padding: 0;

      &:active {
        background: none;
        box-shadow: none;
      }

      &:hover {
        background: none;
        color: #333 !important;
      }

      a {
        position: relative;
      }
    }
  }

  .lower {
    text-align: right;

    .circle-border-spinner {
      border-left-color: $navy;
      display: none;
      font-size: 3px;
      margin: 0 auto;
    }

    .dataTables_paginate {
      float: none;
      display: inline-block;
      margin-left: 15px;
    }
  }
}

table.datatable-v2 {

  margin-bottom: 0px !important;

  th {
    color: #ffffff;
  }

  th.sorting {
    background: #637586;
  }

  th.sorting_asc, th.sorting_desc {
    background: #45596C;
  }
}

.datatable-filter-toolbar {
  display: block;
  width:100%;
  height: 40px;
  background: #637586;
  position: relative;
  color: #ffffff;
  border: 1px solid #EBEBEB !important;
  padding: 4px;

  .scroll-to-fixed-fixed {
    z-index: 2030 !important;
  }

  select {
    color: #000000;
  }

  .filter-left {
    float: left;
    display: block;
  }

  .filter-right {
    float: right;
    display: block;

    .dataTables_info {
      display: inline;
      padding: 0 10px 0 0;
      margin: 0;
      position: relative;
      top: 5px;
    }

    .dataTables_length {
      display: inline;
      padding: 0;
      margin: 0;
      position: relative;
    }
  }

  .dataTables_paginate {
    width: 250px;
    padding: 0;
    margin: 0;
    text-align: left !important;

    .paginate_button {
      padding: 0 4px;
      cursor: pointer;
    }

    .paginate_button.disabled {
      cursor: auto;
    }
  }

  ul.pagination {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0;
  }
}

td .badge-danger {
  background-color: #FF1010;
}

td .badge-success {
  background-color: #2FA72F;
}

td .badge-warning {
  background-color: #ffca00;
}

.center-content {
  text-align: center;
}
