.devices {
  #carrier-charts {
    .chart-container {
      border: #DDD 1px solid;
      padding: 15px;
      margin: 0 0 25px;
      min-height: 200px;

      .chart {
        height: 200px;
      }
    }
  }

  .intelliflow-chart  {
    border: #DDD 1px solid;
    padding: 15px;
    margin: 15px 0 25px 0;

    height: 400px;
  }

  #device_details{
    .status-tunnel {
      background-color: #EED7FF;
      color: #555;
    }

    .status-inactive {
      color: $status-gray;
    }

    .status-undeployed {
      background-color: #AAA;
      color: #555;
    }
  }

  .tab-pane {
    table.device-table tr:first-of-type td:first-of-type {
      width: 150px;
    }

    #mapDiv {
      position:relative;
      min-height:400px;
      width: 100%;

      .hidden {
        display: block;
        visibility: visible;
      }
    }
  }

  table {
    td.detail-key {
      padding-right: 7px;
      font-weight: bold;
    }
  }

  #location {
    .location-marker-container {
      overflow: hidden;
    }
  }
}

#column-visibility {
  -webkit-column-width: 200px;
  -moz-column-width: 200px;
  column-width: 200px;

  label:hover{
    cursor: pointer;
  }
}

.device-modem-tabs {
  width: 100%;
}

.radio-no-top-margin {
  margin-top: 0px;
  top: -4px;
}
