#map {
  min-height: 600px;
}

#alert-map {
  height: 100%;
}

#overlay {
  position: absolute;
  min-height: 600px;
  background-color: rgba(0,0,0,.5);
  top: 48px;

  #overlay-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

  #loading-message {
    text-align: center;
    color: #ffffff;
    text-shadow: 3px 3px 3px #323232;
  }
}
