a:focus {
  outline: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus,
.btn:active.focus, .btn.active.focus {
  outline: none;
}

.link-unstyled {
  color: inherit;
  text-decoration: inherit;
}

.link-unstyled:link {
  color: inherit;
  text-decoration: inherit;
}

.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.actions BUTTON
{
  margin-left: 4px;
}

.actions .wait-for
{
  position: absolute;
  top: 50%;
  margin-top: -10px;
  color: #5CB85C;
}

.actions .wait-for.right
{
  right: -12px;
}

.actions .wait-for.left
{
  left: 12px;
}

.actions .wait-for .waiting-image
{
  vertical-align: bottom;
}

.errors-container
{
  color: #A94442;
}

.btn-group.switch
{
  .active
  {
    background-color: #1c84c6;
    border-color: #1c84c6;
    color: white;
  }
}

.saved-successful-message
{
  color: #5CB85C;
}

.saved-on-message
{
  margin: 0 12px;
  font-size: 0.8em;
  font-weight: 300;
  font-style: italic;
  color: #5CB85C;
}
