.nav-header {
  #logo img {
    max-height: 50px;
    max-width: 170px;
  }
}

.navbar-static-top {
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-justify-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;

  .navbar-header {
    -ms-flex: 1;
    flex: 1;
    min-width: 150px;
    padding: 0;

    .inner {
      margin-top: 13px;

      .navbar-form-custom {
        height: auto;
        width: calc(100% - 50px);

        .form-group {
          .input-group {
            input {
              background-color: #F3F3F4;
              border: 1px solid $dark-gray;
              border-radius: 3px 0 0 3px;
              height: auto;
            }

            .form-control {
              height: 34px;
            }

            .submit-btn {
              &:hover {
                background-color: $dark-gray;
              }
            }
          }
        }
      }
    }
  }

  .navbar-minimalize {
    margin: 0px 12px 0 0;
    padding: 6px 12px;
  }

  .navbar-top-links {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    text-align: center;

    > li:last-child {
      margin-right: 20px;
    }
  }
}

@media (max-width: 768px) {
  .navbar-static-top {
    .navbar-header {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;

      .navbar-form-custom {
        display: inline-table;
      }
    }

    .navbar-right {
      text-align: center;
      width: 100%;
    }

    .navbar-top-links {
      > li:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 350px) {
  .nav.navbar-top-links li.dropdown {
    display: inline-block;
  }
}
