.notifications-section {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;

  .notifications-section-title {
    border-color: #ddd;
    background-color: #f5f5f5;
    color: #333;
    padding: 10px 15px 10px 15px;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;

    h4 {
      padding: 0;
      margin: 0;
    }
  }

  .buttons {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .notifications-section-content {
    background-color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px 15px 10px 15px;

    .notifications-section-row {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}