.table > tbody > tr > td {
  vertical-align: middle;
}

.table.no-wrap tbody > tr {
  white-space: nowrap;
}

th.th-dark {
  background-color: #637586 !important;
}
.table-action-header
{
  width: 75px;
}
