// Forms for tab panels
.panel-form {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;

  .ibox {
    width: 100%;
    margin-top: 0;
    clear: both;
    display: inline-block;

    .ibox-content {
      border: none;
      padding-bottom: 0;
    }
  }

  .form-buttons {
    display: block;
    margin: 0;
    padding: 0;
  }

  .form-spinner {
    clear: both;
    margin: 5px 0 0 0;
    padding: 0;
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 30px;
  }

  .form-text-line {
    display:block;
    padding: 0px 15px;
  }

  .form-text-value {
    display:block;
    padding: 6px 0px;
  }
}

.tab-pane {
  button.create-record {
    position: absolute;
    right: 15px;
    top: 3px;
  }

  .ibox {
    margin-bottom: 0;
  }
}

.tab-content
{
  &.padded
  {
    padding: 0.5em;
  }
  &.top-padded
  {
    padding-top: 0.5em;
  }
  &.bottom-padded
  {
    padding-bottom: 0.5em;
  }
}
