<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5><%= t(".#{@presenter.title}") %></h5>
      </div>
      <div class="ibox-content">
        <%= render 'shared/configuration_options', locals: { config_options: @presenter.config_options } %>
        <%=
          content_tag(
            :div,
            class: 'table vs-target-wrapper',
            data: { facets: @presenter.facets }
          ) do
        %>
          <%=
            content_tag(
              :table,
              class: 'dataTable display compact tunnel-servers-export table table-striped
                table-bordered table-hover vs-table',
              id: 'tunnel-servers-table'
            ) do
          %>
          <thead>
            <tr>
              <%= render 'shared/table_labels' %>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <%= render 'shared/table_labels' %>
            </tr>
          </tfoot>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
