// Clear existing alerts
$('#create-user').find('.alert').remove();

<% if @user.blank? %>

  <%= render partial: 'blank', locals: { element: '#create-user > .modal-body' } %>

<% elsif @user.errors.any? %>

  <%= render partial: 'errors', locals: { element: '#create-user > .modal-body' } %>

<% else %>

  // Hide the modal
  $('#new-user-modal').modal('hide');

  $('#users-table').DataTable().ajax.reload(function() {

    var alert = "<%= j alert_success message: t('users.created', email: @user.email) %>";
    $('.wrapper-content').prepend(alert);
    setAlertExpiration($('.wrapper-content > .alert'));
    flashElement($('#user_row_<%= @user.id %>'));
  });

<% end %>