<% if @user.blank? %>

  <%= render partial: 'blank', locals: { element: 'div.wrapper-content' } %>

<% elsif @user.errors.any? %>

  <%= render partial: 'errors', locals: { element: 'div.wrapper-content' } %>

<% else %>

  var alert = "<%= j alert_success message: t('users.destroyed', id: @user.email) %>";

  <% if referred_from?(:index) %>

    $('#users-table').DataTable().ajax.reload(function() {
      $('div.wrapper-content').prepend(alert);
      setAlertExpiration($('div.wrapper-content > .alert'));
    });

  <% elsif referred_from?(:show) %>

    $('div.wrapper-content').prepend(alert);
    setAlertExpiration($('div.wrapper-content > .alert'));

    // Redirect back to the user index page
    setTimeout(function(){
      window.location = "<%= users_path %>";
    }, 1000);

  <% end %>

<% end %>