var modal = "<%= j render(partial: 'modals/new') %>";

$('#modals-container').html(modal);
$('#new-user-modal .select2').select2({ theme: 'bootstrap' });
$('#new-user-modal').modal({backdrop: 'static'});