<% if @user.errors.any? %>

  <% @user.errors.full_messages.each do |message| %>

    var message = "<%= j(alert_error message: message) %>"
    $(message).prependTo("#edit_user");

  <% end %>

<% else %>

  var message = "<%= j(alert_success message: t('users.updated')) %>"
  $(message).prependTo("#edit_user");
  setAlertExpiration($('#edit_user > .alert'));

  // Update breadcrumb
  $('ol.breadcrumb > li:last > a').text("<%= @user.name_or_email %>")
  $('.page-menu-title').text("<%= @user.name_or_email %>")

  // Toggle warnings for notifications being disabled
  $('.notifications-disabled-warning').<%= @user.notify_enabled? ? :addClass : :removeClass %>('hide');

<% end %>
