<div class="text-right">
  <%= render partial: 'devices/shared/buttons/reports' %>
  <%= render partial: 'devices/shared/buttons/actions' %>
  <% if @presenter.show_commands? %><%= render partial: 'devices/shared/buttons/commands' %><% end %>
  <% if @presenter.sms? %><%= render partial: 'devices/shared/buttons/sms' %><% end %>
  <%= render partial: 'devices/shared/buttons/pages' %>
</div>
