<% content_for :header_javascript_block  do %>
  <script type="text/javascript">
    $(document).on('tabShown', '#connectivity_tests', function() {
      // Ensure we only load the data table once
      if ( ! $.fn.DataTable.isDataTable('#dial-tests-table') ) {

        $('#dial-tests-table').DataTable( {
          "processing": true,
          "serverSide": true,
          "ajax": $('#dial-tests-table').data('source'),
          "pagingType": "full_numbers",
          "bFilter": false,
          "bSort": false,
          "bPaginate": false,
          "bRetrieve": true,
          "columns": [
            { className: "text-center" },
            { className: "text-center" },
            { className: "text-center" },
            { className: "text-center" },
            { className: "text-center" }
          ]
        });
      }
    });
  </script>
<% end %>

<table id="dial-tests-table"
       class="table table-hover table-responsive"
       data-source="<%= api_v3_device_dial_tests_path(@presenter.device, format: :json) %>">
  <thead>
    <tr>
      <th class="text-center">Result</th>
      <th class="text-center">Reason</th>
      <th class="text-center">Category</th>
      <th class="text-center">Source</th>
      <th class="text-center">Date</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
