<%= alert_error message: 'placeholder', hide: true %>
<%= form_for(:gateway_configuration,
             url: "/services/configurations/device/#{@presenter.device.id}.js",
             method: :patch,
             remote: true,
             class: 'form-horizontal edit_device_configuration',
             id: 'device-configuration-form') do %>

  <div class="device-configuration-v2-cooked accfg-panel"></div>

  <div class="device-configuration-v2-raw" style="display: none;">
    <%= text_area_tag 'configuration[data]',
                      '{}',
                      id: 'configuration_data',
                      disabled: false %>
  </div>

  <div class="hr-line-dashed"></div>

  <div class="form-group">
    <div class="form-buttons">
      <%= submit_tag 'Save', class: 'btn btn-primary', id: 'save-device-configuration', disabled: true %>
      <div class="form-spinner">
        <%= render 'shared/spinners/fading_circle' %>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    var cooked_class  = 'device-configuration-v2-cooked';
    var panelElement  = $('.' + cooked_class);
    var dataElement = $("#configuration-container");
    var accfgSession  = new accfg.Accfg(dataElement, panelElement);

    var parentData = null;

    var configurationLoaded = false;

    // Lazy load rendering the configuration
    $('#configuration').on('tabShown', function() {
      if ( !configurationLoaded ) {
        loadConfiguration();
        configurationLoaded = true;
      }
    });

    $('#save-device-configuration').on('click', function() {
      var outData = accfgSession.getData();
      if (outData.errorCount > 0) {
        alert("Unable to continue. " + outData.errorCount + " errors were found in the form. Please correct any" +
            "Settings errors highlighted in red before continuing.");
        return false;
      } else {
        $('.sk-spinner').show();
        $('#configuration_data').val(JSON.stringify(outData.data, null, "  "));
      }
    });

    function loadConfiguration() {
      startLoadingSpinner();

      $.getJSON('/services/configurations/schemas/gateway/ui', function(schemaData) {
        loadConfigurationData(schemaData);
      }).fail(function() {
        showError("<%= t('services.configurations.unavailable') %>");
      });
    }

    function startLoadingSpinner() {
      $(dataElement).LoadingOverlay("show", {
        image: "<%= image_path('ajax-loader.gif') %>",
        zIndex: 999,
        size: false
      });
    }

    function stopLoadingSpinner() {
      $(dataElement).LoadingOverlay("hide");
    }

    function loadConfigurationData(schemaData) {
      $.getJSON('/services/configurations/device/<%= @presenter.device.id %>', function(configurationData) {
        renderConfiguration(schemaData, configurationData);
        $('#save-device-configuration').attr('disabled', false);
      }).fail(function() {
        showError("<%= t('services.configurations.unavailable') %>");
      });
    }

    function showError(message) {
      $(".alert-inner-text").html(message);
      $(".ibox-content > .alert").removeClass('hide');
    }

    function renderConfiguration(configurationSchema, configurationData) {
      accfgSession.render(configurationSchema, configurationData, {
          dataURL: '',
          advMode: false,
          readOnly: false,
          collapsedCollapsibles: false,
          renderFinished: function (element, details) {
            stopLoadingSpinner();
          },
          parentData: parentData
      });
    }
  });
</script>
