<% content_for :header_javascript_block  do %>
  <%= javascript_include_tag :individual_device_configuration %>

  <script>
    var accConfigForm;

    $(document).on('tabShown', '#configuration', function() {
      $('[rel = popover]').popover({trigger: 'hover'});

      var parentConfiguration = { firmwareVersion: '<%= @presenter.group_configuration.try(:device_firmware).try(:version) %>',
                                  firmwareId: '<%= @presenter.group_configuration.try(:device_firmware).try(:id) %>',
                                  gracePeriodDuration: '<%= @presenter.group_configuration.try(:grace_period_duration) %>',
                                  compiledSettings: <%= @presenter.parent_settings.html_safe %> };
      var individualDeviceConfiguration = new IndividualDeviceConfiguration(
                                                  configurationSelect2Options(),
                                                  "<%= @presenter.device.configuration_id %>",
                                                  parentConfiguration);
      if (accConfigForm == null) {
        accConfigForm = new AccConfigForm($('#device-configuration-form'), $('.device-configuration-cooked'));
      }

      individualDeviceConfiguration.firmwareOverrideOnClick("<%= j alert_warning message: (
        'This will lock the firmware. If the group configuration updates its firmware, this device
         will not get that update.') %>");

      individualDeviceConfiguration.firmwareInheritOnClick("<%= j alert_warning message: (
        'Group configuration is on a lower firmware version. To inherit the firmware, you must
         inherit everything by clicking "Inherit All".') %>");

      individualDeviceConfiguration.gracePeriodDurationOverrideOnClick();

      individualDeviceConfiguration.gracePeriodDurationInheritOnClick();

      function configurationSelect2Options() {
        var select2options = {
          theme: 'bootstrap',
          width: '100%',
          minimumResultsForSearch: -1
        };

        <% if(@presenter.group_configuration_is_not_viewable?) %>
          var placeholderText = "<%= @presenter.group_configuration.name %>";
          $.extend(select2options, { placeholder: placeholderText, allowClear: true });
        <% end %>

        return select2options;
      }

      <% if @presenter.device.configuration.present? %>
        var compatibleNonProductionFirmwares = '<%= @presenter.compatible_configuration_firmwares.map do |f|
                                                      f.id unless f.production?
                                                    end.compact.to_json.html_safe %>';
        new FirmwareSelect(compatibleNonProductionFirmwares);
      <% else %>
        individualDeviceConfiguration.hideConfigurationOptions();
      <% end %>
    });
  </script>
<% end %>

<%= form_tag(save_configuration_device_path(@presenter.device),
             method: :patch,
             remote: true,
             class: 'form-horizontal',
             id: 'device-configuration-form') do %>

  <% if @presenter.device_configuration_parent_disconnected? %>
    <%= alert_warning message: ('This device is not receiving updates made to the group configuration
                                 settings because the firmware is currently behind the group configuration.') %>
    <%= hidden_field_tag(:parent_configuration_description, @presenter.device_configuration_compiled_settings) %>
  <% else %>
    <%= hidden_field_tag(:parent_configuration_description, @presenter.group_configuration.try(:compiled_settings)) %>
  <% end %>

  <div class="form-group">
    <span class="control-label col-lg-3">
      <%= label_tag :device_configuration_group, 'Group Configuration' %>
    </span>
    <div class="col-lg-8">
      <div class="input-group btn-on-right">
        <%= select_tag :device_group_configuration_id,
                       options_for_select(
                           device_configurations(@presenter.device, @presenter.organization),
                           @presenter.group_configuration.try(:id)
                       ),
                       { id: 'device-configuration-selection',
                         include_blank: @presenter.group_configuration_is_not_viewable? } %>
        <span class="input-group-btn">
          <%= link_to '#', class: 'btn btn-primary', id: 'inherit-all-group-configuration' do %>
            <i class="fa fa-level-up"></i> Inherit All
          <% end %>
        </span>
      </div>
      <div id="group-configuration-link-container">
        <% if @presenter.group_configuration.present? %>
          <%= render 'group_configuration_link', group_configuration: @presenter.group_configuration %>
          <div class="form-text-line">
            <%= config_checked_at(@presenter.device) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group" id="firmware-group">
    <span class="control-label col-lg-3" id="firmware-label">
      <%= label_tag :firmware, 'Firmware' %>
      <%= render partial: 'inherit_selection_menu', locals: { setting: 'firmware',
                                                              hide: @presenter.group_configuration.nil?,
                                                              inherited: @presenter.firmware_inherited? } %>
    </span>
    <div class='col-lg-8'>
      <%= select_tag :device_configuration_device_firmware_id,
                     @presenter.firmware_options,
                     { class: 'select2-firmware', disabled: @presenter.firmware_inherited? } %>
      <% if Pundit.policy(current_user, DeviceFirmware).assign_non_production? %>
        <span class="help-block m-b-none m-l">Options highlighted in blue denotes non-production firmware</span>
      <% end %>
    </div>
  </div>

  <div class="form-group" id="grace-period-duration-group">
    <span class="control-label col-lg-3" id="grace-period-duration-label">
      <%= label_tag :grace_period_duration, 'Grace Period Duration' %>
      <%= render partial: 'inherit_selection_menu', locals: { setting: 'grace-period-duration',
                                                              hide: @presenter.group_configuration.nil?,
                                                              inherited: @presenter.grace_period_duration_inherited? } %>
    </span>
    <div class="col-lg-8">
      <div class="input-group">
        <%= text_field_tag :grace_period_duration,
                           @presenter.device_configuration_grace_period_duration,
                           class: 'form-control',
                           id: 'grace-period-duration-text',
                           disabled: @presenter.grace_period_duration_inherited? %>
        <%= render partial: '/legacy_configurations/popover', :locals => { field: popover_data(:grace_period_duration), placement: 'left' } %>
      </div>
    </div>
  </div>

  <div class="form-group" id="settings-warning-group">
    <div class="alert alert-info col-lg-offset-3 col-lg-8">
      The settings depend on the firmware value. Please select the correct firmware BEFORE
      modifying any other settings.  If any errors are found in the configuration, they
      will be highlighted in red below and must be addressed before saving.
    </div>
  </div>

  <div class="form-group" id="settings-group">
    <div class='col-lg-12 controls'>
      <div class="device-configuration-cooked accfg-panel"></div>
      <div class="device-configuration-raw" style="display: none;">
        <%= text_area_tag 'device_configuration[description]',
                          @presenter.device_configuration_settings,
                          id: 'device_configuration_description',
                          disabled: false %>
      </div>
    </div>
  </div>

  <div class="hr-line-dashed"></div>

  <div class="form-actions">
    <%= submit_tag 'Save', class: 'btn btn-primary', id: 'save-device-configuration' %>
  </div>
<% end %>
