<% if can_modify_device_contacts? %>
  <div class="row">
    <div class="col-sm-12">
      <div class="pull-right">
        <%= link_to new_api_v3_device_contact_path(@presenter.device, format: :js),
                    class: 'btn btn-primary create-record single-button-remote',
                    id: 'add-device-contact',
                    style: "#{'display: none' unless @presenter.can_add_contact?}",
                    remote: true do %>
          <i class="fa fa-plus-circle"></i>&nbsp;Add
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'devices/show/contacts_table' %>
