<% if @presenter.configuration? %>
  <div class="hr-line-dashed"></div>
  <div class="form-group">
    <%= label_tag 'device[configuration_id]', 'Configuration', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <div class="m-b">
        <%= select_tag 'device[configuration_id]',
                       options_for_select(
                           device_configurations(@presenter.device, @presenter.organization),
                           @presenter.device.configuration_id
                       ),
                       { class: 'col-sm-10 select2' } %>
      </div>
      <% if @presenter.device.configuration.present? %>
      <div class="m-b">
        <%= link_to( "View configuration: #{@presenter.device.configuration.name}",
                     the_device_configuration_path(@presenter.device.configuration),
                     { class: 'm-l', id: 'device-configuration-link' }) %>
      </div>
      <div class="form-text-line">
        <%= config_checked_at(@presenter.device) %>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
