<div class="row">
  <% if @presenter.show_wan_utilization_chart? %>
    <div class="col-xs-12">
      <%= render partial: 'shared/charts/wan_utilization_charts' %>
    </div>
  <% end %>

  <div class="col-xs-12">
    <table class="device-table table table-bordered table-striped table-hover">
      <%= table_data_row key: 'Organization', value: @presenter.device.organization.name %>
      <%= table_data_row key: 'Site ID', value: @presenter.device.site_name %>
      <% if @presenter.device.respond_to?(:configuration) && @presenter.group_configuration.respond_to?(:name) %>
        <%= table_data_row key: 'Configuration',
                           value: "#{@presenter.group_configuration.name} - #{config_checked_at(@presenter.device)}",
                           value_class: 'device-details configuration'%>
      <% end %>

      <%= table_data_row key: t(:mac_address), value: @presenter.device.mac %>
      <%= table_data_row key: 'Serial Number', value: @presenter.device.serial %>
      <%= table_data_row key: t(:device_status), value: @presenter.device.status_description, value_class: @presenter.device.status_class %>
      <%= table_data_row key: 'Model', value: @presenter.device.series_name %>

      <%= render partial: 'devices/management_ip' %>

      <%= device_show :details, @presenter.device %>

      <%= table_data_row key: 'Activated At', value: timestamp_in_users_timezone(@presenter.device.activated_at) %>
      <%= table_data_row key: 'Last Heartbeat', value: timestamp_in_users_timezone(@presenter.device.last_heartbeat_at) %>
      <%= table_data_row key: 'Last Restart', value: timestamp_in_users_timezone(@presenter.device.last_restarted_at) %>
      <%= table_data_row key: 'Data Plan', value: @presenter.data_plan %>
      <% if @presenter.device.data_plan %>
        <%= table_data_row key: 'Data Plan Individual Limit', value: @presenter.data_plan_individual_limit %>
        <% if @presenter.device.modem %>
          <%= table_data_row key: 'Data Plan Usage', value: @presenter.data_used, value_class: @presenter.data_usage_highlight %>
        <% end %>
      <% end %>
      <% if can_modify_device_comment? %>
        <tr>
          <td class="key">Comment</td>
          <td>
            <span class="inline-editable" data-name="comment" data-pk="device" data-type="text" data-attr-maxlength="255" data-url="<%= api_v3_device_path %>">
              <%= @presenter.device.comment %>
            </span>
          </td>
        </tr>
      <% else %>
         <%= table_data_row key: 'Comment', value: @presenter.device.comment %>
      <% end %>
    </table>
  </div>
</div>
