<pre id="event-box" class="word-wrap" data-event-id="<%= @presenter.most_recent_event_id %>">
  <% if @events.any? %>
    <% @events.each do |event| %>
<%= "#{timestamp_in_users_timezone(event.created_at)} #{event.formatted_raw_data}".lstrip %>
    <% end %>
  <% else %>
    No device events
  <% end %>
</pre>

<%= previous_and_next(@events.size, current_user.device_events_pagination_limit) %>