<% @presenter.device.tunnels.limit(Gateway::TUNNEL_LIMIT).each do |tunnel| %>
  <h5>Tunnel Interface: <%= tunnel.ipsec_iface %></h5>
  <table class="table table-bordered table-striped">
    <%= table_data_row key: 'Name', value: tunnel.name %>
    <%= table_data_row key: 'Connection ID', value: tunnel.connection_id %>
    <%= table_data_row key: 'Connection Type', value: tunnel.connection_type_name %>
    <%= table_data_row key: 'Account', value: tunnel.account %>
    <%= table_data_row key: 'User ID', value: tunnel.user %>
    <%= table_data_row key: 'Duration', value: tunnel.time_connected %>
    <%= table_data_row key: 'Mode', value: tunnel.mode_name %>
    <%= table_data_row key: 'Endpoint Type', value: tunnel.endpoint_name %>
    <%= table_data_row key: 'Endpoint IP', value: tunnel.endpoint_ip_address %>

    <% if tunnel.connected_to_vig? && tunnel.tunnel_server.present? %>
      <%= table_data_row key: 'VIG Name', value: link_to(tunnel.tunnel_server.name, tunnel_server_path(tunnel.tunnel_server)) %>
      <%= table_data_row key: 'VIG Location', value: tunnel.tunnel_server.location %>
    <% end %>

    <%= table_data_row key: 'WAN Connection', value: tunnel.wan_conn_name %>
    <%= table_data_row key: 'AGNS Managed', value: tunnel.managed_by_agns %>
    <%= table_data_row key: 'Auth Server', value: tunnel.auth_type_name %>
    <%= table_data_row key: 'Auth Protocol', value: tunnel.auth_protocol_name %>
    <%= table_data_row key: 'Initiator', value: tunnel.initiator_name %>
    <%= table_data_row key: 'Last Updated', value: timestamp_in_users_timezone(tunnel.updated_at) %>
  </table>
<% end %>
