<% content_for :header_javascript_block  do %>
    <script type="text/javascript">

      $(document).on('tabShown', '#configuration', function() {
        if( $('#network').children().length === 0) {
          ReactDOM.render(
            React.createElement(
              NetworkConfigurationTab,
              {
                fields_enabled: <%= can_modify_device_configuration?(@presenter.device) %>,
                fetch_url: '<%= device_configuration_network_path(@presenter.device, format: :json) %>',
                save_url: '<%= device_configuration_network_path(@presenter.device, format: :json) %>',
                spinner_url: '<%= image_path('basket-spinner.gif') %>'
              },
              null
            ), document.getElementById('network')
          );
        }

        if( $('#internet-routes').children().length === 0) {
          ReactDOM.render(
            React.createElement(
              ConfigurationsInternetRoutesTab,
              {
                fields_enabled: <%= can_modify_device_configuration?(@presenter.device) %>,
                fetch_url: '<%= device_configuration_internet_routes_path(@presenter.device, format: :json) %>',
                save_url: '<%= device_configuration_internet_routes_path(@presenter.device, format: :json) %>',
                spinner_url: '<%= image_path('basket-spinner.gif') %>'
              },
              null
            ), document.getElementById('internet-routes')
          );
        }

        if( $('#cascaded-networks').children().length === 0) {
          ReactDOM.render(
            React.createElement(
              ConfigurationsCascadedNetworksTab,
              {
                fields_enabled: <%= can_modify_device_configuration?(@presenter.device) %>,
                fetch_url: '<%= device_configuration_cascaded_networks_path(@presenter.device, format: :json) %>',
                save_url: '<%= device_configuration_cascaded_networks_path(@presenter.device, format: :json) %>',
                spinner_url: '<%= image_path('basket-spinner.gif') %>'
              },
              null
            ), document.getElementById('cascaded-networks')
          );
        }
      });

    </script>
<% end %>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item active">
    <a class="nav-link" data-toggle="tab" href="#network" role="tab">Network</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#internet-routes" role="tab">Internet Routes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#cascaded-networks" role="tab">Cascaded Networks</a>
  </li>
</ul>

<div class="tab-content top-padded">
  <div class="tab-pane active" id="network" role="tabpanel">
  </div>
  <div class="tab-pane" id="internet-routes" role="tabpanel">
  </div>
  <div class="tab-pane" id="cascaded-networks" role="tabpanel">
  </div>
</div>
