<span class="help-block m-b-none">
  <%= link_to( "Edit group configuration: #{group_configuration.name}",
               edit_group_configuration_path(group_configuration),
               { class: 'm-l', id: 'device-configuration-link' }) %>
</span>