<% content_for :footer_javascript_block do %>
  <script type="text/javascript">
    $('#ids').on('tabShown', function () {
      var histogramInstance = new idsAlertsHistogram({ target: '#ids-alerts-histogram-container' });
      if (histogramInstance.exists()) return;
      loadIDSAlertHistogram();
      loadIDSAlertTable();
    });

    function loadIDSAlertHistogram() {
      var histogramInstance = new idsAlertsHistogram({
        target: '#ids-alerts-histogram-container',
        deviceMAC: "<%= params[:id] %>",
        uri: "<%= ids_alerts_histogram_highcharts_path %>"
      })
      histogramInstance.load();
    };

    function loadIDSAlertTable() {
      var tableInstance = new idsAlertsTable({
        target: '#ids-alerts-table',
        deviceMAC: "<%= params[:id] %>",
        uri: "<%= device_ids_alerts_path(params[:id]) %>"
      })
      tableInstance.load();
    };
  </script>
<% end %>

<div id="ids-alerts-histogram-container" class="col-sm-12" style="height: 200px; padding: 0"></div>

<div class="col-sm-12">
  <h3>Most Prevalent Threats</h3>

  <table id="ids-alerts-table" class="table table-bordered table-striped">
    <thead>
      <td>Message</td>
      <td>Rule Document</td>
      <td>References</td>
      <td>Count</td>
    </thead>
  </table>
</div>
