<%= link_to('#', class: 'link-unstyled inheritance-link', data: { toggle: 'dropdown' }, hidden: hide) do %>
  <span class="caret"></span>
<% end %>
<ul class="dropdown-menu dropdown-menu-right">
  <li>
    <%= link_to('Override', '#', id: "#{setting}-override", hidden: !inherited) %>
  </li>
  <li>
    <%= link_to('Inherit', '#', id: "#{setting}-inherit", hidden: inherited) %>
  </li>
</ul>