<% content_for :header_javascript_block do %>
  <script type="text/javascript">

    var intelliflowRangeSelector = $('#intelliflow-range');

    var clientUsageTable = new clientUsageTable();
    var clientUsageTableOptions = {
      target: '#intelliflow-client-usage-table',
      deviceId: "<%= params[:id] %>",
      range: intelliflowRangeSelector.val(),
      url: "<%= intelliflow_client_usage_data_tables_path %>"
    };

    $('#intelliflow').on('tabShown', function () {
      var intelliflowPieChart = new intelliflowAppPieChart({ target: '#intelliflow-app-usage-pie-container' });
      if (intelliflowPieChart.exists()) return;
      loadCharts();
    });

    intelliflowRangeSelector.change(function () {
      reloadCharts();
    });

    function loadCharts() {
      loadIntelliflowPieChart();
      clientUsageTable.load(clientUsageTableOptions);
    }

    function reloadCharts() {
      loadIntelliflowPieChart();
      clientUsageTableOptions['range'] = intelliflowRangeSelector.val();
      setTableApplication();
    }

    var drawIntelliflowHistogram = function (topApplications) {
      if (topApplications.length === 0) {
        var intelliflowHistogram = new intelliflowAppHistogram({target: '#intelliflow-app-usage-histogram-container'});
        intelliflowHistogram.loadEmptyChart();
      } else {
        loadIntelliflowHistogram(topApplications);
      }
    };

    function loadIntelliflowPieChart() {
      var intelliflowPieChart = new intelliflowAppPieChart({
        target: '#intelliflow-app-usage-pie-container',
        deviceId: "<%= params[:id] %>",
        range: intelliflowRangeSelector.val(),
        uri: "<%= intelliflow_app_usage_highcharts_path %>"
      });
      intelliflowPieChart.load(drawIntelliflowHistogram, setTableApplication);
    }

    function loadIntelliflowHistogram(topApplications) {
      var intelliflowHistogram = new intelliflowAppHistogram({
        target: '#intelliflow-app-usage-histogram-container',
        deviceId: "<%= params[:id] %>",
        range: intelliflowRangeSelector.val(),
        uri: "<%= intelliflow_app_usage_over_time_highcharts_path %>",
        topApplications: topApplications
      });
      intelliflowHistogram.load();
    }

    var setTableApplication = function (appClicked) {
      clientUsageTableOptions['app'] = appClicked;
      clientUsageTable.reload(clientUsageTableOptions);
      setTableHeaderText(appClicked);
    };

    function setTableHeaderText(appClicked) {
      var tableHeaderText = 'Top 10 Clients By Usage';
      if(appClicked != undefined) {
        tableHeaderText = tableHeaderText + ' For ' + appClicked;
      }
      $('#intelliflow-client-usage-title').text(tableHeaderText);
    }
  </script>
<% end %>

<div id="intelliflow-app-usage">
  <div class="form form-inline">
    <div class="chart-header col-sm-6">
      <h4>Top 10 Sites By Usage</h4>
    </div>
    <div class="form-group col-sm-6 text-right">
      <label for="intelliflow-range">Range</label>
      <select class="form-control" id="intelliflow-range">
        <%= options_for_select(
                Intelliflow::ALLOWED_RANGES.map { |range| [range[:description], range[:value]] },
                Intelliflow::DEFAULT_RANGE) %>
      </select>
    </div>
  </div>
  <div id="intelliflow-app-usage-pie-container" class="intelliflow-chart col-sm-4"></div>
  <div id="intelliflow-app-usage-histogram-container" class="intelliflow-chart col-sm-8"></div>
</div>

<div id="intelliflow-client-usage">
  <div class="chart-header m-l">
    <h4 id="intelliflow-client-usage-title">Top 10 Clients By Usage</h4>
  </div>
  <table id="intelliflow-client-usage-table" class="table table-hover table-responsive">
    <thead>
    <tr>
      <th>Rank</th>
      <th>Description</th>
      <th>Usage</th>
      <th>% Of Total Usage</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
