<%= form_for :location,
             as: :location,
             authenticity_token: true,
             html: { class: 'form-horizontal', id: 'update-device-location' },
             method: :patch,
             remote: true,
             url: update_location_api_v3_device_path(@presenter.device, format: :js) do |f| %>

  <div class="form-group">
    <%= f.label :address_1, 'Address 1', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :address_1, class: 'form-control', value: @presenter.location.try(:address_1).try(:html_safe) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :address_2, 'Address 2', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :address_2, class: 'form-control', value: @presenter.location.try(:address_2).try(:html_safe) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :city, 'City', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :city, class: 'form-control', value: @presenter.location.try(:city).try(:html_safe) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :region, 'State/Province', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :region, id: @presenter.location_region_text_id,
                        class: 'form-control', value: @presenter.location.try(:region) %>
      <%= f.select :region,
                   options_for_select(@presenter.regions, @presenter.location.try(:region)),
                   {},
                   class: 'select2',
                   value: @presenter.location.try(:region),
                   id: @presenter.location_region_select_id %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :postal_code, 'Postal Code', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :postal_code, class: 'form-control', value: @presenter.location.try(:postal_code), maxlength: 20 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :country_id, 'Country', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.select :country_id,
                   options_for_select(@presenter.countries, @presenter.location.try(:country_id)),
                   {},
                   class: 'select2',
                   value: @presenter.location.try(:country_id) %>
    </div>
  </div>

  <%= f.hidden_field :country_need_select, value: @presenter.us_country_id %>
  <%= f.hidden_field :latitude, value: @presenter.location.try(:latitude) %>
  <%= f.hidden_field :longitude, value: @presenter.location.try(:longitude) %>

  <% if @presenter.can_change_location? %>
    <div class="hr-line-dashed"></div>
    <div class="form-actions">
      <% if @presenter.location.try(:new_record?) %>
        <%= f.submit 'Create', class: 'btn btn-primary', id: 'location_submit_button' %>
      <% else %>
        <%= f.submit 'Update', class: 'btn btn-primary', id: 'location_submit_button' %>
        <%= link_to 'Clear',
                    clear_location_api_v3_device_path(@presenter.device, format: :js),
                    class: 'btn btn-white',
                    id: 'location-clear-button',
                    method: :patch,
                    remote: true,
                    data: { confirm: 'Are you sure you want to clear this location?' } %>
      <% end %>
      <div class="form-spinner">
        <%= render 'shared/spinners/fading_circle' %>
      </div>
    </div>
  <% end %>
<% end %>
