<% content_for :header_javascript_block do %>
  <script type="text/javascript">
    $(document).on('tabShown', '#location', function() {
      if (typeof google === 'undefined') {
        $.getScript( "https://maps.googleapis.com/maps/api/js?key=<%= Settings.api_keys.google %>&libraries=geometry&callback=drawMap" );
      }
      <% unless params[:contact].nil? %>
        showAddContactArea();
        showMainForm();
        $("input#contact_name").focus();
      <% end %>
    });

    function drawMap() {
      var mapOptions = {
        apiKey: "<%= Settings.api_keys.google %>",
        mapId: 'mapDiv',
        showCellPins: <%= current_user.cellular_pins_on_map? %>
      }
      var map = new SingleDeviceMap(mapOptions);
      var mapContainer = $('#device-map-container');
      if(map.showUserLocation() || map.showCellLocation()) {
        mapContainer.show();
        map.draw();
      } else {
        mapContainer.hide();
      }
    }
  </script>
<% end %>

<%= render partial: 'shared/sub_alert', locals: { obj: @presenter.location } %>

<div id="device-map-container">
  <div>
    <%= content_tag :div,
                    '',
                    data: {
                      user_latitude: @presenter.device_location_latitude,
                      user_longitude: @presenter.device_location_longitude,
                      cell_latitude: @presenter.cellular_latitude,
                      cell_longitude: @presenter.cellular_longitude,
                      user_pin: @presenter.device.status_pin,
                      cell_pin: asset_path("markers/orange_marker.png")
                    },
                    id: 'mapDiv' %>
    <div class="m-t location-marker-container">
      <% if current_user.cellular_pins_on_map? && @presenter.device_has_valid_cellular_location? %>
        <span class="m-l"><img src="<%= asset_path("markers/orange_marker.png") %>" class="m-r"><strong>Cellular location reported by device modem</strong></span>
      <% end %>
      <span class="m-r pull-right"><img src="<%= @presenter.device.status_pin %>" class="m-r"><strong>Location entered in form below</strong></span>
    </div>
  </div>

  <div class="hr-line-dashed"></div>
</div>

<% if @presenter.can_change_location? %>
  <%= render partial: 'location_form' %>
<% else %>
  <% if @presenter.location_has_data? %>
    <%= render partial: 'locations/formatted_address', locals: { location: @presenter.location } %>
  <% else %>
    <center>
      <strong>No location set for device</strong>
    </center>
  <% end %>
<% end %>
