<% if can_modify_device_hosts? %>
  <tr>
    <td class="key">Management IP:</td>
    <td>
      <span class="inline-editable" data-name="mgmt_host" data-pk="device" data-type="text" data-url="<%= api_v3_device_path %>">
        <%= @presenter.device.mgmt_host %>
      </span>
    </td>
  </tr>
<% else %>
  <%= table_data_row key: 'Management IP:', value: @presenter.device.mgmt_host %>
<% end %>
