<div class="col-xs-12">
  <%= render partial: 'shared/charts/cellular_utilization_chart' %>
</div>

<div class="col-xs-12">
  <div class="device-modem-tabs pull-left">
    <div class="tabs-container">
      <ul class="nav nav-tabs" id="modem-tabs-container">
        <%= render partial: 'devices/modem/tabs', locals: { device: @presenter.device } %>
      </ul>
    </div>
  </div>
</div>

<div class="tab-content" id="modem-tables-container">
  <%= render partial: 'devices/modem/tables', locals: { device: @presenter.device } %>
</div>
