<% @presenter.device.networks.each do |network| %>
  <% next if network_tunnels(@presenter.device).include? network %>
  <h5>Network Interface: <%= network.network_iface %></h5>
  <table class="table table-bordered table-striped">
    <%= table_data_row key: 'Connection Type', value: network.net_type %>
    <%= table_data_row key: 'Priority', value: network.priority %>

    <% if network.ip_addresses.present? %>
      <% network.ip_addresses.each do |key, addr| %>
        <%= table_data_row key: "IP ##{key}", value: addr %>
      <% end %>
    <% end %>

    <%= table_data_row key: 'Metric', value: network.metric0 %>
    <%= table_data_row key: 'MTU', value: network.mtu %>
    <%= table_data_row key: 'MTU IPv6', value: network.mtu_ipv6 %>
    <%= table_data_row key: 'Gateway IP', value: network.gw0 %>
    <%= table_data_row key: 'Gateway IPv6', value: network.gw1 %>
    <%= table_data_row key: 'Bytes Received', value: network.rx %>
    <%= table_data_row key: 'Bytes Transmitted', value: network.tx %>
    <%= table_data_row key: 'Ethernet Speed', value: network.speed %>
    <%= table_data_row key: 'Ethernet Status', value: network.status %>
    <%= table_data_row key: 'Last Updated', value: timestamp_in_users_timezone(network.updated_at) %>
  </table>
<% end %>
