<table class="table table-bordered table-striped">
  <thead>
    <th>SSID</th>
    <th><%= t(:mac) %></th>
    <th>IP</th>
  </thead>
  <tbody>
    <% @presenter.device.rogue_access_points.each do |access_point| %>
      <tr>
        <td><%= access_point.ssid %></td>
        <td><%= access_point.formatted_mac %></td>
        <td><%= access_point.ip %></td>
      </tr>
    <% end %>
  </tbody>
</table>
