<% content_for :header_javascript_block  do %>
  <script>
    function refreshDataPlans(alert) {
      var form = $(this).parents('form');
      $('#settings > .panel-body').prepend(alert);
      setAlertExpiration($('#settings > .panel-body > .alert'));

      $.ajax({
        url: '/organizations/' + <%= @presenter.organization.id %> +'/data_plans',
        beforeSend: function (xhr) {
          form.find('.sk-spinner').show();
        },
        complete: function (xhr, status) {
          form.find('.sk-spinner').hide();
        }
      });
    }

    function updateSiteLink(text, url) {
      var siteLink = $('#device-site-link');
      var titleLink = $('#device-site-title-link');
      siteLink.text('View devices at site: ' + text);
      siteLink.attr('href', url);
      titleLink.text(text);
      titleLink.attr('href', url);
    }

    function updateConfigurationLink(text, url) {
      var configurationLink = $('#device-configuration-link');
      configurationLink.text('View configuration: ' + text);
      configurationLink.attr('href', url);
    }

    function removeConfigurationLink() {
      $('#device-configuration-link').remove();
    }
    $(document).ready(function() {
      var searchPath = "<%= search_sites_path(format: :json) %>";
      var searchSelect = new SearchSelect(
        "#device_site_name", 
        searchPath, 
        {
          enableCreateNew: true,
          tagMaxLength: <%= device_input_maxlength(@presenter.device, default: 80, smx: 40) %>,
          queryParams:{
            device_id: "<%= @presenter.device.mac %>"
          }
        }
      );
      searchSelect.draw();
      $("#device_site_name").on("select2:select", function(e){
        $("#device_site_name_hidden").val(e.params.data["name"]);
      });
    });
  </script>
<% end %>

<%= form_for @presenter.device,
             as: :device,
             authenticity_token: true,
             html: { class: 'form-horizontal ajax-form', id: 'device-settings-form' },
             method: :patch,
             remote: true,
             url: api_v3_device_path(@presenter.device, format: :js) do |f| %>


  <% if @presenter.show_organization_setting? %>
    <div class="form-group">
      <%= f.label :organization_id, 'Organization', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <div class="input-group">
          <span class="form-text-value" id="device-organization-name"><%= @presenter.device.organization.name %></span>
          <span class="input-group-btn">
            <% if @presenter.policy.change_organization? %>
              <%= link_to move_to_organization_device_path(@presenter.device, format: :js),
                          class: 'btn btn-primary single-button-remote',
                          title: 'Change Organization',
                          remote: true do %>
                <i class="fa fa-pencil"></i> Change
              <% end %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  <% end %>

  <% if @presenter.show_site_setting? %>
    <div class="hr-line-dashed"></div>
    <div class="form-group">
      <%= f.label :site_name, 'Site ID', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.hidden_field :site_name, id: 'device_site_name_hidden'%>
        <select id='device_site_name' class='form-control m-b'>
          <%if @presenter.device.site_name.blank?%>
            <option><%= t('Enter a new site id or search...') %></option>
          <% else %>
            <option value="<%=@presenter.device.site_name%>"><%= @presenter.device.site_name %></option>
          <% end %>
        </select>
        <span>
          <%= link_to_object_show("View devices at site: #{@presenter.device.site_name}",
                                  :site_path, @presenter.device.site, class: 'm-l', id: 'device-site-link') %>
        </span>
      </div>
    </div>
  <% end %>

  <% if @presenter.show_hostname_setting? %>
    <div class="hr-line-dashed"></div>
    <div class="form-group">
      <%= f.label :hostname, 'Hostname', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :hostname, value: @presenter.device.hostname, class: 'form-control m-b' %>
      </div>
    </div>
  <% end %>

  <% if @presenter.show_service_name_setting? %>
    <div class="hr-line-dashed"></div>
    <div class="form-group">
      <%= f.label :service_name, 'Service Name', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <span class="form-text-value"><%= @presenter.service_name %></span>
      </div>
    </div>
  <% end %>

  <%= device_show(:configuration, @presenter.device) unless @presenter.show_configuration_tab? %>

  <% if @presenter.data_plan? %>
    <div class="hr-line-dashed"></div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Data Plan:</label>
      <div class="col-sm-10">
        <div class="input-group">
          <%= f.select :data_plan_id,
                       options_for_select(@presenter.data_plans_for_select, @presenter.device.data_plan_id),
                       { include_blank: t('data_plans.no_data_plan_option') },
                       { class: 'select2-without-search form-control group-left-side', id: 'data-plans-drop' } %>
          <% if @presenter.create_data_plan? %>
          <span class="input-group-btn">
            <%= link_to new_organization_data_plan_path(@presenter.organization, format: :js),
                        class: 'btn btn-primary single-button-remote',
                        title: 'Add Data Plan',
                        remote: true do %>
              <i class="fa fa-plus-circle"></i> Create
            <% end %>
          </span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="hr-line-dashed"></div>

  <div class="form-group">
    <div class="col-xs-12">
      <div class="form-buttons">
        <button class="btn btn-primary" type="submit">Update Settings</button>
        <div class="form-spinner">
          <%= render 'shared/spinners/fading_circle' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
