<div class="row">
  <% if @organization %>
    <%= hidden_field_tag(:can_modify_organization, can_modify_organization?(@organization)) %>
  <% else %>
    <%= hidden_field_tag(:can_modify_organization, can_modify_organization?(current_user.organization)) %>
  <% end %>
  <div class="col-lg-12">
    <div class="ibox" id="table-container">
      <div class="ibox-title">
        <% if @presenter.skip_translate? %>
          <h5><%= @presenter.title %></h5>
        <% else %>
          <h5><%= t(".#{@presenter.title}") %></h5>
        <% end %>
        <div class="ibox-tools">
          <% if @presenter.show_move_to_data_plan_action? %>
            <button data-toggle="dropdown" class="btn-link dropdown-toggle" aria-expanded="false"
                    id="selected-devices-dropdown" disabled="true">Selected Devices <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li>
                <%= link_to 'Move To Data Plan', '#', id: 'move-to-data-plan-action' %>
              </li>
            </ul>
          <% end %>
          <a class="config-link" data-toggle="collapse" href=".config-panels"><i class="fa fa-wrench"></i></a>
          <a data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#devices-table-helper">
            <i class="fa fa-question-circle"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <%= render 'shared/configuration_options' %>
        <%=
          content_tag(
            :div,
            class: 'table vs-target-wrapper',
            data: { facets: @presenter.facets }
          ) do
        %>
          <%=
            content_tag(
              :table,
              class: 'dataTable display compact table table-striped
                table-bordered table-hover vs-table no-wrap devices-export',
              id: 'device-table'
            ) do
          %>
            <thead>
              <tr>
                <th id="select-all-column"><input type="checkbox" name="select_all" value="1" id="data-table-select-all"></th>
                <%= render 'shared/table_labels' %>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th></th>
                <%= render 'shared/table_labels' %>
              </tr>
            </tfoot>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render layout: 'layouts/helper_modal', locals: { modal_id: 'devices-table-helper', modal_title: 'Devices Table Help' } do %>
  <div class="modal-body">
    <p>The <strong>Devices Table</strong> shows a filtered subset of devices where each row relates to a device.</p>
    <dl>
      <dt>Status</dt>
      <dd>
        <dl>
          <dt><i class="fa fa-circle status-up"></i> Green</dt>
          <dd>The device is online and is reachable through the application.</dd>

          <dt><i class="fa fa-circle status-down"></i> Red</dt>
          <dd>
            The device is down. This status is also referred to as the <em>Alert</em> status.
          </dd>

          <dt><i class="fa fa-pause status-undeployed"></i> Pause Icon</dt>
          <dd>The device is undeployed</dd>

          <dt><i class="fa fa-circle status-backup"></i> Blue</dt>
          <dd>
            The device is running on a backup WAN connection. This indicates that the device's current WAN connection
            is one of its backup connections (i.e. not WAN1).
          </dd>

          <dt><i class="fa fa-circle fa-circle-orange"></i> Orange</dt>
          <dd>
            The device is in dual-WAN mode, but only its WAN1 interface is online. The secondary WAN interface is down.
          </dd>

          <dt><i class="fa fa-circle status-inactive"></i> Gray</dt>
          <dd>
            The device is inactive, meaning that it has never checked in to the application. This is the state of the
            device if it is deployed, but no event has ever been received by the application. The `Last Heartbeat`
            timestamp for the device will be listed as blank.
          </dd>
        </dl>
      </dd>
    </dl>
  </div>
<% end %>
