<% network_tunnels(@presenter.device).each do |tunnel| %>
  <h5>Tunnel Name: <%= tunnel.network_iface.try(:camelize) %></h5>
  <table class="table table-bordered table-striped">
    <%= table_data_row key: 'Status', value: tunnel.status %>
    <%= table_data_row key: 'Last Updated', value: timestamp_in_users_timezone(tunnel.updated_at) %>
    <% if tunnel.ip_addrs.present? %>
      <% tunnel.ip_addrs.each do |key, addr| %>
        <%= table_data_row key: key.to_s.camelize, value: addr %>
      <% end %>
    <% end %>
  </table>
<% end %>
