<% if can_modify_devices? %>
  <%= content_tag :div,
                  :class => "btn-group with-selected",
                  :id => "with_selected_section" do %>
    <%= content_tag :button,
                     "With selected ...#{content_tag(:span, "", :class => "caret")}".html_safe,
                    :class => "btn btn-primary dropdown-toggle btn-small",
                    "data-toggle" => "dropdown",
                    :disabled => @devices.count.zero? %>
    <%= content_tag :ul,
                    :class => "dropdown-menu" do %>
      <%= content_tag :li, link_to("Deploy", "#myModal_deploy", "data-toggle" => "modal") %>
      <%= content_tag :li, link_to("Undeploy", "#myModal_undeploy", "data-toggle" => "modal") %>
      <% if policy(Device).change_organization? %>
        <%= content_tag :li, "", :class => "divider" %>
        <%= content_tag :li, :id => "move_to_organization_option" do %>
          <%= link_to "Move to organization", "#myModal_organization_assignment", "data-toggle" => "modal" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
