<% content_for :header_javascript_block  do %>
  <script type="text/javascript">
    var dataTableReloader = new DataTableReloader($('#device-events-table'));
    //TODO: Make it so that by adding this class, the export modal is included (without including the partial).
    var dataTableExportModal = new DataTableExportModal(
        {
          afterExportActionClicked: function() { dataTableReloader.start(); },
          afterModalOpen: function() { dataTableReloader.stop(); },
          exportClass: $('.events-export'),
          exportFormat: '.csv',
          exportPath: '<%= events_data_tables_path(params[:id]) %>'
        }
    );

    $(document).ready(function(){
      $('#device-events-table').on( 'draw.dt', function (){
        $('a.information').on('click', function(event){ informationClicked(event) });
        dataTableReloader.start();
      });
      $('#event-information-modal').on('hidden.bs.modal', function(){ dataTableReloader.start(); })
    });

    function informationClicked(event) {
      setShowLinkUrl(event);
      setModalContent(event);
      dataTableReloader.stop();
      return true;
    }

    function setShowLinkUrl(event) {
      $('#event-information-modal .modal-footer > a').attr('href', '/events/' + event.target.id);
    }

    function setModalContent(event) {
      $('#event-information-modal .modal-body').html( $(event.target).attr('data-content') );
    }

    function initDataTable(columns, table) {
      table.DataTable({
        ajax: {
          data: function ( data ) { formatData(columns, data, table); },
          type: 'POST',
          url: '<%= events_data_tables_path(params[:id], :json) %>'
        },
        buttons: ['csv'],
        colReorder: true,
        columns: getColumnSettings(columns),
        dom: "<'row'<'col-sm-12'l>>" +
        "<'row'<'col-sm-6'B><'col-sm-6'p>>" +
        "<'row'<'col-sm-12'tr>>" +
        "<'row'<'col-sm-12 lower'<'circle-border-spinner'>p>>",
        lengthMenu: [[ 25, 50, 100, 500 ], [ 25, 50, 100, 500 ]],
        pageLength: 100,
        pagingType: 'simple',
        scrollX: true,
        scrollY: false,
        order: getSorting(columns, table),
        serverSide: true,
        autoWidth: false
      });
    }
  </script>
<% end %>
<%= render 'shared/page_header_vs', locals: { title: @presenter.header_title, filter_title: @presenter.title, skip_translate: true} %>

<%= render partial: 'events/information_modal' %>
<div class="wrapper wrapper-content animated fadeInRight">
  <%= render partial: 'page_menu' %>
  <%= render partial: 'devices/events/events_table' %>
</div>

<%= render partial: 'shared/export_modal' %>
<%= render partial: 'modals/device_subscription' %>
