<%= javascript_pack_tag 'device-comment-modal' %>
<% content_for :header_javascript_block  do %>
  <script type="text/javascript">
    //TODO: Make it so that by adding this class, the export modal is included (without including the partial).
    var dataTableExportModal = new DataTableExportModal(
        {
          afterExportActionClicked: function() {},
          afterModalOpen: function() {},
          exportClass: $('.devices-export'),
          exportFormat: '.csv',
          exportPath: dataTableURI()
        }
    );

    function initDataTable(columns, tableElement) {
      var dataTable = tableElement.DataTable({
        ajax: {
          data: function ( data ) { formatData(columns, data, tableElement); },
          type: 'POST',
          url: dataTableURI('.json')
        },
        buttons: ['csv'],
        colReorder: true,
        columns: getColumnSettings(columns),
        dom: "<'row'<'col-sm-6'B><'col-sm-6'l>>" +
             "<'row'<'col-sm-4'i><'col-sm-8'p>>" +
             "<'row'<'col-sm-12'tr>>" +
             "<'row'<'col-sm-4'i><'col-sm-8 lower'<'circle-border-spinner'>p>>",
        lengthMenu: [[ 25, 50, 100, 500 ], [ 25, 50, 100, 500 ]],
        order: getSorting(columns, tableElement),
        pageLength: 100,
        scrollX: true,
        scrollY: false,
        serverSide: true,
        columnDefs: [{
          targets: 0,
          searchable: false,
          orderable: false,
          className: 'dt-body-center',
          render: function (data, type, full, meta){
            return '<input type="checkbox" value="' + $('<div/>').text(data).html() + '">';
          }
        },{
          targets: 'center-children',
          className: 'center-content'
        }]
        });
        tableElement.find("tbody").on("click", function(e){
          var target = $(e.target);
          if(target.hasClass("edit-comment")){
            e.stopPropagation();
            e.stopImmediatePropagation();
            e.preventDefault();
            var title = target.data("original-title"),
                mac = target.data("id");
            $("<span id='edit-comment-" + mac + "'></span>").appendTo("body");
            mountCommentModal(mac, title, "#edit-comment-" + mac);
            return false;
          }
      });
      document.addEventListener("reload-dataset", function(e){
        dataTable.ajax.reload(null, false);
      });
      var deviceActions = new selectedDeviceActions(dataTable);
      deviceActions.setupMoveToDataPlan("<%= j render(partial: 'shared/modals/move_to_data_plan') %>");
    }

    function dataTableURI(format) {
      if ( !format ) { format = ''; }
      return '<%= devices_data_tables_path(@presenter.data_table_class, @presenter.reference_id) %>' +
          format + currentQueryString();
    }
  </script>
<% end %>

<%= render 'shared/page_header_vs', locals: { title: @presenter.title, skip_translate: @presenter.skip_translate? } %>
<div class="wrapper wrapper-content animated fadeInRight">
  <%= render 'devices/table' %>
</div>

<%= render partial: 'shared/export_modal' %>
