function moveToOrganizationModal() {
  var modal = "<%= j render(partial: 'shared/modals/change_organization') %>";

  $('#modals-container').html(modal);
  var organizationSelection = $('#device_organization_selection').select2({
    theme: 'bootstrap',
    width: '100%'
  });
  var copyDataPlanCheckbox = $('#copy_data_plan_to_organization');
  var copyDataPlanAlert = $('#data-plan-check-alert');

  this.show = function() {
    copyDataPlanAlert.hide();
    $('#change-devices-organization-modal').modal({backdrop: 'static'});
  };

  organizationSelection.on('change', function () {
    copyDataPlanCheckbox.iCheck('uncheck');
  });

  copyDataPlanCheckbox.on('ifChecked', function() {
    <% if @device.data_plan.present? %>
      var selectedOrgId = organizationSelection.val();
      checkExists('/organizations/' + selectedOrgId + '/data_plans/exists_for_organization?' +
          'data_plan_name=' + "<%= @device.data_plan.name %>");
    <% end %>
  });

  copyDataPlanCheckbox.on('ifUnchecked', function() {
    copyDataPlanAlert.hide();
  });

  function checkExists(url) {
    var form = $('#change-organization-form');
    $.ajax({
      url: url,
      beforeSend: function () {
        form.find('.sk-spinner').show();
      },
      complete: function () {
        form.find('.sk-spinner').hide();
      }
    });
  }
};

var moveToOrganizationModal = new moveToOrganizationModal();
moveToOrganizationModal.show();