<% if first_page? %>
  $('#event-box').update_raw_events({run: true});
<% else %>
  $.update_raw_events.options.run = false;
<% end %>
var new_box = "<%= j render partial: 'event_box' %>";
$('#event-box-container').html(new_box);