<% content_for :header_javascript_block  do %>
  <% javascript_include_tag 'update_raw_events' %>

  <script type="text/javascript">
    $(document).ready(function(){
      <% if first_page? %>
        $('#event-box').update_raw_events({ pollInterval: 4, endpoint: 'events/since',
          limit: <%= @presenter.current_pagination_limit %>});
      <% end %>

      $('#toggle_wordwrap').on('ifToggled', function() {
        $('#event-box').livequery(function () {
          //Firefox needs word wrap turned on explicitly
          //Chrome needs word wrap turned off explicitly
          $(this).toggleClass('word-wrap');
          $(this).toggleClass('no-word-wrap');
        });
      });

      $("#pagination-limit").on('change', function () {
        $.update_raw_events.options.run = false;
        $.ajax({
          type: 'GET',
          data: { pagination_limit: $(this).val() },
          dataType: 'script',
          url: "<%= events_device_path(@current_device) %>"
        });
      });
    });
  </script>
<% end %>

<%= render 'shared/page_header', locals: { title: @presenter.title, skip_translate: true } %>

<div class="wrapper wrapper-content animated fadeInRight">
  <%= render partial: 'page_menu' %>
  <div class="row m-t-md">
    <div class="col-xs-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="m-t-md clearfix m-b-md">
            <span>
              Show
              <%= select_tag('pagination_limit', options_for_select([10, 25, 50, 100, 250, 500, 1000], @presenter.current_pagination_limit), class: 'select2-without-search', id: 'pagination-limit') %>
            </span>
            <div class="i-checks m-t-md">
              <label>
                <div class="icheckbox_square-green">
                  <%= check_box_tag :toggle_wordwrap, '1', true, autocomplete: 'off' %>
                </div>
                <i></i> Word Wrap
              </label>
            </div>
          </div>

          <div>
            <div id="event-box-container">
              <%= render partial: 'event_box' %>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
