<% content_for :content_header_and_nav_block  do %>
  <div id="content-header">
    <h1><%= @device.category_name %> <%= @device.series_name %></h1>
    <!-- Show Header -->
    <% if content_for?(:show_header) %>
      <%= yield(:show_header) %>
    <% else %>
    <% end %>
  </div>
<% end %>

<!-- Show Sub Header -->
<% if content_for?(:show_sub_header) %>
  <%= yield(:show_sub_header) %>
<% else %>
<% end %>

<% content_for :header_javascript_block  do %>
  <%# javascript_include_tag "mac_address_filter" %>
<% end %>


<% unless @new_device.nil? %>
  <%= render :partial => "/shared/sub_alert", :locals => { :obj => @new_device } %>
<% end %>

<div class="row-fluid" id="device-replacement">
  <div class="span6">
    <h3>
      Replace <%= @device.category_name %> <%= @device.series_name %> Device <%= @device.mac %>
    </h3>
    <p>
    All settings will be copied over to the new device.
      <br />
    The old device will be placed in the undeployed section of your <%= @device.category_name %> <%= @device.series_name %> Devices.
    </p>
    <%= form_for :replacement_device, :url => replace_with_device_path(@device) do |f| %>
      <div class="control-group">
        <%= f.label :mac, "Replacement #{t(:mac_address)}", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :mac %>
        </div>
      </div>

      <%= submit_tag "Replace", :class=> "btn btn-primary", :id => "form-submit", :data => { :confirm => "Are you sure you want to replace the Device #{@device.mac}? This action can not be undone." } %>
      <%= link_to "Cancel", device_path(@device), :class=> "btn" %>
    <% end %>
  </div>
</div>
