<% if @result.success? %>
  var alert = "<%= j alert_success message: (@result.message) %>";
<% else %>
  var alert = "<%= j alert_error message: (@result.message) %>";
<% end %>

var form = $('#device-configuration-form');
form.find('.alert').remove();
form.prepend(alert);
setAlertExpiration($('#device-configuration-form > .alert'));
reloadNewSettings();
updateDeviceDetails();

function reloadNewSettings() {
  $('#device_configuration_device_firmware_id').trigger('change');
}

function updateDeviceDetails() {
  var groupConfigurationName = $('#select2-device-configuration-selection-container').text();
  var lastChecked = "<%= config_checked_at(@result.device) %>";
  $('.device-details.configuration').html(groupConfigurationName + " - " + lastChecked);
}