<% content_for :header_javascript_block  do %>
  <script>
    // Call a custom event on tab panes that are shown. This is useful for
    // showing datatables when a specific pane is selected.
    $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function(e) {
      var id = $(e.target).attr("href").substr(1);
      $('#' + id).trigger("tabShown");
    });

    $(document).ready(function(){
      $("form.ajax-form").validate();

      // Store the currently selected tab in the hash value
      $("ul.nav-tabs#device-tabs > li > a").on("shown.bs.tab", function (e) {
        var id = $(e.target).attr("href").substr(1);
        window.location.hash = id + '_tab';
      });

      // On load of the page: switch to the currently selected tab
      var hash = window.location.hash;
      if(!hash) {
        hash = "#device_details_tab";
        window.location.hash = hash;
      }
      $('#device-tabs a[href="' + hash.replace('_tab', '') + '"]').tab('show');
    });
  </script>
<% end %>

<%= render 'shared/page_header', locals: { title: @presenter.header_title, skip_translate: true } %>

<div class="wrapper wrapper-content">
  <%= render partial: 'page_menu' %>
  <div class="row m-t-md">
    <div class="col-lg-12">
      <div class="tabs-container">
        <div class="tabs-left">
          <ul class="nav nav-tabs" id="device-tabs">
            <%= render partial: 'modules/tab_content/tab_li', collection: @presenter.tabs %>
            <% if @presenter.ids? %>
              <li>
                <%= link_to 'IDS', '#ids', data: {toggle: 'tab'}, 'aria-expanded' => false %>
              </li>
            <% end %>
          </ul>

          <div class="tab-content">
            <%= render partial: 'details', layout: 'modules/tab_content/tab_pane', locals: { tab_name: 'device_details' } %>
            <%= render partial: 'configuration_edit', layout: 'modules/tab_content/tab_pane', locals: { tab_name: 'configuration' } if @presenter.show_configuration_tab? %>
            <%= render partial: 'gateway_configuration', layout: 'modules/tab_content/tab_pane', locals: { tab_name: 'configuration' } if @presenter.show_gateway_configuration_tab? %>
            <%= render partial: 'rogue_access_points', layout: 'modules/tab_content/tab_pane' if @presenter.rogue_access_points? %>
            <%= render partial: 'settings', layout: 'modules/tab_content/tab_pane' if @presenter.settings? %>
            <%= render partial: 'associated_devices', layout: 'modules/tab_content/tab_pane' %>
            <%= render partial: 'modem', layout: 'modules/tab_content/tab_pane', locals: { tab_name: 'cellular_details' } if @presenter.modem? %>
            <%= render partial: 'tunnels', layout: 'modules/tab_content/tab_pane' if @presenter.tunnels? %>
            <%= render partial: 'networks', layout: 'modules/tab_content/tab_pane' if @presenter.networks? %>
            <%= render partial: 'location', layout: 'modules/tab_content/tab_pane' if current_user.maps_enabled? %>
            <%= render partial: 'contacts', layout: 'modules/tab_content/tab_pane' %>
            <%= render partial: 'intelliflow', layout: 'modules/tab_content/tab_pane' if @presenter.intelliflow? %>
            <%= render partial: 'ids', layout: 'modules/tab_content/tab_pane' if @presenter.ids? %>
            <%= render partial: 'connectivity_tests', layout: 'modules/tab_content/tab_pane' if @presenter.show_connectivity_tests? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @presenter.sms? %>
  <%= render partial: 'devices/netbridge/sms_config_modal' %>
<% end %>

<%= render partial: 'modals/device_subscription' %>
