<%= render 'shared/page_header', locals: { title: @presenter.title, skip_translate: true } %>

<div class="wrapper wrapper-content">
  <div class="row m-t-md">
    <div class="col-lg-12">
      <div class="ibox">
        <div id="terminal-container" class="ibox-content" style="position: relative; padding-top: 30px; overflow: visible;">
          <iframe id="terminal" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none;" src="<%= device_path @presenter.device %>/terminal_frame/">
            <p>Your browser does not support iframes.</p>
          </iframe>

          <div id="upload-container" class="popup-container">
            <div class="ibox">
              <div class="ibox-title">
                <h5>Send file</h5>
                <button id="close-btn" type="button" class="close" onclick="showUploadPopup(false)"><span>&times;</span></button>
              </div>
              <div class="ibox-content nopadding form-horizontal">
                <div class="form-group">
                  <label class="control-label col-lg-4">File:</label>
                  <div class="col-lg-8">
                    <input type="file" id="upload-select">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-lg-4">Protocol:</label>
                  <div class="col-lg-8">
                    <select id="upload-protocol" class="form-control">
                      <option>XMODEM1K</option>
                      <option>XMODEM</option>
                    </select>
                  </div>
                </div>
                <div id="upload-escape-row" class="form-group" title="Enter a single character or an 8-bit number in hexadecimal format to have the character doubled during transmission.">
                  <label class="control-label col-lg-4">Escape character:</label>
                  <div class="col-lg-8">
                    <input type="text" id="upload-escape" class="form-control" onchange="checkEscapeChar()" onkeyup="checkEscapeChar()">
                  </div>
                </div>
                <div id="upload-progress-row" class="form-group" style="display: none;">
                  <label class="control-label col-lg-4">Progress:</label>
                  <div class="col-lg-8">
                    <div style="width: 100%; background:#ccc;" class="progress progress-bar active">
                      <div id="upload-progress" class="progress-bar" style="width: 0%; overflow: visible;"></div>
                    </div>
                  </div>
                </div>
                <div id="fw-buttons" class="form-actions collapse in" style="margin-top:0px; margin-bottom:0px; padding-top: 8px; padding-bottom: 8px; padding-left: 8px;">
                  <input type="button" id="upload-btn" class="btn btn-primary" value="Send" onclick="upload($('#upload-select')[0].files[0])">
                </div>
              </div>
            </div>
          </div>

          <div id="paste-container" class="popup-container">
            <div class="ibox" style="margin-bottom: 0px">
              <div class="ibox-title">
                <h5>Paste</h5>
                <button id="close-btn" type="button" class="close" onclick="$('#paste-container').hide()"><span>&times;</span></button>
              </div>
              <div class="ibox-content nopadding">
                <textarea wrap="off"></textarea>
                <div>
                  <input type="button" class="btn btn-primary" value="Send" onclick="dialogPaste($('#paste-container textarea'))">
                  <input type="button" class="btn btn-default" value="Clear" onclick="$('#paste-container textarea').val('')">
                  <div style="clear: both"></div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<style>
.popup-container {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
  border: 1px solid #aaa;
  background-color: inherit;
}
          #upload-container {
            margin-top: -150px;
            width: 500px;
            margin-left: -250px;
          }
          #paste-container {
            margin-top: -200px;
            width: 60%;
            margin-left: -30%;
          }
          #paste-container textarea {
            width: 100%;
            min-height: 200px;
            height: 300px;
            overflow: scroll;
            resize: vertical;
          }
          #paste-container .btn {
            margin-top: 10px;
            width: 150px;
            float: right;
            margin-left: 15px;
          }
          #close-btn {
            margin-right: 10px;
          }
          #upload-protocol, #upload-select {
            width: 100%;
          }
          #upload-escape {
            width: 95%;
          }
          #upload-btn {
            width: 150px;
            float: right;
          }
</style>

<%= javascript_include_tag "XMODEM.js" %>
<script>
var iframe = $("#terminal")[0];

// Insert XMODEM only if XMODEM.js is available
if (window.XMODEM) {
  var xm = new XMODEM(send);
  var onReadyStateChange_original, sendKeys_original;
  var escapeChar = null;
  var inputIds = "#upload-escape, #upload-protocol, #upload-select, #close-btn";
}

function recv(data) {
  xm.pushRecvBuffer(data);
}

function send(data) {
  var hexstr = "";
  for (var i = 0; i < data.length; i++) {
    var hx = data[i].toString(16).toUpperCase();
    hexstr += hx.length == 2 ? hx : '0' + hx;
    if (data[i] === escapeChar) hexstr += escapeChar.toString(16);
  }
  sendKeys_override.call(iframe.contentWindow.shellinabox, hexstr);
}

function xmodemListen(enable) {
  // Hijack Shellinabox I/O
  if (enable || enable === undefined) {
    iframe.contentWindow.shellinabox.onReadyStateChange = onReadyStateChange_hooked;
    iframe.contentWindow.shellinabox.sendKeys = function() {};
    console.log("Enabled XMODEM hooks");
  } else {
    iframe.contentWindow.shellinabox.onReadyStateChange = onReadyStateChange_original;
    iframe.contentWindow.shellinabox.sendKeys = sendKeys_original;
    console.log("Disabled XMODEM hooks");
  }
}

function upload(file) {
  if ($("#upload-btn").val() == "Cancel") {
    xm.cancel();
    $("#upload-btn").val("Send");
    return;
  }

  $("#upload-progress").removeClass("progress-bar-danger progress-bar-success").css("width", "100%");
  if (file == null) {
    $("#upload-progress-row").show();
    $("#upload-progress").text("No file selected.").addClass("progress-bar-danger");
    return;
  }

  var protocol = $("#upload-protocol").val();
  if (protocol == "XMODEM1K") {
    xm.useXMODEM1K();
  } else {
    xm.useXMODEM();
  }
  checkEscapeChar();

  $(inputIds).attr("disabled", true);
  $("#upload-progress-row").show();
  $("#upload-progress").text("Reading file...");
  $("#upload-btn").val("Cancel").attr("disabled", true);

  var startTime = new Date();
  var lastpc = -1;
  var reader = new FileReader();
  reader.onload = function(evt) {
    $("#upload-btn").attr("disabled", false);
    xm.emptyRecvBuffer();
    xmodemListen(true);
    $("#upload-progress").text("Waiting for receiver...");
    var view = new Uint8Array(evt.target.result);
    xm.transferData(view, function(error, complete) {
      if (error) {
        console.log(error.message);
        $("#upload-progress").text(error.message.split(".")[0]).addClass("progress-bar-danger").css("width", "100%");
      } else if (complete) {
        $("#upload-progress").text("Transfer complete.").addClass("progress-bar-success");
      } else {
        $("#upload-progress").text("Transfer cancelled by user.").css("width", "100%");
      }
      console.log("XMODEM transfer took " + ((new Date() - startTime)/1000/60).toFixed(3) + " minutes.");
      xmodemListen(false);
      $(inputIds).attr("disabled", false);
      $("#upload-btn").val("Send");
    }, function(blockCount, numBlocks) {
      var pc = parseInt(100*blockCount/(numBlocks || 1));
      if (pc != lastpc) {
        $("#upload-progress").html("&nbsp;" + pc + "%").css("width", pc + "%");
        lastpc = pc;
      }
    });
  };
  reader.readAsArrayBuffer(file);
}

function checkEscapeChar() {
  var text = $("#upload-escape").val();
  $("#upload-escape-row").removeClass("error");
  var m = text.match(/^(?:(.)|(0x[a-f0-9]{1,2}))$/i);
  if (m) {
    if (m[1]) {
      escapeChar = XMODEM.str2ints(text)[0];
    } else if (m[2]) {
      escapeChar = parseInt(text);
    }
    $(inputIds).attr("disabled", false);
  } else if (text == "") {
    escapeChar = null;
    $(inputIds).attr("disabled", false);
  } else {
    $("#upload-escape-row").addClass("error");
    $(inputIds).attr("disabled", true);
    $("#upload-escape").attr("disabled", false);
  }
}

function showUploadPopup(show) {
  if (show === false) {
    $("#upload-container").hide();
    return;
  }
  $("#upload-container").show();
  $("#upload-progress-row").hide();
  $("#upload-progress").css("width", "100%");
}

function sendKeys_override(keys) {
  if (!this.connected) {
    return;
  }
  if (this.keysInFlight || this.session == undefined) {
    this.pendingKeys          += keys;
  } else {
    this.keysInFlight          = true;
    keys                       = this.pendingKeys + keys;
    this.pendingKeys           = '';
    var request                = new XMLHttpRequest();
    request.open('POST', this.url + '?', true);
    request.setRequestHeader('Cache-Control', 'no-cache');
    request.setRequestHeader('Content-Type',
        'application/x-www-form-urlencoded; charset=utf-8');
    var content                = 'width=' + this.terminalWidth +
      '&height=' + this.terminalHeight +
      '&session=' +encodeURIComponent(this.session)+
      '&keys=' + encodeURIComponent(keys);
    // Also override ShellInABox.keyPressReadyStateChange()
    var shellinabox = this;
    request.onreadystatechange = function() {
      if (request.readyState == 4 /* XHR_LOADED */) {
        shellinabox.keysInFlight = false;
        if (shellinabox.pendingKeys) {
          sendKeys_override.call(shellinabox, "");
        }
      }
    };
    request.send(content);
  }
};

function onReadyStateChange_hooked(request) {
  if (request.readyState == 4 /* XHR_LOADED */) {
    if (request.status == 200) {
      this.connected = true;
      var response   = eval('(' + request.responseText + ')');
      if (response.data) {
        if (this.replayOnOutput) {
          this.messageReplay('output', response.data);
        }
        // ---- hook and don't show response data on console ----
        recv(response.data);
        //this.vt100(response.data);
        // --------------
      }

      if (!response.session ||
          this.session && this.session != response.session) {
        this.sessionClosed();
      } else {
        if (this.replayOnSession && !this.session && response.session) {
          this.messageReplay('session', 'alive');
        }
        this.session = response.session;
        this.sendRequest(request);
      }
    } else if (request.status == 0) {
      // Time Out or other connection problems: retry after 1s to prevent release CPU before retry
      setTimeout(function(shellInABox) {
        return function() {
          shellInABox.sendRequest();
        };
      }(this), 1000);
    } else {
      this.sessionClosed();
    }
  }
};

function resizeTerminal() {
  $("#terminal-container").css("height", $(window).innerHeight() - $("#terminal-container").offset().top - 65);
}

function dialogPaste(textarea) {
  iframe.contentWindow.shellinabox.keysPressed(textarea.val());
}

$(window).on("resize", resizeTerminal);

$(window).on("load", function() {
  $(window).resize();
  (function checkShellinaboxLoaded() {
    var vt100extraMenu = $("#terminal").contents().find("#usercss");
    if (iframe.contentWindow.ShellInABox && vt100extraMenu[0]) { // keep timing out until we have these objects
      // replace browser paste
      iframe.contentWindow.ShellInABox.prototype.pasteBrowserFnc = function() {
        $("#paste-container").show();
      }
      // prepare XMODEM
      if (window.XMODEM) {
        onReadyStateChange_original = iframe.contentWindow.ShellInABox.prototype.onReadyStateChange;
        sendKeys_original = iframe.contentWindow.ShellInABox.prototype.sendKeys;
        vt100extraMenu.append($("<li>Send file</li>"));
        iframe.contentWindow.shellinabox.usercssActions = [ showUploadPopup ];
      }
    } else {
      setTimeout(checkShellinaboxLoaded, 50);
    }
  })();
});

</script>
