<%= form_for @entry, as: :dns_entry, url: entry_path, remote: true, html: { class: "form-horizontal ajax-form", id: 'dns-form' } do |f| %>
  <%= hidden_field_tag 'entry_type', :domain %>

  <div class="modal-body">
    <div class="form-group">
      <label class="col-sm-3 control-label">Name</label>
      <div class="col-sm-9">
        <%= f.text_field :name, placeholder: 'devices.accns.net', class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Type</label>
      <div class="col-sm-9">
        <%= f.select :type, options_for_select(@domain_types, @entry.type), {}, class: 'select2-without-search' %>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="form-modal-spinner">
      <%= render 'shared/spinners/fading_circle' %>
    </div>
    <input class="btn btn-primary" id="dns-domain-form-submit" type="submit" value="<%= action %>" />
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
<% end %>
