<%= form_for @entry, as: :dns_entry, url: entry_path, remote: true, html: { class: "form-horizontal ajax-form", id: 'dns-form' } do |f| %>
  <%= hidden_field_tag 'entry_type', entry_type %>

  <div class="modal-body">
    <div class="form-group">
      <label class="col-sm-3 control-label">Name</label>
      <div class="col-sm-9">
        <%= f.text_field :name, placeholder: 'devices.accns.net', class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Domain</label>
      <div class="col-sm-9">
        <%= f.select :domain_id,
              options_from_collection_for_select(@domains, :id, :name, @entry.domain_id),
              {},
              class: 'select2-without-search'%>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Content</label>
      <div class="col-sm-9">
        <%= f.text_field :content, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">TTL</label>
      <div class="col-sm-9">
        <%= f.text_field :ttl, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="form-modal-spinner">
      <%= render 'shared/spinners/fading_circle' %>
    </div>
    <input class="btn btn-primary" id="dns-record-form-submit" type="submit" value="<%= action %>" />
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
<% end %>
