<% content_for :header_javascript_block  do %>
  <script>
    $('a[href="#dns-soa"]').on('shown.bs.tab', function() {
      $('#create-dns').attr('href', "<%= j new_admin_dns_path(entry_type: :soa) %>");
      // Ensure we only load the data table once
      if ( ! $.fn.DataTable.isDataTable('#dns-soa-table') ) {
        $('#dns-soa-table').DataTable( {
          "processing": true,
          "serverSide": true,
          "ajax": $('#dns-soa-table').data('source'),
          "pagingType": "full_numbers",
          "bFilter": false,
          "bSort": false,
          "bPaginate": false,
          "bRetrieve": true,
          "columns": [
            { className: "text-center" },
            { className: "text-center" },
            { className: "text-center" },
            { className: "text-center" },
            { className: "text-center" },
            { className: "text-center" }
          ]
        });
      }

    });

  </script>
<% end %>

<table id="dns-soa-table" class="table table-hover dns-table" data-source="<%= admin_dns_index_path(type: :soa, format: :json) %>">
  <thead>
  <tr>
    <th class="text-center">Name</th>
    <th class="text-center">Domain</th>
    <th class="text-center">Content</th>
    <th class="text-center">TTL</th>
    <th class="text-center">Edit</th>
    <th class="text-center">Delete</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
