$('#dns').find('.alert').remove();
$('#dns-form').find('.alert').remove();

<% if @entry.blank? %>
  <%= render partial: 'blank', locals: { element: '#dns-form > .modal-body' } %>
<% elsif @entry.errors.any? %>
  <%= render partial: 'errors', locals: { element: '#dns-form > .modal-body' } %>
<% else %>
  $('#new-dns-modal').modal('hide');
  var table_id = "#dns-<%= j params[:entry_type] %>-table";
  $(table_id).DataTable().ajax.reload(function() {
    var alert = "<%= j alert_success message: "Successfully created #{params[:entry_type]}" %>";
    $('#dns > .panel-body').prepend(alert);
    // declared in js/aview/bootstrap-alerts.js
    setAlertExpiration($('#dns > .panel-body > .alert'));
  });
<% end %>