$('#dns').find('.alert').remove();

<% if @entry.blank? %>
  <%= render partial: 'blank', locals: { element: '#dns > .panel-body' } %>
<% elsif @entry.errors.any? %>
  <%= render partial: 'errors', locals: { element: '#dns > .panel-body' } %>
<% else %>
  //reload all dns tables because associations may have been deleted as well
  $(".dns-table").DataTable().ajax.reload();
  var alert = "<%= j alert_success message: "Successfully deleted #{params[:entry_type]}" %>";
  $('#dns > .panel-body').prepend(alert);
  // declared in js/aview/bootstrap-alerts.js
  setAlertExpiration($('#dns > .panel-body > .alert'));
<% end %>
