<% content_for :widget_box_title do %>
  <%= widget_title "DNS" %>
<% end %>

<% content_for :widget_box do %>
  <%= render partial: 'domains' %>
  <%= render partial: 'soas' %>
  <%= render partial: 'nameservers' %>

  <div id="new_entry_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newEntryLabel" aria-hidden="true"></div>
  <div id="edit_entry_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editEntryLabel" aria-hidden="true"></div>
<% end %>

<%= render '/admin/layout' %>
