$('#dns').find('.alert').remove();
$('#dns-form').find('.alert').remove();

<% if @entry.blank? %>
  <%= render partial: 'blank', locals: { element: '#dns-form > .modal-body' } %>
<% elsif @entry.errors.any? %>
  <%= render partial: 'errors', locals: { element: '#dns-form > .modal-body' } %>
<% else %>
  $('#edit-dns-modal').modal('hide');
  //update all dns tables because associations may have been updated as well
  $('.dns-table').DataTable().ajax.reload();
  var alert = "<%= j alert_success message: "Successfully updated #{params[:entry_type]}" %>";
  $('#dns > .panel-body').prepend(alert);
  // declared in js/aview/bootstrap-alerts.js
  setAlertExpiration($('#dns > .panel-body > .alert'));
<% end %>