<template>
  <div>
<!--   {{ currDate }}<br>
 -->   {{ currTime }}
  </div>
</template>

<script>
  export default {
    name: 'live-clock',
    created: function() {
      window.setInterval( () => {this.epochTime = moment()}, 200)
      document.getElementById("live-clock-wrapper").addEventListener("usertimezonechanged", (e) => {
        this.currTz = e.detail.userTz
      })
    },
    data: function() {
      return {
        epochTime: moment(),
        currTz: this.timezone
      };
    },
    props: ["timezone"],
    computed: {
      currTime: function() {
        return this.epochTime.tz(this.currTz).format("YYYY-MM-DD HH:mm:ss");
      },
    },
  };
</script>