<template>
  <div class="modal inmodal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog"> 
       <div class="modal-content">
        <div class="modal-header">
          <slot name="header">default</slot>
        </div>
        <div class="modal-body">
          <slot>default</slot>
        </div>
        <div class="modal-footer">
          <slot name="footer">default</slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'modal',
    data:  function() {
      return {};
    },
    mounted: function(){
      var self = this;
      $(this.$el).modal({backdrop: 'static'});
      $(this.$el).on('hidden.bs.modal', function (e) {
        self.cleanUp();
      }); 
    },
    methods: {
      cleanUp: function(e){
        $(this.$el).off();
        this.$destroy();
      },
    }
  }
</script>