<div class="modal inmodal fade" id="new-role-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for [@organization, @role], remote: true, method: :post, :html => { class: "form-horizontal ajax-form", id: 'new-role' } do |f| %>

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">New Role</h4>
        </div>

        <div class="modal-body" style="max-height: 500px; overflow: scroll;">

          <div class="form-group">
            <label class="col-sm-4 control-label">Name</label>
            <div class="col-sm-8">
              <%= f.text_field :name, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label">Description</label>
            <div class="col-sm-8">
              <%= f.text_field :description, class: 'form-control' %>
            </div>
          </div>

          <% @abilities.each do |ability| %>
            <div class="form-group abilities">
              <%= f.label "abilities_#{ability.id}_id", ability.name, :class => 'control-label col-sm-4' %>
              <div class="col-sm-4 i-checks">
                <label class="checkbox-inline">
                  <%= check_box_tag "role_abilities_attributes_#{ability.id}_id",
                                    ability.id,
                                    false,
                                    name: "role[abilities_attributes][#{ability.id}][id]",
                                    class: 'i-checkbox' %>
                  <% if ability.description.present? %>
                    <span>
                      <a href="#" class="m-l-xs" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= ability.description %>"><span class="badge">?</span></a>
                    </span>
                  <% end %>
                </label>
              </div>
            </div>
          <% end %>

          <div class="form-group">
            <div class="col-sm-offset-3">
              <a href='#' class='check-all' data-target-class='i-checks'>Check all</a>
              /
              <a href='#' class='uncheck-all' data-target-class='i-checks'>Uncheck all</a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-modal-spinner">
            <%= render 'shared/spinners/fading_circle' %>
          </div>
          <%= submit_tag "Close", class: 'btn btn-white', 'data-dismiss' => 'modal' %>
          <%= submit_tag "Create Role", class: 'btn btn-primary' %>
        </div>

      <% end %>
    </div>
  </div>
</div>
