<div class="modal inmodal fade" id="new-customer-service-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag(admin_customer_services_path(@customer_service),
            remote: true, method: :post, class: 'form-horizontal ajax-form', id: 'new-customer-service') do %>

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">New Service Name</h4>
        </div>

        <div class="modal-body">

          <div class="form-group"><label class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
              <%= text_field_tag 'customer_service[name]', nil, class: 'form-control' %>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <div class="form-modal-spinner">
            <%= render 'shared/spinners/fading_circle' %>
          </div>
          <%= submit_tag "Close", class: 'btn btn-white', 'data-dismiss' => 'modal' %>
          <%= submit_tag "Create Service Name", class: 'btn btn-primary' %>
        </div>

      <% end %>
    </div>
  </div>
</div>
