<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <%= render 'layouts/nav/top/search' %>
    <ul class="nav navbar-top-links navbar-right">
      <%= render 'layouts/nav/top/filter' %>
      <%= render 'layouts/nav/top/advanced_search' %>
    </ul>
  </nav>
</div>
