<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
    	<%= render 'layouts/nav/side/header' %>
    	<%= render 'layouts/nav/side/body' %>
    </ul>
  </div>
</nav>
