<div class="modal inmodal fade" id="tunnel-server-ip-addresses-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title"><%= @tunnel_server.name %> IP Addresses</h4>
        </div>

        <div class="modal-body" style="max-height: 500px; overflow: scroll;">
<pre>
<% @tunnel_server.ip_addresses.each do |record| %>
<%= record.ip_address %>
<% end %>
</pre>
        </div>

        <div class="modal-footer">
          <%= submit_tag "Close", class: 'btn btn-white', 'data-dismiss' => 'modal' %>
        </div>
    </div>
  </div>
</div>