<%= javascript_pack_tag 'device-stats' %>
<script>
  $(document).ready(function(){
    mountDeviceStats("#stats-export-container");
  });
</script>
<div id="device-stats" class="tab-pane">
  <div class="panel-body">
    <div class="panel-form">
      <div class="ibox">
        <div class="ibox-content">
          <div id="stats-export-container"></div>
        </div>
      </div>
    </div>
  </div>
</div>
