<% content_for :header_javascript_block  do %>
    <script>
        $(document).on('tabShown', '#device-models', function() {
            // Ensure we only load the data table once
            if ( ! $.fn.DataTable.isDataTable('#device-models') ) {
                $('#device-model-table').DataTable( {
                    "processing": true,
                    "serverSide": true,
                    "ajax": $('#device-model-table').data('source'),
                    "pagingType": "full_numbers",
                    "bFilter": false,
                    "bSort": false,
                    "bPaginate": false,
                    "bRetrieve": true,
                    "columns": [
                        { data: "name", className: "text-center" },
                        { data: "category", className: "text-center" },
                        { data: "device_count", className: "text-center" },
                        { data: "firmware_count", className: "text-center" }
                    ]
                });
            }

        });
    </script>
<% end %>

<div id="device-models" class="tab-pane">
  <div class="panel-body">
    <div class="panel-form">
      <div class="ibox">
        <div class="ibox-content">
          <table id="device-model-table" class="table table-hover" data-source="<%= device_models_path %>">
            <thead>
            <tr>
              <th class="text-center">Name</th>
              <th class="text-center">Category</th>
              <th class="text-center">Device Count</th>
              <th class="text-center">Firmware Count</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

