<% content_for :header_javascript_block  do %>
  <script>
    $(document).on('tabShown', '#dns', function() {
      $('#dns-tabs a[href="#dns-domains"]').tab('show');
    });
  </script>
<% end %>

<div id="dns" class="tab-pane">
  <div class="panel-body">
    <div class="col-lg-12">
      <div class="dns-tabs pull-left">
        <div class="tabs-container">
          <ul class="nav nav-tabs" id="dns-tabs">
            <li class=""><a data-toggle="tab" href="#dns-domains" aria-expanded="true">Domains</a></li>
            <li class=""><a data-toggle="tab" href="#dns-soa" aria-expanded="false">SOA</a></li>
            <li class=""><a data-toggle="tab" href="#dns-nameservers" aria-expanded="false">Nameservers</a></li>
          </ul>
        </div>
      </div>

      <div class="tabs-button pull-right">
        <%= link_to('#', class: 'btn btn-primary create-record single-button-remote', id: 'create-dns', remote: true) do %>
          <i class="fa fa-plus-circle"></i>&nbsp;Create
        <% end %>
      </div>

      <div class="tab-content">

        <div role="tabpanel" class="tab-pane" id="dns-domains">
          <%= render partial: 'admin/dns/domains_table' %>
        </div>

        <div role="tabpanel" class="tab-pane" id="dns-soa">
          <%= render partial: 'admin/dns/soas_table' %>
        </div>

        <div role="tabpanel" class="tab-pane" id="dns-nameservers">
          <%= render partial: 'admin/dns/nameservers_table' %>
        </div>

      </div>
    </div>
  </div>
</div>
