<% content_for :header_javascript_block  do %>
  <script>

    $(document).on('tabShown', '#imports', function() {

      // Ensure we only load the data table once
      if ( ! $.fn.DataTable.isDataTable('#imports-table') ) {
        $('#imports-table').DataTable( {
          "processing": true,
          "serverSide": true,
          "ajax": $('#imports-table').data('source'),
          "pagingType": "full_numbers",
          "bFilter": false,
          "bSort": false,
          "bPaginate": false,
          "bRetrieve": true,
          "columns": [
            { data: "id", className: "text-center" },
            { data: "trigger", className: "text-center" },
            { data: "source", className: "text-center" },
            { data: "type", className: "text-center" },
            { data: "action", className: "text-center" },
            { data: "status", className: "text-center" },
            { data: "total_time", className: "text-center" },
            { data: "started", className: "text-center" },
            { data: "delete_button", className: "text-center" }
          ]
        });
      }

    });

  </script>
<% end %>

<div id="imports" class="tab-pane active">
  <div class="panel-body">
    <div class="panel-form">
      <div class="ibox">
        <div class="ibox-content">
          <div class="panel-header">
            <div class="pull-right">
              <%= link_to(new_admin_import_path, class: 'btn btn-primary create-record single-button-remote', remote: true) do %>
                <i class="fa fa-plus-circle"></i>&nbsp;New Import
              <% end %>
              <% if any_old_imports? %>
                <%= link_to(destroy_all_admin_imports_path, class: "btn btn-danger single-button-remote btn-xs", remote: true,
                            :method => :delete, :data => { :confirm => "Are you sure you want to remove all old imports?" }) do %>
                  <i class="fa fa-trash"></i>&nbsp;Remove All Old
                <% end %>
              <% end %>
            </div>
          </div>

          <table id="imports-table" class="table table-hover" data-source="<%= admin_imports_path(format: :json) %>">
            <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">Trigger</th>
              <th class="text-center">Source</th>
              <th class="text-center">Type</th>
              <th class="text-center">Action</th>
              <th class="text-center">Status</th>
              <th class="text-center">Total Time</th>
              <th class="text-center">Started</th>
              <th class="text-center">Remove</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
