<%= render 'shared/page_header', locals: { title: 'admin panel' } %>

<%= content_for :show_content do %>
  <div class="row-fluid">
    <%= render '/admin/navigation' %>

    <% if content_for? :admin_header %>
      <%= yield(:admin_header) %>
    <% else %>
      <div class="span9">
        <% if content_for? :widget_box_flash %>
          <%= yield(:widget_box_flash) %>
        <% end %>

        <% if content_for? :widget_box %>
          <%= yield(:widget_box) %>
        <% else %>
          <div class="widget-box">
            <%= yield :widget_box_title %>
            <div class="widget-content overflow-auto nopadding form-horizontal">
              <%= yield :widget_box_content %>
            </div>
          </div>
        <% end %>

        <% if content_for? :widget_box_footer %>
          <%= yield :widget_box_footer %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render '/layouts/page' %>
