<script>
  $(document).on('tabShown', '#message', function() {
    var $el = $("#admin_settings_maint_message");
    if($el.data().summernote !== undefined){
      $el.summernote('destroy');
    }
    var note = $el.summernote({
      focus: true, 
      height: 250,
      toolbar: [
        ["style",["style"]],
        ["font",["bold","underline","clear"]],
        ["fontname",["fontname"]],
        ["color",["color"]],
        ["para",["ul","ol","paragraph"]],
        ["table",["table"]],
        ["insert",["link","picture","video"]],
        ["view",["codeview","help"]]
      ]
    });
    var maintExp = parseInt("<%= maint_expiration.blank? ? "" : maint_expiration  %>");
    var maintDate = (new Date(maintExp * 1000))
    maintDate = isNaN(maintDate.valueOf()) ? "" : maintDate;
    var datepickerSettings = {
      format: "YYYY-MM-DD HH:mm:ss"
    };
    if(maintDate !== ""){
      datepickerSettings.defaultDate = moment(maintDate);
    }
    $('#maint_message_expiration').datetimepicker(datepickerSettings);
    if(Object.keys(datepickerSettings).indexOf("defaultDate") < 0){
      $('#maint_message_expiration').val("");
    }
    $("#maint_message_form").on("submit", function(e){
      var dateDataVal = $("#maint_message_expiration input").val() === "" ? NaN : $("#maint_message_expiration").data("date");
      var dateValue = moment(dateDataVal).valueOf() / 1000;
      dateValue = isNaN(dateValue) ? "" : dateValue;
      $("#maint_message_expiration_val").val(dateValue);
      return true;
    });
  });
</script>
<div id="message" class="tab-pane">
  <div class="panel-body">
    <div class="panel-form">
      <div class="ibox">
        <div class="ibox-content">
          <div class="panel-header">
            <div class="pull-right">
              Edit Maintenance Message
            </div>
          </div>
          <div class="editor-container">
            <%= form_tag admin_settings_path, method: :patch,
                       id: 'maint_message_form',
                       class: 'form-horizontal ajax-form',
                       remote: true, authenticity_token: true do %>
              <%= text_area_tag("admin_settings[maint_message]", maint_message(skip_exp_check: true)) %>
              <input id="maint_message_expiration_val" type="hidden" name="admin_settings[maint_message_expiration]">
              <div class="row">
                <div class="col-sm-2">
                  <label>
                    Expires At:
                  </label>
                </div>
                <div class='col-sm-6'>
                  <div class="form-group">
                    <div class='input-group date' id='maint_message_expiration'>
                      <input type='text' class="form-control"/>
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <div class="col-sm-12">
                  <div class="form-buttons">
                    <button class="btn btn-primary" type="submit">Save Changes</button>
                    <div class="form-spinner">
                      <%= render 'shared/spinners/fading_circle' %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>       
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
