<% content_for :header_javascript_block  do %>
  <script>

    $(document).on('tabShown', '#service-names', function() {

      // Ensure we only load the data table once
      if ( ! $.fn.DataTable.isDataTable('#customer-services-table') ) {
        $('#customer-services-table').DataTable( {
          "processing": true,
          "serverSide": true,
          "ajax": $('#customer-services-table').data('source'),
          "pagingType": "full_numbers",
          "bFilter": false,
          "bSort": false,
          "bPaginate": false,
          "bRetrieve": true,
          "columns": [
            { data: "name", className: "text-center" },
            { data: "edit_button", className: "text-center" },
            { data: "delete_button", className: "text-center" }
          ]
        });
      }

    });

  </script>
<% end %>

<div id="service-names" class="tab-pane">
  <div class="panel-body">
    <div class="panel-form">
      <div class="ibox">
        <div class="ibox-content">
          <div class="panel-header">
            <div class="pull-right">
              <%= link_to(new_admin_customer_service_path(format: :js), class: 'btn btn-primary create-record single-button-remote', remote: true) do %>
                <i class="fa fa-plus-circle"></i>&nbsp;Create
              <% end %>
            </div>
          </div>

          <table id="customer-services-table" class="table table-hover" data-source="<%= admin_customer_services_path(format: :json) %>">
            <thead>
            <tr>
              <th class="text-center">Name</th>
              <th class="text-center">Edit</th>
              <th class="text-center">Delete</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
