<script>
  $(document).on("ready", function(event){
    if($("#admin_settings_support_contact_list").length > 0){
      $("#admin_settings_support_contact_list").tagsinput();
      $(".bootstrap-tagsinput").addClass("form-control valid settings-tagsinput");
    }
  })
</script>
<div id="settings" class="tab-pane">
  <div class="panel-body">
    <div class="panel-form">
      <div class="ibox">
        <div class="ibox-content">
          <%= form_tag admin_settings_path, method: :patch,
                       class: 'form-horizontal ajax-form',
                       remote: true, authenticity_token: true do %>

            <% AdminSettings.all.select { |setting| !(setting["var"].include? "maint_message")}.each do |setting| %>
              <div class="form-group">
                <label class="col-sm-3 control-label"><%= setting.var.titleize %></label>
                <div class="col-sm-7">
                  <div class="input-group">
                    <%= text_field_tag "admin_settings[#{setting.var}]", setting.value, class: 'form-control' %>
                    <a href="#" class="input-group-addon" rel="popover" data-placement="right"
                       data-content="<%= popover_data(setting.var)[:content] %>"
                       data-original-title="<%= popover_data(setting.var)[:title] %>"
                       data-container="body" >
                      <span class="badge">?</span>
                    </a>
                  </div>
                </div>
              </div>
            <% end %>

            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-3">
                <div class="form-buttons">
                  <button class="btn btn-primary" type="submit">Save Changes</button>
                  <div class="form-spinner">
                    <%= render 'shared/spinners/fading_circle' %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
