<% content_for :header_javascript_block  do %>
  <script>

    // Call a custom event on tab panes that are shown. This is useful for
    // showing datatables when a specific pane is selected.
    $(document).on('shown.bs.tab', 'a[data-tab-type="main"]', function(e) {
      var id = $(e.target).attr("href").substr(1);
      $('#' + id).trigger("tabShown");
    });

    $(document).ready(function(){
      $("[rel = popover]").popover({trigger: 'hover'});

      $("form.ajax-form").validate();

      // Store the currently selected tab in the hash value
      $('ul.nav-tabs > li > a[data-tab-type="main"]').on("shown.bs.tab", function (e) {
        var id = $(e.target).attr("href").substr(1);
        window.location.hash = id;
      });

      // On load of the page: switch to the currently selected tab
      var hash = window.location.hash;
      if(!hash) {
        hash = "#imports";
        window.location.hash = hash;
      }
      $('#admin-tabs a[href="' + hash + '"]').tab('show');
    });

  </script>
<% end %>

<%= render 'shared/page_header', locals: { title: :admin_panel } %>

<div class="wrapper wrapper-content">
  <div class="row row m-t-lg m-b-lg">
    <div class="row">
      <div class="col-lg-12">
        <div class="tabs-container">
          <div class="tabs-left">
            <ul class="nav nav-tabs" id="admin-tabs">
              <li class=""><a data-toggle="tab" data-tab-type="main" href="#imports" aria-expanded="true">Imports</a></li>
              <% if Settings.service_names.enabled? %>
                <li class=""><a data-toggle="tab" data-tab-type="main" href="#service-names" aria-expanded="false">Service Names</a></li>
              <% end %>
              <li class=""><a data-toggle="tab" data-tab-type="main" href="#dns" aria-expanded="false">DNS</a></li>
              <li class=""><a data-toggle="tab" data-tab-type="main" href="#settings" aria-expanded="false">Settings</a></li>
              <li><a data-toggle="tab" data-tab-type="main" href="#device-models" aria-expanded="false">Device Models</a></li>
              <% if Settings.aots.enabled? %>
                <li class=""><a data-toggle="tab" data-tab-type="main" href="#syslog-servers" aria-expanded="false">Syslog Servers</a></li>
              <% end %>
              <li class="">
                <%= link_to "Download Server Log", admin_server_log_path %>
              </li>
               <li class=""><a data-toggle="tab" data-tab-type="main" href="#message" aria-expanded="true">Maintenance Message</a></li>
               <li class=""><a data-toggle="tab" data-tab-type="main" href="#device-stats" aria-expanded="true">Device Statistics</a></li>
            </ul>

            <div class="tab-content ">
              <%= render 'imports' %>
              <%= render 'service_names' if Settings.service_names.enabled? %>
              <%= render 'dns' %>
              <%= render 'settings' %>
              <%= render 'device_models' %>
              <%= render 'syslog_servers' if Settings.aots.enabled? %>
              <%= render 'message' %>
              <%= render 'device_stats' %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
