<div class="btn-group">
  <button data-toggle="dropdown" class="btn btn-link dropdown-toggle" aria-expanded="false">Actions <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li id=<%= @presenter.subscribe_action_id %>>
      <% if @presenter.subscription.present? %>
        <%= render partial: 'shared/unsubscribe_button',
                    locals: {
                      message: t('device.unsubscribe'),
                      subscription: @presenter.subscription
                    }
        %>
      <% else %>
        <%= render partial: 'shared/subscribe_button' %>
      <% end %>
    </li>

    <% if @presenter.policy.deploy? %>
      <li>
        <%= link_to toggle_deployment_device_path(@presenter.device), data: { confirm: t('device.toggle_deployment', deployment: deploy_text(@presenter.device).downcase) } do %>
          <%= deploy_icon(@presenter.device) %> <%= deploy_text(@presenter.device) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
