<div id="commands-menu-container" data-dataid="<%= @presenter.device.mac %>"></div>
<%= javascript_pack_tag 'device-command-modals' %>
<%= javascript_pack_tag 'device-command-menu' %>
<script>
  $(document).on("ready", function(){
    var target = $("#commands-menu-container");
    DEVICE_COMMANDS_CONSTS = {
      "wan_toggle": {
        "states": "<%=Gateway::API::WanToggle::STATES.join(",")%>".split(",")
      },
      "cx_access": {
        "defaults": {
          "v4_src": "<%=Settings.command_setting_defaults.cx_access.default_v4_src%>",
          "v6_src": "<%=Settings.command_setting_defaults.cx_access.default_v6_src%>",
          "src_addr": "<%=Settings.command_setting_defaults.cx_access.default_src_addr%>",
          "src_int": "<%=Settings.command_setting_defaults.cx_access.default_src_int%>",
          "dst_addr": "<%=Settings.command_setting_defaults.cx_access.default_dst_addr%>",
          "access": "<%=Settings.command_setting_defaults.cx_access.default_access%>",
          "maintenance_tunnel": <%=Settings.command_setting_defaults.cx_access.default_maintenance_tunnel%>,
          "drop_interface": <%=Settings.command_setting_defaults.cx_access.default_drop_interface%>
        }
      }
    }
    createCommandMenu(target.attr("data-dataid"), "#" + target.attr("id"));
  });
</script>
<% if content_for?(:command_modals) %>
  <%= yield(:command_modals) %>
<% end %>
<% if @presenter.device.respond_to?(:credentials)%>
  <%= render 'shared/commands/device_auth_modal' %>
<% end %>