<div class="btn-group">
  <button data-toggle="dropdown" class="btn btn-link dropdown-toggle" aria-expanded="false">Pages <span class="caret"></span></button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li class="<%= active_page(devices: [:show]) %>">
      <%= link_to device_path(@presenter.device) do %>
        <i class="fa fa-info-circle"></i> Details
      <% end %>
    </li>

    <li class="<%= active_page({ devices: [:events] }, type: nil) %>">
      <%= link_to events_device_path(@presenter.device) do %>
        <i class="fa fa-list"></i> Events
      <% end %>
    </li>

    <li class="<%= active_page({ devices: [:events] }, type: 'raw') %>">
      <%= link_to events_device_path(@presenter.device, type: :raw) do %>
        <i class="fa fa-list-alt"></i> Raw Events
      <% end %>
    </li>
  </ul>
</div>
