<%= content_for :header_javascript_block do %>
  <script>
    $('#cellular-network-type-report').click(function() {
      var modal = "<%= j render(partial: 'devices/modals/new_report',
                                   locals: { report_type: 'cellular_network_type' }) %>";
      showModal(modal);
      return false;
    });

    $('#cellular-signal-strength-report').click(function() {
      var modal = "<%= j render(partial: 'devices/modals/new_report',
                                   locals: { report_type: 'cellular_signal_strength' }) %>";
      showModal(modal);
      return false;
    });

    $('#availability-report').click(function() {
      var modal = "<%= j render(partial: 'devices/modals/new_report',
                                   locals: { report_type: 'availability' }) %>";
      showModal(modal);
      return false;
    });

    $('#vig-report').click( function() {
      if( <%= @presenter.over_report_limit? %> ) {
        if (confirm("<%= t('reports.confirm_create', report_limit: DeviceReport::REPORT_LIMIT) %>") == true) {
          submitVigReport();
        }
      } else {
        submitVigReport();
      }
    });

    function submitVigReport() {
      $('#vig-spinner').show();
      $.post("<%= j reports_path %>", { report: { report_type: 'vig', device_mac: "<%= @presenter.device.mac %>" } },
          function() { $('#vig-spinner').hide(); });
    }

    function showModal(modal) {
      $('#modals-container').html(modal);
      $('#new-report-modal').modal({backdrop: 'static'});
    }
  </script>
<% end %>

<i class="fa fa-spinner spinning" id="vig-spinner" style="display: none;"></i>
<div class="btn-group">
  <button data-toggle="dropdown" class="btn btn-link dropdown-toggle" aria-expanded="false">Reports <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li>
      <a href="#" id="availability-report">Availability</a>
    </li>
    <% if @presenter.show_cellular_reports? %>
      <li>
        <a href="#" id="cellular-network-type-report">Cellular Network Type</a>
      </li>
      <li>
        <a href="#" id="cellular-signal-strength-report">Cellular Signal Strength</a>
      </li>
    <% end %>
    <% if @presenter.show_vig_report? %>
      <li>
        <a href="#" id="vig-report">VIG</a>
      </li>
    <% end %>
  </ul>
</div>
