<div class="btn-group">
  <% if @presenter.device.sent_sms_recently? %>
    <button data-toggle="dropdown" class="btn btn-link dropdown-toggle disabled" aria-expanded="false" title="Please wait <%= @presenter.device.time_left_til_sms_allowed %> seconds and try again.">Emergency SMS Commands <span class="caret"></span></button>
  <% else %>
    <button data-toggle="dropdown" class="btn btn-link dropdown-toggle" aria-expanded="false">SMS <span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-menu-right">
      <li><a data-target="#sms_config_modal" data-toggle="modal" data-backdrop="static" data-keyboard="false">Set Configuration</a></li>

      <li class="divider"></li>

      <li><%= sms_command_link 'Configuration Reset', @presenter.device, command: :sms_reset_config %></li>
      <li><%= sms_command_link 'Firmware Reset', @presenter.device, command: :sms_firmware_reset %></li>
      <li><%= sms_command_link 'Factory Reset', @presenter.device, command: :sms_factory_reset %></li>

      <% if @presenter.device.has_power_outlets? %>
        <li class="divider"></li>

        <% @presenter.device.power_outlets.each do |outlet| %>
          <li>
            <%= sms_command_link "Power Cycle Outlet ##{outlet.port}", @presenter.device,
                             command: :sms_power_cycle, command_data: outlet.port.to_s %>
          </li>
        <% end %>
      <% end %>

      <li class="divider"></li>

      <li><%= sms_command_link 'Remote Control', @presenter.device, command: :sms_remote_control %></li>
      <li><%= sms_command_link 'Reboot', @presenter.device, command: :sms_reboot %></li>
    </ul>
  <% end %>
</div>
