// TODO:
// It'd be nice to grab these from SASS somehow
// https://github.com/vigetlabs/sass-json-vars

var aviewColors = [];
aviewColors.primary = "<%= Settings.colors.primary %>";
aviewColors.default = "<%= Settings.colors.default %>";
aviewColors.success = "<%= Settings.colors.success %>";
aviewColors.info = "<%= Settings.colors.info %>";
aviewColors.warning = "<%= Settings.colors.warning %>";
aviewColors.danger = "<%= Settings.colors.danger %>";

aviewColors.statusUp = aviewColors.primary;
aviewColors.statusNotice = aviewColors.warning;
aviewColors.statusDown = aviewColors.danger;
aviewColors.statusBackupMode = aviewColors.success;
aviewColors.statusTunnelDown = "<%= Settings.colors.statusTunnelDown %>";
aviewColors.statusInactive = aviewColors.default;
aviewColors.statusUndeployed = "<%= Settings.colors.statusUndeployed %>";

aviewColors['4G'] = aviewColors.success;
aviewColors['3G'] = aviewColors.primary;
aviewColors['2G'] = aviewColors.warning;
aviewColors.unknown = aviewColors.statusInactive;
