<% if @user.errors.any? %>

  <% @user.errors.full_messages.each do |message| %>

    var message = "<%= j(alert_error message: message) %>"
    $(message).prependTo("#generate_api_token");

  <% end %>

<% else %>

  var message = "<%= j(alert_success message: t('accounts.token_generated')) %>"
  $(message).prependTo("#generate_api_token");
  $('#user-api-token').text("<%= @user.authentication_token %>")

<% end %>
