<% if @user.errors.any? %>

  <% @user.errors.full_messages.each do |message| %>

    var message = "<%= j(alert_error message: message) %>"
    $(message).prependTo("#edit_user");

  <% end %>

<% else %>

  var message = "<%= j(alert_success message: t('accounts.updated')) %>"
  $(message).prependTo("#edit_user");
  setAlertExpiration($('#edit_user > .alert'));

  // Toggle warnings for notifications being disabled
  $('.notifications-disabled-warning').<%= @user.notify_enabled? ? :addClass : :removeClass %>('hide');

<% end %>
