<% if @user.errors.any? %>

  <% @user.errors.full_messages.each do |message| %>

    var message = "<%= j(alert_error message: message) %>"
    $(message).prependTo("#change_password");

  <% end %>

<% else %>

  var message = "<%= j(alert_success message: t('accounts.password_updated')) %>"
  $(message).prependTo("#change_password");

<% end %>
