<div id="device-associations-container">
  <%= render partial: '/device_associations/table', locals: { device: device } %>
</div>

<% content_for :header_javascript_block  do %>
  <script type="text/javascript">

    function refreshDeviceAssociations() {
      var loadingArea = $('#device-associations-table').find('tbody');

      $(loadingArea).LoadingOverlay("show", {
        image: "<%= image_path('ajax-loader.gif') %>", size: false
      });

      $.ajax({
        url: '<%= table_device_device_associations_path(device) %>',
        dataType: 'html',
        success: function(data) {
          $("#device-associations-container").html(data);
        },
        complete: function() {
          $(loadingArea).LoadingOverlay("hide");
        }
      });
    }
  </script>
<% end %>
