<tr>
  <td><%= presenter.device_link %></td>
  <td class="text-center"><%= presenter.device_model %></td>
  <td class="text-center"><%= presenter.interface %></td>
  <td class="text-center"><%= presenter.type %></td>
  <td class="text-center"><%= presenter.ip_address %></td>
  <td class="text-center"><%= presenter.connection_time %></td>
  <td class="text-center"><%= presenter.delete_button %></td>
</tr>
