<table class="table table-bordered table-striped" id="device-associations-table">
  <thead>
    <th><%= t(:mac) %></th>
    <th class="text-center">Model</th>
    <th class="text-center">Interface <%= table_header_tooltip(t('device_associations.interface.help_text')) %></th>
    <th class="text-center">Type <%= table_header_tooltip(t('device_associations.type.help_text')) %></th>
    <th class="text-center">IP Address</th>
    <th class="text-center">Connected <%= table_header_tooltip(t('device_associations.connected.help_text')) %></th>
    <th class="text-center">Detach <%= table_header_tooltip(t('device_associations.detach.help_text')) %></th>
  </thead>

  <tbody>
    <% if device.device_associations.any? %>
      <% device.device_associations.each do |association| %>
        <%= render partial: '/device_associations/table_row', locals: {
              presenter: ::DeviceAssociationPresenter.new(self, device, association)
            } %>
      <% end %>
    <% else %>
      <tr>
        <td colspan="7"><center>No associations found</center></td>
      </tr>
    <% end %>
  </tbody>
</table>
