<% content_for :header_javascript_block  do %>
  <script charset="UTF-8" type="text/javascript" src="<%= asset_path('markerclusterer.js') %>"></script>
  <script charset="UTF-8" type="text/javascript" src="<%= asset_path('oms.min.js') %>"></script>
  <script charset="UTF-8" type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= Settings.api_keys.google %>"></script>
  <%= javascript_include_tag :visualsearch_map_integration %>
  <script type="text/javascript">
    var mapOptions = {
      apiKey: "<%= Settings.api_keys.google %>",
      mapId: 'map',
      overlayId: 'overlay',
      dataURL: 'maps/pins',
      showCellPins: <%= current_user.cellular_pins_on_map? %>
    }
    var deviceMap = new DeviceMap(mapOptions);

    $(document).ready(function(){
      deviceMap.draw();
      deviceMap.addRegionClickListeners();
    });
  </script>
<% end %>

<%= render 'shared/page_header', locals: { title: 'maps' } %>
<div class="row wrapper border-bottom white-bg page-search">
  <h4>Filter <%= t('.maps') %></h4>
  <%= render 'shared/visual_search' %>
</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12" id="main-map">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Map</h5>
          <%= render 'shared/map_regions' %>
        </div>
        <%= content_tag( :div, '', class: 'vs-target-wrapper', data: { facets: @presenter.facets } ) %>
        <div class="ibox m-t-none">
          <div id="map"></div>
          <div id="overlay">
            <div id="overlay-message">
              <h3 id="loading-message">Loading Map</h3>
              <img src=<%= asset_path('ajax-loader-charts.gif') %> id="img-load" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
