<div id="change-devices-organization-modal" class="modal inmodal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Change Organization</h3>
      </div>
      <%= form_tag move_devices_to_organizations_path,
                   class: 'form-horizontal ajax-form',
                   id: 'change-organization-form',
                   method: :post,
                   remote: true do %>
        <%= hidden_field_tag :device_macs, @device.mac %>
        <div class="modal-body">
          <%= alert_warning message: 'This will remove the configuration from the device' %>
          <div class="form-group">
            <label class="col-sm-4 control-label">Organization</label>
            <div class="col-sm-8">
              <%= select_tag :organization_id,
                           options_for_select(organizations_select_list, @device.organization_id),
                           { class: 'form-control', id: 'device_organization_selection', name: :organization_id } %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label">Copy Site ID</label>
            <div class="col-sm-8 i-checks">
              <label class="checkbox-inline">
                <%= check_box_tag :copy_site_id_to_organization, true, false, class: 'i-checkbox' %>
                <span>
                  <a href="#" class="m-l-xs" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= t('devices.move_to_organization.copy_site_id_help') %>">
                    <span class="badge">?</span>
                  </a>
                </span>
              </label>
            </div>
          </div>

          <% if @device.data_plan.present? %>
            <div class="form-group">
              <label class="col-sm-4 control-label">Copy Data Plan</label>
              <div class="col-sm-8 i-checks">
                <label class="checkbox-inline">
                  <%= check_box_tag :copy_data_plan_to_organization, true, false, class: 'i-checkbox' %>
                  <span>
                    <a href="#" class="m-l-xs" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= t('devices.move_to_organization.copy_data_plan_help') %>">
                      <span class="badge">?</span>
                    </a>
                  </span>
                </label>
              </div>
              <span id="data-plan-check-alert" class="text-center help-block m-b-none">There is a data plan with the same name on the selected organization</span>
            </div>
          <% end %>
        </div>

        <div class="modal-footer">
          <div class="form-modal-spinner">
            <%= render 'shared/spinners/fading_circle' %>
          </div>
          <%= submit_tag 'Close', class: 'btn btn-white', 'data-dismiss' => 'modal' %>
          <%= submit_tag 'Set Organization', id: 'move-device-to-organization-submit', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
