<div class="modal inmodal fade" id="move-to-data-plan-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Move Devices To Data Plan</h4>
      </div>

      <%= form_tag move_devices_to_organization_data_plans_path(@presenter.current_organization), remote: true,
                   class: 'form-horizontal ajax-form', id: 'move-devices-to-data-plan-form' do %>
        <div class="modal-body">
          <%= hidden_field_tag :device_macs, nil, id: 'selected-device-macs' %>

          <% if @presenter.show_organization_selection? %>
            <div class="form-group">
              <label class="col-sm-3 control-label">Organization</label>
              <div class="col-sm-9">
                <%= select_tag :organization_id,
                               options_from_collection_for_select(@presenter.usable_organizations, :id, :name, @presenter.current_organization.id),
                               { class: 'form-control' } %>
              </div>
            </div>
          <% end %>

          <div class="form-group">
            <label class="col-sm-3 control-label">Data Plan:</label>
            <div class="col-sm-9">
              <%= select_tag :data_plan_id,
                             options_for_select(@presenter.data_plans_for_select),
                             { class: 'select2-without-search form-control', id: 'data-plans-drop', include_blank: t('data_plans.no_data_plan_option') } %>
            </div>
          </div>
          <p class="col-sm-offset-3">Set Data Plan to the blank option to remove the data plan from the selected devices.</p>
        </div>

        <div class="modal-footer">
          <div class="form-modal-spinner">
            <%= render 'shared/spinners/fading_circle' %>
          </div>
          <%= submit_tag 'Close', class: 'btn btn-white', 'data-dismiss' => 'modal' %>
          <%= submit_tag 'Move Devices', class: 'btn btn-primary', id: 'submit-move-devices-to-data-plan' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
