<script>
  // Update select2 data
  // https://github.com/select2/select2/issues/2830
  function updateRoles(select, data) {
    // Save current config & options
    var options = select.data('select2').options.options;

    // Selete all items of the native select element
    select.html('');

    // Build new items
    var items = [];
    for (var i = 0; i < data.length ; i++) {
      items.push({
        "id":   data[i].id,
        "text": data[i].name
      });

      select.append("<option value=\"" + data[i].id + "\">" + data[i].name + "</option>");
    }

    // Add new items
    options.data = items;
    select.select2(options);
  }

  $('#organization_parent_id').on('change', function() {
    var form = $(this).parents('form');
    var organization_id = $(this).find('option:selected').val();
    var abilities_url = '/api/v2/organizations/' + organization_id + '/abilities.js';
    var checked_abilities = $('input[name="checked_abilities"').val();

    $.ajax({
      url: abilities_url,
      data: { checked_abilities: checked_abilities },
      type: 'GET',
      dataType: 'script',
      beforeSend: function() {
        form.trigger('ajax:beforeSend');
        $('#abilities-list').html('<div class="form-group"><label class="col-sm-3 control-label"></label><div class="col-sm-9"><p class="form-control-static">Loading ...</p></div></div>')
      },
      success: function() {
        console.log('success');
        setCheckButtons($('#all-abilities'));
      },
      complete: function() {
        form.trigger('ajax:complete');
      }
    });
  });

  $(document).ready(function() {
    listenForButtonGroupLatchingClick();
    $("form.ajax-form").validate();
  });

  $('#all-abilities').click(function() {
    $('#abilities-list input[type="checkbox"]').iCheck('check');
  });

  $('#no-abilities').click(function() {
    $('#abilities-list input[type="checkbox"]').iCheck('uncheck');
  });

  $('input:checkbox').livequery(function() {
    $(this).on('ifClicked', function() {
      setCheckButtons($('#custom-abilities'));
    });
  });

  $('#expand-abilities').click(function() {
    if ($('#abilities-list').hasClass('in')) {
      $('#expand-abilities-icon').addClass('fa-plus-square-o').removeClass('fa-minus-square-o');
      $('#expand-abilities-text').text('Expand');
    } else {
      $('#expand-abilities-icon').removeClass('fa-plus-square-o').addClass('fa-minus-square-o');
      $('#expand-abilities-text').text('Collapse');
    }
  });
</script>

<div class="modal inmodal fade" id="new-organization-modal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <%= form_for(@organization, url: api_v2_organizations_path(format: :js), remote: true, html: { multipart: true, class: 'form-horizontal ajax-form', id: 'create-organization' }) do |f| %>

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">New Organization</h4>
        </div>

        <div class="modal-body" style="max-height: 500px; overflow-y: scroll;">

          <div class="form-group"><label class="col-sm-3 control-label">Name *</label>
            <div class="col-sm-9">
              <%= f.text_field :name, class: 'form-control required', placeholder: 'Organization Name', minlength: 2 %>
            </div>
          </div>

          <div class="form-group"><label class="col-sm-3 control-label">Parent *</label>
            <div class="col-sm-9">
              <%= f.select :parent_id,
                options_from_collection_for_select(@parent_organizations, :id, :name, params[:parent_id].to_i),
                {}, class: 'form-control m-b select2 required' %>
            </div>
          </div>

          <div class="form-group"><label class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
              <%= f.text_field :description, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group"><label class="col-sm-3 control-label">Service Name</label>
            <div class="col-sm-9">
              <%= f.select :customer_service_id,
                CustomerService.all_for_select, { include_blank: true},
                { class: 'form-control select-2-without-search' } %>
            </div>
          </div>

          <% if @abilities.any? %>

            <div class="form-group">
              <label class="col-sm-3 control-label">
                Abilities
              </label>

              <div class="col-sm-9">
                <div class="btn-group btn-group-latching check-buttons" data-toggle="buttons">
                  <label class="btn btn-white" id="all-abilities">
                    <input type="radio" name="checked_abilities" value="all" /> All
                  </label>

                  <label class="btn btn-primary" id="no-abilities">
                    <input type="radio" name="checked_abilities" value="none" /> None
                  </label>

                  <label class="btn btn-white" id="custom-abilities">
                    <input type="radio" name="checked_abilities" value="custom"/> Custom
                  </label>
                </div>

                <a href="#abilities-list" class="btn btn-link" data-toggle="collapse" id="expand-abilities">
                  <i class="fa fa-plus-square-o" id="expand-abilities-icon">&nbsp;</i>
                  <span id="expand-abilities-text">Expand</span>
                </a>
              </div>
            </div>

            <div id="abilities-list" class="collapse">
              <% @abilities.each do |ability| %>
                <%= render partial: 'ability_form_group', locals: { ability: ability } %>
              <% end %>
            </div>
          <% end %>

          <div class="form-group">
            <label class="col-sm-3 control-label">Logo</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input id="upload-file" class="form-control" placeholder="Choose File" disabled="disabled" />
                <div class="input-group-btn">
                  <div class="file-upload btn btn-primary">
                    <span>Upload</span>
                    <%= f.file_field :logo, class: "upload", id: "upload-btn" %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Footer</label>
            <div class="col-sm-9">
              <div class="input-group">
                <%= f.text_field :footer, class: 'form-control' %>
                <div class="input-group-addon">
                  <a href="#" data-toggle="tooltip" data-placement="right" data-container="body" title="The footer can be either text or valid HTML. This field is optional."><span class="badge">?</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="form-modal-spinner">
            <%= render 'shared/spinners/fading_circle' %>
          </div>
          <%= submit_tag "Cancel", class: 'btn btn-white', 'data-dismiss' => 'modal' %>
          <%= submit_tag "Create Organization", class: 'btn btn-primary' %>
        </div>

      <% end %>

    </div>
  </div>
</div>
