<tr>
  <% unless local_assigns[:header] %>
      <% row.each do |column| %>
          <td><%= column %></td>
      <% end %>
  <% else %>
      <% row.each do |column| %>
          <th><%= column %></th>
      <% end %>
  <% end %>
</tr>