<template>
  <div class="report-container">
     <h1 class="centered-text">{{organization}} VIG Utilization Reports</h1>
    <chart-group v-for="vlans in chartData.vlans" v-bind:chart-data="vlans" v-bind:organization="organization" v-bind:show-detailed="showDetailed"></chart-group>
  </div>
</template>

<script>
  import ChartGroup from './chart-group.vue'

  export default {
    components: {
      'chart-group': ChartGroup
    },
    props: ["organization", "showDetailed", "chartData"],
  }
</script>