<template>
  <div class="panel-body">
    <h3 class="centered-text">VIG Utilization Report - {{this.organization}} (VLAN {{this.chartData.vlan_id}})</h3>
    <div class="row">
      <chart v-for="vig in chartData.vigs" v-bind:chart-data="vig" v-bind:vlan="chartData.vlan_id" v-bind:show-detailed="showDetailed"></chart>
    </div>
  </div>
</template>

<script>
  import Chart from '../charts/chart.vue'
  
  export default {
    components: {
      chart: Chart
    },
    props: ["chartData", "showDetailed", "organization"]
  }
</script>