<template>
  <div>
    <div class="row">
      <div class="col-md-3">
        <vue-select multiple :options="organizations" placeholder="Select account(s)..." v-model="selectedOrg"></vue-select>
      </div>
      <div class="form form-inline text-right m-b col-md-9" v-if="showRange">
        <div class="form-group">
          <label for="">Range</label>
          <select class="form-control" v-model="selectedRange">
            <option v-for="option in rangeOptions" v-bind:value="option.value">{{option.text}}</option>
          </select>
        </div>
     </div>
      <chart-container v-for="data in chartData" v-if="ready" v-bind:organization="data.org_id" v-bind:show-detailed="showDetailed" v-bind:chart-data="data"></chart-container> 
    </div>
    <div class="row" v-if="loading">
      <h3 class="centered-text col-xs-12">Loading...</h3>
    </div>
    <div class="row" v-else-if="!hasOrg">
      <h3 class="centered-text col-xs-12">Please select an organization.</h3>
    </div>
    <div class="row" v-else-if="!ready">
      <h3 class="centered-text col-xs-12">No data for the currently selected options.</h3>
    </div>
  </div>
</template>

<script>
  import ChartContainer from './chart-container.vue';
  import VueSelect from 'vue-select';

  export default {
    name: "vvig-container",
    components: {
      'chart-container': ChartContainer,
      'vue-select': VueSelect
    },
    data: function(){
      return {
        selectedOrg: [],
        selectedVlan: undefined,
        chartData: {},
        showDetailed: false,
        selectedRange: "30_d",
        loading: false,
        rangeOptions: [
          {
            text: "last 30 days",
            value: "30_d"
          },{
            text: "last 7 days",
            value: "7_d"
          },{
            text: "last 24 hours",
            value: "1_d"
          }
        ]
      }
    },
    props: ["organizations"],
    methods: {
      chartDataUrl: function(){
        return "/vvig_pnc/data"
      },
      getParams: function(){
        var params = {};
        var endTs = new Date();
        endTs.setHours(0, 0, 0);
        var splitRange = this.selectedRange.split("_");
        var unitsToMs = {
          "d": 1000 * 60 * 60 * 24,
          "h": 1000 * 60 * 60,
        };
        var offset = unitsToMs[splitRange[1]] * parseInt(splitRange[0]);
        var startTs = new Date(endTs.valueOf() - offset);
        params["start_ts"] = startTs.valueOf();
        params["end_ts"] = endTs.valueOf();
        params["organization_ids"] = this.selectedOrg.join(",");
        if(this.selectedVlan){
          params["vlan"] = this.selectedVlan.value;
        }
        params["format"] = "chart";
        return params
      },
      getChartData: function(){
        if(this.orgSelected()){
          this.loading = true;
          AV.UTIL.AJAX.get(
            this.chartDataUrl(),
            this.getParams(),
            (response) => {
              this.chartData = response.data;
              this.loading = false;
            }
          );
        }
      },
      orgSelected: function(){
        return this.selectedOrg ? this.selectedOrg.length > 0 : false;
      }
    },
    watch: {
      selectedOrg: "getChartData",
      selectedRange: "getChartData"
    },
    computed: {
      showRange: function() {
        return this.orgSelected();
      },
      ready: function() {
        return !this.loading && this.orgSelected() && this.chartData && this.chartData.length > 0;
      },
      hasOrg: function() {
        return !this.loading && this.orgSelected();
      },
      isLoading: function() {
        return this.loading;
      }
    },
  }
</script>