<tr>
  <td class="content-block">
    <h3>Welcome!</h3>
  </td>
</tr>
<tr>
  <td class="content-block">
    Hello,<br /><br />
    You've been added to the <%= @user.organization.name %> organization on Accelerated View. Please activate your account by clicking the link below:
  </td>
</tr>
<tr>
  <td class="content-block aligncenter">
    <%= link_to 'Get started with Accelerated View', new_activation_url(reset_password_token: @token), class: 'btn-primary' %>
  </td>
</tr>
<tr>
  <td class="content-block">
    <b>Note:</b> The above link is only valid for 72 hours (3 days).  If you do not setup your account within this time, please contact your administrator to have them recreate your account on Accelerated View.
  </td>
</tr>
<tr>
  <td class="content-block">
    Sincerely,<br />
    The Accelerated View Team
  </td>
</tr>
