<tr><td class="content-block"><h3>Long Running Import</h3></td></tr>
<tr>
  <td class="content-block">Import <%= @import.id %> exceeded <%= @alert_time %>.</td>
</tr>
<tr>
  <td class="content-block">
    <table>
      <tr><td><strong>Type:</strong></td><td><%= @import.the_type %></td></tr>
      <tr><td><strong>Source:</strong></td><td><%= @import.the_source_name %></td></tr>
      <tr><td><strong>File:</strong></td><td><%= @import.import_file %></td></tr>
      <tr><td><strong>Host:</strong></td><td><%= @host %></td></tr>
      <tr><td><strong>Created At: </strong></td><td><%= @import.created_at %></td></tr>
    </table>
  </td>
</tr>