<tr><td class="content-block"><h3>Multiple Imports Running</h3></td></tr>
<tr>
  <td class="content-block">
    Import <%= @import.id %> was initialized, but another import was running.
    This may indicate that another import process is stuck.  Please check
    the admin#imports page on <%= @host %> and clean up any stuck or old import
    jobs that may still be running.
  </td>
</tr>
<tr>
  <td class="content-block">
    <table>
      <tr><td><strong>Type:</strong></td><td><%= @import.the_type %></td></tr>
      <tr><td><strong>Source:</strong></td><td><%= @import.the_source_name %></td></tr>
      <tr><td><strong>File:</strong></td><td><%= @import.import_file %></td></tr>
      <tr><td><strong>Host:</strong></td><td><%= @host %></td></tr>
      <tr><td><strong>Created At: </strong></td><td><%= @import.created_at %></td></tr>
    </table>
  </td>
</tr>
