<div class="clearfix"><br /><br /></div>

<div class="loginbox" id="accelecon-login">
  <%= form_for(resource,
      :html => {:class => "form-vertical", :id => "loginform"},
      :as => resource_name,
      :url => session_path(resource_name)) do |f| %>

    <h4>
      <% unless flash.empty? %>
        <% flash.each do |key, value| %>
          <% unless key == :timedout %>
            <%= value %> &nbsp;
          <% end %>
        <% end %>
      <% else %>
        Enter login credentials to continue
      <% end %>
    </h4>

    <div class="control-group">
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on">Email</span>
          <%= f.email_field :email, :id => "email" %>
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on">Password</span>
          <%= f.password_field :password, :id => "password" %>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <span class="pull-left"><a href="#" class="flip-link" id="to-recover">Lost password?</a></span>
      <span class="pull-right"><input type="submit" class="btn btn-inverse" value="Login" /></span>
    </div>
  <% end %>

  <%= form_for(resource,
    :html => {:method =>:post, :class => "form-vertical recover-options", :id => "recoverform"},
    :as => resource_name,
    :url => password_path(resource_name)) do |f| %>

    <h4>Enter your email address below and we will send you instructions how to reset your password.</h4>
    <div class="control-group">
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on">Email</span>
          <%= f.email_field :email, :id => "inputEmail" %>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <span class="pull-left"><a href="#" class="flip-link" id="to-login">&laquo; Back to login</a></span>
      <span class="pull-right"><input type="submit" class="btn btn-inverse" value="Send reset instructions" /></span>
    </div>
  <% end %>

  <div class="clear"></div>

</div>
