<!doctype html>
<head>
  <link rel="icon" type="image/png" href="https://accelerated.com/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="https://accelerated.com/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="https://accelerated.com/favicon-16x16.png" sizes="16x16">
</head>
<title>AView Maintenance</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { 
    font: 20px Helvetica, sans-serif; 
    color: darkgray; 
    background-color: #white; 
  }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    font-size: 15px;
    text-align: center;
    background-color: #2f4050;
    color: white;
    left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
</style>

<article>
  <h1>AView will be back soon!</h1>
  <div>
    <p>Sorry for the inconvenience, but we&rsquo;re performing some maintenance at the moment. If you need to, you can always <a href="mailto:support@accelerated.com">contact us</a>. Otherwise, we&rsquo;ll be back online shortly!</p>
    <p>&mdash; The Accelerated Team</p>
  </div>
  <div>
    <a href="https://accelerated.com/"><img alt="Accelerated Concepts" class="logoHeader img-responsive" src="https://accelerated.com/images/accelerated-a-digi-company-logo.png"></a>
  </div>
  <div id="footer">
    ©{{year}} Accelerated Concepts, Inc. All Rights Reserved
  </div>
</article>
<script>
  var year = new Date().getFullYear();
  var footer = document.getElementById("footer");
  footer.innerHTML = footer.innerHTML.replace("{{year}}", year);
</script>