<div class="col-md-2">
  <div class="widget text-center no-margins">
    <div class="m-b-md">
      <h1 class="m-xs text-info"><%= @presenter.devices_online %></h1>
      <h3 class="font-bold no-margins">
        Online
      </h3>
    </div>
  </div>
</div>

<div class="col-md-2">
  <div class="widget text-center no-margins">
    <div class="m-b-md">
      <h1 class="m-xs text-danger"><%= @presenter.devices_offline %></h1>
      <h3 class="font-bold no-margins">
        Offline
      </h3>
    </div>
  </div>
</div>

<div class="col-md-2">
  <div class="widget text-center no-margins">
    <div class="m-b-md">
      <h1 class="m-xs"><%= @presenter.devices_deployed %></h1>
      <h3 class="font-bold no-margins">
        Deployed
      </h3>
    </div>
  </div>
</div>

<div class="col-md-2">
  <div class="widget text-center no-margins">
    <div class="m-b-md">
      <h1 class="m-xs"><%= @presenter.devices_undeployed %></h1>
      <h3 class="font-bold no-margins">
        Undeployed
      </h3>
    </div>
  </div>
</div>

<div class="col-md-2">
  <div class="widget text-center no-margins">
    <div class="m-b-md">
      <h1 class="m-xs"><%= @presenter.devices_activated %></h1>
      <h3 class="font-bold no-margins">
        Activated
      </h3>
    </div>
  </div>
</div>

<div class="col-md-2">
  <div class="widget text-center no-margins">
    <div class="m-b-md">
      <h1 class="m-xs text-primary"><%= @presenter.devices_total %></h1>
      <h3 class="font-bold no-margins">
        Total
      </h3>
    </div>
  </div>
</div>
