$('.modal-body').find('.alert').remove();

var alerts = ''

<% @group.errors.full_messages.each do |message| %>
  alerts += "<%= j alert_error message: message %>";
<% end %>

$(".modal-body").prepend(alerts);
