$(".device-ids-select").select2("val", "");
$('#add-group-devices-modal').modal('hide');

refreshGroupWidgets();

$('#group-devices-table').DataTable().ajax.reload(function() {
  var deviceCount = '<%= @devices.count %>';
  var pluralizedDevice = '<%= "device".pluralize(@devices.count) %>';
  var groupName = '<%= @group.name %>';
  var message = 'Successfully added ' + deviceCount + ' ' + pluralizedDevice + ' to group "' + groupName + '".';
  var title = pluralizedDevice.capitalize() + ' Added';

  toastr.success(message, title);
});
