$('#new-group-modal').modal('hide');

$('#groups-table').DataTable().ajax.reload(function() {
  toastr.success('Successfully created group "<%= @group.name %>".', 'Group Created');
  flashElement($('#group_row_<%= @group.id %>'));
});
