$('#destroy-groups-modal').modal('hide');

$('#groups-table').DataTable().ajax.reload(function() {
  var groupNames = '<%= @group_names.map { |name| "\"#{name}\"" }.join(", ") %>';
  var pluralizedGroup = '<%= "group".pluralize(@group_names.count) %>';
  var message = 'Successfully deleted ' + pluralizedGroup + ': ' + groupNames + '.';
  var title = pluralizedGroup.capitalize() + ' Deleted';

  toastr.success(message, title);
});
