var modal = "<%= j render(partial: 'groups/modals/edit_firmware') %>";

$('#modals-container').html(modal)
$('#edit-group-firmware-modal .select2').select2({ theme: 'bootstrap' })
$('#edit-group-firmware-modal').modal({backdrop: 'static'});
