<%= render 'shared/page_header_vs', locals: { title: @presenter.title } %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <div class="groups-toolbar">
            <%= link_to(new_group_path(format: :js), class: 'btn btn-link single-button-remote', remote: true) do %>
              <i class="fa fa-plus"></i> Add
            <% end %>

            <%= link_to("#", class: 'btn btn-link single-select-button disabled', id: 'delete-groups', 'data-toggle' => 'modal', 'data-target' => '#destroy-groups-modal') do %>
              <i class="fa fa-times"></i> Delete
            <% end %>

            <div class="btn-group">
              <a data-toggle="dropdown" id="group-configuration" class="btn btn-link dropdown-toggle disabled">
                <i class="fa fa-wrench"></i> Configuration <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#" id="edit-group-configuration"><i class="fa fa-pencil"></i> Edit</a></li>
                <li><a href="#"><i class="fa fa-th-list"></i> Summary</a></li>
                <li><a href="#"><i class="fa fa-times-circle"></i> Clear</a></li>
                <li><a href="#"><i class="fa fa-copy"></i> Copy To ...</a></li>
              </ul>
            </div>

            <%= link_to("#", class: 'btn btn-link single-select-button single-button-remote disabled', id: 'edit-group-firmware', remote: true) do %>
              <i class="fa fa-codepen"></i> Firmware
            <% end %>

            <a id="group-settings" class="btn btn-link disabled">
              <i class="fa fa-sliders"></i> Settings
            </a>

            <a href="#" title="Refresh" id="refresh-data-table" class="btn btn-link pull-right">
              <i class="fa fa-refresh"></i>
            </a>
          </div>

          <div class="clear"></div>
        </div>

        <div class="ibox-content">
          <div class="table-responsive vs-target-wrapper" data-no-vs-spinner="true" data-facets="<%= @presenter.facets.to_json %>">
            <table class="table table-striped table-bordered table-hover vs-table dataTable datatable-v2" id="groups-table">
              <thead>
                <tr>
                  <%= render 'shared/table_labels' %>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="<%= @presenter.columns.count %>">
                    <center><%= image_tag('ajax-loader.gif') %></center>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="clear"></div>
            <div id="table-ender"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'groups/modals/destroy_multiple' %>

<script type="text/javascript">
  var dataTableURI = '<%= groups_data_tables_path %>';

  function initDataTable(columns, table) {
    table.DataTable(makeDataTableV2(columns, table, dataTableURI));
  }

  function selectedGroupID() {
    return $('.group-select:checked').val();
  }

  function enableDeleteGroupsButton() {
    $('#delete-groups').removeClass('disabled');
  }

  function disableDeleteGroupsButton() {
    $('#delete-groups').addClass('disabled');
  }

  function enableConfigurationButton() {
    $('#group-configuration').removeClass('disabled');
  }

  function disableConfigurationButton() {
    $('#group-configuration').addClass('disabled');
  }

  function enableFirmwareButton() {
    $('#edit-group-firmware').removeClass('disabled');
  }

  function disableFirmwareButton() {
    $('#edit-group-firmware').addClass('disabled');
  }

  function enableSettingsButton() {
    $('#group-settings').removeClass('disabled');
  }

  function disableSettingsButton() {
    $('#group-settings').addClass('disabled');
  }

  function enableSingleSelectButtons() {
    enableConfigurationButton();
    enableFirmwareButton();
    enableSettingsButton();
  }

  function disableSingleSelectButtons() {
    disableConfigurationButton();
    disableFirmwareButton();
    disableSettingsButton();
  }

  function disableAllSelectDependentButtons() {
    disableDeleteGroupsButton();
    disableSingleSelectButtons();
  }

  function groupCount() {
    return $('.group-select').length
  }

  function groupSelectedCount() {
    return $('.group-select:checked').length
  }

  function disableGlobalCheckbox() {
    $('.group-select-all').prop('checked', false);
  }

  function enableGlobalCheckbox() {
    $('.group-select-all').prop('checked', true);
  }

  $(document).ready(function () {

    // Toggle toolbar buttons when groups are checked / unchecked. We use
    // livequery here to attach to checkboxes injected into the DOM when new
    // groups are created.
    $('.group-select').livequery(function() {
      $(this).on('change', function() {
        var selectedCount = groupSelectedCount();
        var count = groupCount();

        if (selectedCount) {
          // Some buttons are toggled only if a single row is checked
          if (selectedCount > 1) {
            disableSingleSelectButtons();
          } else {
            enableSingleSelectButtons();
          }

          enableDeleteGroupsButton();

          // Toggle the global checkbox
          if (selectedCount != count) {
            disableGlobalCheckbox();
          } else {
            enableGlobalCheckbox();
          }
        } else {
          disableAllSelectDependentButtons();
        }
      });
    });

    // Global group checkbox toggle
    $('.group-select-all').livequery(function() {
      $(this).on('change', function() {
        var groupSelect = $('.group-select');

        if ($('.group-select-all:checked').length) {
          groupSelect.prop('checked', true);
        } else {
          groupSelect.prop('checked', false);
        }

        // Ensure toolbar buttons are toggled correctly
        groupSelect.trigger('change');
      });
    });

    $('#edit-group-configuration').on('click', function(e) {
      window.location.href = '/groups/' + selectedGroupID() + '/configuration';
      e.preventDefault();
    });

    $("#edit-group-firmware").on('click', function(e) {
      e.originalEvent.currentTarget.href = '/groups/' + selectedGroupID() + '/edit_firmware.js';
    });

    $('#groups-table').on('draw.dt', function() {
      disableSingleSelectButtons();
      disableGlobalCheckbox();
    });

  });
</script>
