var modal = "<%= j render(partial: 'groups/modals/new') %>";

$('#modals-container').html(modal)
$('#new-group-modal .select2').select2({ theme: 'bootstrap' })
$('#new-group-modal').modal({backdrop: 'static'});
