$('#remove-group-devices-modal').modal('hide');

refreshGroupWidgets();

$('#group-devices-table').DataTable().ajax.reload(function() {
  var deviceCount = '<%= @count %>';
  var pluralizedDevice = '<%= "device".pluralize(@count) %>';
  var groupName = '<%= @group.name %>';
  var message = 'Successfully removed ' + deviceCount + ' ' + pluralizedDevice + ' from group "' + groupName + '".';
  var title = pluralizedDevice.capitalize() + ' Removed';

  toastr.success(message, title);
});
