<%= render 'shared/page_header', locals: { title: @group.title, skip_translate: true } %>

<div class="wrapper wrapper-content">
  <div class="row" id="group-widgets-container">
    <%= render partial: 'group_widgets' %>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <div class="groups-toolbar">
            <%= link_to('#', class: 'btn btn-link', id: 'add-devices', 'data-toggle' => 'modal', 'data-target' => '#add-group-devices-modal') do %>
              <i class="fa fa-plus"></i>&nbsp;Add Devices
            <% end %>

            <%= link_to("#", class: 'btn btn-link disabled', id: 'remove-devices', 'data-toggle' => 'modal', 'data-target' => '#remove-group-devices-modal') do %>
              <i class="fa fa-times"></i> Remove Devices
            <% end %>

            <div class="btn-group">
              <a data-toggle="dropdown" id="group-configuration" class="btn btn-link dropdown-toggle">
                <i class="fa fa-wrench"></i> Configuration <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to(configuration_group_path(@group)) do %>
                    <i class="fa fa-pencil"></i> Edit
                  <% end %>
                </li>
                <li><a href="#"><i class="fa fa-th-list"></i> Summary</a></li>
                <li><a href="#"><i class="fa fa-times-circle"></i> Clear</a></li>
                <li><a href="#"><i class="fa fa-copy"></i> Copy To ...</a></li>
              </ul>
            </div>

            <%= link_to(edit_firmware_group_path(@group), class: 'btn btn-link single-button-remote', id: 'edit-group-firmware', remote: true) do %>
              <i class="fa fa-codepen"></i> Firmware
            <% end %>

            <a id="group-settings" class="btn btn-link">
              <i class="fa fa-sliders"></i> Settings
            </a>

            <a href="#" title="Refresh" id="refresh-data-table" class="btn btn-link pull-right">
              <i class="fa fa-refresh"></i>
            </a>
          </div>

          <div class="clear"></div>
        </div>

        <div class="ibox-content">
          <div class="table-responsive vs-target-wrapper" data-facets="<%= @presenter.facets.to_json %>">
            <table class="table table-striped table-bordered table-hover vs-table dataTable datatable-v2" id="group-devices-table">
              <thead>
                <tr>
                  <%= render 'shared/table_labels' %>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="<%= @presenter.columns.count %>">
                    <center><%= image_tag('ajax-loader.gif') %></center>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'groups/modals/add_devices' %>
<%= render partial: 'groups/modals/remove_devices' %>

<% content_for :header_javascript_block  do %>
  <script type="text/javascript">

    function enableRemoveDevicesButton() {
      $('#remove-devices').removeClass('disabled');
    }

    function disableRemoveDevicesButton() {
      $('#remove-devices').addClass('disabled');
    }

    var dataTableURI = '<%= group_devices_data_tables_path(group_id: @group.id) %>';

    function initDataTable(columns, table) {
      table.DataTable(makeDataTableV2(columns, table, dataTableURI));
    }

    function refreshGroupWidgets() {
      $.ajax({
        url: '<%= group_widgets_group_path(@group) %>',
        dataType: 'html',
        success: function(data) {
          $("#group-widgets-container").html(data);
        }
      });
    }

    $(document).ready(function () {
      $('.device-select').livequery(function() {
        $(this).on('change', function() {
          if ($('.device-select:checked').length) {
            enableRemoveDevicesButton();

            // Enable/disable the global checkbox
            if ($('.device-select:checked').length != $('.device-select').length) {
              $('.device-select-all').prop('checked', false);
            } else {
              $('.device-select-all').prop('checked', true);
            }
          } else {
            disableRemoveDevicesButton();
          }
        });
      });

      $('.device-select-all').livequery(function() {
        $(this).on('change', function() {
          if ($('.device-select-all:checked').length) {
            $('.device-select').prop('checked', true);
            enableRemoveDevicesButton();
          } else {
            $('.device-select').prop('checked', false);
            disableRemoveDevicesButton();
          }
        });
      });
    });
  </script>
<% end %>
