$('#edit-group-firmware-modal').modal('hide');

$('.datatable-v2').DataTable().ajax.reload(function() {
  var version = '<%= @group.firmware.version %>';
  var groupName = '<%= @group.name %>';
  var message = 'Successfully changed firmware to "' + version + '" for group "' + groupName + '"';
  var title = 'Group Firmware Updated';

  toastr.success(message, title);
  flashElement($('#group_row_<%= @group.id %>'));
});
