$('#imports').find('.alert').remove();
<% if @import.blank? %>
  <%= render partial: 'blank', locals: { element: '#imports > .panel-body' } %>
<% elsif @import.errors.any? %>
  <%= render partial: 'errors', locals: { element: '#imports > .panel-body' } %>
<% else %>
  $('#imports-table').DataTable().ajax.reload(function() {
    var alert = "<%= j alert_success message: t('imports.destroyed') %>";
    $('#imports > .panel-body').prepend(alert);
    // declared in js/aview/bootstrap-alerts.js
    setAlertExpiration($('#imports > .panel-body > .alert'));
  });
<% end %>