$('#imports').find('.alert').remove();

$('#imports-table').DataTable().ajax.reload(function() {
  var alert = "<%= j alert_success message: t('imports.all_destroyed') %>";
  $('#imports > .panel-body').prepend(alert);
  // declared in js/aview/bootstrap-alerts.js
  setAlertExpiration($('#imports > .panel-body > .alert'));
});