var modal = "<%= j render(partial: 'modals/new') %>";

$('#modals-container').html(modal)
$('#new-import-modal').modal({backdrop: 'static'});

function toggleImportAttributes(name) {
  $('.import-attributes').not('.' + name).hide();
  $('.import-attributes.' + name).show();
}

$('input:radio').on('ifChecked', function(event){
  toggleImportAttributes($(this).val());
});

// Set initial state
toggleImportAttributes($('input:radio:checked').val());

$("#import-file-btn").on('change', function () {
  var file = extractFilenameFromPath(this.value);
  $("#upload-file").val(file);
});