
$('#show-import-modal .import-objects').html("<%= j render partial: 'objects' %>");

$('#show-import-modal .import-show').toggle('slide', { direction: 'right' }, 500, function () {
  $('#show-import-modal .import-objects').show();
});

$('.reset-import-show').show();
