<div class="row-fluid">
  <div class="span2" id="current_user_information_options">
    <div class="widget-box">
      <div class="widget-title">
        <h5>Settings</h5>
      </div>
      <div class="widget-content no-padding">
        <ul class="nav nav-pills nav-stacked">
          <li class="settings-tab <%= active?('index') %>">
            <%= link_to "Information", account_index_path %>
          </li>
          <li class="settings-tab <%= active?('notification_subscriptions') %>">
            <%= link_to "Notification Subscriptions", notification_subscriptions_account_index_path %>
          </li>
          <li class="settings-tab <%= active?('notification_profiles') %>">
            <%= link_to "Notification Profiles", notification_profiles_account_index_path %>
          </li>

        </ul>
      </div>
    </div>
  </div>

  <%= yield(:account_settings) %>

</div>
