<div id="content-header">
  <h1>Users</h1>

  <% if policy(Organization).create? %>
    <div class="btn-group btn-group-last">
      <%= link_to new_organization_user_path(@organization), :class => "btn btn-large tip-bottom #{active? 'new'}", :id => "new_user", :title => "New User" do %>
        <i class="icon-plus"></i>
      <% end %>
    </div>

    <div class="btn-group">
  <% else %>
    <div class="btn-group btn-group-last">
  <% end %>
    <%= link_to organization_users_path(current_user.organization), :class => "btn btn-large tip-bottom #{active? ['index'] }", :id => "all_users", :title => "Show All Users" do %>
      <i class="icon-th"></i>
    <% end %>
    <%= link_to organization_user_path(current_user.organization, current_user), :class => "btn btn-large tip-bottom #{active? ''}", :id => "current_user", :title => "Current User" do %>
      <i class='icon-user'></i>
    <% end %>
  </div>
</div>
