<div id="information" class="tab-pane active">
  <div class="panel-body">
    <div class="panel-form">
      <div class="ibox">
        <div class="ibox-content">
          <%= form_for @user, url: api_v2_user_path(@user, format: :js),
                method: :patch, as: :user, html: { class: 'form-horizontal ajax-form', autocomplete: 'off' },
                remote: true, authenticity_token: true do |f| %>

            <div class="form-group">
              <label class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <%= f.text_field :name, class: 'form-control' %>
              </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Email<%= '*' if email_required? %></label>
              <div class="col-sm-10">
                <%= f.email_field :email, class: 'form-control' %>
              </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Time Zone</label>
              <div class="col-sm-10">
                <%= f.collection_select :timezone_id, @timezones, :id, :official_name,
                    { selected:  @user.timezone.id },
                    { class: 'form-control m-b' } %>
              </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Options</label>
              <div class="col-sm-10">
                <div class="i-checks">
                  <label>
                    <div class="icheckbox_square-green">
                      <%= f.check_box :notify_enabled %>
                      <ins class="icheck-helper"></ins>
                    </div>
                    <i></i> Enable Notifications
                  </label>
                </div>

                <div class="i-checks">
                  <label>
                    <div class="icheckbox_square-green">
                      <%= f.check_box :maps_enabled %>
                      <ins class="icheck-helper"></ins>
                    </div>
                    <i></i> Enable Maps
                  </label>
                </div>

                <div class="i-checks">
                  <label>
                    <div class="icheckbox_square-green">
                      <%= f.check_box :cellular_pins_on_map %>
                      <ins class="icheck-helper"></ins>
                    </div>
                    <i></i> Show Cellular Locations on Maps
                  </label>
                </div>
              </div>

              <div class="i-checks">
                <label>
                  <div class="icheckbox_square-green">
                    <%= f.check_box :clock_enabled %>
                    <ins class="icheck-helper"></ins>
                  </div>
                  <i></i> Display Current Time In Menu
                </label>
              </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <div class="col-sm-10">
                <div class="form-buttons">
                  <button class="btn btn-primary" type="submit">Save Changes</button>
                  <div class="form-spinner">
                    <%= render 'shared/spinners/fading_circle' %>
                  </div>
                </div>
              </div>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
