<div id="sub-content-header">
  <h1>New User</h1>
  <div class="btn-group">
    <%= link_to users_path, :class => "btn btn-large tip-bottom #{active? ''}", :id => "cancel-new-user", :title => "Cancel" do %>
      <i class="icon-remove"></i>
    <% end %>
  </div>
</div>
