<div class="row">
  <div class="col-xs-12 page-menu">
    <h2 class="page-menu-title"><%= @user.name_or_email %></h2>
    <div class="text-right">
      <%= link_to('<i class="fa fa-user-times"></i> Delete'.html_safe,
                  api_v2_user_path(@user, format: :js, reference: :show),
                  id: "delete_user_#{@user.id}",
                  class: 'btn btn-danger',
                  remote: true,
                  method: :delete,
                  data: { confirm: 'Are you sure you want to delete this user?' }) %>
    </div>
  </div>
</div>
