<div class="row-fluid">
  <div class="span12" id="regluar_user_information">
    <div class="widget-box">
      <div class="widget-title">
        <span class="icon">
          <i class="icon-wrench"></i>
        </span>
        <h5>Update Information</h5>
        <div class="buttons">
          <% unless current_user.id == @user.id %>
            <%= link_to "Delete #{@user.email}", user_path(@user), :method => :delete, :data => { :confirm => "Are you sure you want to delete the user '#{@user.email}'?\n\nThis action can not be undone." }, :class => "btn btn-mini btn-danger" %>
          <% end %>
        </div>
      </div>
      <div class="widget-content nopadding form-horizontal">

        <%= render :partial => "shared/sub_alert", :locals => { :obj => @user } %>

        <%= form_for @user, :url => user_path(@user), :as => :user do |f| %>
          <div class="control-group">
            <%= f.label :first_name, "First Name", :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :first_name, :autocomplete => "off" %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :last_name, "Last Name", :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :last_name, :autocomplete => "off" %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :email, "Email*", :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :email, :autocomplete => "off" %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :organization_id, "Organization", :class => "control-label" %>
            <div class="controls">
              <%= text_field_tag "", @user.organization.name, :disabled => true %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :timezone_id, "Timezone", :class => "control-label" %>
            <div class="controls">
              <%= f.collection_select :timezone_id, @timezones, :id, :official_name, { :selected => @user.timezone_id }, {:class => 'span5 select2 min-select-width-large'} %>
            </div>
            <div class="clearfix"></div>
            <br />
          </div>

          <div class="form-actions">
            <%= submit_tag "Update", :class=> "btn btn-primary", :id => "form-submit" %>
            <%= link_to "Cancel", users_path, :class=> "btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <% if nil %>
    <%= render :partial => 'shared/user_notification_settings' %>
  <% end %>

</div>
