<div id="sub-content-header">
  <h1><%= @user.email %></h1>
  <div class="btn-group">
    <% if policy(Organization).create? %>
      <% unless current_user.id == @user.id %>
        <%= link_to [@organization, @user], :data => { :confirm => 'Are you sure you want to delete this user?'}, :method => :delete, :class => "btn btn-large btn-danger tip-bottom #{active? 'index'}", :id => "delete_user", :title => "Delete" do %>
          <i class="icon-minus icon-white"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="btn-group">
    <% unless current_user.id != @user.id %>
      <%= link_to organizations_path, :class => "btn btn-large tip-bottom #{active? ''}", :id => "cancel_changes", :title => "Cancel" do %>
        <i class="icon-remove"></i>
      <% end %>
    <% end %>
  </div>
</div>
