<%= content_for :content_header do %>
  <div id="content-header">
    <h1><%= @user.full_name %></h1>

    <% if Settings.users.enabled %>
      <% if policy(Organization).create? %>
        <% unless @user.id == current_user.id %>
        <div class="btn-group btn-group-last">
          <%= link_to new_user_path, :class => "btn btn-large tip-bottom #{active? 'new' }", :title => "Add User" do %>
            <i class="icon-plus"></i>
          <% end %>
        </div>
        <% end %>
      <% end %>
    <% end %>

  </div>
<% end %>

<%= content_for :content_sub_header do %>
<% end %>

<%= content_for :show_content do %>
  <% if @user.id == current_user.id %>
    <%= render :partial => '/users/account' %>
  <% else %>
    <%= render :partial => '/users/regular_user' %>
  <% end %>
<% end %>

<%= render "organizations/show" %>
