<%= content_for :content_header do %>
  <div id="content-header">
    <h1><%= @user.full_name %></h1>

    <% if Settings.users.enabled %>
      <% if policy(Organization).create? %>
        <% unless @user.id == current_user.id %>
        <div class="btn-group btn-group-last">
          <%= link_to new_user_path, :class => "btn btn-large tip-bottom #{active? 'new' }", :title => "Add User" do %>
            <i class="icon-plus"></i>
          <% end %>
        </div>
        <% end %>
      <% end %>
    <% end %>

  </div>
<% end %>

<%= content_for :show_content do %>
  <div class="row-fluid">
    <div class="span12" id="users-account">

      <div class="widget-box">
        <div class="widget-title">
          <span class="icon">
            <i class="icon-wrench"></i>
          </span>
          <h5>Change Password</h5>
        </div>
        <div class="widget-content nopadding form-horizontal">

          <%= render :partial => "shared/sub_alert", :locals => { :obj => @user } %>

          <%= form_for(@user, :url => update_password_account_index_path, :as => :user) do |f| %>

            <div class="control-group">
              <%= f.label :current_password, "Current Password", :class => "control-label" %>
              <div class="controls">
                <%= f.password_field :current_password %>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :password, "New Password", :class => "control-label" %>
              <div class="controls">
                <%= f.password_field :password %>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :password_confirmation, "Confirm Password", :class => "control-label" %>
              <div class="controls">
                <%= f.password_field :password_confirmation %>
              </div>
            </div>

            <div class="form-actions">
              <%= submit_tag "Change", :class=> "btn btn-primary", :id => "form-submit" %>
              <%= link_to "Cancel", user_path(@user), :class=> "btn" %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render "organizations/show" %>
