<% content_for :header_javascript_block  do %>
  <script type="text/javascript">
    var dataTableURI = '<%= users_data_tables_path %>';

    //TODO: Make it so that by adding this class, the export modal is included (without including the partial).
    var dataTableExportModal = new DataTableExportModal(
        {
          afterExportActionClicked: function() {},
          afterModalOpen: function() {},
          exportClass: $('.users-export'),
          exportFormat: '.csv',
          exportPath: dataTableURI
        }
    );

    function initDataTable(columns, table) {
      table.DataTable({
        ajax: {
          'data': function ( data ) { formatData(columns, data, table); },
          'url': <%= "'#{api_v2_users_path(format: :json)}'".html_safe %>
        },
        buttons: ['csv'],
        colReorder: true,
        columns: getColumnSettings(columns),
        dom: "<'row'<'col-sm-6'B><'col-sm-6'l>>" +
             "<'row'<'col-sm-4'i><'col-sm-8'p>>" +
             "<'row'<'col-sm-12'tr>>" +
             "<'row'<'col-sm-4'i><'col-sm-8 lower'<'circle-border-spinner'>p>>",
        lengthMenu: [[ 10, 25, 50, 100 ], [ 10, 25, 50, 100 ]],
        order: getSorting(columns, table),
        pageLength: 100,
        scrollX: true,
        scrollY: false,
        serverSide: true
      });
    }
  </script>
<% end %>


<%= render 'shared/page_header_vs', locals: { title: @presenter.title } %>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5><%= t(".#{@presenter.title}") %></h5>
          <div class="ibox-tools">
            <%= link_to(new_api_v2_user_path(format: :js), class: 'btn btn-primary create-record single-button-remote', remote: true) do %>
              <i class="fa fa-user-plus"></i>&nbsp;Create
            <% end %>
          </div>
        </div>
        <div class="ibox-content">
          <%= render 'shared/configuration_options', locals: { config_options: @presenter.config_options } %>
          <%=
            content_tag(
              :div,
              class: 'table vs-target-wrapper',
              data: { facets: @presenter.facets }
            ) do
          %>
            <%=
              content_tag(
                :table,
                class: 'dataTable display compact table table-striped
                  table-bordered table-hover vs-table',
                id: 'users-table'
              ) do
            %>
              <thead>
                <tr>
                  <%= render 'shared/table_labels' %>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <%= render 'shared/table_labels' %>
                </tr>
              </tfoot>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



<br /><br />

<%= render partial: 'shared/export_modal' %>
