<%= render 'shared/page_header', locals: { title: 'User' } %>

<% content_for :header_javascript_block  do %>
  <script>

    // Call a custom event on tab panes that are shown. This is useful for
    // showing datatables when a specific pane is selected.
    $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function(e) {
      var id = $(e.target).attr("href").substr(1);
      $('#' + id).trigger("tabShown");
    });

    $(document).ready(function(){

      $("form.ajax-form").validate();

      // Store the currently selected tab in the hash value
      $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
        var id = $(e.target).attr("href").substr(1);
        window.location.hash = id;
      });

      // On load of the page: switch to the currently selected tab
      var hash = window.location.hash;
      $('#user-tabs a[href="' + hash + '"]').tab('show');

    });

  </script>
<% end %>

<div class="wrapper wrapper-content">
  <%= render partial: 'page_menu' %>
  <div class="row m-t-md">
    <div class="col-lg-12">
      <div class="tabs-container">
        <div class="tabs-left">
          <ul class="nav nav-tabs" id="user-tabs">
            <li class="active"><a data-toggle="tab" href="#information" aria-expanded="true">Information</a></li>
            <li class=""><a data-toggle="tab" href="#permissions" aria-expanded="false">Permissions</a></li>
            <li class=""><a data-toggle="tab" href="#notification-subscriptions" aria-expanded="false">Notification Subscriptions</a></li>
            <li class=""><a data-toggle="tab" href="#notification-profiles" aria-expanded="false">Notification Profiles</a></li>
          </ul>

          <div class="tab-content ">
            <%= render 'users/information' %>
            <%= render 'users/permissions' %>
            <%= render 'account/subscriptions' %>
            <%= render 'account/profiles' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br /><br />
