<div class="middle-box text-center devise">
  <h2>Change your password</h2>

  <%= form_for(resource, as: resource_name, url: api_v2_password_path(resource_name, format: :js),
        html: { method: :patch, remote: true, id: 'update_password', class: 'ajax-form', }) do |f| %>

    <%= f.hidden_field :reset_password_token %>

    <div class="form-group password">
      <%= f.password_field :password, autofocus: true, autocomplete: 'off', placeholder: 'New Password', class: 'password form-control' %>
    </div>

    <div class="form-group password">
      <%= f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'Confirm Password', class: 'password form-control' %>
    </div>

    <button type="submit" class="btn btn-primary full-width m-b"><i class="fa fa-key"></i> Change Password</button>
  <% end %>
</div>