<div class="middle-box text-center devise">
  <%= image_tag("logo_login_page.png", alt: "Accelerated Concepts Logo", id: 'logo-login-page') %>
  <%= render partial: '/layouts/flash', locals: {flash: flash} %>
  <%= render 'devise/shared/password' %>
  <%= render 'devise/shared/links' %>
</div>
