<div class="modal inmodal fade" id="edit-site-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for @site, url: api_v2_site_path(@site, format: :js), as: :site,
            method: :patch, remote: true,
            html: { class: 'form-horizontal ajax-form', id: 'edit_site' } do |f| %>

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Edit Site</h4>
        </div>

        <div class="modal-body">
          <div class="form-group"><label class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
              <%= f.text_field :name, class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="form-modal-spinner">
            <%= render 'shared/spinners/fading_circle' %>
          </div>
          <%= submit_tag "Close", class: 'btn btn-white', 'data-dismiss' => 'modal' %>
          <%= submit_tag "Update Site", class: 'btn btn-primary' %>
        </div>

      <% end %>
    </div>
  </div>
</div>
