html {
  position: relative;
  min-height: 100%;

  body {
    min-height: 100%;
  }
}

.chart-container{
  position: relative;
}

// Overwrite Bootstrap Dropdown Menu Styles
.dropdown-menu{
  font-family: $font-stack;

  > .active > a {  background-color: $navy; }
  a:hover {
    background-color: $navy !important;
    color: white !important;
  }
}

// Add nested dropdowns
.dropdown-submenu {
  position:relative;
}

.dropdown-submenu:hover > a{
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.dropdown-submenu > .dropdown-menu {
  top:0;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}

.dropdown-submenu > .dropdown-menu a {
  margin-left: 0px;
  margin-right: 0px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display:block;
}

.dropdown-submenu > a:after {
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#cccccc;
  margin-top:5px;
  margin-right:-10px;
}

.dropdown-submenu:hover  >a:after {
  border-left-color:#ffffff;
}

.dropdown-submenu.pull-left {
  float:none;
  width: 100%;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left:-100%;
  margin-left:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
  top: 6px;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: none;
}

.navbar-static-side {
  .nav {
    .nav-second-level {
      li {
        a {
          padding: 7px 20px 7px 25px
        }
      }
    }
  }

  .nav-header {
    .user-menu {
      li {
        i {
          padding-right: 2px;
        }
      }
    }
  }
}

.metrics.row {
  .ibox {
    .ibox-content {
      height: $chart-ibox-height;

      .chart-header {
        height: $chart-ibox-container-header-height;
      }

      .chart-container {
        height: $chart-ibox-height - $chart-ibox-container-header-height - $chart-ibox-top-padding;

        & > div {
          height: inherit;
        }
      }
    }
  }
}

.middle-box.devise {
  width: 300px;
  padding-bottom: 70px;
}

.navbar-static-top {
  .navbar-header {
    .navbar-form-custom {
      width: 230px;
    }
  }

  .navbar-right.navbar-top-links {
    .active {
      color: #555;
    }

    .dropdown-menu {
      padding: 10px;

      .clickable {
        li {
          margin-left: auto;
          width: 275px;
        }
      }
    }

    .settings {
      margin-top: 10px;
      padding: 0px 10px;

      .setting {
        label {
          cursor: pointer;
          font-weight: normal;
          padding: 5px;
          width: 100%;

          &:hover {
            background-color: #EEE;
          }
        }

        input {
          float: right;
          margin-top: 3px;
        }
      }
    }

    & > li {
      &:hover {
        color: #555;
      }

      a:hover {
        color: inherit;
      }
    }
  }
}

.page-search {
  padding: 7px 23px 19px;

  h4 {
    margin-left: 3px;
  }
}

.page-subheading {
  border-top: 0;
  padding: 20px 10px;
}

.small {
  font-size: .85em;
}

.visual-search-wrapper {
  position: relative;
  width: 100%;

  .visual-search {
    width: 100%;
    position: relative;
    z-index: 10;
  }

  .circle-border-spinner {
    border-left-color: $navy;
    display: none;
    font-size: 3px;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0 auto;
  }
}

// Visual Search Overrides
.VS-interface {
  .ui-menu-item {
    padding: 0;
  }
}

.VS-search {
  .search_input {
    input {
      height: 32px;
    }
  }

  .search_facet {
    .category {
      font-family: $font-stack;
      padding: 4px 0 0;
    }

    .search_facet_input_container {
      height: 20px;

      input {
        padding: 0px 0px 0px 4px;
        line-height: normal;
        height: 100%;
        position: relative;
        top: 0px;
      }
    }
  }

  .VS-search-box {
    .VS-icon-cancel {
      background-image: none;
      color: #999;

      &:hover {
        color: #000 !important;
      }
    }

    .VS-icon-cancel:before {
      content: $icon-cancel;
      font: normal normal normal 12px/1 FontAwesome;
    }

    .VS-icon-search {
      background-image: none;
      color: #999;
    }

    .VS-icon-search:before {
      content: $icon-search;
      font: normal normal normal 12px/1 FontAwesome;
    }
  }
}

.no-word-wrap{
  word-wrap: normal;
}

.word-wrap{
  white-space: pre-wrap;
}

// Modal Overrides
#event-information-content {
  width: 700px;
}

.inmodal {
  display: none;
}
