// Font
$font-stack: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Basic Colors
$navy: #1ab394;           // Primary color
$dark-gray: #c2c2c2;      // Default color
$blue: #1c84c6;           // Success color
$lazur: #23c6c8;          // Info color
$yellow: #f8ac59;         // Warrning color
$red: #ed5565;            // Danger color

// Charts
$chart-ibox-height: 400px;
$chart-ibox-top-padding: 15px;
$chart-ibox-container-header-height: 40px;

// Status Colors
$status-green: #2FA72F;
$status-light-green: #DFF0D8;
$status-yellow: #D7E826;
$status-orange: #FD9812;
$status-light-orange: #FFDF91;
$status-red: #FF1010;
$status-light-red: #F2DEDE;
$status-blue: #24ACDE;
$status-light-blue: #D9EDF7;
$status-purple: #800080;
$status-gray: #C2C2C2;
$status-black: #000;
$status-pink: #FF00FF;

// Various colors
$text-color: #676a6c;           // Body text
$gray: #f3f3f4;                 // Background wrapper color
$light-gray: #d1dade;           // Default label, badget
$label-badget-color: #5e5e5e;
$light-blue: #f3f6fb;

// Spiner color and margin
$spin-color: $navy;
$spin-margin: 0 auto;

// IBOX colors ( default panel colors)
$border-color: #e7eaec;   // IBox border
$ibox-title-bg: white;    // IBox Background header
$ibox-content-bg: white;  // IBox Background content

//Sidebar width
$sidebar-width: 220px;

// Boxed layout width
$boxed-width: 1200px;
$boxed-backgound: image-url("patterns/shattered.png");

//Border radius for buttons
$btn-border-radius: 3px;

//Navigation
$nav-bg: #2f4050;
$nav-profil-pattern: image-url("patterns/header-profile.png") no-repeat;
$nav-text-color: #a7b1c2;

// Icons
$icon-cancel: "\f057";
$icon-search: "\f002";

// Data Table Highlights
$table-highlight-red: #F2DEDE;
$table-highlight-yellow: #FCF8E3;
