<% if @user.errors.any? %>

  <%= render partial: 'errors', locals: { element: '#new_user' } %>

<% else %>

  // Redirect to the dashboard
  setTimeout(function(){
    window.location = "<%= root_path %>";

    var alert = "<%= j alert_success message: t('users.password_created') %>";
    $('#new_user').html(alert);

  }, 1000);

<% end %>

