<div class="middle-box text-center devise">
  <h2>Create Password</h2>
  <%= render partial: '/layouts/flash', locals: { flash: flash } %>

  <%= form_for(@user, as: :user, url: activation_path(format: :js), method: :post, remote: true, html: { class: 'ajax-form' }) do |f| %>

    <%= f.hidden_field :reset_password_token, value: params[:reset_password_token] %>

    <div class="form-group password optional user_password">
      <%= f.password_field :password, class: 'password optional form-control', placeholder: 'Password', autofocus: true %>
    </div>
    <div class="form-group password optional user_password_confirmation">
      <%= f.password_field :password_confirmation, class: 'password optional form-control', placeholder: 'Password Confirmation' %>
    </div>

    <button type="submit" class="btn btn-primary full-width m-b"><i class="fa fa-rocket"></i> Activate</button>
  <% end %>
</div>