<div class="alert alert-<%= type %> alert-dismissable <%= klass %> <%= hide ? 'hide' : '' %>">
  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button>
  <span class="alert-inner-text"><%= message %></span>
</div>