<% unless @breadcrumbs.nil? %>
  <ol class="breadcrumb">
    <% for breadcrumb in @breadcrumbs do %>
      <li>
        <%= 
          link_to breadcrumb.name, 
          "#{@breadcrumbs.last == breadcrumb ? '#' : breadcrumb.path }",
          :title => "",
          :id => "#{@breadcrumbs.last == breadcrumb ? 'last-breadcrumb-link' : ''}",
          :class => "tip-bottom #{@breadcrumbs.last == breadcrumb ? 'current' : ''}" 
        %>
      </li>
    <% end %>
  </ol>
<% end %>
