<div class="i-checks">
  <label>
    <div class="icheckbox_square-green">
      <input type="checkbox" class="toggle-vis" checked="checked" value="<%= column_visibility_toggle[:name] %>">
    </div>
    <%= @presenter.visibility_label(column_visibility_toggle) %>
  </label>
</div>
