<div class="btn-group btn-group-left">
  <a class="btn btn-large tip-right dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="#" title="Filter by Organization"><%= org_dropdown_selected %> <b class="caret"></b></a>
  <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop5">
    <li class="<%= active_for_param "organization_id", ["", nil] %>">
            <%= filter_link "All", :organization_id => ""  %>
    </li>
    <% current_user.organization.hierarchy_list.each do |name, id, depth| %>
      <li class="<%= active_for_param "organization_id", id.to_s %>">
              <%= filter_link "#{'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' * depth}#{name}".html_safe, :organization_id => id  %>
      </li>
    <% end %>
  </ul>
</div>
