<% connected_devices = @device.connected_devices %>
<% unless connected_devices.empty? %>
  <div class="btn-group">
    <a class="btn btn-large tip-left dropdown-toggle" data-toggle="dropdown" href="#" title="Connected Devices">
        <i class="icon-fullscreen"></i>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu pull-right">
        <% if connected_devices[:netgate] %>
          <li class="disabled"><a tabindex="-1" href="#">AT&amp;T VPN Gatways</a></li>
          <% connected_devices[:netgate].each do |netgate| %>
            <li>
              <%= link_to netgate_path(netgate) do %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= netgate.mac %>
              <% end %>
            </li>
          <% end %>
        <% end %>
        <% if connected_devices[:netreach] %>
          <li class="disabled"><a tabindex="-1" href="#">NetReaches</a></li>
          <% connected_devices[:netreach].each do |netreach| %>
            <li>
              <%= link_to netreach_path(netreach) do %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= netreach.mac %>
              <% end %>
            </li>
          <% end %>
        <% end %>
        <% if connected_devices[:netbridge] %>
          <li class="disabled"><a tabindex="-1" href="#">NetBridges</a></li>
          <% connected_devices[:netbridge].each do |netbridge| %>
            <li>
              <%= link_to netbridge_path(netbridge) do %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= netbridge.mac %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
  </div>
<% end %>
