<% if policy(Device).edit? %>
  <div class="btn-group btn-group-left">
    <a class="btn btn-large tip-right dropdown-toggle" id="drop6" role="button" data-toggle="dropdown" href="#" title="Do something with selected devices">With selected... <b class="caret"></b></a>
    <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop6">
      <% if policy(Organization).create? %>
      <li>
        <a href="#myModal_organization_assignment" data-toggle="modal" data-backdrop="static" data-keyboard="false">Move to Organization</a>
      </li>
      <% end %>
      <% if params[:action] == "undeployed" or params[:action] == "index" %>
        <li>
          <a href="#myModal_deploy" data-toggle="modal" data-backdrop="static" data-keyboard="false">Deploy</a>
        </li>
      <% end %>
      <% if params[:action] == "deployed" or params[:action] == "index" %>
        <li>
          <a href="#myModal_undeploy" data-toggle="modal" data-backdrop="static" data-keyboard="false">Undeploy</a>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
