<% if error_messages.any? %>
  <% error_messages.each do |msg| %>
    <div class='alert alert-error'>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <%= msg %>
    </div>
  <% end %>
  <br />
<% end %>

