<% content_for :header_javascript_block  do %>
  <script type="text/javascript">
    var formClass = $('.export-form');
    $(document).ready(function() {
      initClickHandlers();
      initExportBtn();
      initExportModal();
      handleFormSubmission();

      dataTableExportModal.exportClass.on('xhr.dt', function () { setExportFormActionPath(); });
    });

    function handleFormSubmission() {
      formClass.submit( function(e) {
        $('.data-table-param').remove();
        if(dataTableExportModal.simpleDownload) { handleSimpleDownload(e); }
        else if ( serverSideProcessing() ) { serverSideExport(); }
        else { clientSideExport(); }
      });
    }

    function handleSimpleDownload(e) {
      e.preventDefault();
      var link = document.createElement("a");
      link.href = getExportFormActionPath(dataTableExportModal.exportFormat);
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
      delete link;
    };
    
    function dataTableFirstRecord() { return $('table.dataTable').DataTable().page.info().start }
    function dataTableLastRecord() { return $('table.dataTable').DataTable().page.info().end }
    function serverSideProcessing(){ return $('table.dataTable').DataTable().page.info().serverSide; }

    function clientSideExport() {
      appendColumnValuesInput();
    }

    function addFormInput(name, value) {
      var field = $(document.createElement("input"));
      field.attr("name", name).attr("type", "hidden").addClass("data-table-param");
      field.val(value);
      formClass.append(field);
    }

    function appendColumnValuesInput() {
      var data = $('table.dataTable').DataTable().rows().data();
      var value = '';
      if (currentPageSelected()) { value = JSON.stringify(data.toArray().slice(dataTableFirstRecord(), dataTableLastRecord())) }
      else { value = JSON.stringify(data.toArray()); }
      addFormInput('column-values', value);
    }

    function serverSideExport() {
      var queryString = '';
      var dataTableParams = $('table.dataTable').DataTable().ajax.params();
      if (dataTableParams) { queryString = queryStringParts($.param(dataTableParams)); }
      queryParamsAsFormInputs(queryString)
    }

    function queryParamsAsFormInputs(queryString){
      for (var key in queryString) {
        var field = $(document.createElement("input"));
        field.attr("name", key).attr("type", "hidden").addClass("data-table-param");
        field.val(queryString[key]);
        formClass.append(field);
      }
    }

    function currentPageSelected() {
      return $('#current-page-btn').find('input').prop('checked')
    }

    function initClickHandlers() {
      $('#csv-btn').click(function() {
        dataTableExportModal.exportFormat = '.csv';
        setExportFormActionPath();
      });

      $('#xlsx-btn').click(function() {
        dataTableExportModal.exportFormat = '.xlsx';
        setExportFormActionPath();
      });

      $('.limit-btn').click(function(e) { toggleLimitOptions(e.target); });
    }

    function toggleLimitOptions(clickedElement) {
      $('.form-group .limit-options span').slideUp(250);
      var target = $(clickedElement).data('target');
      $(target).slideDown(250);
    }

    function exportActionClicked(e) {
      $('.modal.advanced-export').modal('hide');
      if (e.target.id === 'advanced-export-btn') { popExportAlert(); }
      $('button.advanced-export').blur();
      dataTableExportModal.afterExportActionClicked();
    }

    function initExportBtn() {
      var button = '<button type="button" class="btn btn-white btn-sm advanced-export" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target=".modal.advanced-export">Export</button>';
      $('.dt-buttons .buttons-csv').replaceWith(button);
      $('.dt-buttons .advanced-export').click(function () { dataTableExportModal.afterModalOpen(); });
    }

    function initExportModal() {
      setExportFormActionPath();
      $('.modal.advanced-export .submit').click(function (e) { exportActionClicked(e) });
      $('.form-group .limit-options span').hide();
    }

    function getExportFormActionPath(exportFormat) {
      var exportPathElements = splitPathAndParams(dataTableExportModal.exportPath);
      return exportPathElements.base + exportFormat + exportPathQuery(exportPathElements.queryParams);
    }

    function exportPathQuery(currentExportPathParams) {
      var query = '';
      if ( currentExportPathParams ) { query = query + currentExportPathParams }
      if ( query !== '' ) { query = '?' + query }
      return query;
    }

    function setExportFormActionPath() {
      var path = getExportFormActionPath(dataTableExportModal.exportFormat);
      formClass.attr('action', path);
    }

    function popExportAlert() {
      var alert = "<%= j(alert_warning message: t('reports.generating')) %>";
      $('.vs-target-wrapper').find('.alert').remove();
      $(alert).prependTo(".vs-target-wrapper");
    }
  </script>
<% end %>

<div class="modal inmodal advanced-export" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <i class="fa fa-download modal-icon"></i>
        <h4 class="modal-title">Export Options</h4>
        <small class="font-bold"><%= t 'export.modal_subtitle' %></small>
      </div>
      <%= form_tag '', class: 'export-form' do %>
        <div class="modal-body">
          <div class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-3 control-label">Format</label>

              <div class="col-sm-9">
                <div class="btn-group btn-group-latching" data-toggle="buttons">
                  <label class="btn btn-primary" id="csv-btn">
                    <%= radio_button_tag 'export_format', 'csv', true %>
                    <i class="fa fa-file-text-o"></i> CSV
                  </label>

                  <label class="btn btn-white" id="xlsx-btn">
                    <%= radio_button_tag 'export_format', 'xlsx' %>
                    <i class="fa fa-file-excel-o"></i> Excel
                  </label>
                </div>
              </div>
            </div>
            <% unless (local_assigns[:hide_limit] && hide_limit) %>
              <div class="form-group">
                <label class="col-sm-3 control-label">Limit By</label>

                <div class="col-sm-9">
                  <div class="btn-group btn-group-latching" data-toggle="buttons">
                    <label class="btn btn-primary limit-btn" id="current-page-btn">
                      <%= radio_button_tag 'export_limit_type', DataTables::Base::EXPORT_LIMIT_TYPE_CURRENT_PAGE, true %>
                      <i class="fa fa-filter"></i> Current Page
                    </label>

                    <label class="btn btn-white limit-btn" id="all-pages-btn" data-target=".limit-options .all-pages">
                      <%= radio_button_tag 'export_limit_type', DataTables::Base::EXPORT_LIMIT_TYPE_ALL_PAGES %>
                      <i class="fa fa-files-o"></i> All Pages
                    </label>
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="limit-options text-center">
                    <span class="help-block text-info all-pages">Limit is <%= number_with_delimiter(DataTables::Base::HARD_EXPORT_LIMIT, delimiter: ',') %> records.</span>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-white submit" id="cancel-btn" data-dismiss="modal">Cancel</button>
          <%= submit_tag 'Export', class: 'btn btn-primary submit', id: 'advanced-export-btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
