<div class="buttons pull-right">
  <div class="btn-group">
    <a class="btn btn-xs btn-primary tip-left dropdown-toggle" id="map-region-menu" role="button" data-toggle="dropdown" href="#" title="Select region">Region <b class="caret"></b></a>
    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="map-region-menu">
      <li>
        <a src="#" id="to_usa">USA</a>
      </li>
      <li>
        <a src="#" id="to_canada">Canada</a>
      </li>
      <li>
        <a src="#" id="to_uk">Europe</a>
      </li>
      <li>
        <a src="#" id="to_au">Australia</a>
      </li>
      <li>
        <a src="#" id="to_africa">Africa</a>
      </li>
      <li>
        <a src="#" id="to_south_america">South America</a>
      </li>
      <li>
        <a src="#" id="to_east_asia">East Asia</a>
      </li>
      <li>
        <a src="#" id="to_south_asia">South Asia</a>
      </li>
      <li>
        <a src="#" id="to_southeast_asia">Southeast Asia</a>
      </li>
      <li>
        <a src="#" id="to_west_asia">West Asia</a>
      </li>
    </ul>
  </div>
</div>
