<% content_for :header_javascript_block  do %>
  <%= javascript_include_tag :visualsearch_datatable_integration %>
<% end %>

<%= render 'shared/page_header', locals: { title: locals[:title], skip_translate: locals[:skip_translate] } %>
<div class="row wrapper border-bottom white-bg page-search">
  <% filter_title =  locals.key?(:filter_title) ? locals[:filter_title] : locals[:title] %>
  <% if locals[:skip_translate] %>
    <h4>Filter <%= filter_title %></h4>
  <% else %>
    <h4>Filter <%= t(".#{filter_title}") %></h4>
  <% end %>
  <%= render 'shared/visual_search' %>
</div>
