<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <% if locals[:skip_translate] %>
      <h2 id="page-title-header"><%= locals[:title] %></h2>
    <% else %>
      <h2 id="page-title-header"><%= locals[:no_translate] ? "#{locals[:title]}" : t(".#{locals[:title]}") %></h2>
    <% end %>
    <%= render partial: '/shared/breadcrumbs' %>
  </div>
</div>
