<a
  href="#"
  class="slight-left-margin"
  rel="popover"
  data-content="<%= field[:content] %>"
  data-original-title="<%= field[:title] %>"
  data-placement="<%= placement || 'right' rescue 'right' %>"
  data-html="<%= html.nil? ? 'false' : 'true' rescue 'false' %>"
>
  <span class="badge">?</span>
</a>
