<% unless obj.nil? %>
  <% if obj.errors.any? %>
    <% obj.errors.full_messages.each do |msg| %>
      <% unless msg.match /slug|token/i %>
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= msg %>
      </div>
      <% end %>
    <% end %>
    <br />
  <% end %>
<% end %>
