<% @presenter.columns.each do |column| %>
  <%= 
    content_tag(
      :th, 
      column[:table_label], 
      class: column[:class], # Used by VisualSearch to identify column
      data: @presenter.column_data(column)
    )
  %>
<% end %>