<%= link_to api_v2_account_notification_subscription_path(current_user, subscription, format: :js),
            method: :delete,
            data: { confirm: message },
            class: 'single-button-remote',
            remote: true do %>
  <i class='fa fa-eye-slash'></i> Unsubscribe
<% end %>
