<div class="span5" id="user_notification_settings">
    <div class="widget-box">
      <div class="widget-title">
        <span class="icon">
          <i class="icon-wrench"></i>
        </span>
        <h5>Update Notification Settings</h5>
      </div>
      <div class="widget-content nopadding form-horizontal">

        <%= render :partial => "shared/sub_alert", :locals => { :obj => @user } %>

        <%= form_for @user do |f| %>

          <div class="control-group">
            <%= f.label :notify_enabled, "Enable Notifications", :class => "control-label" %>
            <div class="controls">
              <%= f.check_box :notify_enabled %>
              <br />
              <br />
              <p>Check the boxes below for the notifications<br />you would like to receive if a NetReach</p>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :notify_nr_up, "Is Up", :class => "control-label" %>
            <div class="controls">
              <%= f.check_box :notify_nr_up %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :notify_nr_down, "Is Down", :class => "control-label" %>
            <div class="controls">
              <%= f.check_box :notify_nr_down %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :notify_nr_config, "Configuration Failed", :class => "control-label" %>
            <div class="controls">
              <%= f.check_box :notify_nr_config %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :notify_nr_fw, "Firmware Update Failed", :class => "control-label" %>
            <div class="controls">
              <%= f.check_box :notify_nr_fw %>
            </div>
          </div>

          <div class="form-actions">
            <%= submit_tag "Save Settings", :class=> "btn btn-primary", :id => "form-submit" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
