<div class="modal inmodal" id="event-information-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="event-information-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Raw Message</h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <a href="#" class="btn btn-white">Go To Event</a>
      </div>
    </div>
  </div>
</div>