<div class="new-update clearfix" data-toggle="collapse" data-target="#log_<%= log.id %>">
  <div class="log-legend-box log-<%= log.level_class %>">
  </div>
  <div class="update-done">
    <strong><%= log.message %></strong>
    <span><%= log.data[:message] %></span>
  </div>
  <div class="update-date"><span class="update-day"><%= log.created_at.time_format_for_user(user) %></span><%= log.created_at.date_format_for_user(user) %></div>
</div>
<div id="log_<%= log.id %>" class="log-data collapse">
  <div class="well-with-no-margins">
    <%= render :partial => 'log_details', :locals => { :details => log.data } %>
  </div>
</div>
