
<table class="values">
  <% unless details.blank? %>
    <% details.each do |key, value| %>
      <% next if key.match /^[a-zA-Z]*.[0-9]+$/ %>
      <tr>
        <td class="key"><%= netgate_log_translator(key) %>:</td>
        <td><%= value %></td>
      </tr>
    <% end %>
  <% else %>
    <em><center>No log data</center></em>
  <% end %>
</table>
