<% content_for :header_javascript_block  do %>
  <script type="text/javascript">
    var dataTableReloader = new DataTableReloader($('#events-table'));
    //TODO: Make it so that by adding this class, the export modal is included (without including the partial).
    var dataTableExportModal = new DataTableExportModal(
        {
          afterExportActionClicked: function() { dataTableReloader.start(); },
          afterModalOpen: function() { dataTableReloader.stop(); },
          exportClass: $('.events-export'),
          exportFormat: '.csv',
          exportPath: getURI(window.location.href)
        }
    );

    $(document).ready(function(){
      $('#events-table').on( 'draw.dt', function (){
        $('a.information').on('click', function(event){ informationClicked(event) });
        dataTableReloader.start();
      });

      $('#event-information-modal').on('hidden.bs.modal', function(){ dataTableReloader.start(); })
    });

    function setShowLinkUrl(event) {
      $('.modal-footer > a').attr('href', '/events/' + event.target.id);
    }

    function setModalContent(event) {
      $('.modal-body').html( $(event.target).attr('data-content') );
    }

    function informationClicked(event) {
      setShowLinkUrl(event);
      setModalContent(event);
      dataTableReloader.stop();
      return true;
    }

    function initDataTable(columns, table) {
      table.DataTable({
        ajax: {
          data: function ( data ) { formatData(columns, data, table); },
          type: 'POST',
          url: getURI(window.location.href) + '.json'
        },
        buttons: ['csv'],
        colReorder: true,
        columns: getColumnSettings(columns),
        dom: "<'row'<'col-sm-12'l>>" +
             "<'row'<'col-sm-6'B><'col-sm-6'p>>" +
             "<'row'<'col-sm-12'tr>>" +
             "<'row'<'col-sm-12 lower'<'circle-border-spinner'>p>>",
        lengthMenu: [[ 25, 50, 100, 500 ], [ 25, 50, 100, 500 ]],
        pageLength: 100,
        pagingType: 'simple',
        order: getSorting(columns, table),
        scrollX: true,
        scrollY: false,
        serverSide: true,
        orderClasses: false,
        fnRowCallback: function( nRow, aData, iDisplayIndex ) {
          return highlightRow(nRow, aData);
        }
      })
    }

    function highlightRow(row, data) {
      if( data.level === 'Alert' || data.level === 'Error' ) {
        row.className = "highlight-alert";
      } else if( data.level === 'Notice' || data.level === 'Warning' ) {
        row.className = "highlight-notice";
      }
      return row;
    }

    function getURI(url){
      var uri = '<%= events_data_tables_path(params[:id]) %>';

      if (url.indexOf('notifications') != -1) {
        uri = '<%= notifications_data_tables_path %>';
      }

      return uri
    }
  </script>
<% end %>

<%= render 'shared/page_header_vs', locals: { title: @presenter.title } %>
<%= render 'events/information_modal' %>
<div class="wrapper wrapper-content animated fadeInRight">
  <%= render 'events/table' %>
</div>

<%= render partial: 'shared/export_modal' %>
