<%= render 'shared/page_header', locals: { title: "Device Event #{@event.id}" } %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-6" id="event-pretty">
      <div class="ibox float">
        <div class="ibox-title">
          <h5>Formatted Details</h5>
        </div>
        <div class="ibox-content nopadding updates">
          <table class="table table-bordered table-striped">
            <tr>
              <td class="key">Organization:</td>
              <td><%= link_to @event.device.organization.name, organization_path(@event.device.organization.slug) %></td>
            </tr>
            <tr>
              <td class="key">Event Type:</td>
              <td><%= @event.type %></td>
            </tr>
            <tr>
              <td class="key"><%= t(:mac) %>:</td>
              <td><%= link_to @event.device.mac, device_path(@event.device) %></td>
            </tr>
            <tr>
              <td class="key">Level:</td>
              <td><%= @event.lvl %></td>
            </tr>
            <tr>
              <td class="key">Information:</td>
              <% if @event_message.class == Hash %>
                <td class="widget-content nopadding">
                  <table class="table table-bordered table-striped">
                    <% @event_message.each_pair do |key,value| %>
                      <tr>
                        <td class="key"><%= key %></td>
                        <td><%= value %></td>
                      </tr>
                    <% end %>
                  </table>
                </td>
              <% else %>
                <td><%= @event.information %></td>
              <% end %>
            </tr>
            <tr>
              <td class="key">Date:</td>
              <td><span class="update-day"><%= timestamp_in_users_timezone(@event.created_at) %></span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-6" id="event-raw">
      <div class="ibox float">
        <div class="ibox-title">
          <h5>Raw Message</h5>
        </div>
        <div class="ibox-content updates" style="overflow: auto;">
          <pre><%= (JSON.pretty_generate(@event.raw_data) || @event.information) %></pre>
        </div>
      </div>
    </div>
  </div>
</div>
