
<% if @site.errors.any? %>

  <%= render partial: 'errors', locals: { element: 'div.wrapper-content' } %>

<% else %>

  var alert = "<%= j alert_success message: t('sites.destroyed', name: @site.name) %>";

  $('#site-table').DataTable().ajax.reload(function() {
    $('div.wrapper-content').prepend(alert);
    setAlertExpiration($('div.wrapper-content > .alert'));
  });

<% end %>