
var modal = "<%= j render(partial: 'modals/edit') %>";

$('#modals-container').html(modal)
$('#edit-site-modal .select2').select2({ theme: 'bootstrap' })
$('#edit-site-modal').modal({backdrop: 'static'});

