// Clear existing alerts
$('#edit_site > .modal-body').find('.alert').remove();

<% if @site.errors.any? %>

  <%= render partial: 'errors', locals: { element: '#edit_site > .modal-body' } %>

<% else %>

  $('#edit-site-modal').modal('hide');

  $('#site-table').DataTable().ajax.reload(function() {
    var message = "<%= j(alert_success message: t('sites.updated', name: @site.name)) %>"
    $("div.wrapper-content").prepend(message);
    setAlertExpiration($('div.wrapper-content > .alert'));
  });

<% end %>
