
<% content_for :header_javascript_block  do %>
  <%# javascript_include_tag "charts" %>
  <script type="text/javascript">
     $(document).ready(function(){
      $(".pre-charts").apply_chart({deviceID: '<%= @device.mac %>', range: '<%= params[:range] %>', chartType: '<%= @chart_type %>'});
     });
  </script>
<% end %>

<%= render "#{@device.category_path}/header", object: @device %>

<% content_for :content_header_and_nav_block  do %>
  <div id="content-header">
    <h1><%= @device.category_name %> <%= @device.series_name %> <%= @device.mac %></h1>
    <!-- Show Header -->
    <% if content_for?(:show_header) %>
      <%= yield(:show_header) %>
    <% else %>
    <% end %>
  </div>
<% end %>

<!-- Show Sub Header -->
<% if content_for?(:show_sub_header) %>
  <%= yield(:show_sub_header) %>
<% else %>
<% end %>

<div class="row-fluid">
  <div class="span3">
    <div class="widget-box">
      <div class="widget-title">
        <h5>Analytics</h5>
      </div>
      <div class="widget-content no-padding">
        <ul class="nav nav-pills nav-stacked">
          <li class="<%= active? 'index' %>"><%= link_to "Availability", device_charts_path(@device) %></li>
          <li class="<%= active? 'signal' %>"><%= link_to "Signal Strength", signal_device_charts_path(@device) %></a></li>
          <li class="<%= active? 'network' %>"><%= link_to "Networks", network_device_charts_path(@device) %></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="span9">
    <div class="widget-box">
      <div class="widget-title">
        <h5><%= @box_title %></h5>
        <div class="buttons">
        <div class="btn-group">
          <a class="btn btn-mini tip-left dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="#" title="Filter View by Range"><%= range_filter_day %> <b class="caret"></b></a>
          <ul id="menu2" class="dropdown-menu pull-right" role="menu" aria-labelledby="drop5">
            <li>
              <%= filter_link "Last day", :range => "last_day" %>
            </li>
            <li>
              <%= filter_link "Last week", :range => "last_week" %>
            </li>
            <li>
              <%= filter_link "Last month", :range => "last_month" %>
            </li>
          </ul>
        </div>
      </div>
      </div>
      <div class="widget-content nopadding updates pre-charts">
        <div class="loading-chart">
          <h4>Loading Analytics</h4>
          <%= image_tag asset_path("ajax-loader-charts.gif") %>
        </div>
      </div>
    </div>
  </div>
</div>
