<template>
  <modal>
    <template slot="header">
      <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <h4 class="modal-title">Send {{commandtitle}} Command</h4>
    </template>
    <device-command-form v-bind:command="command" v-on:paramschange="onDataChange" v-on:validate="onValidate"></device-command-form>
    <template slot="footer">
      <button class="btn btn-white" v-on:click="closeModal">Cancel</button>
      <button class="btn btn-primary" v-on:click="submit" v-bind:disabled="isInvalid">Submit</button>
      <p v-if="hasMessage" class="text-danger"><br/>{{message}}</p>
    </template>
  </modal>
</template>

<script>
import DeviceCommandForm from '../device-command-forms/device-command-form.vue';
import Modal from '../shared/modal.vue';

export default {
  name: 'device-command-modal',
  components: {
    'modal': Modal,
    'device-command-form': DeviceCommandForm
  },
  props: ["mac", "command", "commandtitle"],
  data:  function() {
    return {
      params: {},
      message: "",
      valid: true
    };
  },
  computed: {
    hasMessage: function(){
      return this.message.length > 0;
    },
    isInvalid: function(){
      return this.valid ? false : true;
    }
  },
  methods: {
    submitUrl: function(){
      return "/devices/" + this.mac + "/remote" ;
    },
    closeModal: function(e){
      if(e){
        e.preventDefault();
      }
      $(this.$el).modal("hide");
    },
    onDataChange: function(params){
      this.params = params;
    },
    onValidate: function(params){
      this.message = params.message;
      this.valid = params.valid;
    },
    submit: function(e){
      e.preventDefault();
      var self = this,
        params = {
          "id": this.mac,
          "remote_data": Object.assign({}, this.params, {command: this.command}),
          "commit": "Send Command"
        },
        url = this.submitUrl(params);
      AV.UTIL.AJAX.get(
        url, 
        params,
        function(res){
          self.closeModal();
        }
      ).always(
        function(res){
          window.location.href = "/devices/" + self.mac + "/events"
        }
      );
    }
  }
}
</script>