<template>
  <modal>
    <template slot="header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Edit Device Comment</h4>
    </template>
    <form>
      <div class="form-group row">
        <label class="col-sm-3 control-label">Comment</label>
        <div class="col-sm-9">
          <textarea class="form-control" style="resize: vertical;" v-model="userComment"></textarea>
        </div>
      </div>
    </form>
    <template slot="footer">
      <button class="btn btn-white" v-on:click="closeModal">Cancel</button>
      <button class="btn btn-primary" v-on:click="submit" v-bind:disabled="buttonDisabled">Submit</button>
      <p v-if="hasMessage" class="text-danger"><br/>{{message}}</p>
    </template>
  </modal>
</template>

<script>
import Modal from '../shared/modal.vue';

export default {
  name: 'device-comment-modal',
  components: {
    'modal': Modal
  },
  props: ["mac", "comment"],
  data:  function() {
    return {
      "message": "",
      "userComment": this.comment,
      "buttonDisabled": false
    };
  },
  watch: {
    "userComment": "validateComment"
  },
  computed: {
    formAction: function(){
      return this.submitUrl();
    },
    hasMessage: function(){
      return this.message.length > 0;
    }
  },
  methods: {
    validateComment: function(){
      this.buttonDisabled = this.userComment.length > 255;
      this.message = this.buttonDisabled ? "Comment must be fewer than 256 characters." : "";
    },
    submitUrl: function(){
      return "/devices/" + this.mac;
    },
    closeModal: function(e){
      if(e){
        e.preventDefault();
      }
      $(this.$el).modal("hide");
    },
    submit: function(e){
      e.preventDefault();
      var self = this,
        url = this.submitUrl(),
        params = {
          "id": this.mac,
          "comment": this.userComment
        };
      AV.UTIL.AJAX.patch(
        url, 
        params,
        function(res){
          self.closeModal();
          var event = new Event("reload-dataset");
          document.dispatchEvent(event);
        },
        function(res){
          self.message = "An error occured saving your comment.";
        }
      );
    }
  }
}
</script>