<template>
  <modal>
    <template slot="header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Contact Us</h4>
    </template>
    <form-select-field v-bind:label="catLabel" v-bind:options="commentCategories" field="category"
                    v-bind:value="params.category" v-on:valuechange="onFieldChange"></form-select-field>
    <form-select-field v-bind:label="domainLabel" v-bind:options="domainOptions" field="domain"
                    v-bind:value="params.domain" v-on:valuechange="onFieldChange"></form-select-field>
    <form-text-area label="Additional Description" field="message" placeholder="Please enter your feedback"
                    v-bind:value="params.message" v-on:valuechange="onFieldChange"></form-text-area>
    <template slot="footer">
      <button class="btn btn-white" v-on:click="closeModal">Cancel</button>
      <button class="btn btn-primary" v-on:click="submit" v-bind:disabled="isInvalid">Submit</button>
      <p class="text-danger"><br v-if="message.length > 0" />{{message}}</p>
    </template>
  </modal>
</template>

<script>
import SelectField from '../form-fields/form-select-field.vue';
import TextArea from '../form-fields/form-text-area.vue';
import Modal from '../shared/modal.vue'

export default {
  name: 'feedback-modal',
  components: {
    'modal': Modal,
    'form-select-field': SelectField,
    'form-text-area': TextArea
  },
  data:  function() {
    return {
      params: {
        "category": "suggestion",
        "domain": "website",
        "message": "",
        "last_url": window.location.href
      },
      url: "/feedback",
      valid: true,
      message: ""
    };
  },
  props: ["armt"],
  created: function(){
    this.validate();
  },
  computed: {
    commentCategories: function(){
      var options = ["suggestion", "complaint", "praise"];
      return this.armt ? options.concat(["problem"]) : options;
    },
    domainOptions: function(){
      return ["website", "reports", "usability", "process"];
    },
    isInvalid: function(){
      return this.valid ? false : true;
    },
    catLabel: function(){
      return this.armt ? "What kind of issue are you having?" : "What type of feedback is this?";
    },
    domainLabel: function(){
      return this.armt ? "Where are you having the issue?" : "Where in the site is the feedback related to?";
    }
  },
  methods: {
    closeModal: function(e){
      if(e){
        e.preventDefault();
      }
      $(this.$el).modal("hide");
    },
    onFieldChange: function(message){
      this.$data["params"][message.field] = message.value;
      this.validate();
    }, 
    validate: function(params){
      this.valid = this.params.message.length > 0;
      this.message = this.valid ? "" : "You must provide a comment before submitting feedback.";
    },
    submit: function(e){
      e.preventDefault();
      var self = this,
        params = Object.assign({}, this.params),
        url = this.url;
      AV.UTIL.AJAX.post(
        url, 
        params,
        function(res){
          self.closeModal();
        },
        function(res){
          self.message = "Something went wrong. Please, contact support."
        }
      )
    }
  }
}
</script>