<%= f.hidden_field :id %>

<% content_for :header_javascript_block do %>
  <script type="text/javascript">
    function loadInheritedValues() {
      var parentId = $("#parent_configuration_id").val();
      if (parentId === null) { return; }

      $(".help-block").html("");

      $.ajax({
        type: "GET",
        url: "/legacy_configurations/inherited_values",
        data: { parent_id: parentId },
        contentType: "application/json; charset=UTF-8",
        dataType: "json",
        success: function (response) {
          $.each(response, function (key,value) {
            var key_id = "span#inherited_" + key;
            $(key_id).html("Inherited Value: <strong>" + value + "</strong>");
          });
        }
      });
    }

    $(document).ready(function(){
      $("[rel = popover]").popover({trigger: 'hover'});

      $(".config-tab").click( function() {
        $("#config-tab-title").text($(this).text());
      });

      loadInheritedValues();

      $('#parent_configuration_organization_id').change(function () {
        $('#parent_configuration_id').val('');
        loadInheritedValues();
      });
    });

  </script>
<% end %>

<%= render :partial => "shared/sub_alert", :locals => { :obj => @configuration } %>

<div class="tabs-container">
  <div class="tabs-left">
    <ul class="nav nav-tabs">
      <li class="config-tab active"><a data-toggle="tab" href="#tab1">Administration</a></li>
      <li class="config-tab "><a data-toggle="tab" href="#tab2">APN Options</a></li>
      <li class="config-tab "><a data-toggle="tab" href="#tab3">Data Management</a></li>
      <li class="config-tab "><a data-toggle="tab" href="#tab4">Static IP</a></li>
      <li class="config-tab "><a data-toggle="tab" href="#tab5">DHCP Options</a></li>
      <li class="config-tab "><a data-toggle="tab" href="#tab6">DNS Options</a></li>
      <li class="config-tab "><a data-toggle="tab" href="#tab7">Modem Management</a></li>
      <li class="config-tab "><a data-toggle="tab" href="#tab8">Syslog Options</a></li>
      <li class="config-tab "><a data-toggle="tab" href="#tab9">Port Forwarding</a></li>
      <li class="config-tab "><a data-toggle="tab" href="#tab10">Monitoring</a></li>
      <% if action_name == 'show' &&
            Pundit.policy(current_user, @configuration).view_history? %>
        <li class="config-tab "><a data-toggle="tab" href="#tab99">Changes</a></li>
      <% end %>
      <p class="text-danger m-t">* Inherited values from parent configurations overwrite undeclared values only.</p>
      <p class="m-t">* Checked boxes indicate the value will be inherited from its parent.</p>
    </ul>

    <div class="tab-content" id="configuration_form">
      <div id="tab1" class="tab-pane active">
        <div class="panel-body">
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_user_id">Configuration Name *</label>
            <div class="col-md-7">
              <div class="input-group">
                <%= f.text_field :name, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:name)} %>
              </div>
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_organization_id">Organization</label>
            <div class="col-md-7">
              <div class="input-group select2-bootstrap-append">
                <%= f.select :organization_id,
                             options_for_select(organizations_select_list, @configuration.organization_id),
                             {},
                             { :class => 'select2' } %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:organization_id)} %>
              </div>
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_parent_id">Parent Configuration</label>
            <div class="col-md-7">
              <div class="input-group">
                <%= f.hidden_field :parent_id %>
                <%= render '/legacy_configurations/cellular/parent_configuration' %>
                <%= render '/legacy_configurations/popover', { field: popover_data(:parent_id) } %>
              </div>
            </div>
            <div class="col-md-3 m-t">
              <% if @parent_was %>
                <%# if I no longer have a parent, or if I do but it's different %>
                <% if @configuration.parent.nil? ||
                    @configuration.parent.attributes != @parent_was.attributes %>
                  <span class="text-warning configuration-warning">
                    <%= link_to "Parent has changed.",
                                edit_legacy_configuration_path(@parent_was, params: { as_of: @version.created_at })
                    %>
                    Inherited values will not be the same as the original version.
                  </span>
                <% end %>
              <% end %>

              <% if ['new', 'create', 'edit', 'update'].include?(action_name) %>
                <%= render '/legacy_configurations/cellular/parent_configuration_modal' %>
                <%=
                    link_to(
                        'Remove',
                        nil,
                        {
                            id: 'remove_parent_configuration',
                            class: 'm-l',
                            style: ('display: none;' unless @parent_configuration)
                        }
                    )
                %>
              <% end %>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_img">Firmware Image (3g)</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :img_locked %>
                </span>
                <%= f.select :img, @img_list, { :include_blank => true }, {:class => "select2" } %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:img_3g)} %>
              </div>
              <span class="help-block text-danger" id="inherited_img"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_img2">Firmware Image (4g)</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :img2_locked %>
                </span>
                <%= f.select :img2, @img_2_list,
                             { :include_blank => true }, {:class => "select2" } %> <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:img_4g)} %>
              </div>
              <span class="help-block text-danger" id="inherited_img2"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_cfg">Config Server</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :cfg_locked %>
                </span>
                <%= f.text_field :cfg, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:config_server), :html => true} %>
              </div>
              <span class="help-block text-danger" id="inherited_cfg"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <%= f.label :conf_insecure_ssl, "SSL override", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :conf_insecure_ssl_locked %>
                </span>
                <%= f.select :conf_insecure_ssl, ["","0","1"],
                             { :include_blank => true }, {:class => "select2-without-search" } %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:conf_insecure_ssl) } %>
              </div>
              <span class="help-block text-danger" id="inherited_conf_insecure_ssl"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <%= f.label :crt_url, "Certificate URL", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :crt_url_locked %>
                </span>
                <%= f.text_field :crt_url, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:crt_url)} %>
              </div>
              <span class="help-block text-danger" id="inherited_crt_url"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_hostname">Hostname</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :hostname_locked %>
                </span>
                <%= f.text_field :hostname, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:hostname), :html => true} %>
              </div>
              <span class="help-block text-danger" id="inherited_hostname"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_config_change_reboot">Configuration Change Causes Reboot?</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :config_change_reboot_locked %>
                </span>
                <%= f.select :config_change_reboot, options_for_select(checkbox_values, @configuration.config_change_reboot), { :include_blank => true }, {:class => "select2-without-search" } %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:config_change_reboot)} %>
              </div>
              <span class="help-block text-danger" id="inherited_config_change_reboot"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_firmware_server">Firmware Server</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :firmware_server_locked %>
                </span>
                <%= f.text_field :firmware_server, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:firmware_server)} %>
              </div>
              <span class="help-block text-danger" id="inherited_firmware_server"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_iui">Ignore Unsolicited Inbound</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :iui_locked %>
                </span>
                <%= f.select :iui, options_for_select(checkbox_values, @configuration.iui), { :include_blank => true }, {:class => "select2-without-search" } %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:iui)} %>
              </div>
              <span class="help-block text-danger" id="inherited_iui"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_png">Ping Test List</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :png_locked %>
                </span>
                <%= f.text_field :png, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:png), :html => true} %>
              </div>
              <span class="help-block text-danger" id="inherited_png"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_rbt">Reboot Nightly?</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :rbt_locked %>
                </span>
                <%= f.select :rbt, options_for_select(checkbox_values, @configuration.rbt), { :include_blank => true }, {:class => "select2-without-search" } %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:rbt)} %>
              </div>
              <span class="help-block text-danger" id="inherited_rbt"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_remote_control">Enable Remote Control Tunnel</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :remote_control_locked %>
                </span>
                <%= f.select :remote_control, options_for_select(checkbox_values, @configuration.remote_control), { :include_blank => true }, {:class => "select2-without-search" } %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:remote_control)} %>
              </div>
              <span class="help-block text-danger" id="inherited_remote_control"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_sms_check_freq">SMS Check Frequency</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :sms_check_freq_locked %>
                </span>
                <%= f.text_field :sms_check_freq, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:sms_check_freq), :html => true} %>
              </div>
              <span class="help-block text-danger" id="inherited_sms_check_freq"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_upload_server">Upload Server</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :upload_server_locked %>
                </span>
                <%= f.text_field :upload_server, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:upload_server)} %>
              </div>
              <span class="help-block text-danger" id="inherited_upload_server"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_var">Variant</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :var_locked %>
                </span>
                <%= f.select :var, options_for_select([["",""],["A","A"],["M","M"],["S","S"]], @configuration.var), {}, {:class => "select2-without-search" } %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:var)} %>
              </div>
              <span class="help-block text-danger" id="inherited_var"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_wdog">Enable Watchdog</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :wdog_locked %>
                </span>
                <%= f.select :wdog, options_for_select(checkbox_values, @configuration.wdog), { :include_blank => true }, {:class => "select2-without-search" } %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:wdog)} %>
              </div>
              <span class="help-block text-danger" id="inherited_wdog"></span>
            </div>
          </div>
        </div>
      </div>

      <div id="tab2" class="tab-pane">
        <div class="panel-body">
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_sticky_apn">Keep Configured APN Sticky</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :sticky_apn_locked %>
                </span>
                <%= f.select :sticky_apn, options_for_select(checkbox_values, @configuration.sticky_apn), { :include_blank => true }, {:class => "select2-without-search" } %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:sticky_apn)} %>
              </div>
              <span class="help-block text-danger" id="inherited_sticky_apn"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_xma">Modem APN</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :xma_locked %>
                </span>
                <%= f.text_field :xma, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:xma)} %>
              </div>
              <span class="help-block text-danger" id="inherited_xma"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_xmc">Modem Carrier</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :xmc_locked %>
                </span>
                <%= f.text_field :xmc, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:xmc)} %>
              </div>
              <span class="help-block text-danger" id="inherited_xmc"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_xmi">Modem Initialization (AT command string)</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :xmi_locked %>
                </span>
                <%= f.text_field :xmi, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:xmi)} %>
              </div>
              <span class="help-block text-danger" id="inherited_xmi"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_xmp">Modem Password</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :xmp_locked %>
                </span>
                <%= f.text_field :xmp, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:xmp)} %>
              </div>
              <span class="help-block text-danger" id="inherited_xmp"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_xmt">Modem Type</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :xmt_locked %>
                </span>
                <%= f.text_field :xmt, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:xmt)} %>
              </div>
              <span class="help-block text-danger" id="inherited_xmt"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_xmu">Modem User ID</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :xmu_locked %>
                </span>
                <%= f.text_field :xmu, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:xmu)} %>
              </div>
              <span class="help-block text-danger" id="inherited_xmu"></span>
            </div>
          </div>
        </div>
      </div>

      <div id="tab3" class="tab-pane">
        <div class="panel-body">
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_status_freq">Status Update Frequency</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :status_freq_locked %>
                </span>
                <%= f.text_field :status_freq, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:status_freq)} %>
              </div>
              <span class="help-block text-danger" id="inherited_status_freq"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_link_check_freq">Link Check Frequency</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :link_check_freq_locked %>
                </span>
                <%= f.text_field :link_check_freq, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:link_check_freq)} %>
              </div>
              <span class="help-block text-danger" id="inherited_link_check_freq"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_link_timeout">Link Timeout</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :link_timeout_locked %>
                </span>
                <%= f.text_field :link_timeout, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:link_timeout)} %>
              </div>
              <span class="help-block text-danger" id="inherited_link_timeout"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_traf_acct">Traffic Accounting Enable</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :traf_acct_locked %>
                </span>
                <%= f.select :traf_acct, options_for_select(checkbox_values, @configuration.traf_acct), { :include_blank => true }, {:class => "select2-without-search" } %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:traf_acct)} %>
              </div>
              <span class="help-block text-danger" id="inherited_traf_acct"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_proxy_arp">Proxy ARP</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :proxy_arp_locked %>
                </span>
                <%= f.select :proxy_arp, options_for_select(checkbox_values, @configuration.proxy_arp), { :include_blank => true }, {:class => "select2-without-search" } %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:proxy_arp)} %>
              </div>
              <span class="help-block text-danger" id="inherited_traf_proxy_arp"></span>
            </div>
          </div>
        </div>
      </div>

      <div id="tab4" class="tab-pane">
        <div class="panel-body">
          <div class="form-group col-md-12">
            <%= f.label :ips_cust_dh_grp, "IPSec Custom Diffie-Helman Group", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :ips_cust_dh_grp_locked %>
                </span>
                <%= f.select :ips_cust_dh_grp, ["","1","2","5"],
                           { :include_blank => true }, {:class => "select2-without-search" } %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:ips_cust_dh_grp)} %>
              </div>
              <span class="help-block text-danger" id="inherited_ips_cust_dh_grp"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <%= f.label :ips_cust_home_ep, "IPsec Custom Home Endpoint", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :ips_cust_home_ep_locked %>
                </span>
                <%= f.text_field :ips_cust_home_ep, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:ips_cust_home_ep)} %>
              </div>
              <span class="help-block text-danger" id="inherited_ips_cust_home_ep"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <%= f.label :ips_cust_home_net, "IPsec Custom Home Network", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :ips_cust_home_net_locked %>
                </span>
                <%= f.text_field :ips_cust_home_net, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:ips_cust_home_net)} %>
              </div>
              <span class="help-block text-danger" id="inherited_ips_cust_home_net"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <%= f.label :ips_cust_keyid_tag, "IPsec Custom Keyid Tag", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :ips_cust_keyid_tag_locked %>
                </span>
                <%= f.text_field :ips_cust_keyid_tag, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:ips_cust_keyid_tag)} %>
              </div>
              <span class="help-block text-danger" id="inherited_ips_cust_keyid_tag"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <%= f.label :ips_cust_psk, "IPsec Private Shared Key, Encrypted", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :ips_cust_psk_locked %>
                </span>
                <%= f.text_field :ips_cust_psk, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:ips_cust_psk)} %>
              </div>
              <span class="help-block text-danger" id="inherited_ips_cust_psk"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <%= f.label :ips_cust_remote_ep, "IPsec Custom Remote Endpoint", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :ips_cust_remote_ep_locked %>
                </span>
                <%= f.text_field :ips_cust_remote_ep, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:ips_cust_remote_ep)} %>
              </div>
              <span class="help-block text-danger" id="inherited_ips_cust_remote_ep"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <%= f.label :ips_cust_remote_net, "IPsec Custom Home Network", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :ips_cust_remote_net_locked %>
                </span>
                <%= f.text_field :ips_cust_remote_net, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:ips_cust_remote_net)} %>
              </div>
              <span class="help-block text-danger" id="inherited_ips_cust_remote_net"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <%= f.label :ips_cust_xauth_user, "IPsec XAUTH username", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :ips_cust_xauth_user_locked %>
                </span>
                <%= f.text_field :ips_cust_xauth_user, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:ips_cust_xauth_user)} %>
              </div>
              <span class="help-block text-danger" id="inherited_ips_cust_xauth_user"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <%= f.label :ips_cust_xauth_pass, "IPsec XAUTH Password", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :ips_cust_xauth_pass_locked %>
                </span>
                <%= f.text_field :ips_cust_xauth_pass, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:ips_cust_xauth_pass)} %>
              </div>
              <span class="help-block text-danger" id="inherited_ips_cust_xauth_pass"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <%= f.label :ips_keepalive, "IPsec Keepalive", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :ips_keepalive_locked %>
                </span>
                <%= f.text_field :ips_keepalive, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:ips_keepalive)} %>
              </div>
              <span class="help-block text-danger" id="inherited_ips_keepalive"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <%= f.label :tus, "Tunnel Server IP address", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :tus_locked %>
                </span>
                <%= f.text_field :tus, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:tus)} %>
              </div>
              <span class="help-block text-danger" id="inherited_tus"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <%= f.label :vpn_cust_type, "Custom VPN Type", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :vpn_cust_type_locked %>
                </span>
                <%= f.select :vpn_cust_type, ["","ipsec-std","ipsec-cisco","openvpn"],
                           { :include_blank => true }, {:class => "select2-without-search" } %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:vpn_cust_type)} %>
              </div>
              <span class="help-block text-danger" id="inherited_vpn_cust_type"></span>
            </div>
          </div>
        </div>
      </div>

      <div id="tab5" class="tab-pane">
        <div class="panel-body">
          <div class="form-group col-md-12">
            <%= f.label :dhcp_enable, "DHCP Enabled", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :'dhcp_enable_locked' %>
                </span>
                <%= f.select :dhcp_enable, ["","0","1"],
                           { :include_blank => true }, {:class => "select2-without-search" } %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:dhcp_enable)} %>
              </div>
              <span class="help-block text-danger" id="inherited_dhcp_enable"></span>
            </div>
          </div>

          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_dhcp_lease_max">DHCP Lease Max</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :dhcp_lease_max_locked %>
                </span>
                <%= f.text_field :dhcp_lease_max, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:dhcp_lease_max), :html => true} %>
              </div>
              <span class="help-block text-danger" id="inherited_dhcp_lease_max"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_dlm">DHCP Lease Minutes</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :dlm_locked %>
                </span>
                <%= f.text_field :dlm, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:dlm), :html => true} %>
              </div>
              <span class="help-block text-danger" id="inherited_dlm"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_dre">DHCP Range End</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :dre_locked %>
                </span>
                <%= f.text_field :dre, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:dre), :html => true} %>
              </div>
              <span class="help-block text-danger" id="inherited_dre"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_drn">DHCP Network</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :drn_locked %>
                </span>
                <%= f.text_field :drn, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:drn), :html => true} %>
              </div>
              <span class="help-block text-danger" id="inherited_drn"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_drp">DHCP Prefix</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :drp_locked %>
                </span>
                <%= f.text_field :drp, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:drp), :html => true} %>
              </div>
              <span class="help-block text-danger" id="inherited_drp"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_drs">DHCP Range Start</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :drs_locked %>
                </span>
                <%= f.text_field :drs, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:drs), :html => true} %>
              </div>
              <span class="help-block text-danger" id="inherited_drs"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_eth">Ethernet Port Auto-Negotiation Control</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :eth_locked %>
                </span>
                <%= f.select :eth, ["","auto","fdx10","hdx10","fdx100","hdx100"],
                           { :include_blank => true }, {:class => "select2-without-search" } %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:eth), :html => true} %>
              </div>
              <span class="help-block text-danger" id="inherited_eth"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_gip">Gateway IP</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :gip_locked %>
                </span>
                <%= f.text_field :gip, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:gip), :html => true} %>
              </div>
              <span class="help-block text-danger" id="inherited_gip"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_gip_secondary">Secondary Gateway IP</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :gip_secondary_locked %>
                </span>
                <%= f.select :gip_secondary, options_for_select(checkbox_values, @configuration.gip_secondary), { include_blank: true }, { class: 'select2-without-search' } %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:gip_secondary), :html => true} %>
              </div>
              <span class="help-block text-danger" id="inherited_gip_secondary"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_mtu">TCP/IP Maximum Transmission Unit</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :mtu_locked %>
                </span>
                <%= f.text_field :mtu, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:mtu), :html => true} %>
              </div>
              <span class="help-block text-danger" id="inherited_mtu"></span>
            </div>
          </div>
        </div>
      </div>

      <div id="tab6" class="tab-pane">
        <div class="panel-body">
          <div class="form-group col-md-12">
            <%= f.label :ddns, "Dynamic DNS Update URL", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :ddns_locked %>
                </span>
                <%= f.text_field :ddns, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:ddns)} %>
              </div>
              <span class="help-block text-danger" id="inherited_ddns"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <%= f.label :dnslist, "DNS List", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :dnslist_locked %>
                </span>
                <%= f.text_field :dnslist, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:dnslist)} %>
              </div>
              <span class="help-block text-danger" id="inherited_dnslist"></span>
            </div>
          </div>
        </div>
      </div>

      <div id="tab7" class="tab-pane">
        <div class="panel-body">
          <div class="form-group col-md-12">
            <%= f.label :rat, "Radio Access Technology", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :rat_locked %>
                </span>
                <%= f.select :rat, ["","auto","2g","3g","4g"],
                           { :include_blank => true }, {:class => "select2-without-search min-select-width-small" } %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:rat)} %>
              </div>
              <span class="help-block text-danger" id="inherited_rat"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <%= f.label :ippassthrough, "IP Passthrough", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :ippassthrough_locked %>
                </span>
                <%= f.select :ippassthrough, options_for_select(checkbox_values, @configuration.ippassthrough), { :include_blank => true }, {:class => "select2-without-search" } %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:ippassthrough)} %>
              </div>
              <span class="help-block text-danger" id="inherited_ippassthrough"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <%= f.label :usb_adjust, "USB Mode", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :usb_adjust_locked %>
                </span>
                <%= f.select :usb_adjust, ["","0","1"],
                           { :include_blank => true }, {:class => "select2-without-search" } %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:usb_adjust)} %>
              </div>
              <span class="help-block text-danger" id="inherited_usb_adjust"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <%= f.label :ota_updates, "OTA Updates", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :ota_updates_locked %>
                </span>
                <%= f.select :ota_updates, ["","0","1"],
                           { :include_blank => true }, {:class => "select2-without-search" } %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:ota_updates)} %>
              </div>
              <span class="help-block text-danger" id="inherited_ota_updates"></span>
            </div>
          </div>
        </div>
      </div>

      <div id="tab8" class="tab-pane">
        <div class="panel-body">
          <div class="form-group col-md-12">
            <%= f.label :log, "Default Syslog Address", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :log_locked %>
                </span>
                <%= f.text_field :log, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:log)} %>
              </div>
              <span class="help-block text-danger" id="inherited_log"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <%= f.label :log_level, "Log Level", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :log_level_locked %>
                </span>
                <%= f.text_field :log_level, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:log_level)} %>
              </div>
              <span class="help-block text-danger" id="inherited_log_level"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <%= f.label :log_list, "Primary Syslog Addresses List", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :log_list_locked %>
                </span>
                <%= f.text_field :log_list, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:log_list)} %>
              </div>
              <span class="help-block text-danger" id="inherited_log_list"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <%= f.label :log_list2, "Secondary Syslog Addresses List", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :log_list2_locked %>
                </span>
                <%= f.text_field :log_list2, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:log_list2)} %>
              </div>
              <span class="help-block text-danger" id="inherited_log_list2"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <%= f.label :syslog_http, "Syslog Over HTTP Server", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :syslog_http_locked %>
                </span>
                <%= f.text_field :syslog_http, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:syslog_http)} %>
              </div>
              <span class="help-block text-danger" id="inherited_syslog_http"></span>
            </div>
          </div>
        </div>
      </div>

      <div id="tab9" class="tab-pane">
        <div class="panel-body">
          <div class="form-group col-md-12">
            <%= f.label :ptf, "Port Forward", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :ptf_locked %>
                </span>
                <%= f.text_field :ptf, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:ptf)} %>
              </div>
              <span class="help-block text-danger" id="inherited_ptf"></span>
            </div>
          </div>
          <div class="form-group col-md-12">
            <%= f.label :ptfr, "Port Forwarding and Redirection", :class => "control-label col-md-2" %>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :ptfr_locked %>
                </span>
                <%= f.text_field :ptfr, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:ptfr)} %>
              </div>
              <span class="help-block text-danger" id="inherited_ptfr"></span>
            </div>
          </div>
        </div>
      </div>

      <%# Monitoring tab %>
      <div id="tab10" class="tab-pane">
        <div class="panel-body">
          <div class="form-group col-md-12">
            <label class="control-label col-md-2" for="netbridge_configuration_grace_period_duration">Grace Period Duration</label>
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= f.check_box :grace_period_duration_locked %>
                </span>
                <%= f.text_field :grace_period_duration, class: 'form-control' %>
                <%= render :partial => '/legacy_configurations/popover', :locals => {:field => popover_data(:grace_period_duration)} %>
              </div>
              <span class="help-block text-danger" id="inherited_grace_period_duration"></span>
            </div>
          </div>
        </div>
      </div>

      <% if action_name == 'show' %>
      <div id="tab99" class="tab-pane">
        <div class="panel-body">
          <table class="table table-bordered table-striped table-hover">
            <thead>
            <td>Timestamp</td>
            <td>Action</td>
            <td>User</td>
            </thead>
            <tbody>
            <% @configuration.versions.limit(Settings.versions.limit).each do |v| %>
              <tr>
                <% unless v.next.nil? %>
                  <td><%= link_to v.created_at, edit_legacy_configuration_path(@configuration, params: {version: v.next.index}) %></td>
                <% else %>
                  <td><%= link_to v.created_at, legacy_configuration_path(@configuration) %></td>
                <% end %>
                <td><%=v.event%></td>
                <td><%= u = User.find_by(id: v.version_author); u.email unless u.nil? %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <% end %>


    </div>
  </div>
</div>

<div class="hr-line-dashed"></div>

<div class="row">
  <div class="form-group">
    <div class='col-lg-4 col-lg-offset-2'>
      <%= yield(:configuration_form_actions) %>
    </div>
  </div>
</div>
