<div class="form-group" id="parent_configuration_control_group">
  <label class="control-label" for="netbridge_configuration_organization_id">Configuration</label>
  <div class="controls">
    <%= select_tag :parent_configuration_id,
        options_for_select(@parent_candidates.map { |nc| [nc.name, nc.id]}, @parent_configuration.try(:id)),
        { class: 'select2', include_blank: true } %>
  </div>
</div>
