<span id="parent_configuration_values">
  <%= text_field_tag :parent_configuration_name, parent_configuration_name(@parent_configuration), {class: 'form-control uneditable-input'} %>
  <% if action_name == 'show' %>
    <%= hidden_field_tag 'configuration[parent_id]', @parent_configuration.try(:id), id: 'parent_configuration_id' %>
  <% end %>
</span>
