&nbsp;
<a href="#parentConfigurationModal" role="button" data-toggle="modal" data-backdrop="static" data-keyboard="false">Change</a>

<div id="parentConfigurationModal" class="modal inmodal fade" role="dialog" aria-labelledby="parentConfigurationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close parentConfigurationClose" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="parentConfigurationModal">Select Parent Configuration</h3>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="netbridge_configuration_organization_id">Organization</label>
          <div class="controls">
            <%= select_tag(
              :parent_configuration_organization_id,
              options_for_select(
                organizations_select_list,
                @parent_configuration.try(:organization).try(:id)
              ),
              { class: 'select2', include_blank: true }
            ) %>
          </div>
        </div>

        <%= render 'legacy_configurations/cellular/organization_configurations_select' %>
      </div>

      <div class="modal-footer">
        <button class="btn parentConfigurationClose" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" id="parentConfigurationSelect">Select</button>
      </div>
    </div>
  </div>
</div>
