<div>
  <div class="ibox">
    <div class="ibox-title">
      <h5>Cellular Utilization</h5>
    </div>
    <div class="ibox-content">
      <%= render partial: 'shared/charts/cellular_utilization_chart' %>
    </div>
  </div>
</div>
