<% content_for :header_javascript_block  do %>
  <script type="text/javascript">
    $(document).on('tabShown', '#cellular_details', function() {
      if ($('.chart.cellular-utilization').length == 0) { initCharts() }
      else { setActiveChart(); }

      function initCharts() {
        updateCarrierCharts();
        listenForRangeChange();
      }

      function updateCarrierCharts(range) {
        range  = range || '<%= Measurement::Base::DEFAULT_RANGE %>';
        showLoading();

        var jqxhr = getCarrierChartData(range);
        jqxhr.done( function() {
          var response = jqxhr.responseJSON;
          removeOldCharts();
          if ( responseHasData(response) ) { drawCarrierCharts(response) }
          else { renderNoData() }
          updateCarrierSelector();
          setActiveChart();
        });
      }

      function showLoading(){
        var chartElements = $('.chart.cellular-utilization');
        if ( chartElements.length > 0 ) {chartElements.highcharts().hideNoData(); chartElements.highcharts().showLoading();}
      }

      function getCarrierChartData(range) { return $.getJSON(getURI(range)) }

      function getURI(range) {
        var current_device = "<%= params[:id].to_s.upcase %>";
        var uri = "<%= cellular_utilization_highcharts_path %>";
        uri += current_device ? "?id=" + current_device : '';
        uri += range ? "&range=" + range : '';
        return uri;
      }

      function removeOldCharts() { $('.chart.cellular-utilization').remove() }

      function responseHasData(response) { return response.series_by_carrier.length > 0 }

      function drawCarrierCharts(response) {
        $('#carrier-charts').removeClass('hidden');
        $.each(response.series_by_carrier, function (i,carrier) { drawCarrierChart(carrier) });
      }

      function drawCarrierChart(carrier) {
        $('.chart-container.cellular-utilization').append("<div class='chart cellular-utilization hidden' data-carrier='" + carrier.carrier_name + "'\></div>");
        drawHighChart({
          options: cellularUtilizationChartOptions(carrier),
          target: $(carrierChartElementSelector(carrier.carrier_name)),
          type: 'areaspline'
        });
      }

      function updateCarrierSelector() {
        var chartElements = $('.chart.cellular-utilization');
        if ( chartElements.length > 1 ) {
          if ( !carrierSelectorPresent() ) { drawCarrierSelector() }
          updateCarrierSelectorOptions(chartElements);
          listenForCarrierChange();
        }
        else { $('#carrier-select').closest('.form-group').remove() }
      }

      function carrierSelectorPresent() { return $('#carrier-select').length > 0 }

      function drawCarrierSelector() {
        $('#carrier-charts .form').prepend("<%= j render partial: 'shared/charts/components/carrier_select' %>");
      }

      function updateCarrierSelectorOptions(chartElements) {
        $('#carrier-select option').remove();
        $.each(chartElements, function(i, chartElement) { addCarrierSelectorOption($(chartElement).data('carrier')) });
      }

      function addCarrierSelectorOption(carrierName) {
        $('#carrier-select').append("<option " + "value=\"" + carrierChartElementSelector(carrierName) + "\"" + ">" + carrierName + "</option>");
      }

      function carrierChartElementSelector(carrierName) { return ".chart[data-carrier='" + carrierName + "']" }

      function listenForCarrierChange() {
        $('#carrier-select').change(function() {
          showSelectedChart();
        });
      }

      function showSelectedChart() {
        var target = $('#carrier-select').val();
        $('.chart.cellular-utilization').addClass('hidden');
        showAndReflow(target);
      }

      function showAndReflow(target) {
        $(target).removeClass('hidden');
        $(target).highcharts().reflow()
      }

      function renderNoData(){
        $('.chart-container.cellular-utilization').append("<div class='chart cellular-utilization cellular-utilization-chart-no-data'></div>");
        var target = $(".cellular-utilization-chart-no-data");
        drawHighChart({
          options: cellularUtilizationChartOptions(),
          target: target,
          type: 'areaspline'
        });
      }

      function setActiveChart() {
        if ( carrierSelectorPresent() ) { showSelectedChart() }
        else { showAndReflow('.chart.cellular-utilization') }
      }

      function listenForRangeChange() {
        $('#utilization-range').change( function() {
          var range = $(this).val();
          updateCarrierCharts(range);
        });
      }

      function legendLabel(carrier, name) {
        value = carrier[name.toLowerCase() + '_total'];
        return name + ': ' + formatTransferBytes(value, 2);
      }

      function subtitleText(carrier) {
        var subtitleString = '';

        if (carrier) {
          subtitleString = 'Total Utilization: ' +
            formatTransferBytes(carrier.received_total + carrier.transmitted_total, 2);
        }

        return { text: subtitleString };
      }

      function tooltipPointFormatter(point) {
        return "<span style=\"color: " + point.color + ";\">\u25CF</span> " + point.series.name + ": <b>" + formatTransferBytes(point.y, 2) + "</b><br/>";
      }

      function cellularUtilizationChartOptions(carrier) {
        var exportEnabled = carrier ? carrier.carrier_series.length > 0 : false;
        var series = carrier ? carrier.carrier_series : [];
        var titleText = carrier ? 'Cellular Utilization for ' + carrier.carrier_name : 'Cellular Utilization';

        return {
          exporting: { enabled: exportEnabled },
          legend: { labelFormatter: function () { return legendLabel(carrier, this.name) }},
          series: series,
          subtitle: subtitleText(carrier),
          title: {
            style: { fontSize: '14px' },
            text: titleText
          },
          tooltip: {
            formatter: function() {
              var tooltipString = '<span style="font-size: .9em">' + Highcharts.dateFormat('%A, %b %d, %H:%M', this.x) + '</span>';
              var totalBytes = 0;

              $.each(this.points, function(i, point) {
                tooltipString += '<br/>' + tooltipPointFormatter(point);
                totalBytes += point.y;
              });

              tooltipString += '<br/>' +
                               '<span style="color: transparent;">\u25CF</span>' + '<b>' + ' Total: ' + formatTransferBytes(totalBytes, 2) + '</b>';

              return tooltipString;
            }
          },
          xAxis: { type: 'datetime' },
          yAxis: {
            labels: {
              formatter: function() { return formatTransferBytes(this.value, 2) }
            },
            min: 0,
            title: { text: null }
          }
        }
      }
    });
  </script>
<% end %>

<div id="carrier-charts">
  <div class="form form-inline text-right m-b">
    <div class="form-group">
      <label for="utilization-range">Range</label>
      <select class="form-control" id="utilization-range">
        <%= options_for_select(
                Measurement::Base::ALLOWED_RANGES.map{|e| [ e[:description], e[:value] ]},
                Measurement::Base::DEFAULT_RANGE ) %>
      </select>
    </div>
  </div>
  <div class="chart-container cellular-utilization"></div>
</div>
