<div class="ibox">
  <div class="ibox-title">
    <h5>Connectivity</h5>
    <div class="ibox-tools">
      <a data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#connectivity-status-chart-helper">
        <i class="fa fa-question-circle"></i>
      </a>
    </div>
  </div>
  <div class="ibox-content">
    <div class="chart-header">
      <small>Last Updated: <%= timestamp_in_users_timezone(Time.now) %></small><br>
      <small>Number of Devices by Status in: <strong><%= current_organization_name %></strong><br></small>
    </div>
    <div class="chart-container">
      <div class="chart" id="connectivity-status"></div>
    </div>
  </div>
</div>

<%= render layout: 'layouts/helper_modal', locals: { modal_id: 'connectivity-status-chart-helper', modal_title: 'Connectivity Chart Help' } do %>
  <div class="modal-body">
    <p>
      The <strong>Connectivity</strong> graph represents the breakdown of the connectivity status for
      Deployed devices.  This graph only reports on the main statuses of Up / Down / Unreachable.
    </p>
    <dl>
      <dt>Up</dt>
      <dd>The device is online and is reachable through the application.</dd>
      <dt>Down</dt>
      <dd>The device is not reachable via the application.</dd>
      <dt>Unreachable</dt>
      <dd>The device has never checked into the application even though it is in a Deployed state.</dd>
    </dl>
  </div>
<% end %>
