<div class="ibox">
  <div class="ibox-title">
    <h5>Deployment</h5>
    <div class="ibox-tools">
      <a data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#deployed-status-chart-helper">
        <i class="fa fa-question-circle"></i>
      </a>
    </div>
  </div>
  <div class="ibox-content">
    <div class="chart-header">
      <small>Last Updated: <%= timestamp_in_users_timezone(Time.now) %></small><br>
      <small>Number of Devices by Status in: <strong><%= current_organization_name %></strong><br></small>
    </div>
    <div class="chart-container">
      <div class="chart" id="deployed-status"></div>
    </div>
  </div>
</div>

<%= render layout: 'layouts/helper_modal', locals: { modal_id: 'deployed-status-chart-helper', modal_title: 'Deployment Chart Help' } do %>
  <p>The <strong>Deployment</strong> graph represents the breakdown of Deployed / Undeployed devices in this organization.</p>
  <dl>
    <dt>Deployed</dt>
    <dd>
      Indicates the device should be monitored based on the events that are sent in by the device,
      and will be listed with a particular Deployed status. A device that is deployed will also generate
      notification alerts based on the events received and access to that device.
    </dd>
    <dt>Undeployed</dt>
    <dd>
      Indicates the device <strong><em>should not</em></strong> be monitored. Undeployed devices will be
      listed with a pause icon ( <i class="fa fa-pause"></i> ) as their status and with a gray status color.
      The application will still list details and events for undeployed devices, but these events will not generate any
      notification alerts.
    </dd>
  </dl>
<% end %>
