<div class="ibox">
  <div class="ibox-title">
    <h5>Cellular Network Type</h5>
    <div class="ibox-tools">
      <a data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#network-type-chart-helper">
        <i class="fa fa-question-circle"></i>
      </a>
    </div>
  </div>
  <div class="ibox-content">
    <div class="chart-header">
      <small>Last Updated: <%= timestamp_in_users_timezone(Time.now) %></small><br>
      <small>Number of Devices by Status in: <strong><%= current_organization_name %></strong></small>
    </div>
    <div class="chart-container">
      <div class="chart" id="network-type"></div>
    </div>
  </div>
</div>

<%= render layout: 'layouts/helper_modal', locals: { modal_id: 'network-type-chart-helper', modal_title: 'Network Type Chart Help' } do %>
  <div class="modal-body">
    <p>
      The <strong>Cellular Network Type</strong> graph represents the Cellular Network Connectivity Type of Deployed
      cellular enabled devices.
    </p>
  </div>
<% end %>
