<div class="ibox">
  <div class="ibox-title">
    <h5>Signal Strength</h5>
    <div class="ibox-tools">
      <a data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#signal-strength-chart-helper">
        <i class="fa fa-question-circle"></i>
      </a>
    </div>
  </div>
  <div class="ibox-content">
    <small>Last Updated: <%= timestamp_in_users_timezone(Time.now) %></small><br>
    <small>Number of Devices by Status in: <strong><%= current_organization_name %></strong></small>
    <div class="chart-container">
      <div class="chart" id="signal-strength"></div>
    </div>
  </div>
</div>

<%= render layout: 'layouts/helper_modal', locals: { modal_id: 'signal-strength-chart-helper', modal_title: 'Signal Strength Chart Help' } do %>
  <div class="modal-body">
    <p>
      The <strong>Signal Strength Chart</strong> graph represents the number of deployed cellular devices and their
      reported signal strength percentage.
    </p>
  </div>
<% end %>
