<% content_for :header_javascript_block  do %>
    <script type="text/javascript">
      var wanUtilizationChart = {};

      $(document).on('tabShown', '#device_details', function() {
        if ($('.chart.wan-utilization .highcharts-container').length == 0) {
          wanUtilizationChart = new WanUtilizationChartConstructor({mac: '<%= @presenter.device.mac %>'});
          wanUtilizationChart.load();
        }
        else { wanUtilizationChart.reflow(); }
      })
    </script>
<% end %>

<div class="wan-utilization-charts">
  <div class="form form-inline text-right m-b">
    <div class="form-group">
      <label for="wan-utilization-range">Range</label>
      <select class="form-control" id="wan-utilization-range">
        <%= options_for_select(
                Measurement::Base::ALLOWED_RANGES.map{|e| [ e[:description], e[:value] ]},
                Measurement::Base::DEFAULT_RANGE ) %>
      </select>
    </div>
  </div>

  <div class="title">
    WAN Utilization
    <a data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#wan-utilization-chart-helper">
      <i class="fa fa-question-circle"></i>
    </a>
  </div>
  <div class="chart-container wan-utilization"></div>
</div>

<%= render layout: 'layouts/helper_modal', locals: { modal_id: 'wan-utilization-chart-helper', modal_title: 'WAN Utilization Chart Help' } do %>
  <p>
    The WAN utilization graphs shows you how much of the available bandwidth of your WAN link you are consuming.  Capacity of your WAN link might
    not always be the same in both directions, thus we have a different graph showing the usage separately of both: <b>Upload</b> and <b>Download</b>.
    <p> The device samples utilization measurements every minute. If Data Usage is enabled in the settings, then
        the device will take the average of five samples to provide a single measurement resulting in twelve measurements per hour for reporting.
        This is how we calculate the Average Used.
    <p> If bandwidth testing has been turned on for this device in the Class of Service settings, then the device will perform bandwidth tests
        and include the results of those tests in the measurements used in the reporting.  If this setting is turned off we would only display
        the Average Used line.
    <p>The graphs depict several types of bandwidth measurements over your chosen time range:
    <b>High Water Mark</b>, <b>Maximum Used</b> and <b>Average Used</b>.
    <p>The three time ranges you can select from are: 24 hours, 7 days, or 30 days. If the time range is 24 hours, then the time interval
       for each data point is 1 hour, for the 7 and 30 days ranges this interval is 1 day.  A data point represents the measurements collected from
       the time of the current data point to the next data point.
    <p>The legend of your graph dynamically adjusts to your data usage and shows either KB/s or MB/s.
    The hover popup will show more details of the measurements and uses always KB/s
  </p>

  <dl>
    <dt>High Water Mark</dt>
    <dd>
      Each data point of this line shows the average value of the High Water Mark (HWM) measurements received per time interval,
      and gives an estimate of the available bandwidth during that time interval.
      The HWM are obtained from the bandwidth tests.
    </dd>
    <dt>Maximum Used</dt>
    <dd>
      Each data point of this line shows the most data usage that was observed per time interval.
      This is an indicator of the bandwidth you get during traffic bursts.
    </dd>

    <dt>Average Used</dt>
    <dd>
      Each data point of this line shows the average data usage that was observed during this time interval during the selected range.
      The Average Used is derived from measurements collected by the device as specified by the Data Usage settings for this device.
    </dd>

    <dt>Max Percentage Used</dt>
    <dd>
      Each data point of this line shows the Maximum Used as a percentage of the High Water Mark during this time interval.
      This percentage indicates how close your actual bandwidth is compared to the tested bandwidth.
    </dd>

    <dt>Max Percentage by Range</dt>
    <dd>
      The highest recorded value for the Max Percentage Used over the selected time range (24 hours, 7 days, or 30 days).
    </dd>
  </dl>
<% end %>
