$('#contacts').find('.alert').remove();
$('#<%= operation %>-contact').find('.alert').remove();

<% if @contact.blank? %>

  <%= render partial: 'blank', locals: { element: '##{operation}-contact > .modal-body' } %>

<% elsif @contact.errors.any? %>

  <%= render partial: 'errors', locals: { element: '##{operation}-contact > .modal-body' } %>

<% else %>

  $('#<%=operation%>-contact-modal').modal('hide');

  $('#device-contacts-table').DataTable().ajax.reload(function() {
    <% message_type = operation === "new" ? "created" : "updated" %>
    <% message_name = "contacts.#{message_type}" %>
    var alert = "<%= j alert_success message: t(message_name) %>";
    $('#contacts > .panel-body').prepend(alert);

    setAlertExpiration($('#contacts > .panel-body > .alert'));
  });

  <% if @current_device.is_smx_device? %>
    $('#add-device-contact').hide();
  <% end %>
<% end %>
