$('#contacts').find('.alert').remove();

$('#device-contacts-table').DataTable().ajax.reload(function() {
  var alert = "<%= j alert_success message: t('contacts.destroyed') %>";
  $('#contacts > .panel-body').prepend(alert);

  // declared in js/aview/bootstrap-alerts.js
  setAlertExpiration($('#contacts > .panel-body > .alert'));
});

$('#add-device-contact').show();
