<div class="modal inmodal fade" id="edit-dns-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="newDomainLabel">Edit DNS Domain</h3>
      </div>
      <%= render 'domain_form',
                 entry_path: admin_dns_path(@entry),
                 action: 'Update' %>
    </div>
  </div>
</div>