<div class="modal inmodal fade" id="new-dns-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="newDomainLabel">New DNS Domain</h3>
      </div>
      <%= render 'domain_form',
                 entry_path: admin_dns_index_path,
                 action: 'Create' %>
    </div>
  </div>
</div>