<div class="modal inmodal fade" id="add-group-devices-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag(add_devices_group_path(@group, format: :js),
            remote: true, method: :post, class: 'form-horizontal ajax-form', id: 'add-group-devices-form') do %>

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Add Devices to Group</h4>
        </div>

        <div class="modal-body" style="max-height: 500px; overflow: scroll;">
          <div class="form-group"><label class="col-sm-3 control-label">Device IDs</label>
            <div class="col-sm-9">
              <select class="device-ids-select m-b form-control select2" name="device_ids[]" multiple="multiple">
              </select>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="form-modal-spinner">
            <%= render 'shared/spinners/fading_circle' %>
          </div>
          <%= submit_tag "Ok", class: 'btn btn-primary' %>
          <%= submit_tag "Cancel", class: 'btn btn-white', 'data-dismiss' => 'modal' %>
        </div>
      <% end %>
    </div>

  </div>
</div>

<script type="text/javascript">
  // While select2 searches it will stub a default value:
  // { disabled: true, loading: true, text: "Searching..." }
  function formatPublisher(publisher) {
    if (publisher.loading) return publisher.text;

    var markup = '<div class="clearfix">' +
    '<div clas="col-sm-10">' +
    '<div class="clearfix">' +
    '<div class="col-sm-6">' + publisher.mac + '</div>' +
    '</div>';

    markup += '</div></div>';

    return markup;
  }

  // Return the search results. If nothing has been found yet, publisher.text
  // will be "Searching ....".
  function formatPublisherSelection(publisher) {
    return publisher.mac || publisher.text;
  }

  $(document).ready(function () {

    $(".device-ids-select").select2({
      theme: 'bootstrap',
      ajax: {
        url: "<%= device_search_group_path(@group, format: :json) %>",
        dataType: 'json',
        delay: 250,
        data: function (params) {
          return {
            query: params.term, // search term
            page: params.page
          };
        },
        processResults: function (data, page) {
          // parse the results into the format expected by Select2.
          // since we are using custom formatting functions we do not need to
          // alter the remote JSON data
          return {
            results: data.results
          };
        },
        cache: true
      },
      escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
      minimumInputLength: 3,
      templateResult: formatPublisher,
      templateSelection: formatPublisherSelection
    });

  });

</script>
