<div class="modal inmodal fade" id="destroy-groups-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag(destroy_multiple_groups_path(format: :js), remote: true, method: :post, class: 'form-horizontal ajax-form', id: 'destroy-groups-form') do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Delete Group(s)</h4>
        </div>

        <div class="modal-body" style="max-height: 500px; overflow: scroll;">
          <center>Are you sure you want to delete the selected group(s)?</center>
        </div>

        <div class="modal-footer">
          <div class="form-modal-spinner">
            <%= render 'shared/spinners/fading_circle' %>
          </div>
          <%= submit_tag "Ok", class: 'btn btn-primary' %>
          <%= submit_tag "Cancel", class: 'btn btn-white', 'data-dismiss' => 'modal' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function () {
    // Gather the checked groups before deleting
    $("#destroy-groups-form").bind('ajax:beforeSend', function(event, xhr, settings){
      settings.data = $('.group-select:checked').serialize();
    });
  });

</script>
