<div class="modal inmodal fade" id="edit-group-firmware-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag(update_firmware_group_path(@group, format: :js),
            remote: true, method: :post, class: 'form-horizontal ajax-form', id: 'edit-group-firmware') do %>

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Edit Group Firmware</h4>
        </div>

        <div class="modal-body" style="max-height: 500px; overflow: scroll;">
          <div class="form-group"><label class="col-sm-3 control-label">Group Name</label>
            <div class="col-sm-9">
              <p class="form-control-static">
                <%= @group.name %>
              </p>
            </div>
          </div>

          <div class="form-group"><label class="col-sm-3 control-label">Firmware</label>
            <div class="col-sm-9">
              <%= select_tag "group[firmware_id]",
                  options_from_collection_for_select(@firmwares, :id, :version, @group.firmware_id),
                  class: 'form-control m-b select2',
                  id: 'group-firmware'
              %>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="form-modal-spinner">
            <%= render 'shared/spinners/fading_circle' %>
          </div>
          <%= submit_tag "Ok", class: 'btn btn-primary' %>
          <%= submit_tag "Cancel", class: 'btn btn-white', 'data-dismiss' => 'modal' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
