<div class="modal inmodal fade" id="new-group-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag(groups_path(@group, format: :js),
            remote: true, method: :post, class: 'form-horizontal ajax-form', id: 'new-group') do %>

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">New Group</h4>
        </div>

        <div class="modal-body" style="max-height: 500px; overflow: scroll;">

          <div class="form-group"><label class="col-sm-3 control-label">Group Name</label>
            <div class="col-sm-9">
              <%= text_field_tag 'group[name]', nil, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group"><label class="col-sm-3 control-label">Organization</label>
            <div class="col-sm-9">
              <%= select_tag "group[organization_id]",
                  options_from_collection_for_select(current_user.organizations, :id, :name, current_user.filter_organization_id),
                  require: true,
                  class: 'form-control m-b select2' %>
            </div>
          </div>

          <div class="form-group"><label class="col-sm-3 control-label">Device Model</label>
            <div class="col-sm-9">
              <%= select_tag "group[device_model_id]",
                  option_groups_from_collection_for_select(DeviceCategory.for_groups.order(:name).all, :models, :name, :id, :name),
                  include_blank: true,
                  require: true,
                  class: 'form-control m-b select2',
                  id: "group-device-model" %>
            </div>
          </div>

          <div class="form-group"><label class="col-sm-3 control-label">Firmware</label>
            <div class="col-sm-9">
              <%= select_tag "group[firmware_id]",
                  [],
                  disabled: true,
                  require: true,
                  class: 'form-control m-b select2',
                  id: 'group-firmware'
              %>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <div class="form-modal-spinner">
            <%= render 'shared/spinners/fading_circle' %>
          </div>
          <%= submit_tag "Ok", class: 'btn btn-primary' %>
          <%= submit_tag "Cancel", class: 'btn btn-white', 'data-dismiss' => 'modal' %>
        </div>

      <% end %>
    </div>

  </div>
</div>

<script type="text/javascript">

  $(document).ready(function () {

    $('#new-group').validate({
      rules: {
        'group[name]': {
          required: true,
          minlength: 3,
          maxlength: 255
        },
        'group[device_model_id]': {
          required: true
        }
      }
    });

    $.validator.setDefaults({
      ignore: []
    });

    $('#group-device-model').on('change', function() {

      var form = $("#new-group");
      var groupFirmwareSelect = $('#group-firmware');
      var deviceModelId = $('#group-device-model').val();

      if (deviceModelId == "") {

        $(this).valid();

        groupFirmwareSelect.select2({theme: 'bootstrap', placeholder: ''});
        groupFirmwareSelect.select2("val", "");
        groupFirmwareSelect.prop('disabled', true);

      } else {

        $(this).valid();

        groupFirmwareSelect.select2({theme: 'bootstrap', placeholder: 'Loading ...'});
        groupFirmwareSelect.select2("val", "");
        groupFirmwareSelect.prop('disabled', true);

        $.ajax({
          url: '/device_models/' + deviceModelId + '/firmware_select.html',
          dataType: 'html',
          beforeSend: function() {
            form.trigger('ajax:beforeSend');
          },
          success: function(data){
            groupFirmwareSelect.html(data);
            groupFirmwareSelect.select2({theme: 'bootstrap'});
            groupFirmwareSelect.prop('disabled', false);
          },
          error: function (xhr, status, e) {
            groupFirmwareSelect.html("");
          },
          complete: function() {
            form.trigger('ajax:complete');
          }
        });
      }
    });

  });

</script>
