<% content_for :header_javascript_block  do %>
  <script>
    $(document).on('tabShown', '#permissions', function() {
      // Ensure we only load the data table once
      if ( ! $.fn.DataTable.isDataTable('#permissions-table') ) {
        $('#permissions-table').DataTable( {
          "processing": true,
          "serverSide": true,
          "ajax": $('#permissions-table').data('source'),
          "pagingType": "full_numbers",
          "bFilter": false,
          "bSort": false,
          "bPaginate": false,
          "bRetrieve": true,
          "columns": [
            null,
            { className: "text-center" },
            { className: "text-center" },
            { className: "text-center" },
            { className: "text-center" }
          ]
        });
      }
    });
  </script>
<% end %>

<table id="permissions-table" class="table table-hover" data-source="<%= source.try(:html_safe) %>">
  <thead>
    <th class="col-sm-2">Organization</th>
    <th class="col-sm-2">Role</th>
    <th class="text-center col-sm-6">Abilities</th>
    <th class="col-sm-1">Edit</th>
    <th class="col-sm-1">Delete</th>
  </thead>
  <tbody>
  </tbody>
</table>
