// Clear existing alerts
$('#permissions').find('.alert').remove();
$('#create-permission').find('.alert').remove();

<% if @permission.blank? %>
  <%= render partial: 'blank', locals: { element: '#permissions > .panel-body' } %>
<% elsif @permission.errors.any? %>
  <%= render partial: 'errors', locals: { element: '#new-permission > .modal-body' } %>
<% else %>
  $('#new-permission-modal').modal('hide');
  var alert = "<%= j alert_success message: ('Successfully created permission') %>";
  refreshPermissionsPanel(alert);
<% end %>