$('#permissions').find('.alert').remove();
<% if @permission.blank? %>
  <%= render partial: 'blank', locals: { element: '#permissions > .panel-body' } %>
<% elsif @permission.errors.any? %>
  <%= render partial: 'errors', locals: { element: '#permissions > .panel-body' } %>
<% else %>
  var alert = "<%= j alert_success message: ('Successfully deleted permission') %>";
  refreshPermissionsPanel(alert);
<% end %>