<% if @permission.blank? %>
  <%= render partial: 'blank', locals: { element: '#permissions > .panel-body' } %>
<% else %>
  var modal = "<%= j render(partial: 'permissions/modals/edit') %>";
  $('#modals-container').html(modal)
  $('#edit-permission-modal .select2').select2({ theme: 'bootstrap' })
  $('#edit-permission-modal').modal({backdrop: 'static'});
<% end %>
