var modal = "<%= j render(partial: 'permissions/modals/new') %>";

$('#modals-container').html(modal)
$('#new-permission-modal .select2').select2({ theme: 'bootstrap' })
$('#new-permission-modal').modal({backdrop: 'static'});
