$('#edit-permission').find('.alert').remove();
$('#permissions').find('.alert').remove();

<% if @permission.blank? %>
  <%= render partial: 'blank', locals: { element: '#permission > .panel-body' } %>
<% elsif @permission.errors.any? %>
  <%= render partial: 'errors', locals: { element: "#edit_permission_#{@permission.id} > .modal-body" } %>
<% else %>
  $('#edit-permission-modal').modal('hide');
  var alert = "<%= j alert_success message: ('Successfully updated permission') %>";
  refreshPermissionsPanel(alert);
<% end %>