<div class="modal inmodal fade" id="edit-permission-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for [@manager, @permission], remote: true, method: :patch, :html => { class: "form-horizontal ajax-form" } do |f| %>
        <%= f.hidden_field :id,              value: @permission.id %>
        <%= f.hidden_field :manager_id,      value: @manager.id %>
        <%= f.hidden_field :manager_type,    value: @manager.class.to_s %>
        <%= f.hidden_field :manageable_id,   value: @manageable_organization.id %>
        <%= f.hidden_field :manageable_type, value: Permission::MANAGEABLE_TYPE_ORGANIZATION %>

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Edit Permission</h4>
        </div>

        <div class="modal-body" style="max-height: 500px; overflow: scroll;">

          <div class="form-group">
            <label class="col-sm-4 control-label">Organization</label>
            <div class="col-sm-8">
              <%= text_field_tag :name, @manageable_organization.name, disabled: true, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label">Role</label>
            <div class="col-sm-8">
              <%= f.select :role_id, options_from_collection_for_select(@manageable_organization.roles, :id, :name, @permission.role_id), {}, class: 'permission_role select2' %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label">Abilities</label>
            <div id="permission_abilities" class="col-sm-8">
              <%= render partial: 'roles/abilities', locals: { abilities: @permission.allowed_abilities } %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-modal-spinner">
            <%= render 'shared/spinners/fading_circle' %>
          </div>
          <%= submit_tag "Close", class: 'btn btn-white', 'data-dismiss' => 'modal' %>
          <%= submit_tag "Update Permission", class: 'btn btn-primary' %>
        </div>

      <% end %>
    </div>
  </div>
</div>
