<div class="modal inmodal fade" id="new-permission-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for [@manager, @permission], remote: true, method: :post, :html => { class: "form-horizontal ajax-form", id: 'new-permission' } do |f| %>
        <%= f.hidden_field :manager_id,      value: @manager.id %>
        <%= f.hidden_field :manager_type,    value: @manager.class.to_s %>
        <%= f.hidden_field :manageable_type, value: Permission::MANAGEABLE_TYPE_ORGANIZATION %>

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">New Permission</h4>
        </div>

        <div class="modal-body" style="max-height: 500px; overflow: scroll;">
          <div class="form-group">
            <label class="col-sm-4 control-label">Organization</label>
            <div class="col-sm-8">
              <%= f.select :manageable_id,
                           options_from_collection_for_select(@manageable_organizations, :id, :name),
                           {},
                           class: "permission_manageable for-#{manager_class_name} select2" %>
            </div>
          </div>
          <div id="new-permission-roles">
            <div class="form-group">
              <label class="col-sm-4 control-label">Role</label>
              <div id="organization_roles" class="col-sm-8">
                <%= f.select :role_id, options_from_collection_for_select(@roles, :id, :name), {}, class: 'permission_role select2' %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label">Abilities</label>
              <div id="permission_abilities" class="col-sm-8">
                <%= render partial: 'roles/abilities', locals: { abilities: @abilities } %>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="form-modal-spinner">
            <%= render 'shared/spinners/fading_circle' %>
          </div>
          <%= submit_tag "Close", class: 'btn btn-white', 'data-dismiss' => 'modal' %>
          <%= submit_tag "Create Permission", class: 'btn btn-primary' %>
        </div>

      <% end %>
    </div>
  </div>
</div>
