<% content_for :header_javascript_block  do %>
  <script>

  $(document).on('tabShown', '#notification-profiles', function() {

    // Ensure we only load the data table once
    if ( ! $.fn.DataTable.isDataTable('#notification-profiles-table') ) {

      $('#notification-profiles-table').DataTable( {
        "processing": true,
        "serverSide": true,
        "ajax": $('#notification-profiles-table').data('source'),
        "pagingType": "full_numbers",
        "bFilter": false,
        "bSort": false,
        "bPaginate": false,
        "bRetrieve": true,
        "columns": [
          { data: "name" },
          { data: "frequency", className: "text-center" },
          { data: "subscribed_events_count", className: "text-center" },
          { data: "subscription_count", className: "text-center subscription-count" },
          { data: "created_at", className: "text-center" },
          { data: "edit_button", className: "text-center" },
          { data: "delete_button", className: "text-center" }
        ]
      });

    }

  });

  </script>
<% end %>

<table id="notification-profiles-table" class="table table-hover" data-source="<%= api_v2_account_notification_profiles_path(@user, format: :json) %>">
  <thead>
    <tr>
      <th>Name</th>
      <th class="text-center">Frequency</th>
      <th class="text-center">Subscribed Events</th>
      <th class="text-center">Subscriptions</th>
      <th class="text-center">Created</th>
      <th class="text-center">Edit</th>
      <th class="text-center">Delete</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>