<div class="middle-box text-center devise">
  <%= image_tag asset_path('att_logo_large.png'), alt: 'AT&T Logo', id: 'logo-login-page' %>

  <div id="sign-in" class="form-panel">
    <%= render partial: '/layouts/flash', locals: { exceptions: :timedout, flash: flash } %>

    <%= form_for(resource,
                 :as => resource_name,
                 :url => session_path(resource_name)) do |f| %>

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" style="min-width: 95px;">User ID</span>
            <%= f.text_field :username, id: "user_id", class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" style="min-width: 95px;">Password</span>
            <%= f.password_field :password, id: "password", class: 'form-control', :autocomplete => :off %>
          </div>
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-primary full-width" value="Login">
        </div>
    <% end %>
  </div>
</div>
