<div class="form-group">
  <%= f.label :name, 'Name', class: 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :name, class: device_input_class('form-control'),
                        maxlength: device_input_maxlength(@device, default: 50, smx: 30) %>
  </div>
</div>

<div class="form-group">
  <%= f.label :email, 'Email', class: 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :email, type: 'email',
                            class: device_input_class('form-control'),
                        maxlength: device_input_maxlength(@device, default: 50, smx: 50) %>
  </div>
</div>

<div class="form-group">
  <%= f.label :phone, 'Phone', class: 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :phone, class: device_input_class('form-control'),
                         maxlength: device_input_maxlength(@device, default: 50, smx: 30) %>
  </div>
</div>

<div class="form-group">
  <%= f.label :label, 'Type', class: 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.select :label,
                 ContactLabels.select_list,
                 {},
                 class: 'form-control' %>
  </div>
</div>