<div class="modal inmodal fade" id="new-contact-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for :contact,
                   as: :contact,
                   html: { class: 'form-horizontal ajax-form', id: 'new-contact'},
                   remote: true,
                   url: api_v3_device_contacts_path(@device, format: :js)  do |f| %>

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">New Contact</h4>
        </div>

        <div class="modal-body">
          <% if @device.organization_contacts.blank? %>
            <div id="contact_enter_form"></div>
          <% else %>
            <div id="contact_select_form">
              <div class="form-group">
                <div class="col-xs-12">
                  <%= f.label :id, "Assign Existing Contact", class: 'control-label' %>
                  <div class="m-t-sm">
                    <%= f.collection_select :id, @device.organization_contacts.sorted_by_name, :id, :display_name, {}, class: 'form-control' %>
                  </div>
                </div>
              </div>

              <div class="form-actions text-right">
                <%= button_tag(type: :submit, class: 'btn btn-primary', id: 'contact_add_button', name: 'commit', value: 'add') do %>
                  Add
                <% end %>
              </div>
            </div>
            <div class="hide" id="contact_enter_form"></div>
            <div class="hr-line-dashed"></div>
          <% end %>
          <%= render 'api/v3/contacts/modals/fields', f: f %>
        </div>
        <div class="modal-footer">
          <div class="form-actions">
            <div class="form-modal-spinner">
              <%= render 'shared/spinners/fading_circle' %>
            </div>

            <%= button_tag(type: :submit, class: 'btn btn-white', data: { dismiss: 'modal' }) do %>
              Close
            <% end %>

            <%= button_tag(type: :submit, class: 'btn btn-primary', id: 'contact_create_button', name: 'commit', value: 'create') do %>
              Create
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
