<div class="modal inmodal fade" id="update-contact-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for @contact,
                   as: :contact,
                   html: { class: 'form-horizontal ajax-form', id: 'update-contact'},
                   remote: true,
                   url: api_v3_device_contact_path(@device.mac, @contact.id, format: :js)  do |f| %>

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Update Contact</h4>
        </div>

        <div class="modal-body">
          <%= render 'api/v3/contacts/modals/fields', f: f %>
        </div>
        <div class="modal-footer">
          <div class="form-actions">
            <div class="form-modal-spinner">
              <%= render 'shared/spinners/fading_circle' %>
            </div>

            <%= button_tag(type: :submit, class: 'btn btn-white', data: { dismiss: 'modal' }) do %>
              Close
            <% end %>

            <%= button_tag(type: :submit, class: 'btn btn-primary', id: 'contact_update_button', name: 'commit', value: 'update') do %>
              Update
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
