<div class="form-group abilities i-checks">
  <label class="col-sm-3 control-label"></label>
  <div class="col-sm-9">
    <label class="checkbox-inline">
      <%= check_box_tag "abilities_#{ability.id}_id", ability.id, params[:checked_abilities] == 'all', name: "abilities[#{ability.id}][id]" %>
      <%= ability.name %>
      <% if ability.description.present? %>
        <span>
          <a href="#" class="m-l-xs" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= ability.description %>"><span class="badge">?</span></a>
        </span>
      <% end %>
    </label>
  </div>
</div>