var abilities = "";

<% @abilities.each do |ability| %>
  abilities += "<%= j render(partial: 'ability_form_group', locals: { ability: ability }) %>";
<% end %>


$("#abilities-list").html(abilities);