<% if @organization.errors.any? %>
  <%= render partial: 'errors', locals: { element: '#create-organization > .modal-body' } %>
<% else %>
  removeAnyExistingAlerts();
  reloadOrganizationHierarchy();
  showSuccessAlert();
  hideNewModal();
  showNewOrganization();
<% end %>

function removeAnyExistingAlerts() {
  $('.wrapper').find('.alert').remove();
}

function reloadOrganizationHierarchy() {
  var organizations = "<%= j render(partial: 'organizations/organization_hierarchy') %>";
  $('#organization-hierarchy').html(organizations);
}

function showSuccessAlert() {
  var alert = "<%= j alert_success message: t('organizations.created', name: @organization.name ) %>";
  $('div.wrapper-content').prepend(alert);
}

function hideNewModal() {
  $('#new-organization-modal').modal('hide');
}

function showNewOrganization() {
  var organizationId = "<%= @organization.id %>"
  location.hash = organizationId;
  animateElement($('#' + organizationId), 'slideInRight');
}