
<%= table_data_row key: 'Uplink IP Address', value: host_link(@presenter.device) %>
<%= table_data_row key: 'Firmware Version', value: @presenter.device.firmware %>
<%= table_data_row key: 'Primary Interface', value: @presenter.device.primary_wan_iface %>
