// Clear existing alerts
$('#notification-subscriptions').find('.alert').remove();
$('#create-subscription').find('.alert').remove();

<% if @subscription.blank? %>

  <%= render partial: 'blank', locals: { element: '#notification-subscriptions > .panel-body' } %>

<% elsif @subscription.errors.any? %>

  <%= render partial: 'errors', locals: { element: '#create-subscription > .modal-body' } %>

<% else %>

  // Hide the modal
  $('#new-subscription-modal').modal('hide');

  // Request came from the notification subscriptions index page
  if ($('#notification-subscriptions').length) {

    // Reset the modal selected values
    $('.publisher-search').select2('val', '');

    var publisher_type = "<%= @subscription.publisher_type.downcase %>";
    var alert = "<%= j alert_success message: t('notification_subscriptions.created',
                                                   type: @subscription.publisher_type.downcase,
                                                   name: @subscription.publisher_name ) %>";

    refreshPublisherPanel(publisher_type, alert, <%= @subscription.id %>);
    incrementElement($('tr#profile_row_<%= @subscription.profile_id %> > td.subscription-count > a'));

  // Request came from a device/organization page
  } else {

    var alerts = ""
    alerts += "<%= j alert_success message: t('subscriptions.subscribe_success', type: @subscription.type, name: @subscription.publisher_name) %>";
    alerts += "<%= j alert_warning message: t('notifications.disabled_html', href: link_to(t('notifications.disabled_href'), '/account').html_safe),
                                     klass: 'notifications-disabled-warning',
                                      hide: current_user.notify_enabled? %>";

    $('#<%= "execute-subscribe-#{@subscription.publisher_id}" %>').html(
      "<%= j render partial: 'shared/unsubscribe_button',
                     locals: {
                       message: unsubscribe_confirmation_message,
                       subscription: @subscription
                     }
      %>"
    );

    var content = $('.wrapper-content');
    content.find('.alert').remove();
    content.prepend(alerts);
  }
<% end %>
