// Remove any existing alerts
$('#notification-subscriptions').find('.alert').remove();

<% if @subscription.blank? %>

  <%= render partial: 'blank', locals: { element: '#notification-subscriptions > .panel-body' } %>

<% elsif @subscription.errors.any? %>

  <%= render partial: 'errors', locals: { element: '#notification-subscriptions > .panel-body' } %>

<% else %>

  // Request came from the notification subscriptions index page
  if ($('#notification-subscriptions').length) {

    var publisher_type = "<%= @subscription.publisher_type.downcase %>";
    var alert = "<%= j alert_success message: t('notification_subscriptions.destroyed',
                                                   type: @subscription.publisher_type.downcase,
                                                   name: @subscription.publisher_name ) %>";

    refreshPublisherPanel(publisher_type, alert);

    decrementElement($('tr#profile_row_<%= @subscription.profile_id %> > td.subscription-count > a'));

  } else {

    var alerts = "<%= j alert_success message: t('subscriptions.unsubscribe_success', type: @subscription.type, name: @subscription.publisher_name); %>"

    $('#<%= "execute-subscribe-#{@subscription.publisher_id}" %>').html(
      "<%= j render partial: 'shared/subscribe_button',
                     locals: { organization: @subscription.publisher } %>"
    );

    $('.btn-group.open').removeClass('open');
    var content = $('.wrapper-content');
    content.find('.alert').remove();
    content.prepend(alerts);

  }

<% end %>
