
<% if @subscription.blank? %>

  <%= render partial: 'blank', locals: { element: '#notification-subscriptions > .panel-body' } %>

<% else %>

  var modal = "<%= j render(partial: 'modals/edit') %>";

  $('#modals-container').html(modal)
  $('#edit-subscription-modal .select2').select2({ theme: 'bootstrap' })
  $('#edit-subscription-modal').modal({backdrop: 'static'});

<% end %>