var modal = "<%= j render(partial: 'modals/new') %>";

$('#modals-container').html(modal)
$('#new-subscription-modal .select2').select2({ theme: 'bootstrap' })

var searchPath = "<%= search_api_v2_account_notification_subscriptions_path(format: :json) %>";
var searchSelect = new SearchSelect(".publisher-search", searchPath);
searchSelect.draw();
$('.publisher-type').on('ifChecked', function() {
  searchSelect.setPublisherType(this.value);
});

$('#new-subscription-modal').modal({backdrop: 'static'});
