// Show the subscriptions tab
$('.nav-tabs a[href="#notification-subscriptions"]').tab('show');

// Clear alerts
$('#notification-subscriptions').find('.alert').remove();

var organizationSubscriptions = "<%= organization_subscriptions_path(format: :json).html_safe %>";
var deviceSubscriptions = "<%= device_subscriptions_path(format: :json).html_safe %>";
var organizationDataTable = $('#organization-subscriptions-table').DataTable();
var deviceDataTable = $('#device-subscriptions-table').DataTable();

// Update the publisher data tables
organizationDataTable.ajax.url(organizationSubscriptions).load(function() {
  deviceDataTable.ajax.url(deviceSubscriptions).load();
});
