// Clear existing alerts
$('#edit-subscription').find('.alert').remove();
$('#notification-subscriptions').find('.alert').remove();

<% if @subscription.blank? %>

  <%= render partial: 'blank', locals: { element: '#notification-subscriptions > .panel-body' } %>

<% elsif @subscription.errors.any? %>

  <%= render partial: 'errors', locals: { element: '#edit-subscription > .modal-body' } %>

<% else %>

  $('#edit-subscription-modal').modal('hide');

  var publisher_type = "<%= @subscription.publisher_type.downcase %>";
  var alert = "<%= j alert_success message: t('notification_subscriptions.updated',
                                                 type: @subscription.publisher_type.downcase,
                                                 name: @subscription.publisher_name ) %>";

  refreshPublisherPanel(publisher_type, alert, <%= @subscription.id %>);

  <% if @profile_changed %>
    $('#notification-profiles-table').DataTable().ajax.reload();
  <% end %>

<% end %>