<template>
  <div>
    <form-select-field v-bind:reducelabel="true" label="Report Format" v-bind:options="formatOptions" field="format" 
                    v-bind:value="params.format" v-on:valuechange="onFieldChange"></form-select-field>
    <form-select-field v-bind:reducelabel="true" label="Report Type" v-bind:options="typeOptions" field="reportType" 
                    v-bind:value="params.reportType" v-on:valuechange="onFieldChange"></form-select-field>
    <div class="col-xs-8 col-xs-offset-2">
      <a class="btn btn-primary col-xs-12" v-bind:href="reportUrl">
        Download Report <i class="fa fa-download"></i>
      </a>
    </div>
  </div>
</template>

<script>
import SelectField from '../form-fields/form-select-field.vue';

export default {
  name: 'device-stats',
  components: {
    'form-select-field': SelectField
  },
  data:  function() {
    return {
      params: {
        "format": "csv",
        "reportType": "device_model_counts_by_org",
      },
      formatMap: {
        "CSV": "csv",
        "Excel": "xlsx"
      }
    };
  },
  computed: {
    formatOptions: function(){
      return Object.keys(this.formatMap).map((formatText) => {
        return {
          value: this.formatMap[formatText],
          text: formatText
        }
      });
    },
    typeOptions: function(){
      return [{text: "Device Model Counts By Org", value: "device_model_counts_by_org"}];
    },
    reportUrl: function(){
      return "/admin/device_statistics." + this.params.format + "?report_type=" + this.params.reportType; 
    }
  },
  methods: {
    onFieldChange: function(message){
      this.$data["params"][message.field] = message.value;
    },
  }
}
</script>