<h1>500</h1>
<h3 class="font-bold">Internal Server Error</h3>

<div class="error-desc">
  <p>
  We're sorry, something seems to have gone wrong. Customer Support has been contacted and will resolve this soon.
  </p>
  <div class="form-actions">
    <a class="btn btn-primary" href="/">
      Return Home
    </a>
  </div>
</div>
