<h1>404</h1>
<h3 class="font-bold">Page Not Found</h3>

<div class="error-desc">
  <p>
  Sorry, but the page you are looking for cannot be found. Try checking the URL for error, then click the refresh button on your browser.
  </p>
  <div class="form-actions">
    <a class="btn btn-primary" href="/">
      Return Home
    </a>
  </div>
</div>
