<h1>401</h1>
<h3 class="font-bold">Unauthorized</h3>

<div class="error-desc">
  <p>
    Sorry, but you are unauthorized to view the page you are trying to access.
  </p>
  <div class="form-actions">
    <a class="btn btn-primary" href="/">
      Return Home
    </a>
  </div>
</div>
