// DataTables
table.dataTable {
  width: 100% !important;
}

table.dataTable thead .sorting:after {
  content: "\f0dc";
  font-family: FontAwesome;
}

table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  font-family: FontAwesome;
}

table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  font-family: FontAwesome;
}

table.dataTable.compact thead th,
table.dataTable.compact thead td {
  padding: 4px 17px 4px 4px;
}

table.dataTable.compact tfoot th,
table.dataTable.compact tfoot td {
  padding: 4px;
}

table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
  padding: 4px;
}

table.dataTable.compact thead .sorting:after,
table.dataTable.compact thead .sorting_asc:after,
table.dataTable.compact thead .sorting_desc:after,
table.dataTable.compact thead .sorting_asc_disabled:after,
table.dataTable.compact thead .sorting_desc_disabled:after {
  bottom: 4px
}

// IonRangeSlider
.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar,
.irs-bar-edge,
.irs-slider {
  background-image: asset-url('ion.rangeslider/sprite-skin-flat.png');
  background-repeat: repeat-x;
}

// VisualSearch
.VS-search .search_input input {
  height: 32px;
  margin-top: -3px;
}

// X-editable
.editable-container.editable-inline,
.editable-container.editable-inline .control-group.form-group,
.editable-container.editable-inline .control-group.form-group .editable-input,
.editable-container.editable-inline .control-group.form-group .editable-input textarea,
.editable-container.editable-inline .control-group.form-group .editable-input select,
.editable-container.editable-inline .control-group.form-group .editable-input input:not([type=radio]):not([type=checkbox]):not([type=submit])
{
  width: 100%;
}

.editable-container.editable-inline form {
  margin-right: 82px;
}

.editable-clear-x {
  background: none;
  margin-top: -10px;
}

.editable-clear-x:after {
  content: "\f057";
  font-family: FontAwesome;
}

.editableform-loading {
  background: url(image-path('x-editable/loading.gif')) center center no-repeat;
}

// Select2 within input group
.group-left-side + .select2-container > .selection > .select2-selection {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
