<tr><td class="content-block"><h3>New User Feedback Submitted</h3></td></tr>
<tr>
  <td class="content-block">
    <table>
      <tr><td><strong>Category:</strong></td><td><%= @category %></td></tr>
      <tr><td><strong>Domain:</strong></td><td><%= @domain %></td></tr>
      <tr><td><strong>URL:</strong></td><td><a href="<%= @last_url %>"><%= @last_url %></a></td></tr>
      <tr><td><strong>User:</strong></td><td><%= @user_name %></td></tr>
      <tr><td><strong>Message:</strong></td><td><%= @message %></td></tr>
    </table>
  </td>
</tr>