<template>
  <div class="chart-wrapper col-md-6">
    <highcharts class="chart" :options="chartOptions" :updateArgs="updateArgs"></highcharts>
  </div>
</template>

<script>
export default {
  data () {
    return {
      chartType: 'line',
      seriesColor: '#6fcd98',
      colorInputIsSupported: null,
      animationDuration: 1000,
      bytesFormatDecThreshold: 0,
      updateArgs: [true, true, {duration: 1000}],
      series: [],
      seriesConfig: {
        "capacity": {
          type: "line",
          name: "capacity",
          color: "#FF355E",
          step: true,
          lineWidth: 1,
          marker: {
            enabled: false
          }
        },
        "txMax": {
          type: 'line',
          name: "max egress",
          color: "#87CEFF",
          lineWidth: 1,
          marker: {
            height: 4,
            width: 4,
            radius: 2
          }
        },
        "rxMax": {
          type: 'line',
          name: "max ingress",
          color: "#A9A9A9",
          lineWidth: 1,
          marker: {
            height: 4,
            width: 4,
            radius: 2
          }
        },
        "txAvg": {
          type: 'bar',
          name: "avg egress",
          color: "#87CEFF"
        },
        "rxAvg": {
          type: 'bar',
          name: "avg ingress",
          color: "#A9A9A9"
        }
      },
      chartOptions: {
        chart: {
          zoomType: 'x'
        },
        xAxis: {
          type: 'datetime'
        },
        yAxis: {
          min: 0,
          title: { text: '' },
          labels: { 
            formatter: this.getByteFormatter() 
          }
        },
        title: {
          text: this.getChartTitle()
        },
        tooltip: { 
          shared: true,
          formatter: this.getTooltipFormatter() 
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            area: {
                stacking: 'normal',
                lineColor: '#666666',
                lineWidth: 1,
                marker: {
                    lineWidth: 1,
                    lineColor: '#666666'
                }
            }
        },
        series: []
      }
    }
  },
  props: ["showDetailed", "vlan", "chartData"],
  methods: {
    getChartData: function(){
      var sample_data = this.chartData.data;
      var keys = ["capacity", "txMax", "rxMax", "txAvg", "rxAvg"];
      var returnObj = {};
      var thresholds = [];
      keys.forEach( (key) => {
        returnObj[key] = sample_data[key];
        let max = Math.max(...(returnObj[key].map((i) => i[1])));
        thresholds.push(Math.floor(Math.log(max) / Math.log(1024)))
      });
      var max1 = thresholds[0];
      if(thresholds.filter((i) => i !== max1).length > 0){
        this.bytesFormatDecThreshold = Math.max(...thresholds);
      }else{
        //just set this to something longer than the maximum possible value
        this.bytesFormatDecThreshold = 7;
      }
      return returnObj;
    },
    getChartTitle: function(){
      return this.vlan + "-" + this.chartData.vig_id + " (" + this.chartData.vig_location + ")";
    },
    tooltipPointFormatter: function(point) {
      return "<span style=\"color: " + 
        point.color + ";\">\u25CF</span> " + 
        point.series.name + ": <b>" + 
        this.bytesFormat(point.y, true) + "</b><br/>";
    },
    getLegendLabel: function(seriesName){
      return this.seriesConfig[seriesName].name;
    },
    getTooltipFormatter: function(){
      var self = this;
      return function(){
        var tooltipString = '<span style="font-size: .9em">' + Highcharts.dateFormat('%A, %b %d, %H:%M', this.x) + '</span>';
        this.points.forEach(function(point) {
          tooltipString += '<br/>' + self.tooltipPointFormatter(point);
        });
        return tooltipString;
      }
    },
    getByteFormatter(){
      var self = this;
      return function(bytes, label) {
        return self.bytesFormat(this.value, true);
      }
    },
    bytesFormat(bytes, label) {
      if (bytes == 0) return '0';
      var s = ['B', 'KB', 'MB', 'GB', 'TB', 'PB'];
      var e = Math.floor(Math.log(bytes) / Math.log(1024));
      var value = ((bytes / Math.pow(1024, e)).toFixed(e >= this.bytesFormatDecThreshold ? 1 : 0));
      e = (e < 0) ? (-e) : e;
      if (label) value += ' ' + s[e];
      return value;
    }
  },
  created () {
    this.series = this.getChartData();
  },
  watch: {
    showDetailed (newValue) {
      this.series = this.getChartData();
    },
    series (newValue) {
      var chartSeries = Object.keys(this.series).map( (key) => {
        var returnVal = Object.assign({}, this.seriesConfig[key]);
        returnVal["data"] = this.series[key];
        return returnVal;
      });
      this.chartOptions.series = chartSeries;
    },
    chartType (newValue) {
      this.chartOptions.chart.type = newValue.toLowerCase()
    },
    animationDuration (newValue) {
      this.updateArgs[2].duration = Number(newValue)
    }
  }
}
</script>

<style scoped>
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
#colorPicker {
  border: 0;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
}
.numberInput {
  width: 30px;
}
</style>