<div class="alert alert-info alert-dismissible col-md-10 col-md-offset-1 push-footer" id="cookie-alert" role="alert" style="display:none;">
  <button type="button" class="close close-message" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row">
    <div class="col-md-12 message-display">
      This application uses cookies that are essential to the operation of the application providing necessary functionality, personalizing content, and allowing us to analyze application performance.  If you continue to use our service, you consent to our <u><a href="https://accelerated.com/cookies" target="_blank">cookie policy</a></u>, including the use of essential, functional and performance based cookies.
    </div>
  </div>
</div>
<script>
  $("document").ready(function(e){
    var shouldShowCookiesWarning = !JSON.parse(localStorage.getItem("warning-dismissed"));
    if(shouldShowCookiesWarning){
      $("#cookie-alert").show();
      $("#cookie-alert .close-message").on("click", function(e){
        localStorage.setItem("warning-dismissed", true);
      });
    }
  }); 
</script>