<% if maint_message.present? %>
  <div class="alert alert-info alert-dismissible col-md-10 col-md-offset-1 push-footer" role="alert">
    <button type="button" class="close close-message" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="row">
      <div class="col-md-12 message-display">
        <%= maint_message %>
      </div>
    </div>
  </div>
<% end %>