<% content_for :header_javascript_block do %>
  <script type="text/javascript">
    $(document).ready(function () {
      var duration = 100;

      $('a#forgot-password').click(function () {
        $('#sign-in').fadeOut(duration, function () {
          $('#password').fadeIn(duration)
        });
      });

      $('a#sign-in').click(function () {
        $('#password').fadeOut(duration, function () {
          $('#sign-in').fadeIn(duration)
        });
      });
    });
  </script>
<% end %>

<div class="middle-box text-center devise">
  <%= image_tag("logo_login_page.png", alt: "Accelerated Concepts Logo", id: 'logo-login-page') %>
  <div id="sign-in" class="form-panel">
    <%= render partial: '/layouts/flash', locals: { exceptions: :timedout, flash: flash } %>

    <%= simple_form_for(
          resource,
          as: resource_name,
          url: session_path(resource_name)) do |f|
    %>

      <%= f.input :email, autofocus: true, label: false, placeholder: 'Email' %>
      <%= f.input :password, label: false, placeholder: 'Password' %>
      <%= f.button :submit, 'Login', class: 'btn-primary full-width m-b' %>
    <% end %>
    <%= link_to 'Forgot your password?', '#', class: 'btn btn-white full-width small', id: 'forgot-password' %>
  </div>

  <div id="password" class="form-panel" style="display: none">
    <%= render 'devise/shared/password' %>
    <%= link_to 'Sign In', '#', class: 'btn btn-white full-width small', id: 'sign-in' %>
  </div>
</div>
<%= render 'maint_message' %>
<%= render 'gdpr_notice' %>
