$('#cellular_details').find('.alert').remove();

// Refresh modem tabs
var modem_tabs = "<%= j render(partial: 'devices/modem/tabs', locals: { device: @device }) %>";
$('#modem-tabs-container').html(modem_tabs);

// Refresh modem tables
var modem_tables = "<%= j render(partial: 'devices/modem/tables', locals: { device: @device }) %>";
$('#modem-tables-container').html(modem_tables);

// Create message
var message = "<%= j alert_success message: t('modems.destroyed') %>";
$('#cellular_details > .panel-body').prepend(message);
setAlertExpiration($('#cellular_details > .panel-body > .alert'));
