<%= form_tag searches_path, method: :get, class: 'form-search form-horizontal' do %>
  <%= hidden_field_tag 'search[model]', locals[:model] %>
  <div class="form-group">
    <%= label_tag locals[:title], nil, class: 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= select_tag "search[column]",
                     options_for_select(Search::MODELS_COLUMNS[locals[:model]].invert),
                     class: 'select2-without-search',
                     id: "#{locals[:model]}-search-column"
      %>
    </div>
    <div class="col-lg-2">
      <%= select_tag 'search[match_type]',
                     options_for_select(Search::MATCH_TYPES.keys),
                     class: 'select2-without-search',
                     id: "#{locals[:model]}-search-match-type"
      %>
    </div>
    <div class="col-lg-2">
      <%= text_field_tag 'search[value]',
                         nil,
                         class: 'form-control',
                         id: "#{locals[:model]}-search-value"
      %>
    </div>
    <div class="col-lg-2">
      <%= submit_tag 'Search',
                     class: 'btn btn-primary',
                     id: "#{locals[:model]}-search-submit"
      %>
    </div>
  </div>
<% end %>
