<%= render 'shared/page_header', locals: { title: 'advanced search' } %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Search</h5>
        </div>
        <div class="ibox-content">
          <div class="control-group ">
            <div class="alert alert-info">
              You can only use one section per search request.
            </div>
          </div>
          <hr/>
          <%= render 'model_form', locals: { model: :device, title: 'Device' } %>
          <hr/>
          <%= render 'model_form', locals: { model: :device_modem, title: 'Modem' } %>
          <hr/>
          <%= render 'model_form', locals: { model: :site, title: 'Site' } %>
          <hr/>
          <%= render 'model_form', locals: { model: :location, title: 'Location' } %>
          <hr/>
          <%= render 'model_form', locals: { model: :country, title: 'Country' } %>
        </div>
      </div>
    </div>
  </div>
</div>
