<% if AdminSettings.valid? %>
  var message = "<%= j(alert_success message: t('admin_settings.updated')) %>"
  $(message).prependTo('.ajax-form');
<% else %>
  <% AdminSettings.errors.each do |message| %>
    var message = "<%= j(alert_error message: message) %>"
    $(message).prependTo('.ajax-form');
  <% end %>
<% end %>

// declared in js/aview/bootstrap-alerts.js
setAlertExpiration($('.ajax-form > .alert'));
