<% if abilities.any? %>

  <% abilities.each do |ability| %>
    <% key = "abilities.#{ability.name.parameterize.underscore}" %>

    <div class="col-sm-12">
      <span>
        <%= label_tag "abilities_#{ability.id}_id", ability.name, class: 'control-label' %>
      </span>

      <% if i18n_set?(key) %>
        <span>
          <a href="#" class="m-l-xs"
               data-toggle="tooltip"
               data-placement="right"
               data-container="body"
               data-original-title="<%= t key %>">
             <span class="badge">?</span>
          </a>
        </span>
      <% end %>
    </div>
  <% end %>

<% else %>

  <div class="col-sm-12">
    <span>
      <%= label_tag 'view_only', 'View Only', class: 'control-label' %>
    </span>
    <% if i18n_set?('abilities.view_only') %>
      <span>
        <a href="#" class="m-l-xs"
             data-toggle="tooltip"
             data-placement="right"
             data-container="body"
             data-original-title="<%= t 'abilities.view_only' %>">
           <span class="badge">?</span>
        </a>
      </span>
    <% end %>
  </div>

<% end %>