<div class="form-group">
  <label class="col-sm-4 control-label">Description</label>
  <div id="organization_roles" class="col-sm-8">
    <%= select_tag 'permission[role_id]',
                   options_from_collection_for_select(@organization.roles, :id, :name),
                   { class: 'permission_role select2' } %>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-4 control-label">Abilities</label>
  <div id="permission_abilities" class="col-sm-8">
    <%= render partial: 'roles/abilities', locals: { abilities: @organization.roles.first.abilities } %>
  </div>
</div>

<%= hidden_field_tag 'permission[manageable_type]', Permission::MANAGEABLE_TYPE_ORGANIZATION %>