// Clear existing alerts
$('#roles').find('.alert').remove();
$('#create-role').find('.alert').remove();

<% if @role.blank? %>
  <%= render partial: 'blank', locals: { element: '#roles > .panel-body' } %>
<% elsif @role.errors.any? %>
  <%= render partial: 'errors', locals: { element: '#new-role > .modal-body' } %>
<% else %>
  $('#new-role-modal').modal('hide');
  var alert = "<%= j alert_success message: ('Successfully created role') %>";
  refreshRolesPanel(alert);
<% end %>