$('#roles').find('.alert').remove();
<% if @role.blank? %>
  <%= render partial: 'blank', locals: { element: '#roles > .panel-body' } %>
<% elsif @role.errors.any? %>
  <%= render partial: 'errors', locals: { element: '#roles > .panel-body' } %>
<% else %>
  var alert = "<%= j alert_success message: ('Successfully deleted role') %>";
  refreshRolesPanel(alert);
<% end %>