<% if @role.blank? %>
  <%= render partial: 'blank', locals: { element: '#roles > .panel-body' } %>
<% else %>
  var modal = "<%= j render(partial: 'modals/edit') %>";
  $('#modals-container').html(modal)
  $('#edit-role-modal').modal({backdrop: 'static'});
<% end %>
