$('#edit-role').find('.alert').remove();
$('#roles').find('.alert').remove();

<% if @role.blank? %>
  <%= render partial: 'blank', locals: { element: '#role-profile > .panel-body' } %>
<% elsif @role.errors.any? %>
  <%= render partial: 'errors', locals: { element: '#edit-profile > .modal-body' } %>
<% else %>
  $('#edit-role-modal').modal('hide');
  var alert = "<%= j alert_success message: ('Successfully updated role') %>";
  refreshRolesPanel(alert);
<% end %>