<div class="modal inmodal fade" id="new-report-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><%= "#{report_type.titleize} Report" %></h4>
      </div>

      <%= form_for :report, html: {class: 'form-horizontal'}, url: reports_path do |f| %>
        <div class="modal-body">
          <%= f.hidden_field :report_type, value: report_type  %>
          <%= f.hidden_field :device_mac, value: @presenter.device.mac  %>

          <div class="form-group">
            <%= f.label :range, 'Time Span', class: 'control-label col-lg-3' %>
            <div class="col-lg-9">
              <%=
                  f.select :range,
                           options_for_select([
                                                ['Last Day',    'last_day'],
                                                ['Last Week',   'last_week'],
                                                ['Last Month',  'last_month']
                                              ]),
                           {},
                           { class: 'form-control select2-without-search' } %>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="form-modal-spinner">
            <%= render 'shared/spinners/fading_circle' %>
          </div>
          <%= submit_tag 'Close', class: 'btn btn-white', data: { dismiss: 'modal' } %>
          <% if @presenter.over_report_limit? %>
            <%= submit_tag 'Create Report', class: 'btn btn-primary',
                           data: { confirm: t('reports.confirm_create', report_limit: DeviceReport::REPORT_LIMIT) } %>
          <% else %>
            <%= submit_tag 'Create Report', class: 'btn btn-primary' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
