<% if speed_tests.any? %>
  <% speed_tests.order('created_at desc').each do |speed_test| %>
    <i class='fa fa-arrow-circle-up'></i>
    <%= "#{speed_test.tx_avg.to_s}#{speed_test.throughput_units}" %>&nbsp&nbsp
    <i class='fa fa-arrow-circle-down'></i>
    <%= "#{speed_test.rx_avg.to_s}#{speed_test.throughput_units}" %>&nbsp&nbsp
    <i class='fa fa-clock-o'></i>
    <%= "#{speed_test.latency_average.to_s}#{speed_test.latency_units}" %>
    <%= " -- #{timestamp_in_users_timezone(speed_test.created_at)}" %>
    </br>
  <% end %>
<% else %>
  no speed test history
<% end %>
