$(document).ready(function() {
  $('.datatable-v2').on('processing.dt', function (e, settings, processing) {
    var loadingArea = $(this).find('tbody');

    if (processing) {
      // Calculate imagePosition for the current viewport
      var imageHeight = 32; // Height of loading image, in px
      var tableFilterToolbarOffset = $('.datatable-filter-toolbar').offset().top;
      var loadingAreaOffset = loadingArea.offset().top;
      var loadingImagePosition = Math.max(0, ((tableFilterToolbarOffset - loadingAreaOffset - imageHeight) / 2));
      var position = 'center ' + loadingImagePosition + 'px';

      $(loadingArea).LoadingOverlay("show", {
        image: "<%= image_path('ajax-loader.gif') %>",
        zIndex: 999,
        imagePosition: position,
        size: false
      });
    } else {
      $(loadingArea).LoadingOverlay("hide");
    }
  });

  $('#refresh-data-table').on('click', function(e) {
    var refreshButton = $(this);

    remoteButtonSend(refreshButton, 'fa-refresh');

    $('.datatable-v2').DataTable().ajax.reload(function() {
      remoteButtonComplete(refreshButton);
    });

    e.preventDefault();
  });

});

function makeDataTableV2(columns, table, dataTableURI) {
  var obj = {
    ajax: {
      data: function (data) { formatData(columns, data, table); },
      type: 'POST',
      url: dataTableURI
    },
    processing: false,
    serverSide: true,
    searching: true,
    colReorder: true,
    pageLength: 25,
    responsive: true,
    pagingType: "listbox",
    dom: '<"datatable-wrapper"t<"datatable-filter-toolbar"<"filter-left"p><"filter-right"il>><"clear">>',
    language: {
      paginate: {
        first: '<i class="fa fa-lg fa-angle-double-left">',
        previous: '<i class="fa fa-lg fa-angle-left">',
        next: '<i class="fa fa-lg fa-angle-right">',
        last: '<i class="fa fa-lg fa-angle-double-right">'
      },
      info: "Showing _START_ to _END_ of _TOTAL_",
      lengthMenu: "_MENU_"
    },
    columns: getColumnSettings(columns),
    order: getSorting(columns, table),
    initComplete: function() {
      $('.datatable-filter-toolbar').scrollToFixed({
        bottom: 0,
        limit: $('.datatable-filter-toolbar').offset().top,
      });
    },
    fnDrawCallback: function(oSettings) {
      if ($.isScrollToFixed('.datatable-filter-toolbar')) {
        $('.datatable-filter-toolbar').trigger('detach.ScrollToFixed');
        $('.datatable-filter-toolbar').scrollToFixed({
          bottom: 0,
          limit: $('.datatable-filter-toolbar').offset().top,
        });
      }
    }
  };

  return obj;
}
