<% content_for :header_javascript_block  do %>
  <script type="text/javascript">
    var dataTableURI = '<%= devices_data_tables_path + '?with_device_status=' + DeviceState::States::DOWN.to_s + '&with_deployment=' + Devices::Deployment::DEPLOYED.to_s %>';

    //TODO: Make it so that by adding this class, the export modal is included (without including the partial).
    var dataTableExportModal = new DataTableExportModal(
        {
          afterExportActionClicked: function() {},
          afterModalOpen: function() {},
          exportClass: $('.devices-export'),
          exportFormat: '.csv',
          exportPath: dataTableURI
        }
    );

    function initDataTable(columns, table) {
      var dataTable = table.DataTable({
        ajax: {
          data: function ( data ) { formatData(columns, data, table); },
          type: 'POST',
          url: dataTableURI
        },
        buttons: ['csv'],
        colReorder: true,
        columns: getColumnSettings(columns),
        dom: "<'row'<'col-sm-6'B><'col-sm-6'l>>" +
        "<'row'<'col-sm-4'i><'col-sm-8'p>>" +
        "<'row'<'col-sm-12'tr>>" +
        "<'row'<'col-sm-4'i><'col-sm-8 lower'<'circle-border-spinner'>p>>",
        lengthMenu: [[ 25, 50, 100, 500 ], [ 25, 50, 100, 500 ]],
        order: getSorting(columns, table),
        pageLength: 100,
        scrollX: true,
        scrollY: false,
        serverSide: true,
        columnDefs: [{
          targets: 0,
          searchable: false,
          orderable: false,
          className: 'dt-body-center',
          render: function (data, type, full, meta){
            return '<input type="checkbox" value="' + $('<div/>').text(data).html() + '">';
          }
        },{
          targets: 'center-children',
          className: 'center-content'
        }]
      });

      var deviceActions = new selectedDeviceActions(dataTable);
      deviceActions.setupMoveToDataPlan("<%= j render(partial: 'shared/modals/move_to_data_plan') %>");
      initColumnVisibility();
    }
  </script>
<% end %>

<%= render partial: 'devices/table' %>

<%= render partial: 'shared/export_modal' %>
