<% content_for :header_javascript_block  do %>
  <script charset="UTF-8" type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= Settings.api_keys.google %>"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      var mapOptions = {
        apiKey: "<%= Settings.api_keys.google %>",
        mapId: 'alert-map',
        overlayId: 'overlay',
        dataURL: 'maps/alert_pins',
        showCellPins: <%= current_user.cellular_pins_on_map? %>
      }
      var deviceMap = new DeviceMap(mapOptions);
      deviceMap.draw(<%= ( params[:filter] || {} ).to_json.html_safe %>);
      deviceMap.addRegionClickListeners();
    });
  </script>
<% end %>

<div class="ibox">
  <div class="ibox-title">
    <h5>Alert Devices</h5>
    <%= render 'shared/map_regions' %>
  </div>
  <div class="ibox-content">
    <div id="alert-map"></div>
  </div>
</div>
