<%= render 'shared/page_header', locals: { title: 'dashboard' } %>
<%= javascript_pack_tag 'vvig' %>
<div class="row m-t metrics">
  <div class="col-lg-4">
    <%= render partial: 'shared/charts/deployed_status_chart_ibox' %>
  </div>

  <div class="col-lg-4">
    <%= render partial: 'shared/charts/connectivity_status_chart_ibox' %>
  </div>

  <div class="col-lg-4">
    <%= render partial: 'shared/charts/network_type_chart_ibox' %>
  </div>

  <div class="col-lg-8">
    <%= render partial: 'shared/charts/signal_strength_chart_ibox' %>
  </div>
 
  <% if current_user.maps_enabled? %>
    <div class="col-lg-4 ">
      <%= render partial: 'quick_map' %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-12">
    <%= render partial: 'device_table_wrapper' %>
  </div>
</div>
