
<% if @syslog_server.blank? %>
  <%= render partial: 'blank', locals: { element: '#syslog-servers > .panel-body' } %>
<% else %>
  var modal = "<%= j render(partial: 'modals/edit') %>";

  $('#modals-container').html(modal)
  $('#edit-syslog-server-modal').modal({backdrop: 'static'});
<% end %>
