$('#syslog-servers').find('.alert').remove();

<% if @syslog_server.up? %>
  var alert = "<%= j alert_success message: t('syslog_servers.up', name: @syslog_server.name, uri: @syslog_server.uri) %>";
<% else %>
  var alert = "<%= j alert_error message: t('syslog_servers.down', name: @syslog_server.name, uri: @syslog_server.uri) %>";
<% end %>

$('#syslog-servers-table').DataTable().ajax.reload(function() {
  $('#syslog-servers > .panel-body').prepend(alert);
  setAlertExpiration($('#syslog-servers > .panel-body > .alert'));
});