$('#syslog-servers').find('.alert').remove();
$('#edit-syslog-server').find('.alert').remove();

<% if @syslog_server.blank? %>
  <%= render partial: 'blank', locals: { element: '#syslog_server > .panel-body' } %>
<% elsif @syslog_server.errors.any? %>
  <%= render partial: 'errors', locals: { element: '#edit-syslog-server > .modal-body' } %>
<% else %>
  $('#edit-syslog-server-modal').modal('hide');
  $('#syslog-servers-table').DataTable().ajax.reload(function() {
    var alert = "<%= j alert_success message: t('syslog_servers.updated', name: @syslog_server.name) %>";
    $('#syslog-servers > .panel-body').prepend(alert);
    setAlertExpiration($('#syslog-servers > .panel-body > .alert'));
  });
<% end %>