<% if @device_configuration.persisted? %>
    <%= link_to device_configuration_path(@device_configuration),
                method: :delete,
                data: {
                    confirm: "Are you sure you want to delete this configuration?\n"\
                    "There are #{@device_configuration.all_associated_devices.count} devices associated with this configuration.\n"\
                    "This action can not be undone."
                },
                class: "btn btn-xs btn-danger" do %>
        <i class="fa fa-times"></i> Delete
    <% end %>
<% end %>