<% if @device_configuration.persisted? && Pundit.policy(current_user, @device_configuration).modify? %>
  <%= link_to edit_linked_devices_device_configuration_path(@device_configuration),
              :class => "btn btn-xs btn-info" do %>
    <i class="fa fa-edit"></i> Link Devices
  <% end %>
<% end %>
