<%= link_to edit_device_configuration_path(@device_configuration),
            class: "btn btn-xs btn-info",
            title: "Edit Device Configuration" do %>
  <i class="fa fa-pencil"></i> Edit
<% end %>
