<% content_for :header_javascript_block  do %>
  <script>
    $(document).ready(function(){
      $("[rel = popover]").popover({trigger: 'hover'});

      var accConfigForm = new AccConfigForm($('#device-configuration-form'), $('.device-configuration-cooked'));
      var firmwareSelect = new FirmwareSelect('<%= @firmwares.map { |f| f.id unless f.production? }.compact.to_json.html_safe %>');

      firmwareSelect.onChange(function(value) {
        setSubmitButtonState(value);
      });

      setSubmitButtonState(firmwareSelect.val());

      function setSubmitButtonState(firmwareValue) {
        if(firmwareValue === '') {
          $('#save-device-configuration').prop('disabled', true);
        } else {
          $('#save-device-configuration').prop('disabled', false);
        }
      }
    });
  </script>
<% end %>

<% if @device_configuration.errors.any? %>
  <% @device_configuration.errors.full_messages.each do |msg| %>
    <div class='alert alert-error'>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <%= msg %>
    </div>
  <% end %>
  <br />
<% end %>

<% if @compile_result.present? && @compile_result.errors.present? %>
  <% @compile_result.errors.each do |error| %>
    <div class='alert alert-error'>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <%= error[:message] %>
    </div>
  <% end %>
  <br />
<% end %>

<%= hidden_field_tag :category_id, @category.id %>

<div class="form-group">
  <%= f.label :name, class: 'control-label col-lg-2' %>
  <div class='col-lg-8'>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :organization_id, class: 'control-label col-lg-2' %>
  <div class='col-lg-8'>
    <%= f.select :organization_id, options_for_select(managed_orgs_list_for(current_user), (@device_configuration.organization.id rescue nil)), {}, class: 'select2' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :category, class: 'control-label col-lg-2' %>
  <div class='col-lg-8'>
    <%= text_field_tag :category, @category.name, readonly: true, class: 'form-control' %>
  </div>
</div>

<% if @device_configuration.persisted? %>
  <div class="form-group">
    <%= f.label :model, class: 'control-label col-lg-2' %>
    <div class='col-lg-8'>
      <%= text_field_tag :model, @device_configuration.device_model.name, readonly: true, class: 'form-control' %>
    </div>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :firmware, class: 'control-label col-lg-2' %>
  <div class='col-lg-8'>
    <% if @device_configuration.persisted? %>
      <%= f.select :device_firmware_id, @firmwares.sort.reverse.map {|f| [f.version, f.id]}, {}, class: 'select2-firmware' %>
    <% else %>
      <%= f.grouped_collection_select(
        :device_firmware_id,
        @models,
        user_firmwares_selection_string,
        :name,
        :id,
        :version,
        { include_blank: @device_configuration.new_record? },
        { class: 'select2-firmware' }
      ) %>
    <% end %>
    <% if Pundit.policy(current_user, DeviceFirmware).assign_non_production? %>
      <span class="help-block m-b-none">Options highlighted in blue denotes non-production firmware</span>
    <% end %>
  </div>
</div>

<div class="form-group">
  <%= f.label :grace_period_duration, 'Grace Period Duration', class: 'control-label col-lg-2' %>
  <div class="col-lg-8">
    <div class="input-group">
      <%= f.text_field :grace_period_duration, class: 'form-control' %>
      <%= render partial: '/legacy_configurations/popover', :locals => {field: popover_data(:grace_period_duration)} %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="alert alert-info col-lg-offset-2 col-lg-8">
    The settings depend on the firmware value. Please select the correct firmware BEFORE
    modifying any other settings.  If any errors are found in the configuration, they
    will be highlighted in red below and must be addressed before saving.
  </div>
</div>

<div class="form-group">
  <div class='col-lg-12 controls'>
    <div class="device-configuration-cooked accfg-panel"></div>
    <div class="device-configuration-raw" style="display: none;">
      <%= f.text_area :description %>
    </div>
  </div>
</div>

<div class="hr-line-dashed"></div>

<div class="form-group">
  <div class='col-lg-4 col-lg-offset-2'>
    <%= content_for :device_configuration_form_actions %>
  </div>
</div>
