<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <% if @presenter.skip_translate? %>
          <h5><%= @presenter.title %></h5>
        <% else %>
          <h5><%= t(".#{@presenter.title}") %></h5>
        <% end %>
        <% if can_modify_device_configurations? %>
        <div class="pull-right">
          <%= render 'new_button', category_id: @presenter.category_id %>
        </div>
        <% end %>
      </div>
      <div class="ibox-content">
        <%= render 'shared/configuration_options', locals: { config_options: @presenter.config_options } %>
        <%=
          content_tag(
            :div,
            class: 'table vs-target-wrapper',
            data: { facets: @presenter.facets }
          ) do
        %>
          <%=
            content_tag(
              :table,
              class: 'dataTable display compact table table-striped table-bordered table-hover vs-table no-wrap',
              id: 'configurations-table'
            ) do
          %>
            <thead>
              <tr>
                <%= render 'shared/table_labels' %>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <%= render 'shared/table_labels' %>
              </tr>
            </tfoot>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
