<%= link_to new_device_configuration_path(category_id: category_id),
            class: "btn btn-primary btn-xs m-l",
            title: "Add Cellular Configuration" do %>
  <i class="fa fa-plus-circle"></i> New
<% end %>
