<% content_for :header_javascript_block  do %>
  <script type="text/javascript">
    function initDataTable(columns, table) {
      table.DataTable({
        columns: getColumnSettings(columns),
        dom: "<'row'<'col-sm-12'l>>" +
            "<'row'<'col-sm-4'i><'col-sm-8'p>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-4'i><'col-sm-8 lower'<'circle-border-spinner'>p>>",
        lengthMenu: [[ 25, 50, 100, 500 ], [ 25, 50, 100, 500 ]],
        order: getSorting(columns, table),
        pageLength: 100,
        scrollX: true,
        scrollY: false
      });
    }

    $(document).ready(function () {
      $('.checkbox-toggler').on('change', function() {
        var disabled = "[disabled='disabled']";
        $(this).is(':checked') ?
            $('.checkbox-togglee').not(disabled).prop('checked', true) :
            $('.checkbox-togglee').not(disabled).prop('checked', false);
      });
    });
  </script>
<% end %>

<%= render 'shared/page_header', locals: { title: 'Link Devices To Device Configuration' } %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5><%= t("Device Configurations") %></h5>
        </div>
        <div class="ibox-content form-horizontal">
          <div class="form-group">
            <%= label_tag :name, 'Name', class: 'control-label col-lg-2' %>
            <div class='col-lg-8'>
              <%= text_field_tag :name, @device_configuration.name, readonly: true, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :organization_id, 'Organization', class: 'control-label col-lg-2' %>
            <div class='col-lg-8'>
              <%= text_field_tag :organization_id, @device_configuration.organization.name, readonly: true, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :category_id, 'Category', class: 'control-label col-lg-2' %>
            <div class='col-lg-8'>
              <%= text_field_tag :category_id, @device_configuration.category.name, readonly: true, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :model, nil, class: 'control-label col-lg-2' %>
            <div class='col-lg-8'>
              <%= text_field_tag :model, @device_configuration.device_model.name, readonly: true, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :firmware, nil, class: 'control-label col-lg-2' %>
            <div class='col-lg-8'>
              <%= text_field_tag :version, @device_configuration.device_firmware.version, readonly: true, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5><%= t("Devices") %></h5>
        </div>
        <div class="ibox-content">
          <%= form_tag update_linked_devices_device_configuration_path, method: :patch do %>
            <%= hidden_field_tag :filter, params[:filter] %>
            <div class= 'table vs-target-wrapper'>
              <table class='dataTable display table table-striped table-bordered table-hover vs-table' id='device-table'>
                <thead>
                <tr>
                  <th class="dt-center"><%= check_box_tag :toggle, nil, false, {:class => 'checkbox-toggler'} %></th>
                  <th class="sortable" name="status">Status</th>
                  <th class="sortable" name="id"><%= t(:mac) %></th>
                  <th class="sortable" name="host"><%= t(:primary_ip) %></th>
                  <th class="sortable" name="category">Category</th>
                  <th class="sortable" name="model">Model</th>
                  <th class="sortable" name="organization">Organization</th>
                  <th class="sortable" name="site">Site</th>
                  <th class="sortable" name="firmware">Firmware</th>
                  <th class="sortable" name="country">Country</th>
                  <th class="sortable" name="last_heartbeat">Last Heartbeat</th>
                </tr>
                </thead>
                <tbody>
                <% @devices.each do |device| %>
                  <tr>
                    <td class="dt-center">
                      <%= hidden_field_tag("selected_records[#{device.id}]", '0') %>
                      <%= check_box_tag(
                              "selected_records[#{device.id}]",
                              '1',
                              @checked_lambda[device],
                              class:    'checkbox-togglee',
                              disabled: @checked_lambda[device]
                          ) %>
                    </td>
                    <td class="text-center">
                      <i class="<%= device.status_indicator %>" data-toggle='tooltip' data-placement='right' data-title="<%= device.status_title %>"></i>
                      <span class='sr-only'><%= device.status_title %></span>
                    </td>
                    <td><%= device.mac %></td>
                    <td><%= device.host %></td>
                    <td><%= device.category_name %></td>
                    <td><%= device.series_name %></td>
                    <td><%= device.organization.name %></td>
                    <td><%= device.site_name %></td>
                    <td><%= device.firmware %></td>
                    <td><%= device.location.try(:country).try(:code)%></td>
                    <td><%= timestamp_in_users_timezone(device.last_heartbeat_at) %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
              <div class="form-actions">
                <%= submit_tag 'Link Selected Devices', class: 'btn btn-primary m-r' %>
                <%= submit_tag 'Link All Devices',      class: 'btn btn-danger m-r' %>
                <%= link_to "Cancel", device_configuration_path(@device_configuration), :class => "btn btn-white" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
