<%= render 'shared/page_header', locals: { title: 'Edit Device Configuration' } %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5><%= t("Device Configurations") %></h5>
          <div class="pull-right">
            <%= render 'new_button', category_id: @category.id %>
            <%= render 'edit_linked_devices_button' %>
            <%= render 'delete_button' %>
          </div>
        </div>
        <div class="ibox-content">
          <%= form_for @device_configuration, :html => { class: "form-horizontal", id: 'device-configuration-form' } do |f| %>
            <% content_for :device_configuration_form_actions do %>
              <div class="form-actions">
                <%= f.submit 'Update', class: 'btn btn-primary', id: 'save-device-configuration' %>
                <%= link_to "Cancel", device_configuration_path(@device_configuration), :class => "btn btn-white" %>
              </div>
            <% end %>
            <%= render :partial => "form", :locals => { :f => f } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
