<% content_for :header_javascript_block  do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('[rel = popover]').popover({trigger: 'hover'});
      $('[data-toggle="tooltip"]').tooltip({trigger: 'hover'});
    });

   var accConfigForm = new AccConfigForm($('#show-device-configuration'), $('.device-configuration-cooked'));

    function initDataTable(columns, table) {
      table.DataTable({
        colReorder: true,
        columns: getColumnSettings(columns),
        dom: "<'row'<'col-sm-12'l>>" +
            "<'row'<'col-sm-4'i><'col-sm-8'p>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-4'i><'col-sm-8 lower'<'circle-border-spinner'>p>>",
        lengthMenu: [[ 25, 50, 100, 500 ], [ 25, 50, 100, 500 ]],
        pageLength: 100,
        scrollX: true,
        scrollY: false
      });
    }
  </script>
<% end %>

<%= render 'shared/page_header', locals: { title: 'Show Device Configuration' } %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5><%= t("Device Configurations") %></h5>
          <% if Pundit.policy(current_user, @device_configuration).modify? %>
          <div class="pull-right">
            <%= render 'edit_button' %>
            <%= render 'copy_button' %>
            <%= render 'delete_button' %>
          </div>
          <% end %>
        </div>
        <div class="ibox-content">
          <form class="form-horizontal">
            <div id="show-device-configuration">
              <div class="form-group">
                <%= label_tag :name, 'Name', class: 'control-label col-lg-2' %>
                <div class='col-lg-8'>
                  <%= text_field_tag :name, @device_configuration.name, disabled: true, class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <%= label_tag :organization_id, 'Organization', class: 'control-label col-lg-2' %>
                <div class='col-lg-8'>
                  <%= text_field_tag :organization_id, @device_configuration.organization.name, disabled: true, class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <%= label_tag :category_id, 'Category', class: 'control-label col-lg-2' %>
                <div class='col-lg-8'>
                  <%= text_field_tag :category_id, @device_configuration.category.name, disabled: true, class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <%= label_tag :model, nil, class: 'control-label col-lg-2' %>
                <div class='col-lg-8'>
                  <%= text_field_tag :model, @device_configuration.device_model.name, disabled: true, class: 'form-control' %>
                </div>
              </div>

              <%= hidden_field_tag :device_firmware_id, @device_configuration.device_firmware_id, id: 'device_configuration_device_firmware_id' %>

              <div class="form-group">
                <%= label_tag :firmware, nil, class: 'control-label col-lg-2' %>
                <div class='col-lg-8'>
                  <% if @device_configuration.device_firmware.production? %>
                    <span class="form-control" disabled="true"><%= @device_configuration.device_firmware.version %></span>
                  <% else %>
                    <span class="form-control" disabled="true">
                      <p class="alert-info"><%= @device_configuration.device_firmware.version %></p>
                    </span>
                  <% end %>
                  <span class="help-block m-b-none">Blue highlight denotes non-production firmware</span>
                </div>
              </div>

              <div class="form-group">
                <%= label_tag :grace_period_duration, 'Grace Period Duration', class: 'control-label col-lg-2' %>
                <div class="col-lg-8">
                  <div class="input-group">
                    <%= text_field_tag :grace_period_duration, @device_configuration.grace_period_duration, disabled: true, class: 'form-control' %>
                    <%= render partial: '/legacy_configurations/popover', :locals => {field: popover_data(:grace_period_duration)} %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class='col-lg-12 controls'>
                  <div class="device-configuration-cooked accfg-panel"></div>
                  <div class="device-configuration-raw" style="display: none;">
                    <%= text_area_tag :description, @device_configuration.description, id: 'device_configuration_description', disabled: true %>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Linked Devices</h5>
          <div class="pull-right">
            <%= render 'edit_linked_devices_button' %>
          </div>
        </div>
        <div class="ibox-content">
          <div class= 'table vs-target-wrapper'>
            <table class='dataTable display compact table table-striped table-bordered table-hover vs-table' id='device-table'>
              <thead>
              <tr>
                <th class="sortable" name="status">Status</th>
                <th class="sortable" name="id"><%= t(:mac) %></th>
                <th class="sortable" name="host"><%= t(:primary_ip) %></th>
                <th class="sortable" name="category">Category</th>
                <th class="sortable" name="model">Model</th>
                <th class="sortable" name="organization">Organization</th>
                <th class="sortable" name="site">Site</th>
                <th class="sortable" name="firmware">Firmware</th>
                <th class="sortable" name="country">Country</th>
                <th class="sortable" name="last_heartbeat">Last Heartbeat</th>
              </tr>
              </thead>
              <tbody>
              <% @devices.each do |device| %>
                <tr>
                  <td><i class="<%= device.status_indicator %>" data-toggle='tooltip' data-placement='right' data-title="<%= device.status_title %>"></i><span class='sr-only'><%= device.status_title %></span></td>
                  <td><%= link_to device.mac, device_path(device) %></td>
                  <td><%= host_link(device) %></td>
                  <td><%= device.category_name %></td>
                  <td><%= device.series_name %></td>
                  <td><%= link_to device.organization.name, device.organization %></td>
                  <td><%= link_to device.site_name, device.site %></td>
                  <td><%= device.firmware %></td>
                  <td><%= device.location.try(:country).try(:code)%></td>
                  <td><%= timestamp_in_users_timezone(device.last_heartbeat_at) %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
