IndividualDeviceConfiguration.parentFirmwareId = <%= @device_configuration.device_firmware.id %>;
IndividualDeviceConfiguration.parentFirmwareVersion = "<%= @device_configuration.device_firmware.version %>";
IndividualDeviceConfiguration.parentGracePeriod = "<%= @device_configuration.grace_period_duration %>";
IndividualDeviceConfiguration.parentSettings = <%= @device_configuration.compiled_settings.to_json.html_safe %>;

removeAlerts();
updateParentSettings();
clearChildSettings();
updateGroupConfigurationLink();
updateGracePeriodDuration();
updateFirmwareOptions();
showInheritanceLinks();

function removeAlerts() {
  $('#device-configuration-form').find('.alert').remove();
}

function updateParentSettings() {
  $('#parent_configuration_description').val(<%= @device_configuration.compiled_settings.to_json.html_safe %>);
}

function clearChildSettings() {
  $('#device_configuration_description').val('');
}

function updateGroupConfigurationLink() {
  var link = "<%= j render 'devices/group_configuration_link', group_configuration: @device_configuration %>";
  $('#group-configuration-link-container').html(link);
}

function updateFirmwareOptions() {
  var initialValue = "<%= @device_configuration.device_firmware_id %>";
  var firmwareSelection = $('#device_configuration_device_firmware_id');
  if(isSelect2(firmwareSelection)) {
    firmwareSelection.select2('destroy');
  }
  firmwareSelection.empty();
  $.each(<%= raw @firmware_options.to_json %>, function (key, value) {
    firmwareSelection.append($("<option></option>")
        .attr("value", value).text(key));
  });
  firmwareSelection.val(initialValue);
  firmwareSelection.prop('disabled', true);
  var compatibleNonProductionFirmwares = '<%= @compatible_firmwares.map do |f|
                                                f.id unless f.production?
                                              end.compact.to_json.html_safe %>';
  new FirmwareSelect(compatibleNonProductionFirmwares);
  firmwareSelection.trigger('change');
}

function isSelect2(element) {
  element.each(function (i, obj) {
    if ($(obj).data('select2')) {
      return true;
    }
  });
  return false;
}

function updateGracePeriodDuration() {
  var gracePeriodDurationInput = $('#grace-period-duration-text');
  gracePeriodDurationInput.val("<%= @device_configuration.grace_period_duration %>");
  gracePeriodDurationInput.prop('disabled', true);
}

function showInheritanceLinks() {
  $('.inheritance-link').show();
  $('#firmware-override').show().css('display', 'block');
  $('#firmware-inherit').hide();
  $('#grace-period-duration-override').show().css('display', 'block');
  $('#grace-period-duration-inherit').hide();
}