<div class="modal inmodal fade" id="new-import-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for @import,
                   url: admin_imports_path,
                   multipart: true,
                   authenticity_token: true,
                   html: { class: "form-horizontal ajax-form", id: 'new-import' } do |f| %>
        <%= f.hidden_field :the_trigger %>

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">New Import</h4>
        </div>

        <div class="modal-body">


          <div class="form-group">
            <label class="col-sm-3 control-label">Import Source</label>
            <div class="col-sm-8">
              <div class="i-checks">
                <label>
                  <%= f.radio_button :the_source_name, "settings", :checked => @import_file.present?, :disabled => @import_file.blank? %> Settings
                </label>
              </div>
              <div class="i-checks">
                <label>
                  <%= f.radio_button :the_source_name, "upload", :checked => @import_file.blank? %> Upload
                </label>
              </div>
            </div>
          </div>

          <div class="import-attributes upload settings">
            <div class="form-group">
              <label class="col-sm-3 control-label">Type</label>
              <div class="col-sm-8">
                <%= f.select :the_type, Import::TYPES, {},
                             {:class => "select2-without-search" } %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Action</label>
              <div class="col-sm-8">
                <%= text_field_tag :the_action, @import.action.text, disabled: true, class: 'form-control' %>
                <%= f.hidden_field :the_action %>
              </div>
            </div>
          </div>

          <% if @import_file.present? && import_file_exists?(@import_file) %>
            <div class="import-attributes settings">
              <div class="form-group">
                <label class="col-sm-3 control-label">Name</label>
                <div class="col-sm-8">
                  <%= text_field_tag :name, @import.import_file.filename, :disabled => true, class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Size</label>
                <div class="col-sm-8">
                  <%= text_field_tag :size, number_to_human_size(@import.import_file.size, :precision => 2), :disabled => true, class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">MD5 Checksum</label>
                <div class="col-sm-8">
                  <%= text_field_tag :checksum, @import.import_file.checksum, :disabled => true, class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Last Modified</label>
                <div class="col-sm-8">
                  <%= text_field_tag :updated_at, timestamp_in_users_timezone(File.mtime(@import.import_file.path)), :disabled => true, class: 'form-control' %>
                </div>
              </div>
            </div>
          <% else %>
            <div class="form-group">
              <p class="text-danger m-t text-center">* Unable to find the import file: <%= import_file_path(@import_file) %></p>
            </div>
          <% end %>

          <div class="import-attributes upload">
            <div class="form-group">
              <%= f.label :import_file, 'Import File', :class => 'control-label col-sm-3' %>
              <div class="col-sm-9">
                <div class="input-group">
                  <input id="upload-file" class="form-control" placeholder="Choose File" disabled="disabled" />
                  <div class="input-group-btn">
                    <div class="file-upload btn btn-success">
                      <span>Choose File</span>
                      <%= f.file_field :import_file, class: "upload", id: "import-file-btn" %>
                    </div>
                    <%= link_to "Template CSV", template_admin_imports_path, :class => "btn btn-link" %>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <div class="form-modal-spinner">
            <%= render 'shared/spinners/fading_circle' %>
          </div>
          <%= submit_tag "Close", class: 'btn btn-white', 'data-dismiss' => 'modal' %>
          <%= f.submit "Import", :class => "btn btn-primary" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
