<script>
  $('.reset-import-show').on('click', function() {
    $('.reset-import-show').hide();
    $('#show-import-modal .import-objects').hide();
    $('#show-import-modal .import-show').toggle('slide', { direction: 'right' }, 500);
  })
</script>

<div class="modal inmodal fade" id="show-import-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Import #<%= @import.id %></h4>
      </div>

      <div class="modal-body" style="max-height: 500px; overflow: scroll;">

        <div class="import-objects" style="display: none;"></div>

        <div class="import-show">
          <div class="padded">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <% @presenter.table_header_columns.each do |name| %>
                    <th>
                      <%= name %>
                    </th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <% @presenter.object_counts.each do |count| %>
                    <td class="text-center">
                      <%= count %>
                    </td>
                  <% end %>
                </tr>
              </tbody>
            </table>
          </div>

          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-3 control-label">Result</label>
              <div class="col-sm-8">
                <p class="form-control-static">
                  <span class="label <%= import_status_label_class %>"><%= @import.status.text %></span>
                </p>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Message</label>
              <div class="col-sm-8">
                <%= text_field_tag :status_msg, @import.status_msg, disabled: true, class: 'form-control' %>
              </div>
            </div>


            <div class="form-group">
              <label class="col-sm-3 control-label">Source</label>
              <div class="col-sm-8">
                <%= text_field_tag :the_source_name, @import.the_source_name.text, disabled: true, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Type</label>
              <div class="col-sm-8">
                <%= text_field_tag :import_type, @import.type.text, disabled: true, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Action</label>
              <div class="col-sm-8">
                <%= text_field_tag :import_action, @import.action.text, disabled: true, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">File</label>
              <div class="col-sm-8">
                <%= text_field_tag :import_file_name, @import[:import_file], disabled: true, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Size</label>
              <div class="col-sm-8">
                <%= text_field_tag :import_file_size, number_to_human_size(@import.import_file.size, precision: 2), disabled: true, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">MD5 Checksum</label>
              <div class="col-sm-8">
                <%= text_field_tag :import_checksum, @import.import_file.checksum, disabled: true, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Started</label>
              <div class="col-sm-8">
                <%= text_field_tag :created_at, timestamp_in_users_timezone(@import.created_at), disabled: true, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Total Time</label>
              <div class="col-sm-8">
                <%= text_field_tag :total_time, distance_of_time_in_words(@import.created_at, @import.finished_at),disabled: true, class: 'form-control' %>
              </div>
            </div>

          </form>

          <div class="clearfix"></div>
          <br />
        </div>


      </div>

      <div class="modal-footer">
        <div class="form-modal-spinner">
          <%= render 'shared/spinners/fading_circle' %>
        </div>
        <a href="javascript:void(0);" class="btn btn-info reset-import-show" style="display: none;"><i class="fa fa-angle-double-left"></i> Back</a>
        <%= submit_tag "Close", class: 'btn btn-white', 'data-dismiss' => 'modal' %>
      </div>
    </div>
  </div>
</div>
