<% if @user.errors.any? %>

  <%= render partial: 'errors', locals: { element: '#update_password' } %>

<% else %>

  // Redirect to the dashboard
  setTimeout(function(){

    var alert = "<%= j alert_success message: t('users.password_updated') %>";
    $('#update_password').prepend(alert);

    window.location = "<%= root_path %>";

  }, 1000);

<% end %>

