<div id="myModal_deploy" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Deploy Selected Devices</h3>
  </div>
  <div class="modal-body">
    <p>The devices you have selected will be set as deployed<p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= f.submit "Deploy Selected Devices", :class => "btn btn-primary", :name => 'deploy' %>
  </div>
</div>
