<% if policy(Device).edit? %>
  <%= render :partial => "/modals/change_organization", :locals => { :f => f } %>
  <%= render :partial => "/modals/deploy", :locals => { :f => f } %>
  <%= render :partial => "/modals/undeploy", :locals => { :f => f } %>
<% end %>
