<div id="new-subscription-modal" class="modal inmodal" tabindex="-1" role="dialog" aria-labelledby="subscriptionLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4>Notification Subscription</h4>
        <h3 id="subscriptionLabel">Device: <%= @presenter.device.mac %></h3>
      </div>
      <%= form_for @presenter.notification_subscription,
                      url: api_v2_account_notification_subscriptions_path(
                        current_user,
                        publisher_type: NotificationSubscription::Types::DEVICE,
                        publisher_id: @presenter.device.id,
                        format: :js
                      ),
                      html: { class: 'ajax-form' },
                      remote: true do |f| %>

        <div class="modal-body">
          <p>Please select a notification profile for this device:</p>
          <div class="form-group">
            <%= collection_select nil, :profile_id, @presenter.profiles, :id, :name, {}, { class: 'form-control' } %>
          </div>
        </div>

        <div class="modal-footer">
          <%= link_to 'Create New Profile',
                      account_index_path(anchor: 'notification-profiles'),
                      class:'btn btn-success pull-left' %>

          <div class="form-modal-spinner">
            <%= render 'shared/spinners/fading_circle' %>
          </div>
          <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <%= f.submit 'Subscribe', class: 'btn btn-primary', name: 'subscribe_to_device' %>
        </div>

      <% end %>
    </div>
  </div>
</div>
