<% tab_name = local_assigns[:tab_name] || local_assigns.keys.last #TODO: Make this independent of key ordering %>
<% class_string = local_assigns[:class_string] %>

<%= tag 'div', id: tab_name, class: "tab-pane #{class_string}" %>
  <div class="panel-body">
    <div class="panel-form">
      <div class="ibox">
        <div class="ibox-content" style="overflow: scroll">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>