<div id="api-access" class="tab-pane">
  <div class="panel-body">
    <div class="panel-form">
      <div class="ibox">
        <div class="ibox-content">
          <%= form_for @user, url: generate_api_token_api_v2_account_path(@user, format: :js),
                method: :patch, as: :user, html: { id: 'generate_api_token', class: 'form-horizontal ajax-form' },
                remote: true, authenticity_token: true do |f| %>

            <div class="form-group">
              <label class="col-sm-2 control-label">API Token</label>
              <div class="col-sm-10">
                <p id="user-api-token" class="form-control-static">
                  <%= @user.authentication_token || 'None'  %>
                </p>
              </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <div class="col-sm-10">
                <div class="form-buttons">
                  <button class="btn btn-primary" type="submit">Generate New Token</button>
                  <div class="form-spinner">
                    <%= render 'shared/spinners/fading_circle' %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
