<div id="change-password" class="tab-pane">
  <div class="panel-body">
    <div class="panel-form">
      <div class="ibox">
        <div class="ibox-content">
          <%= form_for @user, url: update_password_api_v2_account_path(@user, format: :js),
                method: :patch, as: :user, html: { id: 'change_password', class: 'form-horizontal ajax-form' },
                remote: true, authenticity_token: true do |f| %>

            <div class="form-group">
              <label class="col-sm-2 control-label">Current Password</label>
              <div class="col-sm-10">
                <%= f.password_field :current_password, class: 'form-control' %>
              </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label">New Password</label>
              <div class="col-sm-10">
                <%= f.password_field :password, class: 'form-control' %>
              </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Confirm Password</label>
              <div class="col-sm-10">
                <%= f.password_field :password_confirmation, class: 'form-control' %>
              </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <div class="col-sm-10">
                <div class="form-buttons">
                  <button class="btn btn-primary" type="submit">Update Password</button>
                  <div class="form-spinner">
                    <%= render 'shared/spinners/fading_circle' %>
                  </div>
                </div>
              </div>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>