
<div id="notification-profiles" class="tab-pane">
  <div class="panel-body">

    <%= notifications_disabled_alert(@user) %>

    <div class="profiles-container">

      <div class="col-lg-12 profiles-page">
        <div class="panel-header">
          <div class="pull-right">
            <%= link_to(new_api_v2_account_notification_profile_path(@user, format: :js), class: 'btn btn-primary create-record single-button-remote', remote: true) do %>
              <i class="fa fa-plus-circle"></i>&nbsp;Create
            <% end %>
          </div>
        </div>

        <%= render partial: 'account/profiles/table' %>

      </div>

    </div>
  </div>
</div>
