<% content_for :header_javascript_block  do %>
  <script>

    // While select2 searches it will stub a default value:
    // { disabled: true, loading: true, text: "Searching..." }
    function formatPublisher(publisher) {
      if (publisher.loading) return publisher.text;

      var markup = '<div class="clearfix">' +
      '<div clas="col-sm-10">' +
      '<div class="clearfix">' +
      '<div class="col-sm-6">' + publisher.name + '</div>' +
      '</div>';

      markup += '</div></div>';

      return markup;
    }

    // Return the search results. If nothing has been found yet, publisher.text
    // will be "Searching ....".
    function formatPublisherSelection(publisher) {
      return publisher.name || publisher.text;
    }

    // Given a publisher type (organization, device), this will refresh the data
    // table and add an alert.
    function refreshPublisherPanel(publisher_type, alert, subscription_id) {

      var publisher_tab   = $('a[href="#notification-subscriptions-' + publisher_type + 's"]');
      var publisher_table = $('#' + publisher_type + '-subscriptions-table').DataTable();

      // Ensure the correct publisher tab is selected
      publisher_tab.tab('show');

      // Reload the data table and display alert when finished
      publisher_table.ajax.reload(function() {

        $('#notification-subscriptions > .panel-body').prepend(alert);

         // declared in js/aview/bootstrap-alerts.js
        setAlertExpiration($('#notification-subscriptions > .panel-body > .alert'));

        if (subscription_id !== undefined) {
          flashElement($('#subscription_row_' + subscription_id));
        }
      });
    }

  </script>
<% end %>

<div id="notification-subscriptions" class="tab-pane">
  <div class="panel-body">

    <%= notifications_disabled_alert(@user) %>

    <div class="col-lg-12">
      <div class="subscription-tabs pull-left">
        <div class="tabs-container">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#notification-subscriptions-organizations" aria-expanded="true">Organizations</a></li>
            <li class=""><a data-toggle="tab" href="#notification-subscriptions-devices" aria-expanded="false">Devices</a></li>
          </ul>
        </div>
      </div>

      <div class="tabs-button pull-right">
        <%= link_to(new_api_v2_account_notification_subscription_path(@user, format: :js), class: 'btn btn-primary create-record single-button-remote', remote: true) do %>
          <i class="fa fa-plus-circle"></i>&nbsp;Create
        <% end %>
      </div>

      <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="notification-subscriptions-organizations">
          <%= render partial: 'account/subscriptions/organizations_table' %>
        </div>

        <div role="tabpanel" class="tab-pane" id="notification-subscriptions-devices">
          <%= render partial: 'account/subscriptions/devices_table' %>
        </div>

      </div>
    </div>
  </div>
</div>
