<%= render 'shared/page_header', locals: { title: 'account' } %>

<% content_for :header_javascript_block  do %>
  <script>

    // Call a custom event on tab panes that are shown. This is useful for
    // showing datatables when a specific pane is selected.
    $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function(e) {
      var id = $(e.target).attr("href").substr(1);
      $('#' + id).trigger("tabShown");
    });

    $(document).ready(function(){

      $("form.ajax-form").validate();

      // Store the currently selected tab in the hash value
      $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
        var id = $(e.target).attr("href").substr(1);
        window.location.hash = id;
      });

      // On load of the page: switch to the currently selected tab
      var hash = window.location.hash;
      $('#account-tabs a[href="' + hash + '"]').tab('show');

    });

  </script>
<% end %>

<div class="wrapper wrapper-content">
  <div class="row row m-t-lg">
    <div class="col-lg-12">
      <div class="tabs-container">
        <div class="tabs-left">
          <ul class="nav nav-tabs" id="account-tabs">
            <li class="active"><a data-toggle="tab" href="#information" aria-expanded="true">Information</a></li>
            <% if @presenter.show_password_change? %>
              <li class=""><a data-toggle="tab" href="#change-password" aria-expanded="false">Change Password</a></li>
            <% end %>
            <% if @presenter.show_api_access? %>
              <li class=""><a data-toggle="tab" href="#api-access" aria-expanded="false">API Access</a></li>
            <% end %>
            <li class=""><a data-toggle="tab" href="#notification-subscriptions" aria-expanded="false">Notification Subscriptions</a></li>
            <li class=""><a data-toggle="tab" href="#notification-profiles" aria-expanded="false">Notification Profiles</a></li>
          </ul>

          <div class="tab-content ">
            <%= render 'information' %>
            <%= render 'change_password' if @presenter.show_password_change? %>
            <%= render 'api_access'if @presenter.show_api_access? %>
            <%= render 'subscriptions' %>
            <%= render 'profiles' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br /><br />
