@import 'base/variables';

@import 'aview/devices';
@import 'aview/editable';
@import 'aview/select2';
@import 'aview/colors';
@import 'aview/spinners';
@import 'aview/tabs';
@import 'aview/notification_subscriptions';
@import 'aview/notification_profiles';
@import 'aview/nestable';
@import 'aview/tooltip';
@import 'aview/file_uploader';
@import 'aview/icons';
@import 'aview/maps';
@import 'aview/data_table';
@import 'aview/tables';
@import 'aview/admin_dns';
@import 'aview/modals';
@import 'aview/organizations';
@import 'aview/acc-config';
@import 'aview/nav';
@import 'aview/misc';
@import 'aview/charts';
@import 'aview/groups';
@import "summernote";

#logo-login-page {
  margin-bottom: 30px;
  width: 300px;
}

.push-footer {
  margin-bottom: 100px !important;
}

.comment-icon {
  background: none;
  font-size: 18px;
  color: darkgray;
  cursor: pointer;
  &:hover {
    color: gra y; 
  }
  &.active {
    color: #19b393;
    &:hover {
      color: #74e4cd;
    }
  }
}

.btn.padding-reduce {
  padding: 1px 10px 1px 10px;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.custom-check-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.custom-check-container:hover input ~ .custom-check-checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-check-container input:checked ~ .custom-check-checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.custom-check-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-check-container input:checked ~ .custom-check-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-check-container .custom-check-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.editor-container {
  margin-top: 50px;
}

.text-sm {
  font-size: .5em;
}

.form-text-area {
  width: 100% !important;
}

.settings-tagsinput{
  height: auto !important;
  min-height: 34px !important;
}

.close-message {
  float: right;
}

.message-display {
  float: left;
  width: 95%;
}

.bootstrap-tagsinput input {
  min-width: 33% !important;
}

.page-menu {
  .dropdown-menu-right {
    left: auto;
  }

  h2 {
    float: left;
    margin: 5px 0 0 0;
  }
}

.v-select .dropdown-toggle {
  background-color: white !important;
}

.centered-text {
  text-align: center;
}

.report-container {
  margin-bottom: 50px;
}

.admin-vue-field {
  text-align: right;
  padding: 5px;
}

dl {
  dd {
    margin-bottom: 10px;
  }

  dl {
    margin-left: 10px;
  }
}

#page-wrapper {
  padding-bottom: 5% !important;
}

.user-name-display {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}