<% content_for :header_javascript_block do %>
  <script>

  $(document).on('tabShown', '#notification-subscriptions', function() {

    // Ensure we only load the data table once
    if ( ! $.fn.DataTable.isDataTable('#organization-subscriptions-table') ) {

      // Organization Subscriptions
      $(this).find('#organization-subscriptions-table').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": $('#organization-subscriptions-table').data('source'),
        "pagingType": "full_numbers",
        "bFilter": false,
        "bSort": false,
        "bPaginate": false,
        "bRetrieve": true,
        "columns": [
          { data: "name" },
          { data: "devices", className: "text-center" },
          { data: "profile", className: "text-center" },
          { data: "last_day", className: "text-center" },
          { data: "last_week", className: "text-center" },
          { data: "last_month", className: "text-center" },
          { data: "created_at", className: "text-center" },
          { data: "edit_button", className: "text-center" },
          { data: "delete_button", className: "text-center" }
        ]
      });

    }

  });

  </script>
<% end %>

<table id="organization-subscriptions-table" class="table table-hover" data-source="<%= api_v2_account_notification_subscriptions_path(@user, format: :json, publisher_type: NotificationSubscription::Types::ORGANIZATION) %>">
  <thead>
    <tr>
      <th>Name</th>
      <th class="text-center">Devices</th>
      <th class="text-center">Profile</th>
      <th class="text-center">Last Day <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Notifications delivered in the last day"></i></th>
      <th class="text-center">Last Week <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Notifications delivered in the last week"></i></th>
      <th class="text-center">Last Month <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Notifications delivered in the last month"></i></th>
      <th class="text-center">Created</th>
      <th class="text-center">Edit</th>
      <th class="text-center">Delete</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>