<% content_for :header_javascript_block do %>
<script>
  function refreshDataPlans(alert) {
    var dataPlansTable = $('#data-plans-table').DataTable();
    dataPlansTable.ajax.reload(function() {
      $('#data-plans > .panel-body').prepend(alert);
      setAlertExpiration($('#data-plans > .panel-body > .alert'));
    });
  }
</script>
<% end %>

<div id="data-plans" class="tab-pane">
  <div class="panel-body">
    <div class="pull-right">
      <%= link_to '#', class: "btn btn-primary advanced-export single-button-remote create-record", data: {toggle: "modal", target: ".modal.advanced-export"} do %>
        <i class="fa fa-download"></i> Export
      <% end %>
      <%= link_to new_organization_data_plan_path(@organization, format: :js),
                  class: 'btn btn-primary create-record single-button-remote',
                  title: 'Add Data Plan',
                  remote: true do %>
        <i class="fa fa-plus-circle"></i> Create
      <% end %>
    </div>
    <div class="col-lg-12">
      <%= render partial: 'data_plans/index_table', locals: { source: organization_data_plans_path(@organization.id) } %>
    </div>
  </div>
</div>
