<%= link_to organization_path(@organization),
            method: :delete,
            data: { confirm: "Are you sure you want to delete organization '#{@organization.name}'? Deleting an organization will also delete any devices, users, and sub-organizations associated with this organization. This action cannot be undone." },
            class: "btn btn-xs btn-danger" do %>
  <i class="fa fa-times"></i> Delete
<% end %>
