<% content_for :header_javascript_block do %>
  <script>

  </script>
<% end %>

<div id="device-settings" class="tab-pane">
  <div class="panel-body">
    <div class="panel-form">

      <%= form_for @organization,
            url: update_device_settings_organization_path(@organization, format: :js),
            method: :patch, as: :organization, html: { class: 'form-horizontal ajax-form' },
            remote: true, authenticity_token: true do |f| %>

        <div class="col-lg-12">
          <div class="device-settings-section">
            <div class="device-settings-category">
              <h4>Gateway</h4>
            </div>

            <div class="device-settings-list">

              <div class="device-setting-row">
                <div class="i-checks">
                  <label>
                    <div class="icheckbox_square-green">
                      <%= f.check_box :gateway_cell_modem_collection_enabled %>
                      <ins class="icheck-helper"></ins>
                    </div>
                    <i></i>
                    <strong>Enable Cellular Modem Data Collection</strong> <br />
                    <small>If a device is using a cellular modem we will collect its information with each SNMP probe. This includes: Modem Type, Manufacturer, Modem, Firmware, APN, Phone Number, Connection Status, Network Type, Carrier, MCC/MNC, CID, LAC, Signal Strength, RSSI, ECIO, RSRP, RSRQ, SINR, SNR.</small>
                  </label>
                </div>
              </div>

              <div class="device-setting-row">
                <div class="i-checks">
                  <label>
                    <div class="icheckbox_square-green">
                      <%= f.check_box :gateway_vlan_collection_enabled %>
                      <ins class="icheck-helper"></ins>
                    </div>
                    <i></i>
                    <strong>Enable VLAN Data Collection</strong> <br />
                    <small>Periodically fetch information about device VLANs such as IPv4/v6 addresses, link speed, options, etc. It will also add a visual indicator for the LAN status to the device details page. <strong>Minimum firmware: <%= Gateway::JSON_COMMANDS_FIRMWARE_MIN %></strong>.</small>
                  </label>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="form-group col-lg-12">

            <div class="form-actions">
              <br />
              <input class="btn btn-primary" name="commit" type="submit" value="Save Changes" />
              <div class="form-spinner">
                <%= render 'shared/spinners/fading_circle' %>
              </div>
            </div>

        </div>

      <% end %>
    </div>
  </div>
</div>
