<div id="content-header">
  <h1>Organizations</h1>

  <% if can_modify_organizations? %>
    <div class="btn-group btn-group-last">
      <%= link_to new_organization_path, :class => "btn btn-large tip-bottom #{active? 'new' }", :id => "new_organization", :title => "New Organization" do %>
        <i class="icon-plus"></i>
      <% end %>
    </div>

    <div class="btn-group">
  <% else %>
    <div class="btn-group btn-group-last">
  <% end %>

    <%= link_to organizations_path, :class => "btn btn-large tip-bottom #{active? ['index','list_view']}", :id => "all_organizations", :title => "Show Organizations" do %>
      <i class="icon-th"></i>
    <% end %>
    <%= link_to organization_path(current_user.organization), :class => "btn btn-large tip-bottom #{params[:id] == current_user.organization.slug ? 'active' : '' }", :id => "my_organization", :title => "Show Current Organization" do %>
      <i class="icon-user"></i>
    <% end %>
  </div>
</div>
