<div id="information" class="tab-pane active">
  <div class="panel-body">
    <%= render :partial => "shared/sub_alert", :locals => { :obj => @organization } %>

    <%= form_for @organization do |f| %>
      <% if !@organization.root? && @organization.parent.present? && can_modify_organization?(@organization.parent) && @presenter.show_parent? %>
        <div class="form-group col-lg-12">
          <%= f.label :parent_id, 'Parent', class: "control-label col-lg-3" %>
          <div class="col-lg-9">
            <%= f.select :parent_id,
                         options_for_select(@parent_organizations, @organization.parent_id),
                         {},
                         { class: 'select2' } %>
          </div>
        </div>
      <% end %>

      <% if @presenter.show_edit_name? %>
        <div class="form-group col-lg-12">
          <%= f.label :name, 'Organization Name', class: "control-label col-lg-3" %>
          <div class="col-lg-9">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>
      <% end %>

      <div class="form-group col-lg-12">
        <%= f.label :description, 'Description', class: "control-label col-lg-3" %>
        <div class="col-lg-9">
          <%= f.text_field :description, class: 'form-control' %>
        </div>
      </div>

      <% if @presenter.show_edit_service_names? %>
        <div class="form-group col-lg-12">
          <%= f.label :service_name, 'Service Name', class: "control-label col-lg-3" %>
          <div class="col-lg-9">
            <%= f.select(:customer_service_id,
                         @service_names,
                         { include_blank: true },
                         { class: 'select2-without-search' }) %>
          </div>
        </div>
      <% end %>
      <div class="form-group col-lg-12">
        <%= f.label :location_desc, 'Location', class: "control-label col-lg-3" %>
        <div class="col-lg-9">
          <%= f.text_field :location_desc, class: 'form-control' %>
        </div>
      </div>

      <% if @presenter.show_logo? %>
      <div class="form-group col-lg-12">
        <%= hidden_field_tag :current_logo, File.basename(@organization.logo.to_s) %>
        <%= hidden_field_tag 'organization[remove_logo]', '0' %>
        <%= f.label :logo, 'Logo File (optional)', :class => 'control-label col-lg-3' %>
        <div class="col-lg-4">
          <div class="input-group">
            <input id="upload-file" class="form-control" placeholder="Choose File" disabled="disabled" />
            <div class="input-group-btn">
              <div class="file-upload btn btn-success">
                <span>Upload</span>
                <%= f.file_field :logo, class: "upload", id: "upload-btn" %>
              </div>
              <a href='#' id="clear-logo" class="btn btn-white">Clear</a>
            </div>
          </div>
        </div>
      </div>
      <% end %>


      <div class="form-group col-lg-12">
        <%= f.label :footer, 'Footer (optional)', :class => 'control-label col-lg-3' %>
        <div class="col-lg-9">
          <div class="input-group">
            <%= f.text_field :footer, class: 'form-control' %>
            <div class="input-group-addon">
              <a href="#" data-toggle="tooltip" data-placement="right" data-container="body" title="The footer can be either text or valid HTML. This field is optional."><span class="badge">?</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group col-lg-12">
        <div class='col-lg-4 col-lg-offset-3'>
          <div class="form-actions">
            <input class="btn btn-primary" name="commit" type="submit" value="Update" />
            <%= link_to "Cancel", organization_path(@organization), :class => "btn btn-white" %>
          </div>
        </div>
      </div>
      <% if @presenter.show_delete? %>
        <div class="form-group col-lg-12">
          <div class="hr-line-dashed"></div>
        </div>
        <div class="form-group col-lg-12">
          <%= label_tag :delete_organization, 'Delete Organization', class: "control-label col-lg-3" %>
          <div class="col-lg-9">
            <div class="input-group">
              <%= link_to 'Delete',
                          organization_path(@organization),
                          method: :delete,
                          data: { confirm: "Are you sure you want to delete organization '#{@organization.name}'? Deleting an organization will also delete any devices, users, and sub-organizations associated with this organization. This action cannot be undone." },
                          class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
