<th>
  Name
</th>
<th>
  Organization
</th>
<th>
  Firmware (3g/4g)
</th>
<th>
  NetBridges
</th>
<th>
  Last Updated
</th>
<% if policy(NetbridgeConfiguration).edit? %>
<th>
  <i class='icon-pencil'></i>
</th>
<% end %>
