<th>
  Name
</th>
<th>
  Organization
</th>
<th>
  Firmware
</th>
<th>
  NetReaches
</th>
<th>
  Last Updated
</th>
<% if policy(NetreachConfiguration).edit? %>
<th>
  <i class='icon-pencil'></i>
</th>
<% end %>
