<td>
  <%= link_to netbridge_configurations_table_row.name.capitalize, legacy_configuration_path(netbridge_configurations_table_row, :configuration_class => netbridge_configurations_table_row.class.to_s) %>
</td>
<td>
  <% if netbridge_configurations_table_row.organization %>
    <%= link_to netbridge_configurations_table_row.organization.name,
      cellular_configurations_organization_path(netbridge_configurations_table_row.organization) %>
  <% else %>
    N/A
  <% end %>
</td>
<td>
  <%= print netbridge_configurations_table_row, "img" %> / <%= print netbridge_configurations_table_row, "img2" %>
</td>
<td>
  <%= netbridge_configurations_table_row.devices.count %>
</td>
<td>
  <%= netbridge_configurations_table_row.updated_at %>
</td>
<% if policy(netbridge_configurations_table_row).edit? %>
<td>
  <%= link_to edit_configurations_cellular_path(netbridge_configurations_table_row) do %>
    <i class='icon-pencil'></i>
  <% end %>
</td>
<% end %>
