<td>
  <%= link_to netreach_configurations_table_row.name.capitalize, legacy_configuration_path(netreach_configurations_table_row, :configuration_class => netreach_configurations_table_row.class.to_s) %>
</td>
<td>
  <% if netreach_configurations_table_row.organization %>
    <%= link_to netreach_configurations_table_row.organization.name,
      wifi_configurations_organization_path(netreach_configurations_table_row.organization) %>
  <% else %>
    N/A
  <% end %>
</td>
<td>
  <%= print netreach_configurations_table_row, "firmware" %>
</td>
<td>
  <%= netreach_configurations_table_row.devices.count %>
</td>
<td>
  <%= netreach_configurations_table_row.updated_at %>
</td>
<% if policy(netreach_configurations_table_row).edit? %>
<td>
  <%= link_to edit_configurations_wifi_path(netreach_configurations_table_row) do %>
    <i class='icon-pencil'></i>
  <% end %>
</td>
<% end %>
