<%= form_for :organization, method: :get, url: new_organization_path, html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :parent_id, 'Parent Organization', :class => 'control-label col-lg-3' %>
    <div class="col-lg-4">
      <%=
          select_tag :parent_id,
                     options_from_collection_for_select(@modifiable_organizations, :id, :name, params[:organization_id].to_i),
                     { :class => 'form-control select2' }
      %>
    </div>
  </div>

  <div class="hr-line-dashed"></div>

  <div class="form-group">
    <div class='col-lg-4 col-lg-offset-3'>
      <%= submit_tag 'Next',
                     :class => 'btn btn-primary',
                     :id => 'form-submit' %>
      <%= link_to 'Cancel', organizations_path, :class => 'btn btn-white' %>
    </div>
  </div>
<% end %>
