<%= form_for @organization, html: { class: "form-horizontal" } do |f| %>
  <% if @organization.errors.any? %>
    <% @organization.errors.full_messages.each do |msg| %>
      <div class='alert alert-error'>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= msg %>
      </div>
    <% end %>
    <br />
  <% end %>

  <%= hidden_field_tag :parent_id, @parent_organization.id %>

  <div class="form-group">
    <%= f.label :organization, 'Parent Organization', :class => 'control-label col-lg-3' %>
    <div class="col-lg-7">
      <div class="input-group">
        <%= text_field_tag :organization, @parent_organization.name, disabled: true, class: 'form-control' %>
        <span class="input-group-addon">
          <%= link_to 'Change', new_organization_path(organization_id: @parent_organization.id) %>
        </span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, 'Organization Name', :class => 'control-label col-lg-3' %>
    <div class="col-lg-7">
      <%= f.text_field :name, class: 'form-control' %>
      <small>Organization names are unique to the parent. Please only use letters and numbers.</small>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Description (optional)', :class => 'control-label col-lg-3' %>
    <div class="col-lg-7">
      <%= f.text_field :description, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :customer_service_id, 'Service Name', :class => 'control-label col-lg-3' %>
    <div class="col-lg-4">
      <%= f.select :customer_service_id, @service_names, { include_blank: true }, { class: 'form-control select-2-without-search' } %>
    </div>
  </div>
  <% @abilities.each do |ability| %>
    <div class="form-group abilities i-checks">
      <%= f.label "abilities_#{ability.id}_id", ability.name, :class => 'control-label col-lg-3' %>
      <div class="col-lg-4">
        <label class="checkbox-inline">
          <%= check_box_tag "abilities_#{ability.id}_id", ability.id, false, name: "abilities[#{ability.id}][id]" %>
          <% if ability.description.present? %>
            <span>
              <a href="#" class="m-l-xs" data-toggle="tooltip" data-placement="right" data-container="body" data-original-title="<%= ability.description %>"><span class="badge">?</span></a>
            </span>
          <% end %>
        </label>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <div class="col-lg-offset-3">
      <a href='#' class='check-all' data-target-class='abilities'>Check all</a>
      |
      <a href='#' class='uncheck-all' data-target-class='abilities'>Uncheck all</a>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :logo, 'Logo File (optional)', :class => 'control-label col-lg-3' %>
    <div class="col-lg-4">
      <div class="input-group">
        <input id="upload-file" class="form-control" placeholder="Choose File" disabled="disabled" />
        <div class="input-group-btn">
          <div class="file-upload btn btn-primary">
            <span>Upload</span>
            <%= f.file_field :logo, class: "upload", id: "upload-btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :footer, 'Footer (optional)', :class => 'control-label col-lg-3' %>
    <div class="col-lg-7">
      <div class="input-group">
        <%= f.text_field :footer, class: 'form-control' %>
        <div class="input-group-addon">
          <a href="#" data-toggle="tooltip" data-placement="right" data-container="body" data-original-title="The footer can be either text or valid HTML. This field is optional."><span class="badge">?</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="hr-line-dashed"></div>
  <div class="form-group">
    <div class='col-lg-4 col-lg-offset-2'>
      <%=
          f.submit 'Create',
                   :class => 'btn btn-primary',
                   :id => 'form-submit' %>
      <%= link_to 'Cancel', organizations_path, :class => 'btn btn-white' %>
    </div>
  </div>
<% end %>
