<ul class="dropdown-menu pull-right" style="text-align: left;">

  <li>
    <%= link_to(organization) do %>
      <i class='fa fa-eye'></i> View Devices
    <% end %>
  </li>
  <% if can_modify_organization?(organization) %>
    <li><a href='<%= edit_organization_path(organization) %>'><i class='fa fa-pencil'></i> Edit Settings</a></li>

    <% if @presenter.show_new_organization? %>
      <li>
        <%= link_to(new_api_v2_organization_path(parent_id: organization.id, format: :js),
              class: 'single-button-remote',
              remote: true,
              id: 'new_sub_organization',
              title: 'New Sub Organization') do %>
          <i class="fa fa-inbox"></i>&nbsp;New Sub Organization
        <% end %>
      </li>
    <% end %>
    <% if @presenter.show_roles? %>
      <li>
        <%= link_to edit_organization_path(organization, anchor: 'roles') do %>
          <i class='fa fa-tags'></i> Roles
        <% end %>
      </li>
    <% end %>
    <% if @presenter.show_permissions? %>
      <li>
        <%= link_to edit_organization_path(organization, anchor: 'permissions') do %>
          <i class='fa fa-lock'></i> Permissions
        <% end %>
      </li>
    <% end %>
    <li>
      <%= link_to edit_organization_path(organization, anchor: 'data-plans') do %>
          <i class='fa fa-history'></i> Data Plans
      <% end %>
    </li>
  <% end %>

  <% if can_modify_users_for_organization?(organization) %>
    <li>
      <%= link_to(new_api_v2_user_path(organization_id: organization.id, format: :js), class: 'single-button-remote', remote: true) do %>
        <i class="fa fa-user-plus"></i>&nbsp;New User
      <% end %>
    </li>
  <% end %>

  <%= content_tag( :li, id: @presenter.subscribe_action_id,
                   organization_id: @presenter.organization.id,
                   organization_name: @presenter.organization.name) do -%>
    <% if @presenter.subscription.present? %>
      <%= render partial: 'shared/unsubscribe_button',
                  locals: {
                    message: t('organization.unsubscribe', organization: @presenter.organization.name),
                    subscription: @presenter.subscription
                  } %>
    <% else %>
      <%= render partial: 'shared/subscribe_button', locals: { organization: @presenter.organization } %>
    <% end %>
  <% end -%>

  <% if @presenter.show_delete? %>
    <li class="divider"></li>
    <li><%= link_to "<i class='fa fa-times'></i> Delete".html_safe, organization_path(organization),
      :title => "Delete Site", :method => :delete,
      :data => { :confirm => "Are you sure you want to delete this organization?\n Deleting an organization will also delete any devices, users, and sub-organizations associated with this organization." } %></li>
  <% end %>
</ul>
