<div class="row">
  <div class="col-xs-12 page-menu">
    <h2 class="page-menu-title"><%= @organization.name %></h2>

    <% if can_modify_users_for_organization?(@organization) %>
      <div class="text-right">
        <%= link_to('<i class="fa fa-user-plus"></i> New User'.html_safe,
                    new_api_v2_user_path(organization_id: @organization.id, format: :js),
                    class: 'btn btn-primary single-button-remote',
                    remote: true) %>
      </div>
    <% end %>
  </div>
</div>
