<div id="permissions" class="tab-pane">
  <div class="panel-body">
    <div class="pull-right">
      <%= link_to new_organization_permission_path(@organization, format: :js),
                  class: "btn btn-primary create-record single-button-remote",
                  title: "Add Permission",
                  remote: true do %>
        <i class="fa fa-plus-circle"></i> Create
      <% end %>
    </div>
    <div class="col-lg-12">
      <%= render partial: 'permissions/index_table', locals: { source: organization_permissions_path(@organization) } %>
    </div>
  </div>
</div>
