<% content_for :header_javascript_block  do %>
  <script>

    function refreshRolesPanel(alert) {
      var roles_table = $('#roles-table').DataTable();
      roles_table.ajax.reload(function() {
        $('#roles > .panel-body').prepend(alert);

        // declared in js/aview/bootstrap-alerts.js
        setAlertExpiration($('#roles > .panel-body > .alert'));
      });
    }

  </script>
<% end %>

<div id="roles" class="tab-pane">
  <div class="panel-body">
    <div class="panel-header">
      <div class="pull-right">
        <%= link_to new_organization_role_path(@organization, format: :js),
                    class: "btn btn-primary create-record single-button-remote",
                    title: "Add Role",
                    remote: true do %>
          <i class="fa fa-plus-circle"></i> Create
        <% end %>
      </div>
    </div>
    <div class="col-lg-12">
      <%= render partial: 'roles/index_table' %>
    </div>
  </div>
</div>

