
<% content_for :content_header_and_nav_block do %>
  <% if content_for?(:content_header) %>
    <%= yield(:content_header) %>
  <% else %>
    <%= render :partial => "organizations/header" %>
  <% end %>
<% end %>

<% if content_for?(:content_sub_header) %>
  <%= yield(:content_sub_header) %>
<% else %>
  <%= render :partial => "organizations/sub_header" %>
<% end %>

<%= yield(:show_content) %>
