<% content_for :header_javascript_block do %>
  <script type="text/javascript">
    $(".subscribe-button").livequery(function() {
      $(this).click( function() {
        var listItem = $(this).parent();
        var organizationID = listItem.attr('organization_id');
        var organizationName = listItem.attr('organization_name');
        $("#publisher_id").val(organizationID);
        $("#organization_subscription_name").html(organizationName);
      });
    });
  </script>
<% end %>

<% if @notification_subscription && @profiles %>
  <div class="modal inmodal fade" id="new-subscription-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <%= form_for @notification_subscription,
                     url: api_v2_account_notification_subscriptions_path(
                       current_user,
                       publisher_type: NotificationSubscription::Types::ORGANIZATION,
                       format: :js
                     ),
                     html: { class: 'ajax-form' }, remote: true do |f| %>

          <%= hidden_field_tag :publisher_id, '' %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 id="subscriptionLabel">Subscribe to device notifications for <span id="organization_subscription_name">organization</span></h4>
          </div>

          <div class="modal-body">
            <p>Please select a notification profile for this device:<p>
            <div class="form-group">
              <div class="form-controls">
                <%= collection_select nil, :profile_id, @profiles, :id, :name, {}, {class: 'select2-without-search' } %>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <%= link_to 'Create New Profile',
                        '/account#notification-profiles',
                        id: 'notification-profile-link',
                        class: 'btn pull-left' %>
            <div class="form-modal-spinner">
              <%= render 'shared/spinners/fading_circle' %>
            </div>
            <button class="btn btn-white" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <%= f.submit 'Subscribe', :class => 'btn btn-primary', name: 'subscribe_to_organization' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
