<%= content_for :content_header do %>
  <div id="content-header">
    <h1>Cellular Configurations</h1>

    <% if policy(NetbridgeConfiguration).edit? %>
      <div class="btn-group btn-group-last">
        <%= link_to new_legacy_configuration_path(:configuration_class => "NetbridgeConfiguration"), :class => "btn btn-large tip-left #{active? 'new' }", :id => "new_configuration", :title => "New Cellular Configuration" do %>
          <i class="icon-plus"></i>
        <% end %>
      </div>
    <% end %>

  </div>
<% end %>

<%= content_for :content_sub_header do %>
<% end %>

<%= content_for :show_content do %>
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
        <div class="widget-title">
        </div>
        <div class="widget-content nopadding no_commands">
          <table class="table table-bordered <%= policy(NetbridgeConfiguration).edit? ? 'with-edit' : '' %> data-table configs-table" id="config-data-table">
            <thead>
              <tr>
                <%= render "netbridge_configurations_table_header" %>
              </tr>
            </thead>
            <tbody>
              <% unless @configurations.blank? %>
                <% @configurations.each do |configuration| %>
                  <tr>
                    <%= render :partial => "netbridge_configurations_table_row", :object => configuration %>
                  </tr>
                <% end %>
              <% else %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render "organizations/show" %>
