<% content_for :header_javascript_block  do %>
  <script>
    // Call a custom event on tab panes that are shown. This is useful for
    // showing datatables when a specific pane is selected.
    $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function(e) {
      var id = $(e.target).attr("href").substr(1);
      $('#' + id).trigger("tabShown");
    });

    $(document).ready(function(){
      $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
        setAnchor(e.target);
      });
      selectTab();
    });

    function setAnchor(target) {
      var id = $(target).attr("href").substr(1);
      window.location.hash = id;
    }

    function selectTab() {
      var hash = window.location.hash;
      $('#edit-organization-tabs a[href="' + hash + '"]').tab('show');
    }
  </script>
<% end %>

<%= render 'shared/page_header', locals: { title: @page_title, skip_translate: true } %>

<div class="wrapper wrapper-content">
  <%= render partial: 'page_menu' %>
  <div class="row m-t-md">
    <div class="col-lg-12">
      <div class="tabs-container">
        <div class="tabs-left">
          <ul class="nav nav-tabs" id="edit-organization-tabs">
            <li class="config-tab active"><a data-toggle="tab" href="#information">Information</a></li>
            <% if @presenter.show_roles? %>
              <li class="config-tab "><a data-toggle="tab" href="#roles">Roles</a></li>
            <% end %>
            <% if @presenter.show_permissions? %>
              <li class="config-tab "><a data-toggle="tab" href="#permissions">Permissions</a></li>
            <% end %>
            <li class="config-tab "><a data-toggle="tab" href="#device-settings">Device Settings</a></li>
            <li class="config-tab "><a data-toggle="tab" href="#data-plans">Data Plans</a></li>
          </ul>

          <div class="tab-content">
            <%= render 'information' %>
            <%= render 'roles' %>
            <%= render 'permissions' %>
            <%= render 'device_settings' %>
            <%= render 'data_plans' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
