<% content_for :header_javascript_block  do %>
  <script type="text/javascript">
    $('.dd').nestable();
    $('#expand_all').on('click', function() {
      $('.dd').nestable('expandAll');
    });
    $('#collapse_all').on('click', function() {
      $('.dd').nestable('collapseAll');
    });

    $(document).ready(function() {
      $("a[data-org]").livequery(function() {
        $(this).on('ajax:success', function(e, data, status, xhr) {
          $(this).next().replaceWith(data);
          $(this).removeAttr('data-remote');
        });
      });
    });
  </script>
<% end %>

<%= render 'shared/page_header', locals: { title: 'Organizations' } %>

<div class="wrapper wrapper-content">
  <div class="row" id="hierarchy_box">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <div class="ibox-tools">
            <div class="pull-left">
              <button type="button" id="expand_all" class="btn btn-white btn-xs" data-action="expand-all">Expand All</button>
              <button type="button" id="collapse_all" class="btn btn-white btn-xs" data-action="collapse-all">Collapse All</button>
            </div>
            <% if current_user.has_ability?("Modify Organizations") && @presenter.show_new_organization? %>
              <%= link_to(new_api_v2_organization_path(format: :js),
                    class: 'btn btn-primary create-record single-button-remote',
                    remote: true,
                    id: 'new_organization',
                    title: 'New Organization') do %>
                <i class="fa fa-plus-circle"></i>&nbsp;Create
              <% end %>
            <% end %>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="ibox-content" id="organization-hierarchy">
          <%= render 'organization_hierarchy' %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render '/organizations/subscription_modal' %>
