
<div class="row-fluid" id="list_view_box">
  <div class="span12">
    <div class="widget-box">
      <div class="widget-title">

      </div>
      <div class="widget-content nopadding no_commands">
        <table class="table table-bordered with-edit data-table organizations-table" id="organization-data-table">
          <thead>
            <tr>
              <th>
                Name
              </th>
              <th>
                Organizations
              </th>
              <% if users_enabled? %>
                <th>
                  Users
                </th>
              <% end %>
              <th>
                VPN Devices
              </th>
              <th>
                Created
              </th>
              <th>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <% @customers.each do |customer| %>
              <%= render :partial => 'list_row', :locals => { :organization => customer } %>
              <% customer.descendants.each do |sub_organization| %>
                <%= render :partial => 'list_row', :locals => { :organization => sub_organization } %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= render "organizations/index" %>
