$('#change-devices-organization-modal').modal('hide');
var alerts = '';
<% if @result.errors.try(:any?) %>
  <% @result.errors.each do |error| %>
    alerts += "<%= j alert_error message: error %>";
  <% end %>
<% else %>
  alerts = "<%= j alert_success message: (t('devices.successfully_changed_organization', name: @result.organization.name)) %>";
  refreshDeviceSettings();
<% end %>

$('#device-settings-form').prepend(alerts);
setAlertExpiration($('#device-settings-form > .alert'));

function refreshDeviceSettings() {
  updateOrganizationName();
  updateSite();
  updateDataPlan();
  updateConfigurations();
}

function updateOrganizationName() {
  $('#device-organization-name').text("<%= @result.organization.name.html_safe %>");
}

function updateSite() {
  <% if @result.try(:device).try(:site).present? %>
    $('#device_site_name').val("<%= @result.device.site_name %>");
    updateSiteLink("<%= @result.device.site_name %>", "<%= site_path(@result.device.site) %>");
  <% end %>
}

function updateDataPlan() {
  resetSelect2WithoutSearchOptions($('#data-plans-drop'), <%= raw get_data_plan_options_for_select2.to_json %>);
  <% if @result.device.data_plan.present? %>
    $('#data-plans-drop').val("<%= @result.device.data_plan.id %>").trigger("change");
  <% end %>
}

function updateConfigurations() {
  resetSelect2WithoutSearchOptions($('#device-configuration-selection'),
      <%= raw get_configuration_options_for_select2(@result.device, @result.organization).to_json %>);
}
