<%= render 'shared/page_header', locals: { title: 'New Organization' } %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>New Organization</h5>
        </div>
        <div class="ibox-content">
          <% if @parent_organization.present? %>
            <%= render 'new_details_form' %>
          <% else %>
            <%= render 'new_choose_parent_organization_form' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>