<%= content_for :show_content do %>
  <div class="span4" id="organization-email-list">

    <div class="widget-box">
      <div class="widget-title">
        <span class="icon">
          <i class="icon-plus"></i>
        </span>
        <h5>Distribution List Email Addresses</h5>
      </div>
      <div class="widget-content nopadding form-horizontal">

        <%= render :partial => "shared/sub_alert", :locals => { :obj => @new_email } %>
        <%= form_for @new_email do |g| %>
          <table class="table">
            <tr>
              <tbody>
                <tr>
                  <td><%= g.text_field :email %></td>
                  <td><input type="submit" class="btn" value="Add"></td>
                </tr>

                <% @emails.each do |organization_email| %>
                  <tr>
                    <td><%= organization_email.email %></td>
                    <td>
                    <%= link_to organization_email, :method => :delete, :data => { :confirm => "Are you sure you want to delete this email?" }, :title => "Delete #{organization_email.email}" do %>
                      <i class="icon-remove"></i>
                    <% end %>
                    </td>
                  </tr>
                <% end %>
                </table>
              </tbody>
            </tr>

          </table>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= render "organizations/show" %>
