<% if @organization.errors.any? %>

  <% @organization.errors.full_messages.each do |message| %>

    var message = "<%= j(alert_error message: message) %>"
    $(message).prependTo("#edit_organization");

  <% end %>

<% else %>

  var message = "<%= j(alert_success message: t('organizations.device_settings_updated')) %>"
  $(message).prependTo("#edit_organization");
  setAlertExpiration($('#edit_organization > .alert'));

<% end %>
