<tr>
  <td class="content-block">
    <h3>Hello <%= @resource.email %>!</h3>
  </td>
</tr>
<tr>
  <td class="content-block">
    Someone has requested a link to change your password. You can do this through the link below.
  </td>
</tr>
<tr>
  <td class="content-block aligncenter">
    <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %>
  </td>
</tr>
<tr>
  <td class="content-block">
    <b>Note:</b> The above link is only valid for 72 hours (3 days).  If you do not reset your password within this time, you will have to submit a new password reset request.
  </td>
</tr>
<tr>
  <td class="content-block">
    If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.
  </td>
</tr>
<tr>
  <td class="content-block">
    Sincerely,<br />
    The Accelerated View Team
  </td>
</tr>
