<% content_for :header_javascript_block  do %>
  <script>

    $(document).on('tabShown', '#contacts', function() {

      // Ensure we only load the data table once
      if ( ! $.fn.DataTable.isDataTable('#device-contacts-table') ) {

        $('#device-contacts-table').DataTable( {
          "processing": true,
          "serverSide": true,
          "ajax": $('#device-contacts-table').data('source'),
          "pagingType": "full_numbers",
          "bFilter": false,
          "bSort": false,
          "bPaginate": false,
          "bRetrieve": true,
          "columns": [
            null,
            { className: "text-center" },
            { className: "text-center" },
            { className: "text-center" },
          <% if can_modify_device_contacts? %>
            { className: "text-center" },
            { className: "text-center" },
          <% end %>
          ]
        });

      }

    });

  </script>
<% end %>

<table id="device-contacts-table"
       class="table table-hover table-responsive"
       data-source="<%= api_v3_device_contacts_path(@presenter.device, format: :json) %>">
  <thead>
  <tr>
    <th>Label</th>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
  <% if can_modify_device_contacts? %>
    <th>Edit</th>
    <th>Delete</th>
  <% end %>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
