<div class="modal inmodal fade" id="edit-syslog-server-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag(admin_syslog_server_path(@syslog_server),
            remote: true, method: :patch, class: 'form-horizontal ajax-form', id: 'edit-syslog-server') do %>

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Syslog Server</h4>
        </div>

        <div class="modal-body">

          <div class="form-group"><label class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
              <%= text_field_tag 'syslog_server[name]', @syslog_server.name, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group"><label class="col-sm-3 control-label">URI</label>
            <div class="col-sm-9">
              <%= text_field_tag 'syslog_server[uri]', @syslog_server.uri, class: 'form-control' %>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <div class="form-modal-spinner">
            <%= render 'shared/spinners/fading_circle' %>
          </div>
          <%= submit_tag "Close", class: 'btn btn-white', 'data-dismiss' => 'modal' %>
          <%= submit_tag "Update", class: 'btn btn-primary' %>
        </div>

      <% end %>
    </div>
  </div>
</div>
