<% if @device.errors.any? %>

  <% @device.errors.full_messages.each do |message| %>
    var message = "<%= j(alert_error message: message) %>"
    $(message).prependTo("#update-device-location");
  <% end %>

<% else %>

  var message = "<%= j(alert_success message: t('devices.location_cleared')) %>"
  $(message).prependTo("#update-device-location");
  setAlertExpiration($('#update-device-location .alert'));
  var mapElement = document.getElementById('mapDiv');
  mapElement.setAttribute('data-user-latitude', null);
  mapElement.setAttribute('data-user-longitude', null);
  drawMap();

<% end %>
