<% if @result.failure? %>

  var message = "<%= j(alert_error message: @result.message) %>";
  $(message).prependTo(".ajax-form");

<% else %>

  var message = "<%= j(alert_success message: t('devices.updated')) %>";
  $(message).prependTo(".ajax-form");

  updateSiteLink("<%= @result.device.site_name %>", "<%= site_path(@result.device.site) %>");
  <% if @result.device.configuration.present? %>
    updateConfigurationLink("<%= @result.device.configuration.try(:name) %>",
        "<%= the_device_configuration_path(@result.device.configuration) %>");
  <% else %>
    removeConfigurationLink();
  <% end %>
<% end %>
