<% if @location.blank? %>

  var message = "<%= j(alert_success message: t('devices.location_cleared')) %>"
  $(message).prependTo("#update-device-location");
  setAlertExpiration($('#update-device-location .alert'));
  var mapElement = document.getElementById('mapDiv');
  mapElement.setAttribute('data-user-latitude', null);
  mapElement.setAttribute('data-user-longitude', null);
  drawMap();

<% elsif @location.errors.any? %>

  <% @location.errors.full_messages.each do |message| %>
    var message = "<%= j(alert_error message: message) %>"
    $(message).prependTo("#update-device-location");
  <% end %>

<% elsif @device.errors.any? %>

  <% @device.errors.full_messages.each do |message| %>
    var message = "<%= j(alert_error message: message) %>"
    $(message).prependTo("#update-device-location");
  <% end %>

<% else %>

  var message = "<%= j(alert_success message: t('devices.location_updated')) %>"
  $(message).prependTo("#update-device-location");

  $("input[name='location[address_1]']").val("<%= @location.address_1.try(:html_safe) %>");
  $("input[name='location[address_2]']").val("<%= @location.address_2.try(:html_safe) %>");
  $("input[name='location[city]']").val("<%= @location.city.try(:html_safe) %>");
  $("input[name='location[state_abbr]']").val("<%= @location.state_abbr %>");
  $("input[name='location[postal_code]']").val("<%= @location.postal_code %>");
  $('#location_country_id').val("<%= @location.country_id %>").trigger('change');
  var mapElement = document.getElementById('mapDiv');
  mapElement.setAttribute('data-user-latitude', <%= @location.latitude %>);
  mapElement.setAttribute('data-user-longitude', <%= @location.longitude %>);
  drawMap();

  setAlertExpiration($('#update-device-location .alert'));

<% end %>
