<script type="text/javascript">
  $(document).ready(function() {
    var searchPath = "<%= search_organizations_path(format: :json) %>";
    var searchSelect = new SearchSelect("#filter-organization-id", searchPath);
    searchSelect.draw();
  });
</script>

<li id="dropdown-filters" class="dropdown">
  <a id="site-wide-organization-filter" class="dropdown-toggle <%= "#{filter_dropdown_class}" %>" data-toggle="dropdown" href="#" aria-expanded="false">
    <i class="fa fa-filter"></i> <span>Showing: <%= truncate(current_organization_name, length: 30) %></span>
  </a>
  <ul class="dropdown-menu">
    <%= form_tag update_filter_api_v2_account_path(current_user, format: :js),
          method: :patch, remote: true, class: 'form-horizontal', id: 'update-account-filter' do %>
      <div class="clickable">
        <li><h3 class="text-center">Filter Organization</h3></li>
        <li>
          <select class="form-control" name="filter_organization_id" id="filter-organization-id">
            <option value="" selected="selected">Search for organization...</option>
          </select>
        </li>
        <li class="divider"></li>
      </div>
      <% if current_user.filter_organization.present? %>
        <li>
          <%= link_to clear_filter_api_v2_account_path(current_user, format: :js),
                method: :patch, remote: true, class: 'btn btn-info btn-md btn-block single-button-remote' do %>
            <i class="fa fa-trash-o"></i>&nbsp;Clear
          <% end %>
        </li>
        <li class="divider"></li>
      <% end %>
      <li>
        <button type="submit" id="submit-organization-filter" class="btn btn-primary btn-md btn-block ajax-submit-button">
          <i class="fa fa-refresh"></i>&nbsp;Apply
        </button>
      </li>
    <% end %>
  </ul>
</li>
