<script type="text/javascript">
  $(document).ready(function() {
    $('#simple-search-input').focus(function() { simpleSearchFocus() });
    $('#simple-search-input').blur(function() { simpleSearchBlur() });

    function simpleSearchFocus() {
      $('#simple-search-input').css({'background-color': '#FFF'})
      $('#simple-search .submit-btn').css(
        {
          'background-color': aviewColors.primary,
          'border-color': aviewColors.primary
        }
      )
    }

    function simpleSearchBlur() {
      if ($('#simple-search-input').val() == '') {
        $('#simple-search-input').css({'background-color': ''})
        $('#simple-search .submit-btn').css(
          {
            'background-color': '',
            'border-color': ''
          }
        )
      }
    }
  });
</script>

<div class="navbar-header">
  <div class="inner">
    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#">
      <i class="fa fa-bars"></i>
    </a>
    <%= form_tag searches_path, method: :get, class: 'navbar-form-custom', id: 'simple-search', role: 'search' do |f| %>
      <div class="form-group">
        <div class="input-group">
          <%=
              text_field_tag(
                'search[value]',
                nil,
                autocomplete: :off,
                class: 'form-control',
                id: 'simple-search-input',
                placeholder: "Search for devices ..."
              )
          %>
          <span class="input-group-btn">
            <%= button_tag class: 'btn btn-default submit-btn', type: 'submit' do %>
              <i class="fa fa-search"></i>
            <% end %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>
