<template>
  <div class="form-group row">
    <label class="control-label" v-bind:class="labelClass">
      <slot name="label">
      </slot>
    </label>
    <div class="col-xs-8">
      <div v-bind:class="inputContainerClass" class="col-xs-12">
        <slot name="control">
        </slot>
      </div>
    </div>
 </div>
</template>

<script>
export default {
  name: 'base-form-field',
  props: ["reducevertical", "reducelabel"],
  computed: {
    labelClass: function(){
      return this.reducelabel ? ["col-xs-2", "admin-vue-field"] : ["col-xs-4"];
    }
  },
  data: function(){
    return {
      inputContainerClass: this.reducevertical ? [] : ["input-group"]
    };
  }
}
</script>