<template>
  <base-form-field v-bind:reducevertical="true">
    <template slot="label">{{label}}</template>
    <template slot="control">
      <label class="custom-check-container">
        <input placeholder="Default" class="form-control" type="checkbox" v-model="localVal">
        <span class="custom-check-checkmark"></span>
      </label>
    </template>
  </base-form-field>
</template>

<script>
import BaseField from './base-field.vue';
import FieldWrapper from './field-wrapper.vue';

export default {
  name: 'form-toggle-field',
  extends: BaseField,
  components: {
    'base-form-field': FieldWrapper
  },
  data:  function() {
    return {
      "localVal": this.value
    };
  }
}
</script>