<template>
  <base-form-field>
    <template slot="label">{{label}}</template>
    <textarea slot="control" v-bind:placeholder="placeholder" class="form-control form-text-area" type="text" v-model="localVal">
    </textarea>
  </base-form-field>
</template>

<script> 
import BaseField from './base-field.vue';
import FieldWrapper from './field-wrapper.vue';

export default {
  extends: BaseField,
  name: 'form-text-area',
  components: {
    'base-form-field': FieldWrapper
  },
  data:  function() {
    return {
      "localVal": this.value
    };
  }
}
</script>