<template>
  <base-form-field v-bind:reducelabel="reducelabel">
    <template slot="label">{{label}}</template>
    <select slot="control" v-bind:placeholder="placeholder" class="form-control" type="text" v-model="localVal">
      <option v-for="option in selectOptions" v-bind:value="option.value">{{option.text}}</option>
    </select>
  </base-form-field>
</template>

<script>
import BaseField from './base-field.vue';
import FieldWrapper from './field-wrapper.vue';

export default {
  name: 'form-select-field',
  extends: BaseField,
  components: {
    'base-form-field': FieldWrapper
  },
  computed: {
    selectOptions: function(){
      return this.options.map((option) => {
        if(typeof option === "string") {
          return {
            value: option,
            text: option
          }
        }else{
          return option;
        }
      });
    },
  },
  data:  function() {
    return {
      "localVal": this.value
    };
  }
}
</script>