<template>
  <base-form-field>
    <template slot="label">{{label}}</template>
    <input slot="control" v-bind:placeholder="placeholder" class="form-control" type="text" v-model="localVal">
  </base-form-field>
</template>

<script>
import BaseField from './base-field.vue';
import FieldWrapper from './field-wrapper.vue';

export default {
  name: 'form-text-field',
  components: {
    'base-form-field': FieldWrapper
  },
  extends: BaseField,
  data:  function() {
    return {
      "localVal": this.value
    };
  }
}
</script>