<%# Modal prompt for device's remote commands User and Password values %>
<div id="sendCommandModal" class="modal inmodal" role="dialog" aria-labelledby="sendCommandModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close sendCommandClose" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="sendCommandModalHeader">Please enter the User and Password for device <%= @presenter.device.mac.upcase %></h3>
      </div>

      <%= form_for @presenter.device, url: remote_device_path(@presenter.device) do |f| %>
        <div class="modal-body">
          <%= hidden_field_tag 'remote_data[command]', '', id: 'remote-data-command' %>

          <div class="control-group">
            <label class="control-label">User</label>
            <div class="controls">
              <%= text_field_tag 'remote_data[user]', @presenter.device.credentials.try(:user), class: "form-control" %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Password</label>
            <div class="controls">
              <%= password_field_tag 'remote_data[password]', @presenter.device.credentials.try(:password), class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn sendCommandClose" data-dismiss="modal" aria-hidden="true">Close</button>
          <%= f.submit 'Submit', class: "btn btn-primary", id: "sendCommandSubmit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
