<table class="table">
  <thead>
  <%= render partial: 'shared/components/table/row', collection: [ headers ], locals: { header: true } %>
  </thead>
  <tbody>
  <%= render partial: 'shared/components/table/row', collection: rows %>
  </tbody>
</table>