<div class="modal inmodal fade" id="data-plan-disclaimer-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">DISCLAIMER FOR <%= Settings.site_name.upcase %> CELLULAR DATA USAGE MEASUREMENT FEATURE</h4>
      </div>
      <div class="modal-body">
        <p>
          Cellular data usage measurements provided by <%= Settings.site_name %> are estimates only and may vary from your actual
          data usage as provided by your cellular carrier for billing purposes. Only your cellular carrier can provide
          exact data usage measurements. In no event shall Accelerated Concepts, Inc. be held liable for any fees charged
          to you by your cellular carrier in the event that the data usage estimates provided by <%= Settings.site_name %> vary
          from the actual data usage measured by your cellular carrier.
        </p>
        <p>
          If you accept this Agreement click “I Agree” to proceed. If you do not accept this Agreement click “Cancel.”
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal" id="data-plan-disclaimer-cancel">Cancel</button>
        <button type="button" class="btn btn-primary" id="data-plan-disclaimer-agree">I Agree</button>
      </div>
    </div>
  </div>
</div>