<div class="modal inmodal fade" id="edit-data-plan-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Edit Data Plan</h4>
      </div>

      <%= form_for [@organization, @data_plan], remote: true, method: :patch, :html => { class: 'form-horizontal ajax-form', id: 'edit-data-plan' } do |f| %>
        <%= render partial: 'data_plans/form', locals: { f: f } %>

        <div class="modal-footer">
          <div class="form-modal-spinner">
            <%= render 'shared/spinners/fading_circle' %>
          </div>
          <%= submit_tag 'Close', class: 'btn btn-white', 'data-dismiss' => 'modal' %>
          <%= submit_tag 'Update Data Plan', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
