<%= render 'shared/page_header', locals: { title: "Edit #{@site.name}" } %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Site Name Form</h5>
        </div>
        <div class="ibox-content no-overflow-please nopadding form-horizontal">
          <%= form_for @site, :url => site_path, :as => :site, :method => :patch do |f| %>
            <%= render :partial => "shared/sub_alert", :locals => { :obj => @site } %>

          <div class="form-group">
            <%= f.label :name, "Name", :class => 'control-label col-lg-2' %>
            <div class="col-lg-4">
              <%= f.text_field :name, :maxlength => 30, :size => 30 %>
            </div>
          </div>

          <div class="hr-line-dashed"></div>

          <div class="form-group">
            <div class='col-lg-4 col-lg-offset-2'>
              <%= submit_tag "Update", :class=> "btn btn-primary", :id => "form-submit" %>
              <%= link_to "Cancel", site_path(@site), :class=> "btn" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
