<% content_for :header_javascript_block  do %>
  <script type="text/javascript">
    var dataTableURI = '<%= sites_data_tables_path %>';

    //TODO: Make it so that by adding this class, the export modal is included (without including the partial).
    var dataTableExportModal = new DataTableExportModal(
        {
          afterExportActionClicked: function() {},
          afterModalOpen: function() {},
          exportClass: $('.sites-export'),
          exportFormat: '.csv',
          exportPath: dataTableURI
        }
    );

    function initDataTable(columns, table) {
      table.DataTable({
        ajax: {
          data: function ( data ) { formatData(columns, data, table); },
          type: 'POST',
          url: dataTableURI
        },
        buttons: ['csv'],
        colReorder: true,
        columns: getColumnSettings(columns),
        dom: "<'row'<'col-sm-6'B><'col-sm-6'l>>" +
             "<'row'<'col-sm-4'i><'col-sm-8'p>>" +
             "<'row'<'col-sm-12'tr>>" +
             "<'row'<'col-sm-4'i><'col-sm-8 lower'<'circle-border-spinner'>p>>",
        lengthMenu: [[ 25, 50, 100, 500 ], [ 25, 50, 100, 500 ]],
        order: getSorting(columns, table),
        pageLength: 100,
        scrollX: true,
        scrollY: false,
        serverSide: true
      });
    }
  </script>
<% end %>

<%= render 'shared/page_header_vs', locals: { title: @presenter.title } %>
<div class="wrapper wrapper-content animated fadeInRight">
  <%= render 'table' %>
</div>

<%= render partial: 'shared/export_modal' %>
