<% content_for :header_javascript_block  do %>
  <script type="text/javascript">
    //TODO: Make it so that by adding this class, the export modal is included (without including the partial).
    var dataTableExportModal = new DataTableExportModal(
        {
          afterExportActionClicked: function() {},
          afterModalOpen: function() {},
          exportClass: $('.report-export'),
          exportFormat: '.csv',
          exportPath: '<%= export_report_path(@report) %>'
        }
    );

    function initDataTable(columns, table) {
      table.DataTable({
        buttons: ['csv'],
        colReorder: true,
        dom: "<'row'<'col-sm-6'B><'col-sm-6'l>>" +
             "<'row'<'col-sm-4'i><'col-sm-8'p>>" +
             "<'row'<'col-sm-12'tr>>" +
             "<'row'<'col-sm-4'i><'col-sm-8 lower'<'circle-border-spinner'>p>>",
        lengthMenu: [[ 25, 50, 100, 500 ], [ 25, 50, 100, 500 ]],
        order: [],
        pageLength: 100,
        scrollX: true,
        scrollY: false
      });
    }

    $(document).ready(function() {
      if( $(".pie-chart").length ) {
        $(".pie-chart").highcharts(<%= @report.pie_chart.to_json.html_safe %>);
      }

      if( $(".trend-chart").length ) {
        $(".trend-chart").highcharts(<%= @report.trend_chart.to_json.html_safe %>);
      }
    });
  </script>
<% end %>

<div class="row">
  <% if @report.pie_chart.present? %>
    <div class="col-lg-4">
      <div class="ibox float">
        <div class="ibox-title">
          <h5><%= t(".Average #{@report.title}") %></h5>
        </div>
        <div class="ibox-content nopadding updates pre-charts pie-chart" style="height: 350px;">
          <div class="loading-chart">
            <h4>Loading Analytics</h4>
            <%= image_tag asset_path("ajax-loader-charts.gif") %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if @report.trend_chart.present? %>
    <div class="<%= @report.pie_chart.present? ? 'col-lg-8' : 'col-lg-12' %>">
      <div class="ibox">
        <div class="ibox-title">
          <h5><%= t(".#{@report.title} Over Time") %></h5>
        </div>
        <div class="ibox-content nopadding updates pre-charts trend-chart" style="height: 350px;">
          <div class="loading-chart">
            <h4>Loading Analytics</h4>
            <%= image_tag asset_path("ajax-loader-charts.gif") %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-content nopadding overflow-auto">
        <%= hidden_field_tag 'report_id', @report.id %>
        <%=
            content_tag(
                :table,
                class: 'dataTable display compact table table-striped table-bordered table-hover reports-export',
                id: 'report-table'
            ) do
        %>
          <thead>
            <tr>
              <th name="mac"><%= t(:mac) %></th>
              <th name="host"><%= t(:primary_ip) %></th>
              <th name="category">Category</th>
              <th name="model">Model</th>
              <th name="organization">Organization</th>
              <th name="site">Site</th>
              <th name="deployment">Deployment</th>
              <th name="last_activity">Last Activity</th>
              <%= render "stats_headers", stats_headers: @report.stats_headers %>
              </tr>
          </thead>
          <tbody>
            <% @report.table.each do |mac, host, category, model, organization, _,
                                      site, deployment, last_activity, stats_details| %>
              <tr>
                <td><%= mac %></td>
                <td><%= host %></td>
                <td><%= category %></td>
                <td><%= model %></td>
                <td><%= organization %></td>
                <td><%= site %></td>
                <td><%= deployment %></td>
                <td><%= timestamp_in_users_timezone(last_activity) %></td>
                <%= render(
                  "stats_details",
                  stats_headers: @report.stats_headers,
                  stats_details: stats_details
                ) %>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'shared/export_modal' %>
