<% content_for :header_javascript_block  do %>
  <script type="text/javascript">

    function finishedGenerating() {
      $.ajax({
        type: "GET",
        url: "/reports/finished_generating.json",
        data: { report_id: "<%= @report.id %>" },
        contentType: "application/json; charset=UTF-8",
        dataType: "json",
        success: function (response) {
          if (response == true) {
            location.reload(true);
          }
        }
      });
    }

    $(document).ready(function(){
      window.setInterval(function(){
        finishedGenerating();
      }, 5000);
    });
  </script>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5><%= @report.title %> Report</h5>
      </div>
      <div class="ibox-content">
        <div class="text-center">
          <h4>Generating Report</h4>
          <%= image_tag asset_path("ajax-loader-charts.gif") %>
          <div class="p-sm">
            <p>This may take a few moments.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
