$('#report-table').DataTable().ajax.reload();

var alert = "<%= j alert_success message: t('reports.destroyed', name: @report.id) %>";
$('div.wrapper-content').prepend(alert);
setAlertExpiration($('div.wrapper-content > .alert'));