<% content_for :header_javascript_block  do %>
  <script type="text/javascript">
    function initDataTable(columns, table) {
      table.DataTable({
        ajax: {
          'data': function ( data ) { formatData(columns, data, table); },
          'url': '<%= "#{reports_path(format: :json)}".html_safe %>'
        },
        colReorder: true,
        columns: getColumnSettings(columns),
        dom: "<'row'<'col-sm-4'i><'col-sm-8'p>>" +
             "<'row'<'col-sm-12'tr>>" +
             "<'row'<'col-sm-4'i><'col-sm-8 lower'<'circle-border-spinner'>p>>",
        lengthMenu: [[ 25, 50, 100, 500 ], [ 25, 50, 100, 500 ]],
        pageLength: 100,
        scrollX: true,
        scrollY: false,
        serverSide: true,
        paging: false
      });
    }
  </script>
<% end %>

<%= render 'shared/page_header', locals: { title: 'report history' } %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5><%= t(".#{@presenter.title}") %></h5>
        </div>
        <div class="ibox-content">
          <%=
            content_tag(
              :table,
              class: 'dataTable display compact table table-striped table-bordered table-hover',
              id: 'report-table',
              data: { klass: @presenter.klass }
            ) do
          %>
            <thead>
              <tr>
                <%= render 'shared/table_labels' %>
              </tr>
            </thead>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

