<%= render 'shared/page_header', locals: { title: 'new report' } %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5><%= t(".#{@presenter.title}") %></h5>
        </div>
        <div class="ibox-content">
          <%= form_for :report, html: {class: 'form-horizontal'}, url: reports_path do |f| %>
            <%= f.hidden_field :report_type, value: @report.report_type  %>

            <div class="form-group">
              <%= f.label :organization_id, 'Organization', :class => 'control-label col-lg-2' %>
              <div class="col-lg-4">
                <%=
                    f.select :organization_id,
                             options_for_select(organizations_select_list, current_user.filter_organization),
                             {},
                             { :class => 'form-control select2' }
                %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-2"></div>
              <div class="col-lg-4">
                <div class="i-checks">
                  <label>
                    <div class="icheckbox_square-green">
                      <%= f.check_box :include_hierarchy, class: 'toggle-vis' %>
                    </div>
                    Include Sub-Organizations
                  </label>
                </div>
              </div>
            </div>

            <% if @presenter.title == :vig_form %>
              <%= f.fields_for :categories do |category_fields| %>
                <% @presenter.device_categories.each do |category| %>
                  <%= category_fields.hidden_field category.id, value: category.id %>
                <% end %>
              <% end %>

              <%= f.fields_for :models do |model_fields| %>
                <% @presenter.device_models.each do |model| %>
                  <%= model_fields.hidden_field model.id, value: model.id %>
                <% end %>
              <% end %>
            <% end %>

            <% if @presenter.has_device_category_selection? %>
              <div class="form-group">
                <%= f.label :device_categories, 'Device Categories', :class => 'control-label col-lg-2' %>
                <div class="col-lg-4">
                  <%=
                      f.select :categories,
                               options_for_select(@presenter.device_categories_for_select),
                               {},
                               { multiple: true, class: 'multiselect-dropdown form-control', id: 'category-multiselect' }
                  %>
                </div>
              </div>
            <% end %>

            <% if @presenter.has_device_model_selection? %>
              <div class="form-group">
                <%= f.label :device_models, 'Device Models', :class => 'control-label col-lg-2' %>
                <div class="col-lg-4">
                  <%=
                      f.select :models,
                               grouped_options_for_select(@presenter.device_models_for_select),
                               {},
                               { multiple: true, class: 'multiselect-dropdown form-control', id: 'model-multiselect' }
                  %>
                </div>
              </div>
            <% end %>

            <div class="form-group">
              <%= f.label :deployment, 'Deployment', :class => 'control-label col-lg-2' %>
              <div class="col-lg-2">
                <%=
                    f.select :deployment,
                             options_for_select([['All', 0], ['Deployed', 1], ['Undeployed', 2]], 1),
                             {},
                             { :class => 'form-control select2-without-search' }
                %>
              </div>
            </div>

            <% if @presenter.has_time_span_selection? %>
              <div class="form-group">
                <%= f.label :range, 'Time Span', :class => 'control-label col-lg-2' %>
                <div class="col-lg-2">
                  <%=
                      f.select :range,
                               options_for_select(@presenter.ranges),
                               {},
                               { :class => 'form-control select2-without-search' } %>
                </div>
              </div>
            <% end %>

            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <div class='col-lg-4 col-lg-offset-2'>
                <% if @presenter.report_count(current_user) >= DeviceReport::REPORT_LIMIT %>
                  <%=
                      f.submit 'Create',
                               :class => 'btn btn-primary',
                               :id => 'form-submit',
                               data: { :confirm => t('reports.confirm_create', report_limit: DeviceReport::REPORT_LIMIT ) }
                  %>
                <% else %>
                  <%=
                      f.submit 'Create',
                               :class => 'btn btn-primary',
                               :id => 'form-submit' %>
                <% end %>
                <%= link_to 'Cancel', reports_path, :class => 'btn' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
