<%= render 'shared/page_header', locals: { title: "#{@report.title} Report ##{@report.id}", skip_translate: true } %>

<div class="wrapper wrapper-content">
  <%= render @report.is_done? ? "done" : "generating" %>
</div>
