<address>
  <%= location.address_1 %><br />
  <% if location.address_2.present? %>
    <%= location.address_2 %><br />
  <% end %>
  <% if location.city_line.present? %>
    <%= location.city_line %><br />
  <% end %>
  <%= location.country_name %><br />
</address>
