
<%= table_data_row key: 'Primary IP', value: host_link(@presenter.device) %>
<%= table_data_row key: 'Firmware Version', value: @presenter.device.firmware %>
<%= table_data_row key: 'Firmware Rollback', value: @presenter.device.firmware_rollback %>

<% if @presenter.device.details.present? %>
  <%= table_data_row key: 'Configuration Model', value: @presenter.device.details.configuration_name %>
  <%= table_data_row key: 'Primary Interface', value: @presenter.device.details.active_wan_iface %>
  <%= table_data_row key: 'Primary Connection Type', value: @presenter.device.details.primary_connection_type_name %>
  <%= table_data_row key: 'VRRP', value: @presenter.device.details.vrrp_state %>
  <% if has_tunnel_info?(@presenter.device) %>
    <%= table_data_row key: 'Tunnels', value: get_tunnel_text(@presenter.device), value_class: get_tunnel_class(@presenter.device) %>
  <% end %>
  <% if has_cell_extender?(:wan_1, @presenter.device) %>
    <%= table_data_row key: 'WAN 1 Cell Extender', value: @presenter.device.details.cell_extender_name(:wan_1) %>
  <% end %>

  <% if has_cell_extender?(:wan_2, @presenter.device) %>
    <%= table_data_row key: 'WAN 2 Cell Extender', value: @presenter.device.details.cell_extender_name(:wan_2) %>
  <% end %>

  <% if @presenter.device.in_backup_mode? %>
    <%= table_data_row key: 'Time in Backup',
                     value: time_ago_in_words(@presenter.device.details.backup_started_at) %>
  <% end %>

  <% if @presenter.networks? && lan_networks(@presenter.device).any? %>
    <tr>
      <td>LAN Status</td>
      <td>
        <% lan_networks(@presenter.device).each do |network| %>
          <figure style="display:inline-block">
            <%= image_tag(lan_port_image(network.status), title: vlan_details(network)) %>
            <figcaption style="text-align:center"><%= network.network_iface.try(:upcase) %></figcaption>
          </figure>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>
