<div class="alert alert-<%= locals[:type] %> alert-dismissbale m-t-md">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <%= locals[:message] %>
</div>
