<% unless @breadcrumbs.nil? %>

<div id="breadcrumb">
        <%# @breadcrumbs.each do |breadcrumb| %>
                <%# link_to breadcrumb.name, '#' %>
        <%# end %>

        <% for breadcrumb in @breadcrumbs do %>
                <%= link_to breadcrumb.name, "#{@breadcrumbs.last == breadcrumb ? '#' : breadcrumb.path }", :title => "", :id => "#{@breadcrumbs.last == breadcrumb ? 'last-breadcrumb-link' : ''}", :class => "tip-bottom #{@breadcrumbs.last == breadcrumb ? 'current' : ''}" %>
        <% end %>
</div>
<% end %>
