<div id="content">
  <div class="clearfix-header">&nbsp;</div>

  <%= yield :content_header_and_nav_block %>
  <%= render :partial => '/layouts/breadcrumb' %>
  <div class="container-fluid">
    <%= render :partial => '/layouts/flash', :locals => {:flash => flash} %>
    <%= yield %>
    <%= render :partial => '/layouts/footer' %>
  </div>


</div>
