<li class="dropdown <%= active? "devices" %>">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Devices <b class="caret"></b></a>
	<ul class="dropdown-menu">
		<li><a href="/netgates">AT&amp;T NetGates</a></li>
		<li><a href="/netreaches">NetReaches (WiFi)</a></li>
		<li><a href="/netbridges">NetBridges (Cellular)</a></li>
		<li><a href="/opticells">OptiCells</a></li>
	</ul>
</li>
