<link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-touch-icon-57x57.png?v=1">
<link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-touch-icon-60x60.png?v=1">
<link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-touch-icon-72x72.png?v=1">
<link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-touch-icon-76x76.png?v=1">
<link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-touch-icon-114x114.png?v=1">
<link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-touch-icon-120x120.png?v=1">
<link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-touch-icon-144x144.png?v=1">
<link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-touch-icon-152x152.png?v=1">
<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon-180x180.png?v=1">
<link rel="icon" type="image/png" href="/icons/favicon-32x32.png?v=1" sizes="32x32">
<link rel="icon" type="image/png" href="/icons/favicon-194x194.png?v=1" sizes="194x194">
<link rel="icon" type="image/png" href="/icons/favicon-96x96.png?v=1" sizes="96x96">
<link rel="icon" type="image/png" href="/icons/android-chrome-192x192.png?v=1" sizes="192x192">
<link rel="icon" type="image/png" href="/icons/favicon-16x16.png?v=1" sizes="16x16">
<link rel="manifest" href="/icons/manifest.json?v=1">
<link rel="mask-icon" href="/icons/safari-pinned-tab.svg?v=1" color="#5bbad5">
<link rel="shortcut icon" href="/icons/favicon.ico?v=1">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="icons/mstile-144x144.png?v=1">
<meta name="msapplication-config" content="icons/browserconfig.xml?v=1">
<meta name="theme-color" content="#ffffff">
