<%= javascript_pack_tag 'feedback-modal' %>
<script>
  $(document).on("ready", function(){
    $(".open-feedback").on("click", function(e){
      e.preventDefault();
      $("body").append('<div id="comment-modal-container"></div>');
      mountFeedbackModal("#comment-modal-container", <%= is_armt? %>);
    });
  });
</script>
<div class="footer text-center">
  <%= sanitize(brandable_footer) %>&nbsp;

  <%unless AdminSettings.support_contact_list.blank? || current_user.nil? %>
    |&nbsp;<%= link_to('Feedback', '#', { class: "open-feedback" }) %> 
  <%end%>
  <br>
  <%= footer_text %>
</div>
