<% if form_errors.errors.any? %>
  <br />
  <div class="alert alert-block alert-error">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading"><%= pluralize(form_errors.errors.count, "Error") %> Prohibited this <%= form_errors.class.to_s.upcase %> from Being Saved:</h4>
    <ul>
      <% form_errors.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<br  />
