<% content_for :content_header_and_nav_block do %>
  <% if content_for?(:content_header) %>
    <%= yield(:content_header) %>
  <% else %>
    <div id="content-header">
      <h1>Page</h1>
    </div>
  <% end %>
<% end %>

<% if content_for?(:content_sub_header) %>
  <%= yield(:content_sub_header) %>
<% end %>

<%= yield(:show_content) %>
