<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    <%= csrf_meta_tags %>

    <%= favicon_link_tag '/favicon.ico', rel: 'shortcut icon' %>
    <%= stylesheet_link_tag 'framework', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'base', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'plugins', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'aview', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= render 'layouts/title' %>
    <%= render partial: 'layouts/favicon' %>
  </head>
  <%= content_tag(:body, class: [params[:controller], params[:action]]) do %>
    <div id='wrapper'>
      <%= render 'layouts/nav/static_side' %>

      <div id='page-wrapper' class="gray-bg">
        <%= render 'layouts/nav/static_top' %>
        <div id="status-area"></div>
        <%= render partial: '/layouts/flash', locals: {flash: flash} %>
        <%= yield %>
        <%= render partial: '/layouts/footer' %>
      </div>
    </div>

    <div id="modals-container"></div>

    <!-- TODO: Cleanup header/footer JS block use, move header back to top after refactor. -->
    <%= yield :header_javascript_block %>

    <%= yield :footer_javascript_block %>

    <script type="text/javascript">
      // Allow select2 dropdowns to function properly in modals
      $.fn.modal.Constructor.prototype.enforceFocus = function () {};
    </script>
  <% end %>
</html>
