<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield :header_javascript_block %>
    <%= stylesheet_link_tag 'framework', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'base', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'plugins', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'aview', media: 'all', 'data-turbolinks-track' => true %>
    <%= render 'layouts/title' %>
    <%= render partial: 'layouts/favicon' %>
  </head>

  <%= content_tag(:body, class: 'gray-bg') do %>
    <%= yield %>
    <%= render partial: '/layouts/footer' %>
  <% end %>
</html>
