<!DOCTYPE html>
  <head>
    <%= stylesheet_link_tag 'framework', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'base', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'plugins', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'aview', media: 'all', 'data-turbolinks-track' => true %>
    <%= render 'layouts/title' %>
  </head>

  <body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
      <%= yield %>
    </div>
  </body>
</html>
