$('#permissions').append("<%= j raw(yield) %>");
if($("#permissions .permission").length >= <%= @manager.organizations.count %>) {
  $('.add-permission').hide();
}
$('#permissions select').select2();
